////
// CSS da Pagina de Admin do portal
////
#con-adm-portal
	padding: 0 5%

	h2
		float: none

	.adm-buttons
		display: block
		padding: 30px 0
		width: 100%
		.bt-config
			@include transicao(0.8s)
			display: inline-block
			border: 1px solid #ddd
			margin: 10px
			height: 150px
			width: $art-small-width

			&:hover
				background-color: #CCC

		.fa-user
			font-size: 4rem
			text-align: center
			margin: auto
			padding: 15px 0
			width: 100%

		.text
			text-align: center
			margin: auto
			padding: 15px 0
			width: 100%

@media screen and (max-width: 960px)
	#con-adm-portal
		.adm-buttons
			.bt-config
				width: $art-middle-width

@media screen and (max-width: 520px)
	#con-adm-portal
		.adm-buttons
			.bt-config
				width: $art-large-width
