////
// CSS da Pagina de Admin do portal
////
#con-adm-porta-usuarios
	padding: 0 5%

	h2
		float: none

	#list-users
		border: 1px solid #CCC

		li
			@include transicao(0.8s)
			border: 1px solid #CCC
			padding: 5px 10px

			&:nth-child(odd)
				background-color: #EEE
		p
			display: inline-block
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			width: 50%

			&:nth-child(even)
				padding-left: 15px
				border-left: 1px solid #CCC

		.bt
			display: inline-block
			background-color: #FFF
			border: 1px solid #CCC
			border-radius: 5px
			font: 400 1rem/1.6rem "Open Sans", sans-serif, verdana
			margin-right: 5px
			margin-bottom: 5px
			padding: 0px 10px

			&.checked
				background-color: #2ecc71

		input
			position: absolute
			left: -9999px

	.pagination
		margin-left: 0

@media screen and (max-width: 768px)
	#con-adm-porta-usuarios
		#list-users
			p
				width: 100%

				&:nth-child(even)
					padding-left: 0px
					border-left-color: transparent
