#con-alterarSenha
	.input-group
		display: inline-block
		margin: 0 2%
		width: 45%

		label
			font: 300 0.9rem/1rem "Open Sans", sans-serif, verdana
			width: 100%

		input
			background-color: transparent
			border-color: #000
			border-width: 0 0 1px
			font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
			margin-bottom: 15px
			width: $cad-input-width

	h3
		text-align: center
		font: 200 1.5rem/5rem "Open Sans", sans-serif, verdana

	.buttons
		display: block
		margin: 10px 0 25px

		button
			@include transicao(0.8s)
			background-color: map-get($color, cad-bt-save-bg)
			border: none
			color: map-get($color, cad-bt)
			cursor: pointer
			display: inline-block
			font: 400 1rem/2.5rem "Open Sans", sans-serif, verdana
			margin: 0 2%
			width: 45%

@media screen and (max-width: 768px)
	#con-alterarSenha
		form
			width: 100%

@media screen and (max-width: 480px)
	#con-alterarSenha
		.input-group
			width: 100%