#con-atividades	
	color: white

	h2
		float: none
	.div-paginacao
		text-align: center
		width: 100%
		margin-top: 2.5%
		position: inherit
		margin-left: -2%
		display: inline-block
	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0

	.title-in-company
		background-color: rgba(52, 55, 58, 0.8)
		width: 100%
		padding: 11px
		border: none
		font-size: 14px
		color: #fff

	.options
		background-color: rgba(159, 157, 157, 1)
		color: white
	.form-group
		margin-top: 15%
	.merge
		margin-top: 2%

	.historias-helena
		max-height: 400px

	.div-helena-geral
		padding: 7% 5%
		text-align: center

	.div-helena-texto
		padding-top: 5%
		float: right
		text-align: justify
		font-size: 0.9em
		color: white

		h1
			padding-bottom: 1
	.form-control
		color: white
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0
	.order
		color: rgba(228, 228, 240, 0.7)
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0
		width: 100%
	.form
		display: inline-block
		width: 100%


	.fa-icon
		text-align: center
		margin: auto
		color: white
		border: 2px solid
		padding: 6px
		border-radius: 100%
		cursor: pointer
		margin-top: 245%
		font-size: 1.5em

	.icon-circle
		padding-left: 15px
		padding-right: 15px
		margin-top: 10%

	.save-bt
		margin-left: 47%
		margin-top: 8%

@media screen and (max-width: 1024px)
	#con-atividades
		.fa
			margin-left: 98%
			margin-top: 3%
		.div-paginacao
			margin-top: 45%
@media screen and (max-width: 768px)
	#con-atividades
		form
			width: 90%
		.fa
			margin-left: 98%
			margin-top: 3%
		.div-paginacao
			text-align: center
			margin-top: 10%
			position: inherit
			margin-left: 0%

@media screen and (max-width: 480px)
	#con-atividades
		.input-group
			width: 100%
		.fa
			margin-left: 90%
		.row
			margin-top: -7%
		.div-paginacao
			text-align: center
			display: inline-block
			margin-left: 0%

@media screen and (max-width: 320px)
	#con-atividades
		.input-group
			width: 100%
		.fa
			margin-left: 90%
		.row
			margin-top: -7%
		.div-paginacao
			text-align: center
		label
			font-size:	80%
