#con-benchmarks

	.title-in-company

		input
			background-color: rgba(52, 55, 58, 0.8)
			width: 60%
			padding: 11px
			border: none
			font-size: 14px
			color: #fff
			margin-bottom: 10px
			margin-left: 20%
			margin-top: 5%

	.result-container-grupo
		color: transparent
		margin-bottom: 10px
		padding: 0

	.linkGrupos
		cursor: pointer

	.nome-mark
		background: rgba(255, 255, 255, 0.84)
		display: block
		padding: 7px 10px
		color: black
		border-radius: 100px
		font-size: 11px
		margin-top: 2%
		line-height: 1
	
	.nome-mark-his
		background: rgba(255, 255, 255, 0.84)
		display: block
		padding: 5px 37px
		color: black
		border-radius: 100px
		font-size: 10px
		width: 30%
		margin-left: 3%
	.center
		text-align: center

	.radio
		margin-left: -8%
	.plano-add
		text-align: center
		i
			border: 1px solid
			padding: 11px
			border-radius: 100%
			float: right
	.div-paginacao
		text-align: center
		z-index: 9999

		ul li a
			font-size: 12px

	.position-user	
		margin-left: 7.5%
		width: 85%
	
	.position-his	
		margin-left: 30%
		width: 40%
		margin-top: 3%		
	
	.position-brain
		margin-left: 25%
		width: 50%
		margin-top: 3%	

	
	.user
		background: rgba(255, 255, 255, 0.28)
		margin-bottom: 5px
		padding: 4px
		color: rgba(255, 255, 255, 0.72)

	.nome-dismark
		color: rgba(0, 0, 0, 0.5)	
	
	.historias-helena
		max-height: 300px

	.div-helena-geral
		padding: 7% 5%
		text-align: center

	.div-helena-texto
		padding-top: 5%
		float: right
		text-align: justify
		font-size: 0.9em
		color: white

		h1
			padding-bottom: 1%

	h2
		display: inline-block
		margin: 0
		color: white
		line-height: 2


	.list-historia
		width: 85%
		padding: 0
		margin-left: 7%
		margin-bottom: 7%
		margin-top: 7%
	
	.user-image
		img
			border-radius : 100%
			width: 15%
			cursor: pointer
		h3
			color: white



	.margin
		margin-top: 3%
		padding: 0


	
	.list-historia
			
		height: 15%
		overflow: auto
		width: 80%
		margin-left: 10%
		background: #E1E1E1
		margin-top: 5%
	



	.transparent
		background: rgba(255, 255, 255, 0.28)
		width: 70%
		margin-left: 15%
		padding: 50px
		clear: both
		margin-top: 22.5%

	.form-control
		color: black
		background: rgba(0, 0, 0, 0.11)
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0
		width: 80%
		margin-left: 7%
		margin-bottom: -2%

	i
		font-size: 1.5em
		margin-right: 1%
		float: left
	
	#his-buttons
		margin-top: 15%
		h3
			color: white
		.fa-icon
			font-size: 3.5rem
			text-align: center
			margin: auto
			color: white
			border: 10px solid
			padding: 20px
			border-radius: 100%
			margin-botton: -30px



		.fa
			font-size: 3.5rem
			text-align: center
			margin: auto
			padding: 20px 24px


		.text
			text-align: center
			margin: auto
			padding-bottom: 8px
			width: 100%

