////
// CSS da Página Brainstorm
////
#con-brainstorm

	.groups
		color: #fff
		padding: 15px 0px
		text-align: center
		background: rgba(255, 255, 255, 0.28)
		width: 19%
		margin-right: 1%
		float: left
		&:hover
			.btn-excluir
				position: absolute
				top: 0
				right: 0
				background: #ec6363
				height: 100%
				animation: animation-btn-excluir-brainstorm
				animation-duration: 0.4s
				animation-fill-mode: forwards
				line-height: 3.2
				font-size: 30px
				display: block

				i
					animation: animation-icone-excluir-brainstorm
					animation-duration: 0.8s
					animation-delay: 0.4s
					animation-fill-mode: forwards

		.btn-excluir
			display: none


		.text-instrucao
			position: absolute
			text-align: center
			width: 100%
			top: 35%
			left: 0
			right: 0
			display: none
			color: #FFF !important
			font-size: 20px


	[ng-drop].drag-enter
		transform: scale(1.2)
		transition: transform 0.5s
		z-index: 99999999
		background: rgba(0, 0, 0, 0.52)

		h3, i
			color: rgba(255, 255, 255, 0.0)
			transition: color 0.3s

		.text-instrucao
			display: block

	[ng-drag].dragging
		opacity: 0.5


	.brainstorms-container
		margin-top: 3%

	.btn-add-ideia
		position: fixed
		color: #fff
		float: right
		right: 30px
		border: 2px solid
		border-radius: 100%
		padding: 11px
		font-size: 35px
		margin-bottom: 20px

	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0

	.historias-helena
		max-height: 400px

	.div-helena-geral
		padding: 7% 5%
		text-align: center

	.div-helena-texto
		padding-top: 5%
		float: right
		text-align: justify
		font-size: 0.9em
		color: white

		h1
			padding-bottom: 1


	.comentBrainstorm
		cursor: pointer

	.menu-voltar
		background-color: #EEE
		border: 1px solid #CCC
		border-radius: 4px
		font: 350 1rem/1rem "Open Sans", sans-serif, verdana
		padding: 5px 8px
		position: absolute
		left: 15px
		top: 15px

		i
			font: 300 1rem/1rem "Open Sans", sans-serif, verdana

	.selectGrupo
		position: relative
		width: 80%
		bottom: 6px

	.inputGrupo
		border: none
		background: transparent
		font: 600 1rem/1rem "Open Sans", sans-serif, verdana
		text-align: center
		color: white

	.inputGrupoVisivel
		box-shadow: 0 0 5px rgba(81, 203, 238, 1)
		padding: 3px 0px 3px 3px
		margin: 5px 1px 3px 0px
		border: 1px solid rgba(81, 203, 238, 1)
		background: #CCC
		font: 600 1rem/1rem "Open Sans", sans-serif, verdana
		color: black
		text-align: center

	.editGrupo
		padding: 0px 12px 0px 0px
		float: right
		cursor: pointer
		font: 600 1rem

	.excluiGrupo
		padding: 0px 10px 0px 0px
		float: right
		cursor: pointer
		font: 600 1rem/1rem

	.editGrupoTexto
		padding: 0px 10px 0px 0px
		float: right
		font-size: 12px

	.users-content
		border: 1px solid #CCC
		display: inline-block
		margin: 5px 8px 10px 8px
		width: calc(100% - 20px)
		vertical-align: top

		h3
			background-color: rgba(0,0,0,0.1)
			box-shadow: 0px 1px 1px #888
			font: 600 1rem/1.3rem "Open Sans", sans-serif, verdana
			padding: 0.5rem 10px
			text-align: center

	h4
		font: 200 1.5rem/2.2rem "Open Sans", sans-serif, verdana
		margin: 5px 10px

	.list-friends,
	.list-no-confirmed,
	.list-no-include
		@friends transicao(0.8s)
		border: 1px solid #CCC
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		padding: 5px 10px
		width: 100%

		&:nth-child(odd)
			background-color: #EEE

	.pagination
		padding-bottom: 0

	p
		display: inline-block
		vertical-align: top

	.bt
		@include transicao(0.8s)
		border: none
		cursor: pointer
		display: inline-block
		float: right
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		margin-right: 10px
		margin-bottom: 5px
		padding: 0px 10px
		border-radius: 3px

		&.reenviar
			margin: 5px
			float: none

		&.bt-default
			border: 1px solid #CCC

	.can-content
		box-shadow: 1px 1px 2px #555

		&:nth-child(2)
			box-shadow: 1px 1px 2px #555
			margin-top: 8px
			border: none

		min-height: 0

	.can-content.active
		ul
			min-height: 100px
			max-height: none
			padding: 10px

	.can-content.active
		.art-form
			margin: 15px 9px
		.add-note
			display: block

	.can-content.add
		.art-form
			max-height: 0px
			padding: 0px

	.can-content.add.active
		.art-form
			max-height: 160px
			padding: 10px

	.can-middle
		border: 1px solid #EEE
		box-shadow: 1px 1px 2px #888
		display: inline-block
		margin: 10px 8px
		vertical-align: top
		width: 98%

		ul
			@include transicao(0.8s)
			max-height: 0
			overflow: hidden

	.gridCheckbox
		li
			display: block
			float: left
			width: 33%
			padding: 3px
			font-size: 15px

	.open-add-menu
		cursor: pointer

	.text-area-in
		border: none
		background-color: rgb(236, 238, 238)
		font: 400 0.875rem/1.2rem "Open Sans", sans-serif, verdana
		padding: 5px 5px
		text-indent: 5px
		width: 100%
		overflow: auto


	.desc-historia
		padding-left: 40px

		h3
			padding-bottom: 10px

		p
			padding-bottom: 10px

	.icones-postit
		float: right
		padding: 5px

	.sec-brainstorm
		float: left
		width: 100%
		padding: 20px

	.postit
		background-color: rgba(255, 255, 255, 0.28)
		box-shadow: 2px 2px 3px #333
		display: inline-block
		font: 200 1rem/1.3rem "Open Sans", sans-serif, verdana
		padding: 10px
		vertical-align: top
		cursor: move

		&.ad-postit
			display: none
			padding-bottom: 5px

		&.active
			display: inline-block

		.fa
			color: #fff
			text-shadow: 1px 1px 1px #333

		.bt
			font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
			border: none
			margin: 8px
			padding: 5px 15px
			color: white
			border-radius: 5px

			&.bt-success
				background-color: map-get($color, art-bt-save-bg)

			&.bt-warning
				background-color: map-get($color, bt-warning)

		.comentarios
			top: 2px
			color: white
			font-size: 0.9em
			cursor: pointer

		.documentacao
			top: 2px
			color: white
			font-size: 0.9em
			width: 100%
			text-align: right
			display: inline-block

		.fa-ellipsis-v
			position: absolute
			right: 70px
			top: 16px
			cursor: pointer

		.data
			color: #fff
			font: 200 0.8rem/1.5rem arial, verdana
			line-height: 2.3

		.set-group
			bottom: 10px
			right: 15px
			position: absolute

	#grupos
		display: block
		float: left
		margin-top: 40px
		width: 100%

		.grupos
			background-color: #EFEEFE
			border: 1px solid #CCC
			display: inline-block
			padding: 5px 10px
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin: 5px 5px
			text-indent: 10px
			width: calc(100% - 10px)

			&.ad-grupos
				display: none
				padding-bottom: 5px

			&.active
				display: inline-block

		h3
			font: 200 1.75rem/3rem "Open Sans", sans-serif, verdana

		h4
			font: 200 1.25rem/2rem "Open Sans", sans-serif, verdana
			padding-bottom: 10px

		input
			font: 400 0.875rem/1.2rem "Open Sans", sans-serif, verdana
			padding: 5px 10px
			text-indent: 5px
			width: 100%

		.bt
			font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
			border: none
			margin: 20px 3px 5px
			padding: 3px 15px
			color: white
			border-radius: 5px

			&.bt-success
				background-color: map-get($color, art-bt-save-bg)

			&.bt-warning
				background-color: map-get($color, bt-warning)

	.title
		color: #fff
		display: inline-block
		width: 100%

		.icon-back
			float: left

	.div-paginacao
		text-align: center
		display: inline-block
		width: 100%

		i.fa
			font-size: 100px
			border: 0
			width: 219px
			height: 142px
			padding: 22px 25px
			background: #e4e4f0
			color: #073744
			margin-bottom: 6px
			border-radius: 0%
	.btn-add-group
		float: right
		right: 30px
		border: 2px solid
		border-radius: 100%
		padding: 10px

	.tooltip
		position: absolute
		right: 80px
		background-color: rgba(28, 66, 77, 0.62)
		padding: 0 20px

	.description-ideia
		background-color: rgba(255, 255, 255, 0.28)
		padding: 0

		.description-title
			background-color: #fff
			margin-bottom: 10px

		h3
			padding: 10px

		textarea
			width: 100%
			height: 367px
			background-color: rgb(236, 238, 238)
			font-size: 18px

		button
			background: transparent
			border: none
			padding: 10px

			i
				border: 4px solid
				border-radius: 100%
				padding: 10px 12px
				color:  black

		.btn-save
			float: right

		.btn-cancel
			i
				padding-left: 14px
				padding-right: 14px

	.liked
		color: rgb(37, 153, 187) !important

	.qtCurtir
		color: #FFF
		font-size: 15px
		line-height: 1.4

	.edicaoBrainstorm
		margin-right: -10px
		display: inline-block
		float: right

		li
			float: left
			padding-left: 5px

			i
				font-size: 18px !important
				line-height: 1 !important

			.icones-postit-pencil
				margin-top: 2px

			.fa-floppy-o
				color: #2ECC71


@media screen and (max-width: 768px)
	#con-brainstorm
		.postit
			margin-top: 1%
		.col-lg-3
			width: 100%
			float: left

@media screen and (max-width: 480px)
	#con-brainstorm

		.col-lg-3
			width: 100%
			padding: 0

		.col-xs-12
			margin-top: 5px

		.col-xs-6
			padding: 0

		.link-grupos
			display: inline-block
			width: 100%
			text-align: center

		.btn-add-group
			float: none !important
			right: 0 !important

		.brainstorms
			padding: 0 !important

		.brainstorms-container
			padding: 0
			margin-top: 3%

@media screen and (max-width: 320px)
	#con-brainstorm

		.col-lg-3
			width: 100%
			padding: 0

		.col-xs-12
			margin-top: 5px

		.documentacao
			width: 84%
		.comentario
			width: 84%


#idComentarios
	textarea
		width: 90%

	h2
		text-align: center

	h4
		margin-top: 15px

	.btn-envia
		bottom: 15px
		left: 10px
		font-size: 1.5em

	.comentario
		padding-top: 20px

	.data
		color: #777
		margin-top: 5px
		font: 200 0.6rem/1.5rem arial, verdana

	.quotes
		font-size: 0.6em
		bottom: 10px

	.deleta-coment
		float: right
		margin: 0 0 3px 3px

	.comentario-texto
		font-size: 0.8em
