#brainstorm-add-grupo
  height: 100%

  section
    height: 100%
  .info
    color: black
    text-align: center
    font-size: 2em
    background: #fff
    width: 100%

  .color
    color: white
  .titleHistoria
    margin: 100px 0

  h2
    color: #fff

  h3
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    font-weight: 300
    font-size: 14px
    padding: 2.5px

  .col-md-1
    padding: 0

  .btn-add
    background: #2ecc71
    border: none
    color: #fff
    font-size: 28px
    width: 100%

  .btn-delete
    background: #ce3838
    border: none
    color: #fff
    font-size: 28px
    width: 100%

  .brainstorms
    background: #fff
    margin-bottom: 5px
    padding: 4px

    button
      width: 100%

@media screen and (max-width: 480px)
  h2
    font-size: 20px !important

  .icon-back
    display: none
