
#con-cad-empresa
	color: white	

	.ul-cnaes
		background-color: rgba(159, 157, 157, 1)
		cursor: pointer

	.form-control
		color: white
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0

	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0
	.left
		float: left	
	.options
		background-color: rgba(159, 157, 157, 1)


	margin: 40px 5%
	width: 90%

	h4
		padding-bottom: 20px

	label
		display: inline
		font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana

	select,
	textarea,

	input
		display: inline
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		height: 2rem
		border-color: #CCC


	textarea
		padding: 10px
		font: 400 1rem/1.4rem "Open Sans", sans-serif, verdana
		padding: 5px


		#sugestoes
			border: 1px solid #CCC
			position: absolute
			width: 90%
			z-index: 110

			li
				@include transicao(0.8s)
				background-color: #FFF
				border: 1px solid #CCC
				cursor: pointer
				font: 400 1rem/1.4rem "Open Sans", sans-serif, verdana
				position: relative
				padding: 5px 10px

				&:nth-child(even)
					background-color: #EFEFEF

				&:hover
					background-color: #CCC

	.fileUpload
		background-color: #CCC
		cursor: pointer
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		display: inline
		height: 2rem
		overflow: hidden
		text-align: center
		width: 122px
		z-index: 30

		span
			left: 0
			height: 2rem
			position: absolute
			top: 0
			width: 122px

		input[type=file]
			height: 2rem
			left: -99999px
			position: absolute
			width: 122px


	.bt-cancel
		display: inline
		margin: 10px auto
		padding: 0 20px

	.form-info-add
		label
			display: inline


	.voltar
		fill: white
		float: left
		margin: 30px
		margin-left: 30px
		cursor: pointer
		width: 64px
		height: 64px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px
	.salvar
		fill: white
		float: right
		margin: 30px
		width: 64px
		height: 67px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px
