////
// CSS Pagina de Cadastro, alteração de senha e recuperação de senha
////
#con-cadastro
	color: white

	h2
		color: white
	form
		left: 50%
		transform: translate(-50%, 10%)
		width: 30%

	input
		color: white


	p
		color: white
		margin: 0 0 35px
		line-height: 1.6
		display: block
		-webkit-margin-before: 1em
		-webkit-margin-after: 1em
		-webkit-margin-start: 0px
		-webkit-margin-end: 0px
		text-align: center

	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0

	.form-control
		color: white
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0

	.input-group


		label
			font: 300 0.9rem/1rem "Open Sans", sans-serif, verdana
			width: 100%

		input
			background-color: transparent
			border-color: white
			border-width: 0 0 1px
			font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
			margin-bottom: 15px
			width: $cad-input-width
			margin-top: 3%

	h3
		text-align: center
		font: 200 1.5rem/5rem "Open Sans", sans-serif, verdana


	.button
		fill: white
		margin-right: 5%
		margin: 30px 17px 30px 2px
		width: 64px
		height: 67px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px
		cursor: pointer
		color: white

	.fa-facebook-square
		font-size: 40px
		margin: 10px
		cursor: pointer

	.fa-google-plus-square
		font-size: 40px
		margin: 10px
		cursor: pointer
	.right
		float: right
	.center
		text-align: center

@media screen and (max-width: 768px)
	#con-cadastro
		form
			width: 85%
		.boutton
			margin: 2%
@media screen and (max-width: 480px)
	#con-cadastro
		form
			width: 85%
		.boutton
			margin: 2%
