////
// CSS da Pagina de Admin do portal
////
// .circle-insignias
// 	position: absolute
// 	width: 64.3%
// 	height: 71.9%
// 	top: 73px
// 	left: 79px
// 	border-radius: 100%
// 	border: 3px solid rgba(28, 66, 77, 0.31)

#con-dash-user

	color: black
	background: transparent
	height: 100%

	// NOTE: Insignias

	.col-md-2
		width: 20%
	.row-insignias
		div
			img
				width: 70px
				height: 70px

	.row-insignias-mobile
		display: none

		div
			img
				width: 80px
				height: 80px

	.imgPerfilUser
		border-radius: 110px

	.descriptions
		position: fixed
		background: rgba(42, 84, 97, 0.95)
		border-radius: 10px
		z-index: 999
		width: 20%
		color: #fff

		h4
			text-align: center !important

		p
			text-align: justify !important

	.descriptions-footer
		bottom: 225px

	.criativo
		text-align: left

	.participativo-mobile
		padding-right: 0

		img
			float: right


	.insignias-footer
		padding: 0

		.col-md-4
			padding: 0

	.executor
		text-align: right

	.master
		text-align: center

	.observador
		text-align: center


	.participativo
		text-align: center


	.planejador
		text-align: center


	section
		height: 100%

	.icon-circle
		border: 8px solid
		border-radius: 100%
		padding: 22px 24px 22px 26px

	h5
		font-weight: 100
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden

	.input-image
		margin-top: 4px

	.btn-salvar
		background: transparent
		border: none

		i
			border: 2px solid
			border-radius: 100%
			padding: 5px

	.alterar-senha
		padding: 9px 9px 15px 10px
		font-size: 26px
		border-radius: 100%
		height: 50px
		width: 50px
		border: 2px solid
		margin-left: 17%
		margin-top: -5%
		cursor: pointer
	.save
		margin-top: -12.5%
		margin-left: 39%
		font: caption
	.per-infos
		margin-top: 10px

		h2
			float: none

		form
			display: inline
			width: 100%

		p
			width: 100%

	.edit-perfil
		input
			color: #333
			border: none
			border-bottom: 1px solid #000
			font: 0.83em "Open Sans", sans-serif, verdana

			&[disabled]
				border: none
				color: #000
				background-color: transparent

	.edit-user
		.col-md-5
			padding: 0
			margin-top: 10px

		.col-md-6
			padding: 0

	.perf-edit
		cursor: pointer
		font: 400 0.8rem/1rem "Open Sans", sans-serif, verdana
		position: relative
		float: right

	.perf-salvar
		border: none
		display: inline-block
		cursor: pointer
		color: #FFF
		font: 200 1rem/2rem "Open Sans", sans-serif, verdana
		padding: 0 10px
		position: relative

	.bt-theme
		@include transicao(0.8s)
		display: inline-block
		height: 20px
		width: 20px

		&:hover,
		&.active
			height: 25px
			width: 25px

	.div-buttons
		padding: 0 20px

	.form-control

		color: rgba(228, 228, 240, 0.7)
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0
	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0

	#emp-header
		display: block
		width: 100%
		height: 100%

		label
			display: block
			cursor: pointer
			float: left
			height: 210px
			margin-top: 30px
			max-height: 210px
			overflow: hidden
			width: 100%

			input
				width: 10px
				visibility: hidden
			&.imagem
				width: initial
				height: initial

				.fa
					background-color: transparent
					border-color: transparent
					text-shadow: 1px 1px 2px #FFF, -1px -1px 2px #FFF
					bottom: 5px
					font-size: 2.5rem
					left: inherit
					line-height: 2.5rem
					height: inherit
					right: 15px
					width: inherit


			img
				display: block
				margin: auto
				max-height: 110px
				max-width: 100%
				position: relative
				top: -25px
				z-index: 50

			.fa
				background-color: transparent
				border: 1px solid #000
				left: 0
				line-height: 200px
				font-size: 9rem
				height: 100%
				position: absolute
				text-align: center
				top: 0
				width: 100%
				z-index: 40
				color: black

		p
			display: inline-block
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin: 2px 0
			vertical-align: top
			width: 100%

		h2
			color: white

		h3
			display: inline-block
			margin: 10px 0
			font: 400 2rem/2rem "Open Sans", sans-serif, verdana
			color: black
			text-align: center
			display: inline-block
			margin: 2px 0
			text-align: center
			vertical-align: top
			width: 100%
			padding: 8px

		.menu_company
			background-color: white
			height: 100%
			box-shadow: 5px 5px 50px #000

		.icon-save
			color: black
			border: 3px solid
			border-radius: 100%
			padding: 7px
			cursor: pointer

		.icon-cancel
			color: black
			border: 3px solid
			border-radius: 100%
			padding: 7px
			cursor: pointer

		.icon-book
			color: black
			margin-top: -5%
		.size
			size: 1.5em

		.e-mail
			font-size: 100%

		.nome
			width: 100%
			margin-left: -16px

		.bt-config
			@include transicao(0.8s)
			background: transparent
			&:hover
				background-color: transparent

		.building
			font-size: 3.5rem
			text-align: center
			margin: auto
			color: white
			border: 10px solid
			padding: 20px
			border-radius: 100%
			margin-botton: -30px

		.text
			text-align: center
			color: white
			margin: -21px 0 0 -5px
		.star
			margin-left: 1%

		.date
			margin-top: 20%

		.image
			margin-top: 4%
		.txt
			text-align: center
			margin-top: 5%
			color: white
			font-size: 125%
			font-weight: bolder

		.filtre
			color: white

		.figure
			text-align: center

		.options
			background-color: rgba(159, 157, 157, 1)
			color: white

		.user-buttons
			display: block
			padding: 25px 0
			width: 100%
			margin-top: 10px

			.fa-icons
				font-size: 3rem
				text-align: center
				margin: auto
				padding: 15px 0
				width: 100%

			.text
				text-align: center
				width: 100%
				font-size: 20px

	#emp-buttons
		.bt-config
			@include transicao(0.8s)
			background: transparent
			&:hover
				background-color: transparent

		.building
			font-size: 3.5rem
			text-align: center
			margin: auto
			color: white
			border: 10px solid
			padding: 20px
			border-radius: 100%
			margin-botton: -30px

		.text
			text-align: center
			color: white
			margin: -21px 0 0 -5px

		.icon-circle
			padding-left: 25px
			padding-right: 25px

		.star
			margin-left: 1%

		.date
			margin-top: 20%

		.txt
			text-align: center
			margin-top: 5%
			color: white
			font-size: 125%
			font-weight: bolder
		.filtre
			color: white
		.figure
			text-align: center

		.options
			background-color: rgba(159, 157, 157, 1)
			color: white

		.user-buttons
			display: block
			padding: 25px 0
			width: 100%

			.fa-icons
				font-size: 3rem
				text-align: center
				margin: auto
				padding: 15px 0
				width: 100%


			.text
				text-align: center
				margin: auto
				width: 100%
				font-size: 15px

			.cercle-icon
				color: white
				margin-top: 50%
				border: 5px solid
				border-radius: 100%
				width: 100px
				height: 100px
				padding: 20px

		#name-emp
			display: none



#main
	height: 100%
	overflow-y: hidden
	section
		height: 100%

@each $process in $ideias-process
	#con-dash-user
		.art-ideia
			.#{$process}
				background-image: url(../img/ideia-#{$process}.png)

////
// Breakpoints
////
@media screen and (max-width: 1360px)
	#con-dash-user
		.art-ideia
			.ideia-desc,
			.ideia-andamento
				height: auto
				text-align: center
				width: 100%

@media screen and (max-width: 768px)
	#con-dash-user
		.text
			font-size: 15px !important
		.save
			margin-left: 20%
			margin-top: 10%
			font-size: 15px

#main
	overflow-y: auto

@media screen and (max-width: 768px)
	#con-dash-user
		#emp-header
			label
				height: 250px
				margin: 10px 0
				max-width: 100%
				width: 100%
			.save
				margin-left: 20%
				margin-top: 10%
				font-size: 15px

@media screen and (max-width: 480px)
	#con-dash-user
		.row-insignias-mobile
			display: none
			div
				img
					width: 70px
					height: 70px

		.participativo-mobile
			padding: 0 3px 0 0

		.planejador-mobile
			padding: 0 0 0 3px

@media screen and (max-width: 320px)
	#con-dash-user
		.row-insignias-mobile
			.col-xs-4
				padding: 0 3px


@media screen and (max-width: 768px)
	#con-dash-user
		.row-insignias
			display: none !important

		.row-insignias-mobile
			display: block !important

			.col-md-12
				margin-top: 0 !important

			.master-mobile
				text-align: center
				margin-top: 20px !important

		ng-md-icon
			size: 25px !important

		.perf-edit
			span
				display: none

			.fa-pencil
				padding: 2px 4px !important

			i
				font-size: 18px
				border: 2px solid
				border-radius: 100%
				padding: 2px

		#emp-header
			.save
				margin-left: 20%
				margin-top: 10%
				font-size: 15px
		#emp-buttons
			.bt-config
				width: $art-large-width
