#empresa-swot-add
  .input-text
    padding: 0

  .title
    line-height: 2

  .icon-add
    float: right
    border: 2px solid
    border-radius: 100%
    padding: 15px
    font-size: 25px

  .tooltip
    position: absolute
    right: 70px
    background: rgba(28, 66, 77, 0.63)
    color: #fff
    padding: 5px
    border-radius: 5px

  h2
    color: #fff

  .form-control
    background: rgba(51, 51, 51, 0.52)
    border: none
    color: #fff

  .btn-add
    float: right
    padding: 5px
    margin-top: 5px
    border-radius: 100%
    border: 4px solid
    background: transparent
    margin-top: 5px
    cursor: pointer

  .radio-opcoes
    padding: 10px 0
    border-radius: 4px
    color: #fff

    .col-md-3
      padding: 5px
      button
        padding: 9px 0
        width: 100%

  .quadro-swot
    background: rgba(255, 255, 255, 0.28)
    padding: 15px

    .col-md-6
      height: 400px
      border: 1px solid #fff
      padding: 0

      h3
        background: rgba(255, 255, 255, 0.28)
        color: #fff
        padding: 5px

  .itens
    background: #fff
    width: 96%
    margin: 5px 2%
    padding: 0

    span
      line-height: 2
      font-size: 14px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      display: inherit

    .col-md-2
      padding: 0

    .icons-edit
      padding: 0

      button
        width: 33%
        float: left
        border: none
        font-size: 17px
        padding: 5px 0

      strong
        width: 34%
        text-align: center
        line-height: 1.85
        display: inline-block
        background: #2ecc71
        color: #fff
        padding-bottom: 1px

    .btn-info
      background: #fff

    .btn-excluir
      background-color: #CE3838
      color: #fff

  .form-modal
    height: 100px

    button
      width: 100%
      height: 30px

  .add-mobile
    display: none

@media screen and (max-width: 768px)
  #empresa-swot-add
    .add-mobile
      display: block !important
      float: right
      background: #2ecc71
      top: -5px
      padding: 8px
      right: -5px

    .form-add-item
      display: none
