////
// CSS da Página da empresa
////
#con-empresa
	color: white

	.menu_company
		.fa-icon
			color: black !important

	#company .emp-img-hover
		width: 50% !important
		left: 25% !important
		border-radius: 0 !important     

	.bt-config
		@include transicao(0.8s)
		margin: 10px
		background: transparent
		&:hover
			background-color: transparent

	.icon-back
		font-size: 2em

	.fa-icon
		font-size: 3.5rem
		text-align: center
		margin: auto
		color: white
		border: 10px solid
		padding: 20px
		border-radius: 100%
		margin-botton: -30px

	.text
		text-align: center
		width: 100%
		color: white
		margin-top: -25px

	.icon-circle
		padding-left: 25px
		padding-right: 25px

	#name-emp
		color: #fff

	.icon-menu
		border: none
		border-radius: none
		font-size: 	22px
		padding: 0 0px 0 20px

	.row
		margin: 0
		padding: 0
		height: 100%

	p
		text-align: center
		color: black

	.icon-dialog
		margin-top: 5%
		margin-left: 36%
		color: black

	.icon-diag-close
		margin-left: 10%
		color: black

	#emp-header
		display: block
		width: 100%
		label
			display: block
			cursor: pointer
			float: left
			height: 210px
			margin-top: 30px
			max-height: 210px
			overflow: hidden
			width: 100%

			input
				width: 10px
				visibility: hidden
			&.imagem
				width: initial
				height: initial

				.fa
					background-color: transparent
					border-color: transparent
					text-shadow: 1px 1px 2px #FFF, -1px -1px 2px #FFF
					bottom: 5px
					font-size: 2.5rem
					left: inherit
					line-height: 2.5rem
					height: inherit
					right: 15px
					width: inherit


			img
				display: block
				margin: auto
				max-height: 210px
				max-width: 100%
				position: relative
				top: -25px
				z-index: 50

			.fa
				background-color: transparent
				border: 1px solid #000
				left: 0
				line-height: 200px
				font-size: 9rem
				height: 100%
				position: absolute
				text-align: center
				top: 0
				width: 100%
				z-index: 40
				color: black

		p
			display: inline-block
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin: 2px 0
			vertical-align: top
			width: 100%

		h2
			color: black

		h3
			display: inline-block
			margin: 10px 0
			font: 400 2rem/2rem "Open Sans", sans-serif, verdana
			color: black
			text-align: center

		h3
			display: inline-block
			font: 600 2rem "Open Sans", sans-serif, verdana
			margin: 2px 0
			text-align: center
			vertical-align: top
			width: 100%
			padding: 10px

		.button-edit
			padding: 15px
			width: 100%
			font-size: 17px
			background-color: #1C424D
			border: 1px solid #0D242B
			cursor: pointer
			color: white

		#button-menu-side
			padding: 10px 15px
			border: none
			background: rgba(28, 66, 77, 0.62)
			font-size: 25px
			text-transform: uppercase
			display: none

			.col-md-12
				margin-top: 20px

		.emp-img
			position: relative

#main
	height: 100%
	overflow-y: hidden

	section
		height: 100%

@media screen and (min-width: 1365px)
	#con-empresa
		#emp-buttons
			.bt-config
				width: $art-pro-width

			.fa-icon
				font-size: 2.5em !important

@media screen and (max-width: 960px)
	#con-empresa
		#emp-buttons
			.bt-config
				width: $art-middle-width

			#name-emp
				display: block
				color: white

		#emp-header
			width: 100%
			p
				width: 100%
			h3
				font-size: 20px


		.grid-buttons
			position: relative
			width: 100% !important
			float: none

#main
	overflow-y: auto !important

@media screen and (max-width: 768px)
	#con-empresa
		#emp-header
			label
				height: 250px
				margin: 10px 0
				max-width: 100%
				width: 100%
	#main
		overflow: auto

@media screen and (max-width: 520px)
	#con-empresa
		.buttons-adm
			padding: 0

			.col-md-12
				padding: 0

		#emp-buttons
			.bt-config
				width: $art-large-width
