#con-empresa-grupo-lista
	height: 100%

	section
		height: 100%

	h2
		color: #fff


	h4
		font-weight: 400

	.users
		height: 100%
		overflow:  auto
		.col-md-11
			background-color: #fff

		.col-md-1
			padding: 0

			button
				color: #fff
				height: 47px
				width: 100%
				border: none

				i
					font-size: 25px
	.title-group
		text-align: center

		i
			border-radius: 100%
			border: 8px solid
			padding: 20px

	.edit-group
		input
			background-color: transparent
			border: none
			font-size: 25px
			width: 100%
			text-align: center
			color: black

		button
			padding: 11px
			font-size: 16px
			width: 49%
			margin-top: 20px

	.inputFocus
		border: 1px solid #ccc !important

		i.fa
			font-size: 100px
			border: 0
			width: 219px
			height: 142px
			padding: 22px 25px
			background: #e4e4f0
			color: #073744
			margin-bottom: 6px
			border-radius: 0%

	.title-in-company

		input
			background-color: rgba(52, 55, 58, 0.8)
			width: 100%
			padding: 11px
			border: none
			font-size: 14px
			color: #fff
			margin-bottom: 10px


@media screen and (max-width: 580px)
	#con-empresa-grupo-lista
		h2
			font-size: 25px
		h4
			font-size: 13px
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden

		.col-md-1
			button
				height: 42px !important

		h3
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			font-size: 18px

		.edit-group
			button
				width: 100%
