#con-empresa-grupo
	height: 100%

	section
		height: 100%

	h2
		color: #fff

	.form-new-group
		h3
			padding: 10px 0 10px 0

		input
			width: 100%
			padding: 6px
			border: none
			background-color: rgba(51, 51, 51, 0.52)
			font-size: 16px

		button
			float: right
			margin-top: -30px
			height: 30px
			padding: 4px
			color: #333
			font-size: 14px	

	.repeat
		margin-bottom: 50px

		h3
			text-align: center
			color: #fff
			font-size: 1.5em

	.group-icons
		color: #fff
		width: 100%		
		text-align: center

		i
			font-size: 3.5em
			border: 8px solid
			border-radius: 100%
			padding: 20px		

	.controls-group
		text-align: center
		color: #fff
		font-size: 25px
	
	.historias-helena
		max-height: 400px

	.div-helena-geral
		padding: 7% 5%
		text-align: center

	.div-helena-texto
		padding-top: 5%
		float: right
		text-align: justify
		font-size: 0.9em
		color: white

		h1
			padding-bottom: 1  		
		
@media screen and (max-width: 580px)
	#con-empresa-grupo
		.repeat
			h3
				font-size: 1.1em

		.form-new-group
			button
				float: none
				margin-top: 10px
				width: 100%
