#con-empresa-equipe-add
	h2
		color: #fff

	.title-equipe
		height: 1px

	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0

	.inputBusca
		padding: 11px
		background-color: rgba(52, 55, 58, 0.8)
		width: 100%
		border: none
		font-size: 14px
		color: #fff
		margin-left: 70px
		margin-bottom: 15px

	.historias-helena
		max-height: 400px

	.div-helena-geral
		padding: 7% 5%
		text-align: center
		margin-top: 5%

	.div-helena-texto
		padding-top: 5%
		text-align: justify
		font-size: 0.9em
		color: white
		margin-top: 15%

		h1
			padding-bottom: 1

	.color
		color: white

	.users-out
		background-color: #fff
		margin-bottom: 5px
		padding: 0 5px 2px 5px
		width: 100%
		display: inline-block
		height: 45px
		box-shadow: 7px 7px 25px 0px rgba(29, 25, 25, 0.63)
		webkit-box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.63)
		moz-box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.63)

	.user-out-company
		padding: 5px

		h3
			width: auto
			float: none
			margin: 0
			text-align: left
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			font-size: 14px !important

		h4
			font-weight: 400
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			font-size: 11px !important

	.user-out-add
		float: right
		padding: 0 !important

		.btn-add-large
			height: 45px
			width: 30%
			background-color: #fff
			border: 1px solid #ccc
			border-radius: 5px
			font-size: 16px
			padding: 11px
			float: right

		.btn-add-small
			display: none

	.user-email-add
		display: inline-block
		width: 100%

		input
			padding: 11px
			background-color: rgba(52, 55, 58, 0.8)
			width: 100%
			border: none
			font-size: 14px
			color: #fff

		button
			float: right
			padding: 11px
			font-size: 14px
			background-color: #fff
			border: none
			margin-top: -39px
			width: 100px

	.requests-pending
		margin-top: 30px

		.col-md-12
			margin-bottom: 5px

		.col-md-9
			background-color: rgba(52, 55, 58, 0.8)
			color: #fff
			padding: 0

		.col-md-3
			padding: 0


		h5
			font-size: 15px
			line-height: 3
			padding-left: 10px
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			font-weight: 100

		h3
			color: #fff
			margin-bottom: 10px

		button
			padding: 14px
			font-size: 14px
			width: 100%
			border: none
			background-color: #fff

	.send-small
		display: none

	.retweet-small
		display: none

	.btn-send-all
		padding: 11px
		font-size: 16px
		background-color: #fff
		border: none
		left: 30%
		right: 30%
		width: 40%
		margin-top: 10px

@media screen and (max-width: 768px)
	#con-empresa-equipe-add
		h2
			font-size: 25px

	.btn-send-all
		width: 100% !important
		left: 0 !important



@media screen and (max-width: 528px)
	#con-empresa-equipe-add
		.btn-add-large
			display: none

		.retweet-large
			display: none !important

		.retweet-small
			display: block !important
			padding: 9px !important
			font-size: 22px !important

		.send-small
			display: block !important
			width: 50px !important

		.send-large
			display: none

		.btn-add-small
			display: block !important
			height: 45px !important
			margin-top: 6px
			width: 100%
			background-color: #fff
			border: 1px solid #ccc
			border-radius: 5px
			font-size: 20px
			padding: 11px

		.col-md-12
			padding: 0
