////
// CSS da Página do dashboard do PDI
////
#con-empresa-edit
	color: white
	margin: 40px 5%
	width: 90%


	.incluir-texto
		margin-top: 30px


	.options
		background-color: rgba(159, 157, 157, 1)
		color: white

	.result
		background: transparent
		color: white
		max-width: 220px
		border-left: 0
		border-right: 0
		border-top: 0
		margin-top: 5px
		margin-bottom: 30px
	
	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0

	.salvar
		fill: white
		float: right
		margin: 30px
		cursor: pointer
		width: 64px
		height: 67px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px

	margin: 40px 5%
	width: 90%


	.desc-pdi
		margin: 20px

	.emp-desc
		p
			display: inline-block
			font: 200 1rem/2rem "Open Sans", sans-serif, verdana
			padding: 0 20px
			width: 49%

	#his-buttons

		.fa-icon
			font-size: 3.5rem
			text-align: center
			margin: auto
			color: white
			border: 10px solid
			padding: 20px
			border-radius: 100%
			margin-botton: -30px
		.fa
			font-size: 3.5rem
			text-align: center
			margin: auto
			padding: 20px 24px


		.text
			text-align: center
			margin: auto
			padding-bottom: 8px
			width: 100%

	#emp-plan

		margin: 0 15px
		text-align: justify

		li
			@include transicao(0.8s)
			background-color: #EEE
			border: 1px solid #CCC
			color: #666
			display: inline-block
			margin: 5px auto
			padding: 5px 20px
			position: relative

			span
				display: none

			&:hover
				background-color: #FFF

			&.complete
				color: #000
				background-color: #2ecc71
				border-color: #2ecc71

			&.doing
				color: #000
				background-color: #f39c12
				border-color: #f39c12

		.fa-sort-desc
			@include rodar(-90deg)
			margin: 0 10px

		progress
			margin: 10px 0
			max-width: 1210px
			width: 100%

	.emp-sections
		margin: 10px 15px

		h3
			font: 600 1.5rem/3rem "Open Sans", sans-serif, verdana
			display: inline-block

	.emp-plans
		margin: 10px 15px

		h4
			font: 800 1rem/1.2rem "Open Sans", sans-serif, verdana
			margin-bottom: 15px

		.plan-txt
			background-color: #EEE
			max-height: 100%
			overflow-y: auto
			padding: 5px 15px

		.emp-plans-done
			@include transicao(0.8s)
			overflow: hidden
			max-height: 192px

		.bt-edit
			display: none
			font: 400 0.8rem/1rem "Open Sans", sans-serif, verdana
			margin-left: 5px

		&:hover
			.bt-edit
				display: inline-block


		input
			@include transicao(0.8s)
			border: none
			border-radius: none
			box-shadow: 0px 0px 7px #FFF
			display: block
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin-top: 10px
			padding: 0 15px

			&:hover
				box-shadow: 0px 0px 7px #333

			&[type=checkbox]
				display: inline-block
				margin-right: 10px

			&[type=file]
				height: 37px
				margin: 10px 15px
				overflow: hidden
				padding: 0
				width: 122px

				&:before
					background-color: #CCC
					content: "Enviar Doc."
					cursor: pointer
					font: 400 1rem/38px "Open Sans", sans-serif, verdana
					display: block
					height: 37px
					text-align: center
					width: 122px

			&[type=text]
				background: #EEE
				font: 400 1rem/38px "Open Sans", sans-serif, verdana
				margin: 10px 15px
		li
			list-style-type: disc
			margin-left: 20px

			&:first-child
				margin-left: 0px
				list-style-type: none

		label
			display: block

		form
			@include transicao(0.8s)
			max-height: 0
			overflow: hidden

			textarea
				border-radius: none
				box-shadow: 0px 0px 7px #666
				font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
				height: 100px
				padding: 5px 10px
				resize: none
				width: 100%

			.check-cont,
				background-color: #EEE
				float: right
				height: 170px
				padding: 5px 10px
				overflow-y: auto
				width: calc(100% - 265px)

			.form-files-input
				margin-left: 50px

		&.active
			.emp-plans-done
				max-height: 0

			form
				max-height: 175px

@media screen and (max-width: 768px)
	#con-empresa-edit
		.emp-plans
			.bt-edit
				display: inline-block

			form
				.check-cont
					float: none
					width: 100%

			&.active
				form
					max-height: 340px

@media screen and (max-width: 540px)
	#con-empresa-edit
		.emp-desc
			p
				width: 100%

		#emp-plan
			li
				width: 100%

				span
					display: initial

			.fa-sort-desc
				display: none

