#dialog-modal-perfil
	h1
		text-align: center
		margin: 15px

	h3
		text-align: center
		margin: 15px

	button
		text-align: center
		padding: 7px
		border-radius: 5px

	.buttons
		text-align: center
		margin-top: 25px

#con-empresa-equipe
	display: block
	input
		background-color: rgba(52, 55, 58, 0.8)
		width: 90%
		padding: 11px
		border: none
		font-size: 14px
		color: #fff
		margin-bottom: 10px
		margin-left: 5%

	.userPendente
		color: #AAA

		li
			color: #000
	
	.title-friends
		display: inline-block
		width: 100%
		margin: 30px 0 5px 0

		h2
			display: inline-block
			margin: 0
			color: #fff
			line-height: 2

			i
				color: #fff

		h3
			float: right
			display: inline-block

			i
				border: 1px solid #fff
				border-radius: 100%
				padding: 17px
				color: #fff
				font-size: 30px
				margin-right: 60px


	.row
		margin-left: 15px !important
		margin-right: 15px !important
		background-color: #fff
		margin-top: 5px !important
		box-shadow: 7px 7px 25px 0px rgba(29, 25, 25, 0.63)
		webkit-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.63)
		moz-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.63)

	.user
		display: inline-block
		padding: 5px

		h3
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			font-size: 15px

		h4
			font-weight: 300
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			font-size: 13px

	.users-company
		background-color: #fff

		div
			padding-left: 0

	.users-perfil
		padding: 0 0 0 0
		text-align: center

		ul
			display: inline-block
			float: right
		li
			float: left
			padding: 6px
			margin-left: 5px
			height: 48px
			line-height: 2.4
			border: 1px solid #ccc
			font-size: 13px

	.button-perfil
		height: 45px
		color: #fff
		width: 100%
		font-size: 15px
		border: none
		cursor: pointer
		float: right


	.users-button-delete
		border: 0 !important
		background-color: rgb(206, 56, 56)
		height: 48px
		width: 100%

		i
			margin-top: 3px
			color: #fff
			font-size: 28px

	.friends-company
		margin-left: 30px
		margin-right: 30px


	.div-paginacao
		text-align: center
		width: 100%

	.btn-mobile
		display: none
		height: 48px
		color: #fff
		width: 100%
		font-size: 15px
		border: none
		cursor: pointer

	#search-form-topo
		input
			width: calc(90%)

		button
			padding: 10px 10px 8px 10px

	.users-content
		border: 1px solid #CCC
		display: inline-block
		margin: 5px 8px
		width: calc(50% - 20px)
		vertical-align: top

		h4
			font: 200 1.5rem/2.2rem "Open Sans", sans-serif, verdana
			margin: 5px 10px

		.list-friends,
		.list-no-confirmed,
		.list-no-friends
			@include transicao(0.8s)
			border: 1px solid #CCC
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			padding: 5px 10px
			width: 100%

			&:nth-child(odd)
				background-color: #EEE

		p
			display: inline-block
			vertical-align: top
			padding-left: 10px

		input
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin: 5px 10px
			text-indent: 10px
			width: calc(100% - 20px)

		.bt
			@include transicao(0.8s)
			border: none
			cursor: pointer
			display: inline-block
			float: right
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin-right: 10px
			margin-bottom: 5px
			padding: 0px 10px

			&.reenviar
				margin: 5px
				float: none

			&.bt-default
				border: 1px solid #CCC

	.list-no-friends
		img
			border: 1px solid #000
			display: inline-block
			height: 50px
			width: 50px

		p
			font: 400 1rem/1.6rem "Open Sans", sans-serif, verdana

	.list-no-confirmed
		.bt
			font: 200 1rem/2rem "Open Sans", sans-serif, verdana

	.list-friends
		.bt
			float: none

		.bt-error
			float: right

	#add-grupo
		color: #FFF
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		padding: 0 10px
		position: absolute
		right: 10px
		top: 20px
		z-index: 50

@media screen and (max-width: 1360px)
	#con-empresa-equipe
		.users-content
			width: calc(100% - 20px)
		.button-perfil
			width: 100px
			font-size: 13px

@media screen and (max-width: 480px)
	#con-empresa-equipe
		.btn-mobile
			display: block

		.button-perfil
			display: none

		.users-perfil
			#list-large
				display: none
				display: block
				margin-top: -10px
				margin-right: 33px

				li
					height: auto !important
					line-height: 1.5 !important
					font-size: 12px !important

					i
						font-size: 13px !important

@media screen and (max-width: 412px)

	#con-empresa-equipe
		.users-perfil
			#list-large
				display: none

				li
					height: auto !important
					line-height: 1.5 !important
					font-size: 12px !important
					padding: 12px 8px
					margin: 0 !important

					i
						font-size: 13px !important
		.title-friends
			h2
				font-size: 20px
				margin-left: 17px

			h3
				width: 100%
				text-align: center
				i
					margin: 0

		.friends-company
			margin: 0 !important
