////
// Fonts
////
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Light.ttf);
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-LightItalic.ttf);
	font-weight: 200;
	font-style: italic;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Semibold.ttf);
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-SemiboldItalic.ttf);
	font-weight: 600;
	font-style: italic;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
}

@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
	font-weight: 800;
	font-style: italic;
}