/*Modal*/
.ngdialog-close
  z-index: 9999999

#badges
  h2
    color: #fff

  h3
    color: #fff
    text-align: center
    font-weight: 300
    font-size: 25px

  .badge
    -webkit-filter: grayscale(1)
    filter: grayscale(1)

  .badges-container
    h3
      padding-bottom: 20px

  .badges
    background: rgba(255,255,255,0.15)

    img
      width: 100%
      border: 2px solid #fff
      border-radius: 100%
      background-color: #fff
      cursor: -webkit-zoom-in

    .col-md-2
      text-align: center
      padding: 15px

  .insignias-container
    padding: 0 30px
    margin-bottom: 100px
    margin-top: 20px

    h3
      background: rgba(255, 255, 255, 0.27)
      border-radius: 10px
      padding: 10px
      font-size: 20px !important

  .insignias
    padding: 10px 15px
    background: rgba(255,255,255,0.15)

    .col-md-2
      text-align: center

    img
      width: 100%
      border: 2px solid #fff
      border-radius: 100%
      background-color: #fff
      cursor: -webkit-zoom-in


#badges-modal
  width: 100%
  background-color: #FFF
  z-index: 9999

  div
    color: #FFF
    padding: 15px
    font-weight: 100

  .badges-modal-title
    text-align: center


    h2
      color: black !important
      margin-bottom: 20px

  .badges-modal-body
    background: rgba(0, 127, 167, 0.59)
    color: #FFF
    text-align: justify

  .badges-modal-middle
    background: #EB9532
    text-align: justify

  .badges-modal-footer
    background-color: rgba(239, 72, 54, 0.85)

    h3
      span
        float: right
        background: #F22613
        padding: 2px 5px
        border-radius: 5px

@media screen and (max-width: 480px)
  #badges
    .insignias-container
      padding: 0 15px !important

      h3
        padding: 5px !important
        font-size: 15px !important

    .col-xs-6
      margin-bottom: 20px

    .badges-container
      h3
        padding: 20px !important
