////
// Default CSS
////

@font-face{
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue.ttf);
}

html{
	height:100%;
}

*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

body{
	font-family: "Open Sans", sans-serif, verdana;
	font-size: 16px;
	overflow-x: hidden;
	height:100%;

}

.ngdialog-content .ngdialog-foto-historia{
	background-color: black !important;
}

#site-bg{
	background: center center no-repeat;
	background-size: 60%;
	height: 100%;
	opacity: 0.1;
	position: fixed;
	width: 100%;
	z-index: 0;
}

.descriptions {
	position: fixed;
	background: rgba(42, 84, 97, 0.95);
	border-radius: 10px;
	z-index: 999;
	width: 20%;
	color: #fff;
}

.bg{
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.div-paginacao{
	max-height: 10px;
	width: 100%;
	text-align: center;
}

.btn-volta{
	top: 30px;
	cursor: pointer;
	font-size: 2em;
	margin: 5px;
}

li{
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}

.fb_iframe_widget{
	width: 100%;
}

.socialBar{
	background: rgba(214, 212, 212, 0.55);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.51);
	border-radius: 15px;
	margin-top: 15px;
	min-height: 80px !important;
}

.fb_iframe_widget_like{
	width: 72% !important;
	padding-top: 15px;
	float: left;
	border: none !important;
	color: white !important;
}

.fb_iframe_widget_like iframe{
	box-shadow: none !important;
}

.fb_iframe_widget span{
	width: 100% !important;
}

.fb_iframe_widget iframe{
	width: 100% !important;
}

.info-msg{
	font-size: 0.75rem;
	font-family: verdana, arial, sans-serif;
}

.resumo-encerra{
	border: solid 1px #555;
	border-radius: 15px;
	background-color: rgba(52, 55, 58, 0.8);
}

#res-msg{
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
	display: inline-block;
	font-size: 1rem;
	line-height: 2rem;
	height: 2rem;
	padding: 0 10px;
	vertical-align: top;
}

.error{
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
}

.success{
	color: #3c763d;
	background-color: #d6e9c6;
	border: 1px solid #d6e9c6;
}

#loader{
	background: rgba(0,0,0,0.2) url(../img/loading.gif) no-repeat center;
	left: 0;
	height: 100%;
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 0;
}

#loader.active{
	z-index: 1000;
	display: block;
}

.pagination{
	display: inline-block;
	border-radius: 4px;
	padding-bottom: 30px;
	margin: 15px;
}

.pagination > li{
	display: inline;
}

.pagination > li > a{
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
	display: inline-block;
	background: #FFF;
	border: 1px solid #CCC;
	color: #428bca;
	margin-left: -1px;
	padding: 6px 12px;
}

.pagination > li:first-child > a{
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.pagination > li:last-child > a{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.pagination > li:hover > a{
	background-color: #EEE;
}

.pagination > li.active > a{
	color: #FFF;
	background-color: #428bca;
}

.pagination > li.disabled > a{
	color: #999
;	cursor: context-menu;
	background-color: #EEE;
}

@media screen and (max-width: 768px){
	#toast-container{
		left: auto !important;
		right: auto !important;
		margin: auto !important;
		top: 10px !important;
	}
}

////
//Colors Default
////

$color: (
	he-bg-green: #1c424d,
	he-bg-blue: #1c424d,
	he-bg-red: #F22613,
	he-bg-pink: #F62459,
	he-bg-orange: rgba(243, 156, 17,1.0),
	he-bg-yellow: rgba(232, 220,00,1.0),
	he-bg-purple: rgba(155, 89, 182,1.0),
	he-bg-gray: rgba(149, 165, 166,1.0),
	he-bg: #1c424d,
	he-title: #FFF,
	topo-2-bg: rgba(255,255,255,0.2),
	he-notif: #E87E04,
	he-logout: #F22613,
	he-login: #00FFFF,
	he-user: #F2784B,
	he-proj: #ABB7B7,
	he-stars: #f1c40f,
	he-xp: #00FFFF,
	he-avatar-baloon: #FFF,
	he-avatar-baloon-txt: #000,
	he-avatar-about-border: #F00,
	cad-bt: #FFF,
	art-bg: #EEE,
	art-bt-save-bg: #2ecc71,
	bt-warning: #ed5e68,
	art-bt-close: #FFF,
	art-box-shadow: #444,
	art-border: #2c3e50,
	art-title-bg-de: rgba(0 ,0, 0, 1),
	art-title-bg-para: rgba(0 ,0, 0, 0),
	art-title-color: #FFF,
	art-cat-border-default: #e74c3c,
	art-xs-title: #FFF,
	art-xs-title-hover: #000,
	not-cat-not: #F22613,
	not-cat-edi: #f1c40f
);

$themes-colors: (
	green: #1c424d,
	blue: #1c424d,
	red: #1c424d,
	pink: #1c424d,
	orange: #1c424d,
	yellow: #1c424d,
	purple: #1c424d,
	gray: #1c424d
);

$art-border-colors: (
	cat-1: (
		color: #F89406,
		image: url(../../public/img/cat-1.png),
		),
	cat-2: (
		color: #F7CA18,
		image: url(../../public/img/cat-2.png),
		),
	cat-3: (
		color: #2ECC71,
		image: url(../../public/img/cat-3.png),
		),
	cat-4: (
		color: #26A65B,
		image: url(../../public/img/cat-4.png),
		),
	cat-5: (
		color: #446CB3,
		image: url(../../public/img/cat-5.png),
		),
	cat-6: (
		color: #22A7F0,
		image: url(../../public/img/cat-6.png),
		),
	cat-7: (
		color: #BF55EC,
		image: url(../../public/img/cat-7.png),
		),
	cat-8: (
		color: #F3128E,
		image: url(../../public/img/cat-8.png),
		),
	cat-9: (
		color: #c0392b,
		image: none,
		),
	cat-10: (
		color: #bdc3c7,
		image: none,
		)
);

$cat-buttons-colors: (
	success: (
		normal: #2ecc71,
		hover: #26A65B,
	),
	warning: (
		normal: #ed5e68,
		hover: #ed5e88,
	),
	primary: (
		normal: #3498db,
		hover: #2980b9,
	),
	default: (
		normal: #FFF,
		hover: #EFEFEF,
	),
	error: (
		normal: #D91E18,
		hover: #F22613,
	),
	plus: (
		normal: #CF000F,
		hover: #EF4836,
	),
	face: (
		normal: #3C5A98,
		hover: #4183D7,
	),
);

$ideias-process: (
	brainstorm,
	canvas,
	documentos,
	validacao,
	prototipo,
	testes
);

////
// Fonts Default
////

$fonts: (
	art-con-txt: 200 1rem/1.4375rem "Open Sans"
);

////
// Variables Default
////

$topo-1-height: 70px;
$topo-2-height: 50px;
$topo-height: 60px;
$he-height-shrink: 70px;
$he-height-img: 50px;
$he-height-img-shrink: 50px;
$he-margin: 10px 5px -12px 10px;
$he-margin-shrink: 10px 5px -12px 10px;
$he-nav-width-gg: 15%;
$he-nav-width-g: 20%;
$he-nav-width-xm: 25%;
$he-nav-width-m: 300px;
$he-notification-width: 300px;
$he-pontos-height: 80px;
$art-full-height: 260px;
$art-half-height: 120px;
$art-header-xg-width: 350px;
$art-header-g-width: 300px;
$art-pro-width: calc(33.33% - 20px);
$art-trei-width: calc(20% - 20px);
$art-large-width: calc(100% - 20px);
$art-xmiddle-width: calc(80% - 20px);
$art-middle-width: calc(50% - 20px);
$art-small-width: calc(25% - 20px);
$art-xsmall-width: calc(20% - 20px);
$art-xg-txt-width: calc(100% - 350px);
$art-g-txt-width: calc(100% - 300px);
$art-m-img-width: 170px;
$art-m-txt-width: calc(100% - 170px);
$art-gs-img-width: 100%;
$art-gs-tit-width: 100%;
$art-gs-header-height: 50px;
$art-ss-con-height: 100px;
$art-xs-con-height: 100px;
$art-s-width: 100%;
$cad-input-width: calc(100% - 20px);

////
// Functions
////
@mixin transicao($tempo){
	-webkit-transition: all $tempo;
	-moz-transition: all $tempo;
	-ms-transition: all $tempo;
	-o-transition: all $tempo;
	transition: all $tempo;
}

@mixin rodar($graus){
	-webkit-transform: rotate($graus);
	-moz-transform: rotate($graus);
	-ms-transform: rotate($graus);
	-o-transform: rotate($graus);
	transform: rotate($graus);
}

@mixin rodarX($graus){
	-webkit-transform: rotateX($graus);
	-moz-transform: rotateX($graus);
	-ms-transform: rotateX($graus);
	-o-transform: rotateX($graus);
	transform: rotateX($graus);
}

@mixin gradiente($de, $para){
	background: $para;
	background-image: -webkit-gradient(top, from($de), to($para));
	background-image: -webkit-linear-gradient(top, $de, $para);
	background-image: -moz-linear-gradient(top, $de, $para);
	background-image: -o-linear-gradient(top, $de, $para);
	background-image: linear-gradient(to top, $de, $para);
}

@each $cat, $arr in $art-border-colors{
	$cor: map-get($arr, color);
	$image: map-get($arr, image);

	#con-projeto .#{$cat} article{
		background-image: $image;
		border: 1px solid $cor;
	}

	#con-projeto #pro-menu .bt-#{$cat}{
		background-color: $cor;
	}

	#con-noticias .#{$cat} .art-cat{
		border-color: $cor;
	}

	#con-projeto .#{$cat} h3{
		color: $cor;
	}
}

@each $bt, $cor in $cat-buttons-colors{
	$normal: map-get($cor, normal);
	$hover: map-get($cor, hover);

	.bt-#{$bt}{
		background-color: $normal;
	}

	.bt-#{$bt}:hover{
		background-color: $hover;
	}
}
.bt-delete{
	background-color: #ce3838;
}
////
// Helpers Placeholders
////

%art-blocs{
	@include transicao(0.8s);
	background-color: map-get($color, art-bg);
	box-shadow: 3px 3px 7px map-get($color, art-box-shadow);
	display: block;
	float: left;
	margin: 0 10px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: $art-middle-width
}

progress[value]{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #FFF;
	border-radius: 2px;
	border: 1px solid #CCC;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	width: 80%;
	height: 20px;
}

progress[value]::-webkit-progress-bar{
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-moz-progress-bar{
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(255, 255, 255, 0.25) inset;
	background: map-get($color, he-bg-blue);
}

progress[value]::-webkit-progress-value{
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(255, 255, 255, 0.25) inset;
	background: map-get($color, he-bg-blue);
}

#conteudo{
	@include transicao(0.8s);
	float: left;
	left: 0;
	position: relative;
	right: 0;
	width: 100%;
	height: 100%;

}

#conteudo.menu-active{
	margin: 0;
	padding-left: $he-nav-width-gg;
	width: 100%;
}

#conteudo h2{
	font: 400 2rem/2rem "Open Sans", sans-serif, verdana;
	margin: 1rem auto;
	float: right;
	text-align: center;
	display: block;
	width: 100%;
}

.open-add-menu{
	background-color: #EEE;
	border: 1px solid #CCC;
	border-radius: 4px;
	font: 600 1rem/1.5rem "Open Sans", sans-serif, verdana;
	padding: 5px 8px;
	position: absolute;
	right: 15px;
	top: 15px;
}

#add-menu{
	@include transicao(0.8s);
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	right: 15px;
	top: 50px;
	z-index: 110;
}

#add-menu li{
	padding: 4px 10px;
}

#add-menu ul{
	color: #333;
	border-top: 1px solid #000;
	padding: 5px 15px 5px 10px;
}

#add-menu ul li{
	color: #000;
	font: 400 0.8rem/1.7rem "Open Sans", sans-serif, verdana;
	margin-left: -5px;
}

#add-menu a{
	font: 400 1rem/2rem "Open Sans", sans-serif, verdana;
}

#add-menu.active{
	background-color: #EEE;
	border-color: #CCC;
	max-height: 200px;
}

#add-menu.active li{
	border-top: 1px solid #EEE;
}

#add-menu li:last-child{
	border-top: none;
}

@media screen and (max-width: 440px){
	.multiSelect .checkboxLayer{
		left: -75px
	}
}

////
// Bootstrap
////
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}


fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;

}
input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.forme-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}
.breadcrumb {
  padding: 4px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
	color: #fff;
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.28);
}
.breadcrumb > li {
  display: inline-block;
	font-size: 14px;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: rgba(255, 255, 255, 0.49);
}
.breadcrumb .active a{
	font-style: italic;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }


}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
      }


}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

/*Helpers Create by Davi*/
main{
	margin-top: 70px !important
}
* i:hover{
	cursor: pointer;
}
.title-group{
	text-align: center;
}
.title-group i{
		border-radius: 100%;
		border: 8px solid;
		padding: 20px;
}
.edit-group	input{
		background-color: transparent;
		border: none;
		font-size: 25px;
		width: 100%;
		text-align: center;
		color: black;
	}
.edit-group	button{
		padding: 11px;
		font-size: 16px;
		width: 49%;
		margin-top: 20px;
	}

.inputFocus{
	border: 1px solid #ccc !important;
}

.icon-back{
	z-index: 1;
	border: 1px solid;
	border-radius: 8px;
	cursor: pointer;
}

.icon-back svg{
	height: 24px;
	width: 24px;
}
.emp-img{
	text-align: center;
}

.emp-img img{
	width: 50%;
}
.emp-img-hover{
	background-color: #333;
	position: absolute;
	width: 46.5%;
	height: 98%;
	left: 27%;
	top: 0;
	opacity: 0;
	border-radius: 100%;
}
.emp-img-hover:hover{
	opacity: 0.9;
}
.emp-img-hover i{
		font-size: 100px;
		top: 14%;
		left: 39%;
}
.emp-img-hover .col-md-12{
	height: 100%;
	padding: 0;
	margin: 0 !important;
	border-radius: 100%;
}
.emp-img-hover .upload{
		background: url(../img/upload.png) no-repeat;
		background-size: 80%;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-position: center;
}
.emp-img-hover input{
			display: block !important;
			width: 100% !important;
			height: 100% !important;
			opacity: 0 !important;
			overflow: hidden !important;
			cursor: pointer;
}
#emp-buttons{
	height: 100%;
	z-index: 1;
}
.form-new-group{
	margin-top: 70px !important;
}

.menu_company{
	background-color: #fff;
	height: 100%;
	padding-top: 70px;
	width: 25%;
	box-shadow: 5px 5px 50px #000;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 99;
}

.menu_company  h3{
	color: black !important;
	text-align: center !important;
	margin-top: 10px !important;
}
.grid-buttons{
	padding: 10px 15px;
	width: 75%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	transition: right 1s;

}

#emp-header .menu_company .col-md-12 {
    margin-top: 10px;
}

.emp-img-out{
	text-align: center;
}

.emp-img-out i{
	font-size: 223px;
	color: black
}

#button-menu-side{
			padding: 10px 15px;
			border: none;
			background: rgba(28, 66, 77, 0.62);
			font-size: 25px;
			display: none;
			outline: none;
}

.menuVisible{
			margin-left: 0 !important;
			-webkit-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}

input:focus{
	-webkit-box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.5);
	box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.5) !important;
	outline:none;
}

@media screen and (max-width: 1024px){

	.breadcrumb{
		display: none;
	}

	.menu_company{
			margin-left: -80%;
			width: 80% !important;
			top: 0;
			overflow: auto;
			transition: margin-left 1s;
	}
	.grid-buttons{
		width: 100% !important;
	}

	.icon-back{
		display: none;
	}

	.gridRight{
			right: -90%;
			transition: right 1s;
	}

	.menuLeft{
		left: 80% !important;
		top: 0 !important;
		margin-top: 20% !important;
		transition: margin-top 1s;
		box-shadow: 1px 1px 5px 4px rgba(251, 251, 251, 0.29);
	}

	.edit-group	button{
			width: 100% !important;
		}
@media screen and (max-width: 480px){
	.form-new-group button{
		width: 100% !important;
		float: none !important;
		margin-top: 5px !important;
	}
	.emp-img-out i{
		font-size: 140px !important;
	}
}
@media screen and (max-width: 960px) and (orientation: landscape) {
	.menuLeft{
		margin-top: 6.75% !important
	}

	.emp-img img{
		width: 50% !important;
		margin-top: 70px;
	}
	.emp-img{
		text-align: center;
	}
	.menu_company{
		overflow: auto;
	}
}

	#button-menu-side{
			position: fixed;
			top: 60px;
			left: 0;
			z-index: 9999;
			color: #fff;
			display: block !important;
	}
}

.text-center{
	text-align: center;
	margin-bottom: 20px;
}
.text-right{
	text-align: right;
}

.breadcrumb-historia{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 200px;
	margin-bottom: -5px;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
/*Telas de Help*/
#modal{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.89);
	z-index: 99999999999;
}

#modal .container{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

#modal .container button{
	background: #fff;
	border: none;
	padding: 11px;
	font-size: 17px;
	border-radius: 5px;
	position: absolute;
	bottom: -60px;
	right: 200px;
}
#modal .container .helena{
	float: right;
	max-height: 300px;
	display: inline-block;
}

#modal .container	.descricao{
	color: #fff;
	display: inline-block;
	width: 75%;
	text-align: justify;
	background: rgba(180, 173, 173, 0.68);
	font-weight: 700;
	padding: 15px;
	border-radius: 15px;
	float: left;
}

@media screen and (max-width: 768px){
	#modal .container	.descricao{
		width: 100%;
	}
}

@media screen and (max-width: 480px){
	#modal{
		overflow: auto;
	}
	#modal .container{
		transform: translateY(-30%);
	}
	#modal .container .helena{
		float: none;
		height: 200px;
	}
	#modal .container .col-md-3{
		width: 100%;
		text-align: center;
	}

	#modal .container .col-md-9{
		width: 100%;
		text-align: center;
		padding: 0;
	}

	#modal .container	.descricao{
		font-size: 12px;
	}
	#modal .container button{
		position: inherit !important;
		right: auto !important;
		bottom: 10px !important;
		top: 10px;
	}
}

.personagens img{
	max-height: 300px;
	float: right;
}
.personagens-texto{
	padding: 7% 5%;
	text-align: center;
}

.help{
	float: right;
	line-height: 0.8;
	font-size: 30px;
}

.menu_company .info-historia *{
		color: black !important;
		font-style: normal !important;
	}
/*Animations*/

/*Wysiwyg*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
.wysiwyg-select {
	 height: 30px;
	 font-size: 13px;
	 margin-bottom: 1px;
 }
	.wysiwyg-menu .btn-group{
	    position: relative;
	    display: inline-block;
	    vertical-align: middle;
	}
	.wysiwyg-menu {
		text-align: center;
		margin-top: 3%;
		margin-bottom: 5px;
	}
	wysiwyg-btn .group-margin {
	    margin-right: 5px;
	}
	.btn-sm, .btn-group-sm>.btn {
	    padding: 5px 10px;
	    font-size: 12px;
	    line-height: 1.5;
	    border-radius: 3px;
	}
@media screen and (max-width: 600px){
	.wysiwyg-menu {
		display: none !important
	}
}
/*Editor de Texto END*/

.actionsBrainstorm{
	padding: 0 !important
}

/*Listagem de Usuários*/
#conteudo-lista{
	background-color: #fff;
	height: 45px;
	margin-top: 5px !important;
	box-shadow: 7px 7px 25px 0px rgba(29, 25, 25, 0.63);
	webkit-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.63);
	moz-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.63);
}

#conteudo-lista div{
	float: left;
}
#conteudo-lista .lista-imagem, .lista-icone{
	text-align: center;
	width: 10%;
	padding: 3px;
}
#conteudo-lista .lista-imagem img{
	width: 32px;
	height: 32px;
	border-radius: 100%;
	margin-top: 4px;
}

#conteudo-lista .lista-info{
	padding: 5px;
	line-height: 1.2;
	width: 70%;
	right: -1px;
}

#conteudo-lista .lista-info h3{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 600;
}
#conteudo-lista .lista-info h4{
	font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
}

#conteudo-lista, .lista-usuario-perfil, .lista-usuario-editar{
	padding: 0;
}

#conteudo-lista .lista-botoes{
	width: 20%;
}

#conteudo-lista .lista-botoes button{
	width: 50%;
	float: left;
}

#conteudo-lista .btn{
	height: 45px;
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
  font-size: 22px;
  border: none;
  cursor: pointer;
  float: right;
	outline: none;
}

#conteudo-lista .btn-lista-sucesso{
	background: rgb(124, 154, 133);
}

#conteudo-lista .btn-lista-delete{
	background: rgb(236, 99, 99);
}
/*Trocar icone do botão deletar
#conteudo-lista .btn-lista-delete .fa-user-times:before{
	content: "\f03d" !important;
}
*/

#conteudo-lista .btn-usuario{
	background: red !important;
}

#conteudo-lista .lista-usuario-editar{
	width: 5%;
}

@media screen and (max-width: 480px){
	#conteudo-lista .lista-imagem{
		width: 15% !important;
	}
	#conteudo-lista .lista-info {
		width: 60% !important;
	}
	#conteudo-lista .lista-info h3{
		font-size: 14px;
	}
	#conteudo-lista .lista-botoes{
		width: 25% !important;
	}
	#conteudo-lista .lista-usuario-editar .button-delete {
		height: 44px !important;
	}
	#conteudo-lista .lista-usuario-editar {
    width: 20%;
	}
	#conteudo-lista .lista-usuario-botao{
		width: 15% !important;
	}
	.padding-defaut{
		padding: 0 !important;
	}
}

@media screen and (max-width: 768px){
	#conteudo-lista .lista-imagem, .lista-usuario-editar {
		width: 10%;
	}
	#conteudo-lista .lista-info {
		width: 74%;
	}
	#conteudo-lista .lista-usuario-botao{
		width: 10%;
	}
}

@media screen and (min-width: 1366px){
	#conteudo-lista .lista-imagem{
		width: 5% !important;
	}
	#conteudo-lista .lista-info {
		width: 79% !important;
	}
	#conteudo-lista .lista-botoes{
		width: 16% !important;
	}
}

/*Lista de Brainstorms*/
#conteudo-lista .lista-icone i{
	color: #A7A7A7;
	font-size: 32px;
	background: #EFEFEF;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	margin-top: 3px;
}

#conteudo-lista .lista-info-brainstorm{
	width: 70%;
	padding-left: 15px;
}

#conteudo-lista .lista-info-brainstorm h4{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 400;
	color: black;
	line-height: 3;
}
#conteudo-lista .icone-brainstorm{
	width: 7% !important;
}
#conteudo-lista .lista-botoes-brainstorm{
	width: 23%;
}

#conteudo-lista .lista-botoes-brainstorm button{
	width: 50%;
	float: left;
	height: 45px;
	font-size: 22px;
	border: none;
	color: rgba(255, 255, 255, 0.75);
	outline: none;
}

#conteudo-lista .btn-lista-info{
	background-color: rgb(208, 184, 101);
}

@media screen and (max-width: 480px){
	#conteudo-lista .lista-info-brainstorm{
		width: 70%;
		padding-left: 25px;
	}

	#conteudo-lista .lista-botoes-brainstorm{
		width: 25%;
	}

	#conteudo-lista .lista-info-brainstorm h4{
		font-size: 13px;
		line-height: 3.5;
	}
}

/*Modal*/

#modal-info{
	height: 215px;
  background: #d0b865;
  color: #fff;
}

#modal-info img{
	border-radius: 100%;
	margin-top: 10px;
}
#modal-confirm {
	background: #fff;
  padding: 10px 5px;
	border-radius: 3px;
}

#modal-confirm p {
	text-align: center;
}
#modal-confirm .btn-modal-group{
	width: 100%;
	text-align: center;
	padding: 5px 0;
}

#modal-confirm .btn-modal{
	padding: 5px;
	font-size: 16px;
	border: none;
	color: #fff;
	cursor: pointer;
	outline: none;
}

#modal-confirm .btn-confirm{
	background: #7c9a85;
}

#modal-confirm .btn-cancel{
	background: #ec6363;
}

#modal-confirm .btn-modal i{
	font-size: 16px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
    border-radius: 100% !important;
    color: #fff !important;
    background: #ec6363 !important;
    line-height: 1.3 !important;
}

@keyframes animation-btn-excluir-brainstorm{
	0% {width: 0;}
	100% {width: 15%; }
}
@keyframes animation-icone-excluir-brainstorm{
	0% {
		-ms-transform: rotate(0deg); /* IE 9 */
	 	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	 	transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(90deg); /* IE 9 */
	 	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	 	transform: rotate(90deg);
	}
}
