#historias-projeto
  h2, h3, h4, p, strong, span
    color: #fff
  h5
    color: white
    font-style: italic
    font-family: monospace  
  
  .fa-doc
    font-size: 3rem
    text-align: center
    margin: auto
    padding: 20px 0 0 3px
    width: 100%
  .doc
    display: inline-block
    cursor: pointer
    margin-left: 20px  

  .text
    text-align: center
    margin: auto
    padding: 10px 0
    width: 100%
    font-size: 15px
    display: inline-block
    cursor: pointer

  .doc-circle
    color: white
    border-bottom: 5px solid
    border-top: 5px solid
    border-left: 5px solid
    border-right: 5px solid
    border-radius: 100%
    width: 100px
    height: 100px

  .brainstorms
    background: rgba(255, 255, 255, 0.28)
    margin-top: 15px
    padding-top: 15px
    padding-bottom: 15px

    .col-md-12, .col-xs-12
      padding: 0

  .comentarios
    margin-top: 20px

  .separador
    padding-top: 25px
    padding-bottom: 25px

  .acao
    .col-md-6
      text-align: center
      padding: 10px 0
  .canvas
    .col-md-2
      width: 20%
    h4
      text-align: center
      background: #fff
      color: black
      display: inline-block
      width: 100%

    .text-center
      background: transparent !important
      color: #FFF !important

    .itens-canvas
      background: rgba(255, 255, 255, 0.28)

      ul
        li
          margin: 5px 0
          padding: 5px
          box-shadow: 1px 1px 3px #000
          font-style: italic
          color: #fff
    .btn-save
      float: right
      background: transparent
      color: #fff
      border: 1px solid #ccc
      border-radius: 5px
      margin-top: 20px

@media screen and (max-width: 1024px)
  #historias-projeto
    .col-md-2
      width: 100% !important
      padding-top: 20px
      padding-bottom: 20px

    .col-md-6
      padding: 0
