#plano-acao
  height: 100%

  section
    height: 100%  

  h2, h4, span, strong
    color: #fff

  .title
    line-height: 3

  .col-md-6
    margin-top: 20px

  .plano
    background: rgba(255, 255, 255, 0.28)
    padding: 10px 0

    .col-md-12
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      color: #FFF

  span
    display: inline

  .plano-add
    text-align: center
    i
      border: 1px solid
      padding: 11px
      border-radius: 100%
      float: right
  .historias-helena
    max-height: 350px
    margin: -25%

  .div-helena-geral
    padding: 7% 5%
    text-align: center

  .div-helena-texto
    padding-top: 5%
    float: right
    text-align: justify
    font-size: 0.9em
    color: white

    h1
      padding-bottom: 1

  .tool-tip
    background: #1C424D
    color: #FFF
    border-radius: 5px
    padding: 5px
    top: 10px
    right: 95px
    position: absolute

  .icons-edit
    position: absolute
    right: 6px
    color: #fff
    line-height: 0
    font-size: 20px
    background: rgba(255, 255, 255, 0.37)
    padding: 5px
    top: 6px
    z-index: 99999

    .fa-pencil-square-o
      top: 2px
@media screen and (max-width: 480px)
  #plano-acao
    .col-md-6
      padding: 0

    .container-plano
      padding: 0

    .plano-add
      text-align: center
      margin: 0

    .icons-edit
      position: inherit
      float: none
      display: inline-block
      width: 100%
      right: 0
      top: -10px
      text-align: center
