#con-historia
	height: 100%

	#emp-header
		height: 100%

		h3
			cursor: pointer
			color: #fff

		strong
			color: #fff
			padding-left: 15px
			display: inherit

			span
				font-weight: 200

	h2
		color: #fff

	.button-disabled
		color: #777 !important
		cursor: not-allowed !important

	.col-md-9
		margin-top: 1%

	.icon-back
		font-size: 2em
		color: white

	.menu_company
		text-align: center
		box-shadow: 5px 5px 50px #000
		h2
			i
				border: 8px solid
				padding: 25px 35px 25px 35px
				border-radius: 100%

	.bt-config
		h2
			color: black !important

	.description-history
		h2
			color: #fff
			margin-top: 5%
			margin-bottom: 5%
			font: 400 1.5rem/1.5rem "Open Sans", sans-serif, verdana
		p
			color: #fff
			text-align: justify
			font-size: 16px
			font-weight: 200
			line-height: 1.6
			padding: 8px

		button
			width: 100%
			padding: 11px
			background: rgba(0, 0, 0, 0.31)
			border: none
			color: #fff
			font-size: 19px

	.buttons-history
		h2
			i
				border: 8px solid
				border-radius: 100%
				padding: 25px
				color: #fff

			.circle-correct-brainstorm
				padding-right: 40px
				padding-left: 40px

			.circle-correct-docs
				padding-right: 32px
				padding-left: 32px

			.fa-pencil
				padding-left: 30px !important
				padding-right: 30px !important

		h3
			text-align: center
			color: #fff

#img-modal
	.img-historia
		width: 100%

@media screen and (max-width: 960px)
	#con-historia
		.buttons-history
			.col-md-6
				width: 50%
				float: left
@media screen and (max-width: 480px)
	#con-historia
		.menu_company
			h2
				i
					padding: 20px 25px !important

		.circle-correct-brainstorm
			padding-right: 35px !important
			padding-left: 35px !important

		.col-xs-6
			padding: 0

		.circle-correct-docs
			padding-left: 32px !important
			padding-right: 32px !important

		.buttons-history
			h2
				.fa-pencil
					padding-left: 30px !important
					padding-right: 30px !important

				.fa-trophy
					padding-left: 28px !important
					padding-right: 28px !important

@media screen and (max-width: 380px)
	#con-historia
		h3
			font-size: 15px
