////
// CSS da Página da hitória
////
#con-historia
	.menu_company
		.ideia-parts
			font-size: 1.5em !important

	.h2
		color: white
		margin-top: 5%
		
	.back-icon
		font-size: 1em
		color: white
		margin-left: 2%
		float: left
		z-index: 1

	.encerra-hist
		padding-top: 15px

	#con-documentos
		color: black

	input
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		margin: 5px 10px
		text-indent: 10px
		width: calc(100% - 20px)

	.img-historia
		width: 130px
		height: 130px
		border-radius: 150px
		margin-left: 25px
		cursor: pointer

	#img-modal
		.img-historia
			width: 100%

	#his-header
		display: block
		margin: 15px auto 3rem
		width: 96%
		label
			display: block
			cursor: pointer
			float: left
			height: 210px
			margin: 5px 10px
			max-width: 50%
			max-height: 210px
			overflow: hidden
			width: 400px

			&.imagem
				width: initial
				height: initial

				.fa
					background-color: transparent
					border-color: transparent
					text-shadow: 1px 1px 2px #FFF, -1px -1px 2px #FFF
					bottom: 5px
					font-size: 2.5rem
					left: inherit
					line-height: 2.5rem
					height: inherit
					right: 15px
					top: inherit
					width: inherit
					z-index: 60

			img
				display: block
				margin: auto
				max-height: 210px
				max-width: 100%
				position: relative
				top: -25px
				z-index: 50

			.fa
				background-color: #EFEFEF
				border: 1px solid #000
				left: 0
				line-height: 200px
				font-size: 9rem
				height: 100%
				position: absolute
				text-align: center
				top: 0
				width: 100%
				z-index: 40

		p
			display: inline-block
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin: 2px 0
			vertical-align: top
			width: 100%
			color: white

		span
			display: inline-block
			margin: 10px 0
			font: 400 2rem/2rem "Open Sans", sans-serif, verdana

		h3
			display: inline-block
			font: 600 2rem "Open Sans", sans-serif, verdana
			margin: 2px 0
			text-align: center
			vertical-align: top
			width: 100%
			padding: 10px

		h2
			color: white

	#his-buttons
		.ideia-parts
			background-repeat: no-repeat
			background-size: contain
			background-position: center top
			display: inline-block
			height: 60px
			margin: 10px 0
			padding-top: 8px
			vertical-align: middle
			font-size: 2rem !important
			text-align: center

		.bt-config
			@include transicao(0.8s)
			display: inline-block
			border: 1px solid #ddd
			float: left
			margin: 3px
			width: calc(14% - 42px)

			&:hover
				background-color: #CCC

		.fa-icon

			text-align: center
			margin: auto
			color: white
			border: 10px solid
			padding: 20px
			border-radius: 100%
			margin-botton: -30px
		.fa
			font-size: 3.5rem
			text-align: center
			margin: auto
			padding: 15px 20px
			margin-top: 30%


		.text
			z-index: 9999999
		h3
			color: white
			text-align: center
@media screen and (max-width: 1920px)
	#con-historia
		#his-buttons
			.bt-config
				width: calc(14% - 55px)


@media screen and (max-width: 1366px)
	#con-historia
		#his-buttons
			.bt-config
				width: calc(14% - 42px)

@media screen and (max-width: 1200px)
	#con-historia
		#his-buttons
			.bt-config
				width: $art-pro-width

@media screen and (max-width: 960px)
	#con-historia
		#his-buttons
			.bt-config
				width: $art-middle-width

		#emp-header
			p
				width: 100%

@media screen and (max-width: 768px)
	#con-historia
		#emp-header
			label
				height: 250px
				margin: 10px 0
				max-width: 100%
				width: 100%

@media screen and (max-width: 520px)
	#con-historia
		#his-buttons
			.bt-config
				width: $art-large-width
