////
// CSS da Página de Ideias
////
#con-ideias
	color: white
	background: transparent
	height: 100%

	.divAba
		padding-right: 0px
		padding-left: 0px

	.title-historia
		color: #fff !important

	.abas
		text-align: center
		padding: 10px 0 10px 0
		margin-top: 25px
		cursor: pointer
		border-bottom: 1px solid
		background-color: rgba(255, 255, 255, 0.2)

	.aba-curso
		border-right: 1px solid
		border-radius: 10px 0 10px 0

	.aba-encerrada
		border-left: 1px solid
		border-radius: 0 10px 0 10px
	.aba-vencidas
		border-left: 1px solid
		border-right: 1px solid
		border-radius: 0 0 10px 10px
	.abaAtiva
		background-color: transparent

	.div-paginacao
		text-align: center

	.historias-helena
		max-height: 300px

	.div-helena-geral
		padding: 7% 5%
		text-align: center

	.div-helena-texto
		padding-top: 5%
		float: right
		text-align: justify
		font-size: 0.9em

		h1
			padding-bottom: 1%

	.form-control
		color: rgba(228, 228, 240, 0.7)
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0

	.row
		margin: 0
		padding: 0
		height: 100%

	.voltar
		fill: white
		float: left
		margin: 30px
		margin-left: 30px
		cursor: pointer
		width: 64px
		height: 64px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px

	#user-historias
		h2, h3, h4, h5
			color: #FFF
			text-align: center

	#emp-header
		display: block
		width: 100%
		height: 100%

		label
			display: block
			cursor: pointer
			float: left
			height: 210px
			margin-top: 30px
			max-height: 210px
			overflow: hidden
			width: 100%

			input
				width: 10px
				visibility: hidden
			&.imagem
				width: initial
				height: initial

				.fa
					background-color: transparent
					border-color: transparent
					text-shadow: 1px 1px 2px #FFF, -1px -1px 2px #FFF
					bottom: 5px
					font-size: 2.5rem
					left: inherit
					line-height: 2.5rem
					height: inherit
					right: 15px
					width: inherit


			img
				display: block
				margin: auto
				max-height: 210px
				max-width: 100%
				position: relative
				top: -25px
				z-index: 50

			.fa
				background-color: transparent
				border: 1px solid #000
				left: 0
				line-height: 200px
				font-size: 9rem
				height: 100%
				position: absolute
				text-align: center
				top: 0
				width: 100%
				z-index: 40
				color: black

		p
			display: inline-block
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin: 2px 0
			vertical-align: top
			width: 100%

		h2
			color: white

		h3
			display: inline-block
			margin: 10px 0
			color: black
			text-align: center

		h3
			display: inline-block
			margin: 2px 0
			text-align: center
			vertical-align: top
			width: 100%
			padding: 10px


		.menu_company
			background-color: white
			height: 100%
			box-shadow: 5px 5px 50px #000
		.icon-book
			color: black
			margin-top: 30%
			border: 8px solid
			border-radius: 100%
			margin-right: auto
			padding: 25px 30px
			cursor: pointer

		h4
			color: black
			text-align: center
			font-size: 26px
			cursor: pointer

	#emp-buttons
		.bt-config
			@include transicao(0.8s)
			margin: 10px
			background: transparent
			&:hover
				background-color: transparent

		.building
			font-size: 3.5rem
			text-align: center
			margin: auto
			color: white
			border: 8px solid
			padding: 20px 25px
			border-radius: 100%
			margin-botton: -30px

		.text
			text-align: center
			color: white
			margin: -21px 0 0 -5px

		.icon-circle
			padding-left: 25px
			padding-right: 25px

		.star
			margin-left: 1%

		.date
			margin-top: 10%

		.txt
			width: 100%
			display: inline-block
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden

		.filtre
			color: white
		.figure
			text-align: center

		.options
			background-color: rgba(159, 157, 157, 1)
			color: white

		.user-buttons
			display: block
			padding: 25px 0
			width: 100%
			margin-top: 10px

			.fa-icons
				font-size: 3rem
				text-align: center
				margin: auto
				padding: 15px 0
				width: 100%

			.text
				text-align: center
				margin: auto
				padding: 10px 0
				width: 100%
				font-size: 20px

			.cercle-icon
				color: white
				margin-left: calc(50% - 45px)
				margin-top: 50%
				border-bottom: 5px solid
				border-top: 5px solid
				border-left: 5px solid
				border-right: 5px solid
				border-radius: 100%
				width: 100px
				height: 100px

		#name-emp
			display: none

#main
	height: 100%
	overflow-y: hidden
	section
		height: 100%

@each $process in $ideias-process
	#con-ideias
		.art-ideia
			.#{$process}
				background-image: url(../img/ideia-#{$process}.png)

////
// Breakpoints
////
@media screen and (max-width: 1360px)
	#con-ideias
		.art-ideia
			.ideia-desc,
			.ideia-andamento
				height: auto
				text-align: center
				width: 100%

@media screen and (max-width: 768px)
	#con-ideias
		.art-ideia
			width: $art-large-width

#main
	overflow-y: auto

@media screen and (max-width: 768px)
	#con-ideias
		#emp-header
			label
				height: 250px
				margin: 10px 0
				max-width: 100%
				width: 100%

@media screen and (max-width: 520px)
	#con-empresa
		#emp-buttons
			.bt-config
				width: $art-large-width
////
// CSS da Página de Adicionar Ideias
////
#con-ideia-add
	margin: 40px 5%
	width: 90%


	.prioridade
		font-size: 25px
		padding-left: 0

	.left
		float: left
	.options-historia
		padding-top: 10px

		label
			margin: 10px 20px 0 0 !important

	#select
		select
			color: white
			border-radius: 1px
			background-color: rgba(0,0,0,0.1)

	option
		color: #000

	.btn-add-link
		top: 35px
		background: transparent
		color: white
		border: none
		font-size: 25px
		right: 20px

	.img-edita-historia
		border-radius: 150px
		margin-left: 10px

	.fa-floppy-o
		cursor: pointer
		font-size: 2rem

	.select-prioridade
		max-width: 100px
		max-heigth: 25px
		display: inline

	.fa-times-circle-o
		cursor: pointer

	.input-group
		display: block
		margin: 10px
		padding-left: 20px

		label
			display: inline
			margin: 5px

	.ideia-desc
		border: 1px solid #CCC
		background-color: #EEE
		padding: 10px 0

	.ideia-desc,
	.ideia-adds
		display: inline-block
		margin: 0 0.2%
		vertical-align: top
		width: 49%

	#lista-imagens
		padding: 5px 0px

		li
			display: inline-block
			list-style: none
			overflow: hidden

		img
			height: 100px
			width: 100px
			border-radius: 150px

		.excluir-icon
			position: absolute
			z-index: 100

	label
		display: block
		font: 400 1rem/1.5rem "Open Sans"
		margin: 5px auto
		width: 90%
		vertical-align: top


	.con-radio
		margin: 5px auto
		width: 90%

		label
			display: inline-block
			width: auto

	select,
	input[type=text]
		display: block
		font: 400 1rem/ "Open Sans"
		height: 2rem
		resize: none
		width: 100%

	input[type=file]
		height: 2rem
		overflow: hidden
		position: relative
		width: 114px
		padding-right: 48px

		&:before
			background-color: #CCC
			content: "Selecionar"
			cursor: pointer
			font: 400 1rem/2rem "Open Sans"
			display: block
			height: 2rem
			overflow: hidden
			text-align: center
			width: 114px

	.btn-toolbar
		.btn
			background-color: #FFF
			border: 1px solid #CCC
			border-radius: 0
			padding: 0.5rem 1rem
			vertical-align: middle
			white-space: nowrap

	table
		font: 400 1rem/1.5rem "Open Sans", sans-serif, arial, verdana
		margin: 10px auto
		width: 90%

	thead
		background-color: #CCC
		border: none
		text-align: left
		width: 100%

		th
			font: 600 1rem/2rem "Open Sans", sans-serif, arial, verdana
			text-indent: 15px

	tbody
		border-top: 1px solid #000

		tr
			background-color: #FFF
			border: 1px solid #000

		td
			font: 400 1rem/2rem "Open Sans", sans-serif, arial, verdana
			padding: 0 10px

			&:last-child
				font-size: 18px
				padding: 0 10px
				text-align: center

	.con-bt
		margin: 5px auto
		width: 90%

		button,
		.bt-cancel
			border: none
			box-shadow: 1px 1px 3px #333
			display: inline-block
			font: 400 1rem/2rem "Open Sans", sans-serif, arial, verdana
			height: 2rem
			cursor: pointer
			margin: 10px auto
			padding: 0 20px
			vertical-align: top

		button[type="submit"],
			background-color: #39d179

			&:hover
				background-color: #98E7B9

	color: white

	.forme-control
		color: white
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0

	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0

	.voltar
		fill: white
		float: left
		margin: 30px
		margin-left: 30px
		cursor: pointer
		width: 64px
		height: 64px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px
	.salvar
		fill: white
		float: right
		margin: 30px
		cursor: pointer
		width: 64px
		height: 67px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px
	.cancelar
		fill: white
		float: right
		margin: 30px
		cursor: pointer
		width: 64px
		height: 67px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px
	.options
		background-color: rgba(159, 157, 157, 1)
		background: transparent
#msg-status
	@include transicao(0.8s)
	display: inline-block
	font-size: 1rem
	margin: 10px auto
	margin-left: 15px
	line-height: 2rem
	height: 2rem
	padding: 0 10px
	vertical-align: top

////
// Breakpoints
////
@media screen and (max-width: 768px)
	#con-ideia-add
		.ideia-desc,
		.ideia-adds
			margin: 5px 0
			width: 100%

		#cke_ck-editor,
		select,
		textarea,
		input[type=text]
			width: 100% !important

////
// Histórias Equipe
////

#con-ideia-equipe
	margin: 40px 15px

	.linkGrupos
		cursor: pointer

	.grupo-mark
		background: rgba(255, 255, 255, 0.28)
		display: block
		padding: 0 10px
		color: #fff
		border-radius: 100px

	.div-paginacao
		i.fa
			font-size: 100px
			border: 0
			width: 219px
			height: 142px
			padding: 22px 25px
			background: #e4e4f0
			color: #073744
			margin-bottom: 6px
			border-radius: 0%

	.na-equipe,
	.fora-equipe
		background: #EEE
		border: 1px solid #CCC
		display: inline-block
		margin: 0 0.2%
		padding: 15px
		width: 49%
		vertical-align: top

		h3
			font: 400 1.5rem/2rem "Open Sans", sans-serif, arial, verdana

		table
			border: 1px solid #CCC
			margin: 15px 0
			width: 100%

		input
			font: 400 1rem/1.5rem "Open Sans", sans-serif, arial, verdana
			text-indent: 10px
			width: 100%

		tr
			background-color: #FFF
			border: 1px solid #CCC
			font: 400 1rem/2rem "Open Sans", sans-serif, arial, verdana
			margin-top: 5px
			text-indent: 10px
			width: 100%

			&:nth-child(even)
				background-color: #F4F4F4

		th
			text-align: left

		.bt
			border: none
			color: #FFF
			font: 200 1.2rem/2rem "Open Sans", sans-serif, arial, verdana
			left: 0
			margin-top: -46px
			padding: 0 10px

		.bt-success
			background-color: #2ecc71

		.bt-error
			background-color: #EF4836

	.user-img
		display: inline-block
		height: 70px
		vertical-align: top
		width: 70px

		img
			max-height: 100%
			max-width: 100%

	.user-info
		display: inline-block
		font: 200 1.2rem/2rem "Open Sans", sans-serif, arial, verdana
		height: 70px
		margin-left: 15px
		vertical-align: top
		width: calc(100% - 100px)

@media screen and (max-width: 950px)
	#con-ideia-equipe
		.na-equipe,
		.fora-equipe
			margin-bottom: 10px
			width: 100%

@media screen and (max-width: 480px)
	#con-ideias
		#emp-header
			h3
				font-size: 17px !important

		.add-historia
			margin-top: -55px !important

			.col-md-12
				margin-top: 0 !important

			h2
				margin: 10px 0 !important
