#con-inicial
	height: 100%
	margin-top: 60px !important
	
	p
		color: #073744
		margin: 0 0 35px
		line-height: 1.6
		display: block
		-webkit-margin-before: 1em
		-webkit-margin-after: 1em
		-webkit-margin-start: 0px
		-webkit-margin-end: 0px
		text-align: center

	#btn-down-page-inicial
		animation: animation-btn-down-page-inicial 5s ease infinite

	h4
		color: #073744
		text-transform: uppercase
		font-size: 16px
		margin: 0 0 35px
		font-weight: 700
		letter-spacing: 1px
		line-height: 1.1
		box-sizing: border-box
		display: block
		-webkit-margin-before: 1.33em
		-webkit-margin-after: 1.33em
		-webkit-margin-start: 0px
		-webkit-margin-end: 0px

	.fa-facebook-square
		font-size: 40px
		margin: 10px
		cursor: pointer

	.fa-google-plus-square
		font-size: 40px
		margin: 10px
		cursor: pointer

	.space
		margin-top: 40px

	.container
		padding-right: 15px
		padding-left: 15px
		margin-right: auto
		margin-left: auto


	.header-img
		position: relative
		height: 100%
		width: 100%

		.img-logo
			vertical-align: middle
			width: 220px
			height: 220px
			margin-top: -3%

		.logo-title
			position: relative
			top: 50%
			transform: translateY(-50%)
			text-align: center
		.arg   
			font: 400 1.5rem/1.5rem "Open Sans", sans-serif, verdana
			margin-top: 1px
		.color
			color: black
		.next

			display: block
			margin: 0 auto 80px
			left: 0
			right: 0
			bottom: 0
			cursor: pointer

		.img-fundo
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			background: url(../img/bg-inicial-1.jpg) 0 0 no-repeat
			z-index: -1
			background-size: cover

		.titulo-inicial
			width: 100%
			text-align: center
			font-size: 70px
			text-transform: uppercase
			color: #25253f
			letter-spacing: -2px



		.btn-inicial
			color: #fff
			padding: 15px
			font-size: 15px
			background: rgba(51, 51, 51, 0.5)
			border: none
			border-radius: 4px
			cursor: pointer

	.part-noticias
		padding: 80px 0 100px 0
		color: #073744
		background: linear-gradient(to bottom, #ccccdf 0%, #e4e4f0 10%, #e4e4f0 90%, #d4d4e4 100%)
		text-align: center

		i.fa
			font-size: 100px
			border: 0
			width: 219px
			height: 142px
			padding: 22px 25px
			background: #e4e4f0
			color: #073744
			margin-bottom: 6px
			border-radius: 0%

		.div-paginacao
			display: inline-block

		i.fa
			font-size: 100px
			border: 0
			width: 219px
			height: 142px
			padding: 22px 25px
			background: #e4e4f0
			color: #073744
			margin-bottom: 6px
			border-radius: 0%

	.cab-sec
		hr
			height: 3px
			width: 60px
			position: relative
			background: #829ca3
			border: 0
			margin-bottom: 30px
			margin-top: 20px
			box-sizing: content-box
			text-align: center
			display: block
			-webkit-margin-before: 0.5em
			-webkit-margin-start: auto
			-webkit-margin-end: auto

	.info-noticias
		width: 25%
		float: left
		position: relative
		padding: 0 15px 0 15px
		color: #073744
		text-align: center


	.part-trei
		padding: 80px 0
		text-align: center
		box-sizing: border-box
		display: block
		color: #1c424d
		font-size: 14px


		.div-paginacao
			position: relative
			margin-top: 30%

		.treinamentos
			float: left
			position: relative
			padding: 10px
			color: #073744
			text-align: center

			img
				border: solid 2px #CCC

	.part-sobre
		padding: 80px 0 100px 0
		background: linear-gradient(to bottom, #ccccdf 0%, #e4e4f0 10%, #e4e4f0 90%, #d4d4e4 100%)

		i.fa
			font-size: 100px
			border: 0
			width: 219px
			height: 142px
			padding: 22px 25px
			background: #e4e4f0
			color: #073744
			margin-bottom: 6px
			border-radius: 0%

		.about-portal
			text-align: center

	.part-login
		padding: 80px 0 80px 0
		background: url(../img/testimonials-bg.jpg)
		background-size: cover
		background-attachment: fixed
		color: #5b777f
		text-align: center
		display: block

		p
			font-size: 18px
			color: #5b777f

		.master-form
			visibility: visible
			animation-delay: 400ms
			animation-name: fadeInUp
			width: 100%
			float: left
			position: relative
			min-height: 1px
			padding-right: 15px
			padding-left: 15px

			form
				display: block
				margin-top: 0em

		.row-form-login
			margin-right: -15px
			margin-left: -15px
			display: table
			clear: both
			font-size: 14px
			line-height: 1.42857143
			width: 100%

			input
				display: block
				left: 25%
				margin: 10px
				width: 50%
				padding: 6px 12px
				font-size: 14px
				line-height: 1.42857143
				color: #555
				background-color: transparent
				background-image: none
				border: 1px solid #ccc
				border-radius: 2px
				box-shadow: none
				transition: none
				-webkit-appearance: textfield
				-webkit-rtl-ordering: logical
				-webkit-user-select: text
				cursor: auto
				text-rendering: auto
				letter-spacing: normal
				word-spacing: normal
				text-transform: none
				text-indent: 0px
				text-shadow: none
				-webkit-writing-mode: horizontal-tb

		.btn-login
			color: #858591
			background: transparent
			margin: 0 8px
			font-size: 15px
			transition: all 0.5s
			border: 1px solid #ffffff
			font-weight: 400
			display: inline-block
			padding: 5px 24px
			line-height: 1.42857143
			text-align: center
			white-space: nowrap
			vertical-align: middle
			touch-action: manipulation
			cursor: pointer
			-webkit-user-select: none
			-webkit-appearance: button
			overflow: visible
			font: inherit
			box-sizing: border-box
			align-items: flex-start
			letter-spacing: normal
			word-spacing: normal
			text-indent: 0px
			text-shadow: none
			text-rendering: auto

	.part-contato
		background: linear-gradient(to bottom, #ccccdf 0%, #e4e4f0 25%, #e4e4f0 75%, #ccccdf 100%)
		padding: 80px 0 20px 0
		color: #1c424d

		h3
			font-size: 20px
			font-weight: 400
			margin: 0 0 35px
			text-transform: uppercase
			letter-spacing: 1px
			line-height: 1.1
			color: inherit

		.fa-contato
			color: #1c424d
			margin-bottom: 10px
			font-size: 2em
			display: inline-block
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			transform: translate(0, 0)
			left: calc(50% - 16px)

		.info-contato
			visibility: visible
			animation-delay: 200ms
			animation-name: fadeInUp
			animation-duration: 1s
			animation-fill-mode: both
			margin-left: 16.66666667%
			width: 66.66666667%
			float: left
			position: relative
			min-height: 1px
			padding-right: 15px
			padding-left: 15px
			box-sizing: border-box
			margin-top: 20px

			.icons-contato
				float: left
				position: relative
				min-height: 1px
				padding-right: 15px
				padding-left: 15px

				p
					font-size: 13px
					margin: 0 0 35px
					line-height: 1.6

		.form-contato-cont
			visibility: visible
			animation-delay: 400ms
			animation-name: fadeInUp
			animation-duration: 1s
			animation-fill-mode: both
			margin-left: 16.66666667%
			width: 66.66666667%
			float: left
			position: relative
			min-height: 1px
			padding-right: 15px
			padding-left: 15px
			box-sizing: border-box
			text-align: center

			.form-contato
				padding: 30px 0
				box-sizing: border-box
				display: block
				margin-top: 0em
				visibility: visible
				text-align: center
				-webkit-font-smoothing: antialiased !important
				color: #1c424d
				font-size: 14px
				line-height: 1.42857143

				.button-contato
					color: #1c424d
					background: transparent
					margin: 0 8px
					font-size: 15px
					transition: all 0.5s
					border: 1px solid #ffffff
					font-weight: 400
					display: inline-block
					padding: 5px 24px
					line-height: 1.42857143
					text-align: center
					white-space: nowrap
					vertical-align: middle
					touch-action: manipulation
					cursor: pointer
					-webkit-user-select: none
					-webkit-appearance: button
					overflow: visible
					font: inherit
					box-sizing: border-box
					align-items: flex-start
					letter-spacing: normal
					word-spacing: normal
					text-indent: 0px
					text-shadow: none
					text-rendering: auto
					margin-top: 50px

				.row-contato
					box-sizing: border-box
					visibility: visible
					display: block
					text-align: center
					-webkit-font-smoothing: antialiased !important
					color: #1c424d
					font-size: 14px
					line-height: 1.42857143
					box-sizing: border-box
					clear: both
					display: table
					content: " "
					box-sizing: border-box
					text-shadow: none
					width: 100%

					.col-contato
						width: 50%
						float: left
						position: relative
						min-height: 1px
						box-sizing: border-box
						display: block
						text-align: center
						visibility: visible
						-webkit-font-smoothing: antialiased !important
						color: #1c424d
						font-size: 14px
						line-height: 1.42857143

						.form-group
							margin-bottom: 15px
							display: block
							visibility: visible
							-webkit-font-smoothing: antialiased !important
							color: #1c424d
							font-size: 14px
							line-height: 1.42857143
							text-shadow: none

							.form-control
								display: block
								width: 98%
								padding: 6px 12px
								font-size: 14px
								line-height: 1.42857143
								color: #555
								background-color: #fff
								background-image: none
								border: 1px solid #ccc
								border-radius: 2px
								box-shadow: none
								transition: none
								margin: 0
								font: inherit
								box-sizing: border-box
								-webkit-appearance: textfield
								-webkit-rtl-ordering: logical
								-webkit-user-select: text
								cursor: auto
								letter-spacing: normal
								word-spacing: normal
								text-transform: none
								text-indent: 0px
								text-shadow: none
								text-align: start
								text-rendering: auto
								-webkit-writing-mode: horizontal-tb
								visibility: visible

							.fc-email
								margin-left: 5px

	textarea
		height: auto
		width: 100%
		overflow: auto
		margin: 0
		font: inherit
		box-sizing: border-box
		-webkit-appearance: textarea
		-webkit-rtl-ordering: logical
		-webkit-user-select: text
		flex-direction: column
		resize: auto
		cursor: auto
		white-space: pre-wrap
		word-wrap: break-word
		text-rendering: auto
		letter-spacing: normal
		word-spacing: normal
		text-transform: none
		text-indent: 0px
		text-shadow: none
		text-align: start


@media screen and (min-width: 1200px)
	#con-inicial

		.part-noticias
			height: 800px

@media screen and (max-width: 360px) and (min-height: 640px)
	.info-contato
		.email
			display: inline-block !important
			margin-left: -23px !important

@media screen and (max-width: 320px) and (min-height: 480px)
	.info-contato
		.email
			display: inline-block !important
			margin-left: -35px !important


@media screen and (max-width: 480px)
	#con-inicial
		.header-img
			.titulo-inicial
				font-size: 31px
				left: 0
				width: 100%
				text-align: center
				top: 52%

			.img-logo
				width: 150px
				height: 150px

		.row-form-login
			input
				left: 0 !important
				width: 100% !important

		.form-contato-cont
			margin-left: 0 !important
			width: 100% !important

			.col-md-12
				padding: 0 !important

			.col-md-6
				padding: 0 !important
