////
// CSS da Página de Adicionar Notícias
////
#con-noticia-add
	margin: 40px 5%
	width: 90%

	label,
	.radio
		display: block
		font: 400 1rem/1.5rem "Open Sans"
		margin: 5px auto
		width: 80%
		vertical-align: top

	.radio label
		display: inline-block
		width: auto
	
	#cke_ck-editor
		width: 90% !important

	select,
	textarea,
	input[type=text]
		display: block
		font: 400 1rem/2rem "Open Sans"
		height: 2rem
		resize: none
		width: 90%

	textarea
		padding: 10px
		font: 400 1rem/1.4rem "Open Sans"
		height: 4rem

	input[type=file]
		height: 2rem
		overflow: hidden
		position: relative
		width: 114px

		&:before
			background-color: #CCC
			content: "Adicionar"
			cursor: pointer
			font: 400 1rem/2rem "Open Sans"
			display: block
			height: 2rem
			overflow: hidden
			text-align: center
			width: 114px

	.btn-toolbar
		.btn
			background-color: #FFF
			border: 1px solid #CCC
			border-radius: 4px
			padding: 0.5rem 1rem
			vertical-align: middle
			white-space: nowrap

	.con-bt
		margin: 5px auto
		width: 80%

		button,
		.bt-cancel
			border: none
			box-shadow: 1px 1px 3px #333
			cursor: pointer
			display: inline-block
			font: 400 1rem/2rem "Open Sans"
			height: 2rem
			margin: 10px auto
			padding: 0 20px
			vertical-align: top

		button[type="submit"],
			background-color: #39d179

			&:hover
				background-color: #98E7B9

		.bt-cancel
			margin-left: 15px
			background-color: #e67e22

			&:hover
				background-color: #EDA25C

#msg-status
	@include transicao(0.8s)
	display: inline-block
	font-size: 1rem
	margin: 10px auto
	margin-left: 15px
	line-height: 2rem
	height: 2rem
	padding: 0 10px
	vertical-align: top

////
// Breakpoints
////
@media screen and (max-width: 768px)
	#con-noticia-add
		label,
		.radio
			width: 100%

		#cke_ck-editor,
		select,
		textarea,
		input[type=text]
			width: 100% !important