////
// CSS da Pagina de noticia
////
#con-news
	padding: 0 5%

	.breadcrumb
		color: #000

	p
		margin: 15px auto
		text-align: justify

	img
		float: left
		margin: 0 15px 10px
		max-width: 50%

	#con-autor
		float: left
		padding-top: 2rem
		padding-bottom: 2rem
		width: 100%

		p
			font: 400 0.9rem/1.2rem "Open sans", sans-serif, verdana
			margin: 0 15px

#con-noticias
	float: left
	width: 100%

@media screen and (max-width: 960px)
	#con-news
		img
			margin: 15px auto
			max-width: 100%
