#con-plano-acao
  color: white  

  textarea
    border-radius: none
    box-shadow: 0px 0px 7px #666
    font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
    height: 100px
    padding: 5px 10px
    resize: none
    width: 100%

  .brainstorms
    background: #fff
    margin-bottom: 5px
    padding: 4px
    color: #000

  .button-atv
    font-size: 1em
    text-align: right
    margin: auto
    color: white
    border: 8px solid
    padding: 20px 25px
    border-radius: 100%
    margin-bottom: -30px

  .text
    text-align: right
