////
// CSS da Página de Projetos
////
#con-projetos
	h2
		text-indent: 15px
		text-align: left

	.art-pro
		@include transicao(0.8s)
		background: #EEE
		box-shadow: 3px 3px 7px map-get($color, art-box-shadow)
		float: left
		margin: 0 10px
		margin-bottom: 20px
		width: $art-pro-width

		&:hover
			background-color: #CCC

		h3
			line-height: 4rem
			text-indent: 15px
			margin-bottom: -15px  

		.pro-percent
			float: right
			margin-top: -27px
			margin-right: 15px

		.pro-cont
			display: block
			background-color: #FFF
			background-image: none
			box-shadow: 1px 1px 7px map-get($color, art-box-shadow)
			margin: 15px 5%
			padding: 10px 15px
			width: 90%

		.pro-desc
			line-height: 2.5rem

		.pro-prog
			width: 90%
			margin: 0 0 10px 5%

////
// Breakpoints
////
@media screen and (max-width: 1024px)
	#con-projetos
		.art-pro
			width: $art-middle-width
			

@media screen and (max-width: 768px)
	#con-projetos
		.art-pro
			width: $art-large-width
