#con-ranking
	height: 100%

	.div-paginacao
		text-align: center

	.margin
		margin-top: 5px	

	.title-emp
		color: black !important

	h2
		color: white
	h3
		color: #FFF
		text-align: center

	h4
		color: #FFF
		margin-top: 5px
		text-align: center
		font-weight: 400
		font-size: 20px
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden

	.left
		float: left
		margin-left: 1%
	.grid-buttons
		padding: 20px

	.historia-header
		margin-top: 100%

		h3
			color: black !important

		i
			color: black
			border: 8px solid
			border-radius: 100%
			padding: 20px 25px

@media screen and (max-width: 1200px)
	#con-ranking
		.grid-buttons
			height: auto

@media screen and (max-width: 960px) and (orientation: landscape)
	#con-ranking
		.historia-header
			margin-top: 50%

@media screen and (max-width: 1024px)
	#con-ranking
		h4
			font-family: "Open Sans" !important

@media screen and (max-width: 480px)
	#con-ranking
		.grid-buttons
			height: 440px
			overflow-y: auto

		.pontuacoes
			height: 440px
			overflow-y: auto

		h4
			text-align: left !important
			font-family: "Open Sans" !important
			font-size: 15px

		.pontuacao
			text-align: right !important

		.icon-right
			text-align: right !important
