header
	color: map-get($color, he-title)
	background-color: #1c424d
	text-shadow: 1px 1px 1px #000
	height: 60px
	position: fixed
	top: 0
	width: 100%
	z-index: 100
	box-shadow: 5px 5px 50px #000

	.menu-bar-ativo
		position: fixed
		width: 100%
		top: 60px
		border-top: 2px solid #fff

		ul
			width: 100%
		li
			border: 1px solid #CCC

	#search-form-topo-resp
		display: none

	#topo-menu-btn
		display: none

		button
			background-color: #1c424d
			color: white
			border: none
			font-size: 25px
			margin: 16px 0
			float: left
			cursor: pointer
			position: fixed

	#search-resp
		display: none
		font-size: 20px
		margin: 20px
		float: left

	.tooltip
		position: absolute
		right: 20px
		background: rgba(28, 66, 77, 0.62)
		padding: 0 20px

	#he-perfil

		@include transicao(0.8s)
		float: right
		line-height: $topo-1-height
		margin-right: 15px

		li
			display: inline-block
			line-height: $topo-1-height / 2
			margin-right: 10px

			&.he-notif:hover
				color: map-get($color, he-notif)

			&.he-logout:hover
				color: map-get($color, he-logout)

			&.he-login
				line-height: $topo-1-height

				&:hover
					color: map-get($color, he-login)


			&:first-child a
				display: inline-block
				max-width: 150px
				overflow: hidden
				top: 15px
				white-space: nowrap

		a
			@include transicao(0.8s)

		img
			border-radius: 50%
			height: 40px
			margin: 0 5px -13px
			width: 40px

	.qt-notif
		font: 400 0.8rem/1.5rem "Open Sans", sans-serif, Arial, verdana
		border-radius: 50%
		background-color: #CF000F
		left: 5px
		height: 1.5rem
		position: absolute
		text-align: center
		top: -15px
		width: 1.5rem

	#topo-2
		float: left
		position: fixed
		top: 0
		width: 100%

		#search-form-topo
			line-height: $topo-1-height
			float: left
			margin: 15px 0 0 0
			width: 80%

			button,
			input
				border: none
				float: left
				line-height: 30px
				height: 30px
				width: calc(100% - 50px)
				text-indent: 10px

			button
				text-indent: 0
				width: 50px
				height: 30px
				background: transparent
				font-size: 25px
				color: white

		#search-form-topo-resp
			line-height: $topo-1-height
			float: left
			margin: 15px 0 0 0
			width: 35%

			button,
			input
				border: none
				float: left
				line-height: 30px
				height: 30px
				width: calc(100% - 50px)
				text-indent: 10px

			button
				text-indent: 0
				width: 50px
				height: 30px
				background: transparent
				font-size: 25px
				color: white

		.bt-menu
			@include transicao(0.8s)
			cursor: pointer
			float: left
			line-height: $topo-2-height
			height: $topo-2-height
			text-indent: 5px
			z-index: 110

		.topo-logo
			cursor: pointer
			display: inline-block
			float: left
			max-height: 40px
			z-index: 110
			margin: 10px 20px 10px 20px

	#topo-menu-left
		cursor: pointer
		display: block
		height: $topo-2-height
		line-height: $topo-2-height
		text-align: center
		z-index: 100
		float: left
		margin-left: 0
		width: 33%

		li
			@include transicao(0.8s)
			border-bottom: 2px solid transparent
			display: inline-block
			height: 36px
			background-color: #1c424d

			&:hover
				border-bottom-color: white

			&:hover ul
				max-height: none

		ul
			background-color: inherit
			max-height: 0
			position: absolute
			white-space: nowrap

			li
				display: block
				line-height: 2

		.ul-float
			top: 35px


	#topo-menu
		cursor: pointer
		display: block
		height: $topo-2-height
		line-height: $topo-2-height
		position: absolute
		text-align: center
		z-index: 100
		left: 45%

		li
			@include transicao(0.8s)
			border-bottom: 2px solid transparent
			display: inline-block
			height: $topo-2-height
			margin: 7px 10px

			&:hover
				border-bottom-color: white

			&:hover ul
				max-height: none

		ul
			background-color: #193B45
			max-height: 0
			padding: 0 10px
			position: absolute
			white-space: nowrap
			overflow: hidden

			li
				display: block

		.login-topo
			margin-right: 5%
			float: right
			font-size: 20px

	#topo-menu-right
		display: block
		height: $topo-2-height
		line-height: $topo-2-height
		text-align: center
		z-index: 100
		float: right
		margin-right: 25px
		cursor: pointer

		.fa
			font-size: 20px

		img
			border-radius: 50px
			height: 50px
			width: 50px

		li
			@include transicao(0.8s)
			border-bottom: 2px solid transparent
			display: inline-block
			height: $topo-2-height
			margin: 5px 3px

			&:hover
				border-bottom-color: white

			&:hover ul
				max-height: none

		ul
			background-color: inherit
			max-height: 0
			padding: 0 10px
			position: absolute
			white-space: nowrap
			overflow: hidden

			li
				display: block

		.bottom-space
			bottom: 15px

	#he-pontos
		@include transicao(0.8s)
		float: right
		line-height: $topo-2-height
		margin-right: 15px
		z-index: 110

		.fa-trophy
			padding-right: 5px

		li
			display: inline-block

			a
				@include transicao(0.8s)
				margin: 0 5px

				&:hover
					text-shadow: 1px 1px 2px #000

				&.user:hover
					color: map-get($color, he-user)

				&.proj:hover
					color: map-get($color, he-proj)

				&.star:hover
					color: map-get($color, he-stars)

		img
			border-radius: 50%
			height: 30px
			margin: 0 3px -9px
			width: 30px

		.he-notif,
		.he-perfil
			display: none

	nav
		@include transicao(0.8s)
		background-color: map-get($color, he-bg)
		background-image: url(../../public/img/bg-20.png)
		background-repeat: repeat
		bottom: 0px
		display: block
		left: -$he-nav-width-gg
		overflow: hidden
		position: fixed
		text-shadow: none
		top: $topo-height
		width: $he-nav-width-gg

		&.menu-active
			left: 0

		ul
			background-color: inherit
			border-bottom: 1px solid #FFF
			overflow-y: auto
			height: 100%
			padding-bottom: 20px
			width: 100%

			ul
				background-image: url(../../public/img/bg-10.png)
				overflow: hidden
				padding-bottom: 0px
				max-height: 0

				&.menuActive
					max-height: initial

				li > a
					text-indent: 25px

		li
			border-top: 1px solid #FFF

			> a
				@include transicao(0.8s)
				line-height: $topo-2-height
				display: block
				text-indent: 15px
				width: 100%

			&:hover
				background-image: url(../../public/img/bg-10.png)

		h4
			line-height: $topo-2-height - 10px
			text-indent: 15px

		.show-mobile
			background-image: url(../../public/img/bg-10-dark.png)
			display: none

			&:first-child
				border-bottom: 1px solid red

	#search-form
		border: none
		display: none
		height: 30px
		margin: 10px 20px
		width: calc(100% - 40px)

		button,
		input
			border: none
			border-radius: 0
			float: left
			line-height: 30px
			height: 30px
			width: calc(100% - 50px)
			text-indent: 10px

		button
			background-color: #CCC
			border-radius: 0
			text-indent: 0
			width: 50px
			height: 30px

	#login-form
		border-top: 1px solid #FFF
		background-image: url(../../public/img/bg-20-dark.png)

		form
			padding: 0px 15px 100px
			width: 100%

		input
			border: 1px solid rgba(255,255,255,0.4)
			border-radius: 0
			background-color: transparent
			color: white
			line-height: 25px
			height: 25px
			margin: 5px auto
			width: calc(100% - 55px)
			text-indent: 10px

		.buttons
			a,
			.bt-plus,
			button
				@include transicao(0.8s)
				border-radius: 0
				font-size: 1rem
				float: left
				color: inherit
				cursor: pointer
				display: inline-block
				line-height: 35px
				margin-top: 5px
				width: 50%
				vertical-align: top
				text-align: center


			.bt-normal
				border: 1px solid rgba(255,255,255,0.3)
				background-color: rgba(255,255,255,0.4)

				&:hover
					background-color: rgba(255,255,255,0.0)

	.nav-project
		text-align: left
		background-image: url(../../public/img/bg-20-dark.png)
		padding-bottom: 10px

		&:hover
			background-image: url(../../public/img/bg-20-dark.png)

		a
			display: inline
			border-bottom: 2px solid transparent
			line-height: $topo-2-height - 10px
			margin-left: 15px

			&:hover
				border-color: #FFF

		progress
			margin: auto
			max-width: 70%

	.nav-avatar
		bottom: 20px
		position: absolute
		width: 100%

		img
			display: block
			margin: auto
			max-width: 90%

		.nav-avatar-txt
			background-color: map-get($color, he-avatar-baloon)
			border-radius: 12%/23%
			padding: 7px 10px
			position: absolute
			bottom: 81%
			font-size: 12px
			color: map-get($color, he-avatar-baloon-txt)
			width: 50%
			right: 7px

			&:before
				content: ""
				border-top: 18px solid transparent
				border-right: 18px solid map-get($color, he-avatar-baloon)
				position: absolute
				width: 0
				height: 0
				left: -11px
				bottom: 4px

		.nav-avatar-sobre
			bottom: -13px
			position: absolute
			font-size: 10px
			text-shadow: 1px 1px 2px map-get($color, he-avatar-baloon-txt)
			text-align: center
			width: 100%

		a
			display: inline-block
			line-height: 12px
			width: auto
			text-indent: 0

			&:hover
				border-bottom: 1px solid map-get($color, he-avatar-about-border)
				background-color: initial

	#he-notifications,
	#menu-amigos,
	#he-perfis
		cursor: pointer
		margin-top: -10px
		max-height: 0
		opacity: 0
		padding-top: 7px
		position: absolute
		overflow: hidden
		right: 0
		width: $he-notification-width
		z-index: 0
		margin-top: 46px

		&:before
			@include transicao(0.8s)
			content: ""
			border-left: 7px solid transparent
			border-right: 7px solid transparent
			border-bottom: 7px solid #FFF
			position: absolute
			top: 0px
			right: 20.5%

		&.active,
		&.active-notification,
		&.active-perfis
			opacity: 1
			z-index: 110
			max-height: 400px
			top: 16px

	#menu-amigos
		margin-top: 45px

		&:before
			right: 10.5%

		li
			padding: 10px

	#menu-amigos div > ul,
	#he-notifications > ul,
	#he-perfis ul
		@include transicao(0.8s)
		background-color: map-get($color, he-bg)
		background-image: url(../../public/img/bg-10-dark.png)
		border: 1px solid #FFF
		display: block
		max-height: 400px
		overflow-y: auto
		text-shadow: none
		z-index: 0

		li
			border-top: 1px solid #FFF
			font: 200 0.8rem/1rem "Open Sans", sans-serif, verdana
			text-align: justify
			text-indent: 0
			width: 100%

		a
			@include transicao(0.8s)
			display: block
			box-sizing: border-box
			padding: 10px
			width: 100%

			&:hover
				background-image: url(../../public/img/bg-10.png)

		.no-not
			font: 200 0.7rem/1rem "Open Sans", sans-serif, verdana
			margin-top: 5px
			text-indent: 15px

		h3
			margin: 5px 10px

		ul
			border: none
			border-top: 1px solid #FFF
			height: auto
			padding: 0
			width: 100%

			li
				border-bottom: 1px solid #FFF
				background-image: url(../../public/img/bg-10.png)
				padding: 10px

		.user-img
			display: inline-block
			height: 35px
			margin-right: 5px
			margin-top: 2px
			vertical-align: top
			width: 35px

			img
				border: 1px solid #FFF
				border-radius: 50%
				max-height: 100%
				max-width: 100%

		.user-info
			display: inline-block
			font-size: 14px
			position: relative
			text-align: left
			width: $he-notification-width - 117px

			.nome
				font: 400 0.9rem/1.2rem "Open Sans", sans-serif, Arial, verdana
				text-transform: capitalize

			.email
				font: 200 0.7rem/1.2rem "Open Sans", sans-serif, Arial, verdana
				text-transform: lowercase

		.bt-resposta
			display: inline-block
			position: relative
			margin-top: 8px
			vertical-align: top
			width: 55px

			a
				@include transicao(0.8s)
				background-color: rgba(255,255,255,0.9)
				border-radius: 50%
				display: inline-block
				font-size: 16px
				line-height: 25px
				text-align: center
				height: 25px
				margin: 0
				padding: 0
				width: 25px

				&:hover
					background: rgba(0,0,0,0)

			i

				&.fa-check
					color: #27ae60

				&.fa-times
					color: #e74c3c

	#menu-amigos div ul li
		border-top-color: transparent


	.description-notifications
		position: absolute
		top: 54px
		right: 20px
		background: rgba(28, 66, 77, 0.74)
		padding: 0 8px
		opacity: 0

	#icon-notification
		#ntification
			opacity: 1

	#he-perfis
		right: 15px

		&:before
			right: initial
			left: 55%

		ul
			height: auto

		li
			font-size: 1rem
			line-height: 25px

		p
			padding: 10px

			&:nth-child(2)
				margin-top: -15px

			a
				font-size: 0.8rem
				line-height: 1rem
				padding: 0
				display: block
				width: 100%

	.bt-menu-perfil
		cursor: pointer
		line-height: $topo-1-height
		margin-right: 30px
		position: absolute
		right: 0px
		top: 0px

		#topo-1
			top: -$topo-1-height

		nav
			top: $topo-2-height

		#topo-2
			top: 0

			.topo-logo
				margin-left: 10px

			.he-notif
				display: initial

			.he-star
				display: none

		#he-notifications,
		#he-perfis
			margin-top: 43px

		#he-notifications:before
			right: 7%

		#he-perfis:before
			left: 67%

		#menu-amigos:before
			right: 17%

@media screen and (max-width: 1500px)
	header
		#topo-menu
			left: 42%

@media screen and (max-width: 1300px)
	header
		#topo-2
			#search-form-topo
				width: 70%

		#topo-menu
			left: 35%

@media screen and (max-width: 1100px)
	header
		#topo-menu
			left: 31%

@media screen and (max-width: 1000px)
	#topo-menu-right
		margin-right: 5px

		li
			margin: 5px 10px

	#nome-perfil
		display: none !important

		li
			margin: 5px 3px

	header
		#topo-menu
			left: 37%

			li
				margin: 7px 7px

@media screen and (max-width: 900px)
	header
		#topo-2
			#search-form-topo
				display: none

			#search-form-topo-resp
				display: block

		#topo-menu
			left: 30%
@media screen and (max-width: 770px)
	header
		#topo-menu
			display: none

		#topo-menu-btn
			display: block

		nav
			left: -$he-nav-width-m
			width: $he-nav-width-m

	#menu-perfil-
		@include transicao(0.8s)
		display: none
		bottom: 0
		right: -$he-nav-width-m
		position: fixed
		top: $topo-1-height
		width: $he-nav-width-m
		z-index: 110

		&.menu-active
			right: 0

			#he-notifications
				right: 0

		#he-perfil,
		#he-pontos
			background-color: map-get($color, he-bg)
			border-top: 1px solid #FFF
			bottom: 0
			height: $he-pontos-height
			line-height: 40px
			position: absolute
			top: initial
			width: $he-nav-width-m / 2

			li
				line-height: 40px
				text-indent: 15px
				width: 100%

				i
					text-indent: 0

		#he-pontos
			right: 0
			border-left: 1px solid #FFF

		#he-perfil
			right: $he-nav-width-m / 2

		#he-notifications
			bottom: $he-pontos-height
			overflow-y: auto
			max-height: 100%
			position: absolute
			top: 0
			opacity: 1
			width: $he-notification-width
			z-index: 110

@media screen and (max-width: 680px)
	header
		font-size: 1rem
		box-shadow: 52px 5px 50px #000 !important

		#he-perfil
			display: none

		#he-pontos
			.he-perfil,
			.he-notif
				display: inline-block

			.he-perfil
				display: inline-block
				max-width: 200px
				overflow: hidden
				vertical-align: top
				white-space: nowrap

			.he-star
				display: none

		#he-notifications,
		#he-perfis
			margin-top: 43px

		#he-notifications:before
			right: 7%

		#he-perfis:before
			left: 67%

	body.menu-active,
	body.menu-active #conteudo
		overflow-y: hidden

@media screen and (max-width: 480px)
	header
		h1
			img
				display: inline-block
				margin: 15px 0 -20px 0
				position: relative

		#he-pontos
			.he-perfil
				max-width: 150px

		.topo-logo
			margin: 10px !important

@media screen and (max-width: 400px)
	header
		h1
			font-size: 1.5rem

		#he-pontos
			.he-perfil
				max-width: 100px

@media screen and (max-width: 300px)
	header
		#topo-menu-left
			width: 50%
