////
// CSS da Página de Adicionar treinamentos
////
#con-treinamento-add
	margin: 40px 5%
	width: 90%

	label
		display: inline-block
		font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
		margin: 5px -2px
		width: 50%
		vertical-align: top

	select,
	textarea,
	input
		display: block
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		height: 2rem
		resize: none
		width: 90%

	textarea
		padding: 10px
		font: 400 1rem/1.4rem "Open Sans", sans-serif, verdana
		height: 4rem

	.fileUpload
		background-color: #CCC
		cursor: pointer
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		display: block
		height: 2rem
		overflow: hidden
		text-align: center
		width: 122px
		z-index: 30

		span
			left: 0
			height: 2rem
			position: absolute
			top: 0
			width: 122px

		input[type=file]
			height: 2rem
			left: -99999px
			position: absolute
			width: 122px

	.trei-resp
		input
			display: inline-block
			height: 2rem
			width: 2rem
			vertical-align: top

			&:first-child
				width: calc(100% - 120px)

			&:nth-child(4)
				width: 100%
	
	button,
	.bt-cancel
		border: none
		box-shadow: 1px 1px 3px #333
		display: inline-block
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		margin: 10px auto
		padding: 0 20px

	button
		background-color: #39d179

	.bt-cancel
		margin-left: 15px
		background-color: #e67e22

////
// Breakpoints
////
@media screen and (max-width: 768px)
	#con-treinamento-add
		label
			width: 100%
