#con-usuario5w2h



	.input-group
		display: inline-block
		margin: 0 2%
		width: 45%

		label
			font: 300 0.9rem/1rem "Open Sans", sans-serif, verdana
			width: 100%

		input
			background-color: transparent
			border-color: #000
			border-width: 0 0 1px
			font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
			margin-bottom: 15px
			width: $cad-input-width

	h3
		text-align: center
		font: 200 1.5rem/5rem "Open Sans", sans-serif, verdana

	.buttons
		display: block
		margin: 10px 0 25px

		button
			@include transicao(0.8s)
			background-color: map-get($color, cad-bt-save-bg)
			border: none
			color: map-get($color, cad-bt)
			cursor: pointer
			display: inline-block
			font: 400 1rem/2.5rem "Open Sans", sans-serif, verdana
			margin: 0 2%
			width: 15%

	.inputBusca
		font: 400 1rem/2rem "Open Sans", sans-serif, verdana
		margin: 5px 5px
		text-indent: 10px
		width: calc(100% - 10px)


	.textarea
		min-height: 160px
		font: 400 0.875rem/1.2rem "Open Sans", sans-serif, verdana
		padding: 50px 50px
		resize: none
		text-indent: 5px
		width: 100%
	.bt
		font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
		border: none
		margin: 8px
		padding: 5px 15px
		color: white
		border-radius: 5px

		&.bt-success
			background-color: map-get($color, art-bt-save-bg)

		&.bt-warning
			background-color: map-get($color, bt-warning)



@media screen and (max-width: 768px)
	#con-usuario5w2h
		form
			width: 100%

@media screen and (max-width: 480px)
	#con-usuario5w2h

		.input-group
			width: 100%