.chart-legend,
.bar-legend,
.line-legend,
.pie-legend,
.radar-legend,
.polararea-legend,
.doughnut-legend {
  list-style-type: none;
  margin-top: 15px;
  text-align: center;
  /* NOTE: Browsers automatically add 40px of padding-left to all lists, so we should offset that, otherwise the legend is off-center */
  -webkit-padding-start: 0;
  /* Webkit */
  -moz-padding-start: 0;
  /* Mozilla */
  padding-left: 0;
  /* IE (handles all cases, really, but we should also include the vendor-specific properties just to be safe) */
}
.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.doughnut-legend li {
  float: left;
  font-size: 14px;
  color: white;
  cursor: pointer;

}
.chart-legend-icon,
.bar-legend-icon,
.line-legend-icon,
.pie-legend-icon,
.radar-legend-icon,
.polararea-legend-icon,
.doughnut-legend-icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;

}
.chart-container {
  width: 80%;
  margin-left: 10%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.51);
  border-radius: 15px;
}

.chart-container canvas {
  padding: 20px ;
}

@media screen and (max-width: 768px){
  .chart-container{
    width: 100% !important;
    margin-left: 0 !important;
  }
  .chart-container canvas {
    padding: 5px !important ;
    height: 215px !important;
    width: 400px;
  }
  .radar-legend li{
    padding: 0 !important;
    font-size: 11px !important;
    top: -10px;
  }
  .radar-legend li div{
    height: 5px !important;
  }
}
