#con-5w2h
	h2
		color: #fff

	.div-paginacao
		display: inline-block
		width: 100%
		text-align: center

	.descricao-plano
		color: black
		padding-bottom: 20px
		font-size: 14px

		.col-md-4
			padding: 0

		span
			font-weight: 300

	#actions
		width: 100%
		display: inline-block

		.actions-container
			padding: 0

	h5
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		font-size: 14px
		line-height: 2.2
		padding-left: 9px
		font-weight: 400
	.showForm
		display: block !important

	.brainstorms
		background-color: #fff
		padding-right: 0
		margin-bottom: 5px
		display: inline-block
		width: 100%

		h3
			line-height: 2
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			font-weight: 400

		i.fa
			font-size: 100px
			border: 0
			width: 219px
			height: 142px
			padding: 22px 25px
			background: #e4e4f0
			color: #073744
			margin-bottom: 6px
			border-radius: 0%


	.title-in-company

		input
			background-color: rgba(52, 55, 58, 0.8)
			width: 100%
			padding: 11px
			border: none
			font-size: 14px
			color: #fff
			margin-bottom: 10px

	.col-md-11
		padding: 0

	.col-md-1
		padding: 0
		position: absolute
		right: 0

		button
			float: right

	.click-add
		display: inline-block

		h3
			display: inline-block
			color: #fff

	.btn-view-actions
		padding: 6px 11px
		background-color: #2ECC71
		color: #fff
		border: none

		i
			font-size: 26px

	#form
		display: none

	.hide-actions
		display: none

	.show-actions
		display: block

	.forms
		form
			div
				margin-bottom: 3px
				min-height: 10px
				label
					color: #fff
					font: 400 1rem/1.5rem "Open Sans"

				input
					width: 100%
					background: transparent
					border-bottom: 1px solid #ccc
					border-top: 0
					border-left: 0
					border-right: 0
					padding: 6px 12px
					border-radius: 4px
					height: 2rem
					color: #fff
					font: 400 1rem/1.5rem "Open Sans"

				textarea
					width: 100%
					font: 400 1rem/1.5rem "Open Sans"
					height: 150px		

	.imgUsuario
		border-radius: 100%
		height: 50px

	.users
		background: #fff
		margin-bottom: 5px

		div
			margin: 0 !important

		h4
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			line-height: 3
			font-size: 14px

		button
			padding: 0px 11px
			float: right
			line-height: 2.1
			background: #2ecc71
			border: none

			i
				font-size: 24px
				color: #fff

		.btn-delete
			background-color: #ce3838

	.list-actions
		margin-top: 5px
		background: #fff
		padding: 0

		h5
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			font-size: 17px
			line-height: 1.9
			padding-left: 9px
			font-weight: 400

		button
			padding: 7px
			border: 0
			font-size: 16px
			color: #fff

		.btn-add
			background: #2ecc71

		.btn-delete
			background: #ce3838



	.left-bottom
		margin-left: 2%
	.right-bottom
		margin-left: -2%

	.block
		display: inline-block
		width: 100%
		max-height: 10px

	.btn-save
		float: right
		font-size: 25px
		background: transparent
		border: 1px solid #fff
		color: #fff
		border-radius: 10px

	.btn-back
		font-size: 25px
		background: transparent
		border: 1px solid #fff
		color: #fff
		border-radius: 10px

	.btn-add-action
		padding: 4px 8px
		background-color: transparent
		border: 2px solid
		color: #fff
		border-radius: 100%

		i
			font-size: 25px

#con-5w2h-dialog
	.onde-textarea
		width: 416px
		height: 76px
		padding-left: 12px
		border-left-width: 2px
		margin-left: 15px
	.onde-lab
		margin-left: 3%
	.row
		margin-top: -10%
		margin-left: 0%
		margin-right: 0%
	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0
	.form-group
		margin-top: 10%

	.form-control
		color: black
		background: transparent
		border-bottom: 2px solid #CCC
		border-top: 2px solid #CCC
		border-left: 2px solid #CCC
		border-right: 2px solid #CCC


	.fa
		text-align: center
		margin: auto
		color: black
		border: 2px solid
		padding: 6px
		border-radius: 50%
		margin-top: 10%


	.icon-circle
		padding-left: 15px
		padding-right: 15px


	.save-bt
		margin-left: 43%
		margin-top: 6%


@media screen and (max-width: 768px)
	#con-5w2h
		.group-users
			padding: 0 !important

			.col-md-6
				padding: 0 !important
@media screen and (max-width: 480px)
	#con-5w2h
		.group-users
			padding: 0 !important

			.col-md-6
				padding: 0 !important


@media screen and (max-width: 320px)
	#con-5w2h
		.group-users
			padding: 0 !important

			.col-md-6
				padding: 0 !important

@media screen and (max-width: 480px)
	#con-5w2h
		.div-paginacao
			ul
				li
					font-size: 13px

	#con-atividades
		.input-group
			width: 100%
		.fa
			margin-left: 90%
