#add-grupo-brainstorm
	height: 100%

	section
		height: 100%

	.form-new-group
		h3
			color: black
			text-align: left
			padding: 10px 0

		input
			width: 100%
			background-color: rgba(51, 51, 51, 0.52)
			padding: 6px
			font-size: 16px
			border: none

		button
			float: right
			margin-top: -30px
			height: 30px
			padding: 4px
			color: #333
			font-size: 14px

	h2
		color: #fff

	.group-icons
		text-align: center

		i
			border: 8px solid
			border-radius: 100%
			padding: 20px
			color: #fff
	h3
		color: #fff
		text-align:  center

	ul
		li
			background-color: #fff
			margin-bottom: 5px
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
			padding: 5px

	.groups
		margin-bottom: 30px
  
	.historias-helena
		max-height: 400px

	.div-helena-geral
		padding: 7% 5%
		text-align: center

	.div-helena-texto
		padding-top: 5%
		float: right
		text-align: justify
		font-size: 0.9em
		color: white

		h1
			padding-bottom: 1   		
