////
// CSS da Página Canvas
////
#con-canvas

	h2
		color: white

	p
		display: inline-block
		font: 200 1rem/2rem "Open Sans", sans-serif, verdana
		padding: 0 20px
		width: 49%

	#pro-desc
		@include transicao(0.8s)
		background-color: #EEE
		display: inline-block
		margin: 10px 20px
		max-height: 0
		overflow: hidden
		width: calc(100% - 40px)

		form
			padding: 15px 20px
			width: initial

		textarea
			background-color: #FFF
			border: none
			box-shadow: 1px 1px 3px #333
			font: 200 1rem/1.5rem "Open Sans", sans-serif, verdana
			height: 80px
			padding: 0 10px
			resize: none
			width: 100%

		input
			border: none
			border-radius: 0
			font: 200 1rem/2rem "Open Sans", sans-serif, verdana
			margin-top: 5px
			padding: 0 15px

		&.active
			max-height: 150px

	.bt-desc
		i
			@include transicao(0.8s)
			@include rodar(-90deg)

		&.active i
			@include rodar(0deg)

	#pro-canvas
		margin: 0 10px
		width: $art-large-width

		h3
			background-color: rgba(255,255,255,255)
			box-shadow: 0px 2px 2px #555
			font: 600 1rem/1.3rem "Open Sans", sans-serif, verdana
			padding: 0.5rem 10px
			text-align: center

		.quanto-content
			display: block
			width: 100%

		.can-como .can-content
			background-color: rgba(255, 255, 255, 0.61)

		.can-oque .can-content
			background-color: rgba(255, 255, 255, 0.61)

		.can-quem .can-content
			background-color: rgba(255, 255, 255, 0.61)

		.can-quanto .can-content
			background-color: rgba(255, 255, 255, 0.61)

		.can-large,
		.can-middle,
		.can-small
			border: 1px solid #CCC
			box-shadow: 2px 3px 3px #555
			display: inline-block
			margin: 10px 8px
			vertical-align: top
			width: $art-xsmall-width

			li
				background-color: rgba(255, 255, 255, 0.88)
				box-shadow: 1px 1px 3px #000
				display: inline-block
				margin: 10px 5%
				padding: 10px 25px 10px 10px
				position: relative
				vertical-align: top
				width: 90%
				font-size: medium
				font-family: arial
				font-weight: 200
				font-style: italic
				.delete
					display: none
					font-size: 1.2rem
					position: absolute
					right: 10px
					top: 10px

				&:hover .delete
					display: block

				&:first-child
					margin-top: 25px
					background: rgba(255, 255, 255, 0.88)	
					color: black
					font-size: medium
					font-family: arial
					font-weight: 200
					font-style: italic
		.quanto-content
			li
				margin: 10px
				width: $art-middle-width

				&:nth-child(2)
					margin-top: 25px
		.add-note
			font-size: 1.2rem
			margin-top: 5px
			position: absolute
			right: 10px

		.close-note
			font-size: 1.2rem
			position: absolute
			right: 5px
			top: 5px
			z-index: 110

		.can-middle .can-content
			display: block
			min-height: 450px
			position: relative

		.can-small .can-content
			display: block
			min-height: 225px
			position: relative

		.can-small .can-content:nth-child(2)
			border-top: 1px solid #CCC

		.can-large
			width: $art-middle-width

			.can-content
				display: block
				position: relative
				min-height: 215px

		.art-form
			@include transicao(0.8s)
			background-color: transparent
			display: block
			max-height: 0
			overflow: hidden
			margin-bottom: 0
			padding: 0
			position: relative

			h5
				display: none

			textarea
				border: none
				box-shadow: 1px 1px 3px #000
				margin-bottom: 10px
				width: 90%
				resize: none

			input
				box-shadow: 1px 1px 3px #000
				width: calc(90% - 85px)

			button
				box-shadow: 1px 1px 3px #000

		.can-content.add
			.art-form
				max-height: 160px
				padding: 10px

			.add-note
				display: none

	
	.processo
		display: block
		margin: 10px 20px

		h3
			font: 400 1.3rem/2.5rem "Open Sans", sans-serif, verdana

	article
		@include transicao(0.8s)
		background-color: #EEE
		background-position: 100% 100%
		background-repeat: no-repeat
		display: inline-block
		float: none
		height: 90px
		padding: 10px 15px
		margin: 5px 5px
		width: $art-xsmall-width
		vertical-align: top

		&:hover
			background-color: #FFF
	
		.art-form
			display: none

		.pro-open
			display: block
			height: 100%
			width: 100%

		.pro-close
			display: none
			float: right
			font-size: 1.5rem
			margin-top: -5px

		&.active
			background-color: #FFF
			background-position: 101% 102% !important
			cursor: default
			height: inherit
			width: $art-middle-width

			.pro-open
				height: auto

			.pro-close
				display: block

			.art-form
				display: inline-block

	.art-form
		background-color: #EEE
		box-shadow: 2px 2px 3px #999
		color: #000
		display: none
		height: 100%
		margin: 15px 9px
		padding: 10px 10px
		width: $art-large-width
		vertical-align: top

		h5
			font: 600 1rem/1.2rem "Open Sans", sans-serif, verdana
			margin: 0.5rem 0 1rem

		textarea
			min-height: 80px
			font: 400 0.875rem/1.2rem "Open Sans", sans-serif, verdana
			padding: 5px 10px
			text-indent: 5px
			width: 100%

		input
			font: 400 1rem/1.8rem "Open Sans", sans-serif, verdana
			border: none
			text-indent: 15px
			width: calc(100% - 85px)

			&.half
				width: calc(50% - 85px)


		button
			font: 400 1rem/1.8rem "Open Sans", sans-serif, verdana
			background-color: rgba(255, 255, 255, 0.3)
			border: none
			padding: 0 0.7rem
			border-radius: 20px

		.pro-feed
			display: inline-block
			float: right
			font-size: 1.2rem
			line-height: 30px
			margin-top: -28px

		.content
			margin: 10px 0
			padding-bottom: 15px

			li
				list-style-type: disc
				margin-left: 20px

				.delete
					display: none

				&:hover .delete
					display: inline-block

			i
				font-size: 1.2rem
				margin: 0 5px


		.fa-comment-o
			padding: 0 10px

		.pro-comment
			background-color: #B20000
			border-radius: 50%
			color: #FFF
			font-size: 0.7rem
			font-weight: bold
			line-height: 0.7rem
			margin-left: -17px
			padding: 4px 3px
			position: absolute
			text-align: center
			width: 1.2rem

	#pro-menu
		@include transicao(0.8s)
		margin-top: -100px
		position: fixed
		right: 0
		top: 50%

		.pro-bt
			@include transicao(0.8s)
			display: block
			margin: 0
			height: 20px
			position: relative
			right: -20px
			width: 40px

			&.active,
			&:hover
				height: 40px
				right: 0

	.charts
		display: inline-block
		height: 350px
		margin: 0 10px 90px
		width: calc(49% - 20px)

		h4
			font: 600 1.2rem/2.5rem "Open Sans", sans-serif, verdana
			text-align: center

		#line-chart,
		#pizza-chart
			height: 100% !important
			width: 100% !important
	.form-control
		color: white
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0
	
	.bg 
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0		

	.voltar
		fill: white
		float: left
		margin: 30px
		margin-left: 30px	
		cursor: pointer
		width: 64px
		height: 64px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC	
		border-radius: 10px
		color: white
@media screen and (max-width: 1024px)
	#con-canvas
		article
			&.active
				width: $art-xmiddle-width

@media screen and (max-width: 960px)
	#con-canvas
		article
			width: $art-small-width

		#pro-canvas
			.can-middle,
			.can-small
				width: $art-pro-width


@media screen and (max-width: 801px)
	#con-canvas
		.art-form
			width: $art-large-width

			.content
				padding-bottom: 0

		article
			width: $art-middle-width

			&.active
				width: $art-large-width

		.charts
			margin: 20px auto
			height: auto
			width: 100%

			#line-chart
				height: 200px !important

			#pizza-chart
				height: 350px !important

		.art-form .pro-feed
			display: block
			float: none
			margin-top: 10px

			a:first-child
				padding: 0 5px

@media screen and (max-width: 800px)
	#con-canvas
		p
			width: 100%

		#pro-canvas
			.can-large,
			.can-middle,
			.can-small
				border: none
				margin: 4px 8px
				width: $art-large-width

			.add-note
				display: none
			h3
				font: 800 1.8em/3rem "Open Sans", sans-serif, verdana	
		#pro-canvas
			.can-small
				box-shadow: none

				.can-content
					box-shadow: 2px 3px 3px #555

					&:nth-child(2)
						box-shadow: 2px 3px 3px #555
						margin-top: 8px
						border: none

		#pro-canvas
			.can-large .can-content,
			.can-middle .can-content,
			.can-small .can-content
				min-height: 0

		#pro-canvas
			.can-large ul,
			.can-middle ul,
			.can-small ul
				@include transicao(0.8s)
				max-height: 0
				overflow: hidden

		#pro-canvas
			.can-content.active ul
				min-height: 150px
				max-height: none

			.can-content.active
				.add-note
					display: block

				.delete
					display: block

				.art-form
					margin: 15px 9px

			.art-form
				margin: 0

			.can-content.active
				.add-note
					display: block

			.can-content.add
				.art-form
					max-height: 0px
					padding: 0px

			.can-content.add.active
				.art-form
					max-height: 160px
					padding: 10px

				.add-note
					display: none
			.quanto-content li
				margin: 10px 5%
				width: 90%

				&:nth-child(2)
					margin-top: 10px

@media screen and (max-width: 768px)
	#con-canvas
		p
			width: 100%

		#pro-canvas
			.can-large,
			.can-middle,
			.can-small
				border: none
				margin: 4px 8px
				width: $art-large-width

			.add-note
				display: none
			h3
				font: 800 1.5rem "Open Sans", sans-serif, verdana	
		#pro-canvas
			.can-small
				box-shadow: none

				.can-content
					box-shadow: 2px 3px 3px #555

					&:nth-child(2)
						box-shadow: 2px 3px 3px #555
						margin-top: 8px
						border: none

		#pro-canvas
			.can-large .can-content,
			.can-middle .can-content,
			.can-small .can-content
				min-height: 0

		#pro-canvas
			.can-large ul,
			.can-middle ul,
			.can-small ul
				@include transicao(0.8s)
				max-height: 0
				overflow: hidden

		#pro-canvas
			.can-content.active ul
				min-height: 150px
				max-height: none

			.can-content.active
				.add-note
					display: block

				.delete
					display: block

				.art-form
					margin: 15px 9px

			.art-form
				margin: 0

			.can-content.active
				.add-note
					display: block

			.can-content.add
				.art-form
					max-height: 0px
					padding: 0px

			.can-content.add.active
				.art-form
					max-height: 160px
					padding: 10px

				.add-note
					display: none
			.quanto-content li
				margin: 10px 5%
				width: 90%

				&:nth-child(2)
					margin-top: 10px
@media screen and (max-width: 430px)
	#con-canvas
		article
			width: $art-large-width
		#pro-canvas
			h3
				font: 800 1.1rem/1em "Open Sans", sans-serif, verdana	

@media screen and (max-width: 320px)				
	#con-canvas
		article
			width: $art-large-width
		#pro-canvas
			h3
				font: 800 0.8rem/0.8em "Open Sans", sans-serif, verdana	
