#empresa-swot-analise
  height: 100%
  section, .grid-buttons
    height: 100%

  h2
    color: #fff

  .icons-select
    margin-top: -70px
    color: #FFF
    z-index: 1


    ul
      li
        display: inline-block
        float: left
        padding: 0 5px
        i
          float: left
          width: 100%
          text-align: center
          border: 2px solid
          border-radius: 100%
          padding: 15px
          font-size: 32px
          cursor: pointer
          z-index: 99999

        .icon-circle
          padding-left: 20px
          padding-right: 20px
        span
          display: block
          text-align: center
          margin-top: 5px


  .container
    background: rgba(255, 255, 255, 0.28)
    margin: 20px 0
    padding: 0
    height: 65%

    h3
      background: rgba(255, 255, 255, 0.52)
      color: #fff

    h4
      color: #fff

  .item-list
    background: #fff
    margin-top: 5px
    padding: 0 5px
    box-shadow: 5px 8px 10px rgba(6, 6, 6, 0.55)
    font-size: 15px

    .col-md-8
      padding: 0

  .forca
    text-align: center
    color: #fff

    button
      background: transparent
      border: none
      font-size: 20px
      color: #fff
      i
        padding: 0 5px

  .input-range
    padding: 0
    font-size: 14px
    font-weight: 600
    line-height: 1.5

    div
      padding: 0
      font-size: 11px
      line-height: 2

  .totalNotas
    font-size: 16px
    span
      background: rgba(255,255,255,0.52)
      padding: 0 4px
      border-radius: 100%

  .nota
    margin-top: 5px
    text-align: center
    color: #fff
    background: #2ecc71
    padding: 1px
    height: 24px

    span
      background: #fff
      border-radius: 100%
      padding: 0 8px
      color: black

  .notaCorte
    background: #ce3838 !important

  .forca
    select
      background: transparent
      border-top: 0
      border-left: 0
      border-right: 0
      border-bottom: 1px solid
      color: #fff
      font-size: 16px
      width: 20%
      display: inherit
      margin: auto

      option
        background: rgba(0, 0, 0, 0.28)

  .edit-paginate
    position: absolute
    top: -24px
    padding-left: 10px
    right: 5px

    ul li a
      font-size: 10px

  input[type="range"]
    -webkit-appearance: none
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    width: 96%
    height: 14px
    margin: 5px 0
    border: none
    padding: 1px 2px
    border-radius: 14px
    background: rgba(29, 29, 29, 0.71)
    outline: none
    margin-left: 0

  input[type="range"]::-webkit-slider-thumb
    -webkit-appearance: none
    width: 20px
    height: 12px
    border: none
    border-radius: 12px
    background-color: #fff

    div
      padding: 0

      button
        float: right
        background: #2ecc71
        color: #fff
        border: none
        margin-right: -1px
        font-size: 16px
        padding: 3px 5px

  .personagens
    margin-top: 8%

  .personagens h1
    color: #fff


  .btn-save
    position: absolute
    right: 5px
    bottom: 5px
    background: transparent
    border: 1px solid
    color: #fff
    border-radius: 5px

@media screen and (min-width: 1280px)
  #empresa-swot-analise
    .container
      height: 72% !important

@media screen and (max-width: 768px)
  #empresa-swot-analise
    .item-list span
      display: inline-block
      text-align: center
      width: 100%

    .nota
      height: 46px !important

      span
        line-height: 3


@media screen and (max-width: 480px)
  #empresa-swot-analise
    .icons-select
      margin-top: 0 !important

    .forca
      span
        font-size: 13px

    .container
      height: 100% !important

    .icons-select ul li
      width: 40%
      margin-left: 7%

    .item-list span
      display: inline-block
      text-align: center
      width: 100%

    .nota
      height: 46px !important

      span
        line-height: 3
