#empresa-swot
  h2
    color: #fff

  .title
    line-height: 2

    i
      float: right
      border: 2px solid
      border-radius: 100%
      padding: 10px 17px
      font-size: 42px

  .item-list
    background: rgba(255, 255, 255, 0.28)
    color: #fff
    text-align: center
    padding: 0
    margin-top: 5px

    .item-title
      background: rgba(255, 255, 255, 0.52)
      padding: 0

      h4
        padding: 5px 0

        .icons-edit
          position: absolute
          right: 5px
          top: 0

          i
            font-size: 22px
            line-height: 1.5

          .edit
            top: 2px

    .item-data
      h4
        font-weight: 500
        margin: 5px 0

  .text-center
    margin-bottom: 0 !important
