////
// CSS da Pagina de listagem das empresas vinculadas ao usuario
////

#con-empresa-form
	height: 100%

	#con-empresa-list
		height: 100%

		.figure
			margin-top: 100%

		.circle
			width: 100px
			height: 100px
			border-radius: 100%
			margin-left: 47%
			margin-right: auto
			padding: 30px 0
			vertical-aligne: center

		h4
			text-align: center

		.size
			font-size: 2em
		
		.user-buttons
			a
				display: inherit
			i
				color: #fff
				border: 5px solid
				border-radius: 100%
				padding: 27px 0 0 4px
				cursor: pointer
				z-index: 1
				width: 140px
				height: 140px

			h2
				margin: 0 !important
				a
					display: inline-block
					border-radius: 100%
					z-index: 9999

			img
				width: 140px
				height: 140px
				border-radius: 100%
				display: inherit
				margin: 0 auto

		.icon-circle
			border: 5px solid
			border-radius: 100%
			padding: 22px 24px 22px 26px

		.title
			color: #fff

		.user-buttons
			display: block
			padding: 20px 0
			height: 100%
			margin-left: auto
			margin-right: auto

		.text
			text-align: center
			margin: auto
			padding: 10px
			width: 100%
			font-size: 15px
			color: white
			display: inline-block


		.textUser
			text-align: center
			margin: auto
			padding-bottom: 5px
			width: 100%
			font-size: 15px
			color: white

		.textoMenu
			font-size: 5px
		.row
			margin: 0
			padding: 0
			height: 100%

		#emp-header
			height: 100%
			display: block
			width: 100%

			label
				display: block
				cursor: pointer
				float: left
				height: 210px
				margin-top: 30px
				max-height: 210px
				overflow: hidden
				width: 100%

				input
					width: 10px
					visibility: hidden
				&.imagem
					width: initial
					height: initial



				img
					display: block
					margin: auto
					max-height: 210px
					max-width: 100%
					position: relative
					top: -25px
					z-index: 50



			p
				display: inline-block
				font: 400 1rem/2rem "Open Sans", sans-serif, verdana
				margin: 2px 0
				vertical-align: top
				width: 100%

			h2
				color: white
				font: 500 2rem/2rem "Open Sans", sans-serif, verdana
				font-size: 35px
				margin-top: 5%
				text-align: center

				.fa-icons
					font-size: 4.5rem
					text-align: center
					margin: auto
					color: black
					padding: 20px
					border-radius: 100%
					margin-botton: -30px
					margin-top: 60%
					border: 5px solid
					padding: 35px 40px

			h3
				display: inline-block
				margin: 10px 0
				font: 400 2rem/2rem "Open Sans", sans-serif, verdana
				color: black
				text-align: center



			button
				padding: 15px
				width: 100%
				font-size: 17px
				background-color: #5bc0de
				border: 1px solid #5bc0de
				cursor: pointer
				color: white

			.menu-empresa
				background-color: white
				height: 100%
				box-shadow: 5px 5px 50px #000

			.icon-buil
				color: black
				margin-left: 30%
				margin-top: 50%
				border-bottom: 3px solid
				border-top: 3px solid
				border-left: 3px solid
				border-right: 3px solid
				border-radius: 60px
				width: 125px
				height: 125px



		h4
			color: black
			margin-top: 10%
			font-size: 24px
			cursor: pointer
			font-weight: bolder
			text-align: center


			.position
				margin-left: -4px
				margin-top: 8px

			.position-cer
				margin-left: 12px
				margin-top: 18px
			p
				margin-left: 25%
				margin-top: 10%
				text-align: start
				font-weight: bolder
		#emp-buttons
			.bt-config
				@include transicao(0.8s)
				margin: 10px
				background: transparent
				&:hover
					background-color: transparent

			.historias-helena
				max-height: 400px

			.div-helena-geral
				padding: 7% 5%
				text-align: center

			.div-helena-texto
				padding-top: 5%
				float: right
				text-align: justify
				font-size: 0.9em
				color: white

				h1
					padding-bottom: 1%
			.icon-back
				font-size: 2em

			.fa-icon
				font-size: 4.5rem
				text-align: center
				margin: auto
				color: white
				border: 10px solid
				padding: 20px
				border-radius: 100%
				margin-botton: -30px
				font-size: 70px

			.text
				text-align: center
				width: 100%
				color: white
				font: 600 2rem "Open Sans", sans-serif, verdana
				font-size: 15px

			.text-h4
				text-align: center
				width: 100%
				color: black


			#name-emp
				color: #fff
				display: none

			.grid-buttons
				padding-top: 100px
				width: 75%
				float: right
				margin-top: -5%
			.icon-menu
				border: none
				border-radius: none
				font-size: 	22px
				padding: 0 0px 0 20px

	#main
		height: 100%
		overflow-y: hidden
		section
			height: 100%

@media screen and (max-width: 1024px)
	#con-empresa-list
		.text
			font-size: 18px !important

@media screen and (max-width: 960px) and (orientation: landscape)
	#con-empresa-list
		.figure
			margin-top: 25% !important

@media screen and (max-width: 480px)
	#con-empresa-list
		h4
			font-size: 19px !important

		.size
			font-size: 3em !important


@media screen and (max-width: 960px)
	#con-dash-user
		.adm-buttons
			.bt-config
				width: $art-middle-width

@media screen and (max-width: 520px)
	#con-dash-user
		.user-buttons
			.bt-config
				width: $art-large-width
