#con-plano-acao
  color: white  
  form
    input[type="text"]
      width: 100%
      border-top: 0
      border-left: 0
      border-right: 0
      border-bottom: 1px solid #ccc
      background: transparent
      color: #fff
      border-radius: 4px
      padding: 10px

    label, h3
      font-size: 16px
  span
    font-style: italic
    font-size: 14px

  h4
    font-weight: 300

  textarea
    border-radius: none
    box-shadow: 0px 0px 7px #666
    font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
    height: 100px
    padding: 5px 10px
    resize: none
    width: 100% 

  .brainstorms
    background: #fff
    margin-bottom: 5px
    padding: 4px
    color: #000

  .button-atv
    font-size: 1em
    text-align: right
    margin: auto
    color: white
    border: 8px solid
    padding: 20px 25px
    border-radius: 100%
    margin-bottom: -30px

  .text
    text-align: right
  .text-atividade
    position: absolute
    right: 100px
    font-size: 16px
    font-style: normal
    background-color: rgba(28, 66, 77, 0.84)
    padding: 5px 10px
    border-radius: 5px

  .container-brainstorms
    margin-top: 50px

  .temas
    background: #fff
    margin-bottom: 5px
    padding: 4px !important
    color: #000

  .brainstorms
    h4
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

  .div-paginacao
    width: 100%
    display: inline-block
    text-align: center

  .col-md-1, .col-xs-10
    padding: 0

  .btn-add
    background: #2ecc71
    border: none
    color: #fff
    font-size: 24px
    width: 100%
    padding: 1px 0

  .activeList
    background: rgba(255, 255, 255, 0.28) !important

  .btn-save
    float: right
    background: transparent
    color: #fff
    border: 1px solid #fff
    border-radius: 4px
    margin-top: 20px

  .separador
    margin-top: 25px
    margin-bottom: 25px

  .title
    line-height: 3

    a
      float: right

  .title-historia
    font-weight: 300

@media screen and (max-width: 480px)
  #con-plano-acao
    .col-xs-12
      padding: 0
