#con-ideia-equipe
	h2
		color: #fff

	h3
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
	h4
		font-size: 12px	
	.margin
		margin: 8%	
		font-size: 15px

	.title-in-company
		padding: 0

		input
			background-color: rgba(52, 55, 58, 0.8)
			width: 100%
			padding: 11px
			border: none
			font-size: 14px
			color: #fff
			margin-bottom: 10px

	.result-container-grupo
		color: #fff
		margin-bottom: 10px
		padding: 0	
		text-align: center

	.btn-add
		background-color: #2ecc71

	.btn-delete
		background-color: #CE3838

@media screen and (max-width: 960px)
	#con-ideia-equipe
		.result-container
			display: inline-block
			width: 100%

@media screen and (max-width: 480px)
	#con-ideia-equipe
		h2
			font-size: 21px

		.btn
			i
				font-size: 26px !important
