////
// CSS Pagina de Login
////
#con-login
	h2
		color: #fff

	h3
		color: #fff
		font-weight: 300
		text-align: center
		margin: 30px 0

	h4
		text-align: center
		width: 70%
		margin-left: 15%

		i
			color: #fff
			font-size: 40px

	form
		width: 70%
		margin-left: 15%

		label
			display: block
			width: 100%
			color: #fff
			margin-top: 30px
			font-weight: 100

		input
			width: 100%
			padding: 11px
			background: transparent
			border-top: 0
			border-left: 0
			border-right: 0
			border-bottom: 1px solid #ccc
			border-radius: 4px

		.logar
			text-align: center

		button
			padding: 11px
			font-size: 16px
			background: transparent
			border: 1px solid #ccc
			color: #fff
			margin: 30px 0 0 0
			

	.cadastrar
		text-align: center

	.btn-cadastro
		padding: 11px 
		background: transparent
		border: 1px solid #ccc
		font-size: 16px
		color: #fff


@media screen and (max-width: 480px)
	#con-login
		form
			width: 100%
			margin-left: 0 !important