////
// CSS da Página de Noticias
////
#con-perfil,

#con-noticias

	float: left
	width: 100%
	article:hover
		background-color: #CCC


	.bg 
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0

	.left
		float: left
		margin-left: 1%
	.color
		color: white	
	
	.art-g
		@extend %art-blocs
		height: $art-full-height

		.art-header
			float: left
			height: $art-full-height
			overflow: hidden
			width: $art-header-xg-width

		img
			float: left
			height: 100%
			min-width: 100%

	.art-g .art-title,
	.art-m .art-title
		@include gradiente(map-get($color, art-title-bg-de), map-get($color, art-title-bg-para))
		color: map-get($color, art-title-color)
		bottom: 0
		left: 0
		padding: 20px 0 10px
		position: absolute
		overflow: hidden
		width: $art-header-xg-width


	.art-m
		@extend %art-blocs
		height: $art-half-height

		.art-title
			width: $art-m-img-width

		.art-header
			height: 100%
			float: left
			overflow: hidden
			width: $art-m-img-width

			h4
				display: none

		img
			height: 100%
			overflow: hidden
			min-width: 100%

		h4
			font-weight: 800
			margin: 0.5rem 0

	.art-cat
		border-bottom: 2px solid map-get($color, art-cat-border-default)
		font: 200 0.8rem/2rem "Open Sans", sans-serif, verdana
		margin-left: 10px

	h4
		font: 400 1rem/1.5rem "Open sans", sans-serif, verdana
		margin: 9px 10px

	.art-g-txt,
	.art-m-txt
		@include transicao(0.8s)
		float: left
		font: map-get($fonts, art-con-txt)
		height: 100%
		padding: 6px 15px

	.art-g-txt
		vertical-align: top
		width: $art-xg-txt-width

		a
			display: block
			height: 100%
			width: 100%

		h4
			display: none

	.art-m-txt
		width: $art-m-txt-width
		
////
// Breakpoints da Home
////
@media screen and (max-width: 1400px)
	#con-perfil,
	#conteudo
		&.menu-active
			padding-left: $he-nav-width-g

		.art-s
			height: $art-xs-con-height
			width: $art-middle-width

		.art-xs
			background-position: 101% 114% !important
			height: $art-xs-con-height
			width: $art-small-width

		.art-g
			.art-header,
			.art-title
				width: $art-header-g-width

			.art-g-txt
				width: $art-g-txt-width

@media screen and (max-width: 1200px)
	#con-perfil,
	#conteudo

		.art-g
			width: $art-large-width

@media screen and (max-width: 1024px)
	#con-perfil,
	#conteudo
		margin: 0
		width: 100%

		&.menu-active
			padding-left: 0
			left: $he-nav-width-xm
			right: -$he-nav-width-xm

	#con-principal
		.art-pro
			width: $art-middle-width
			

@media screen and (max-width: 768px)
	#con-perfil,
	#con-principal
		.art-pro
			width: $art-large-width

	#conteudo
		&.menu-perfil-active
			padding-left: 0
			left: -$he-nav-width-m
			right: $he-nav-width-m

		&.menu-active
			padding-left: 0
			left: $he-nav-width-m
			right: -$he-nav-width-m

		.art-g,
		.art-m
			height: inherit
			width: $art-large-width

			.art-cat
				line-height: 1.5rem

			h4
				font-weight: bold
				margin: 10px 0

			.art-header
				height: inherit
				width: 100%
				margin-bottom: -$art-gs-header-height

				h4
					display: none
				
			img
				width: $art-gs-img-width
				min-width: inherit

			.art-title
				height: $art-gs-header-height
				padding: 15px 10px
				position: relative
				width: $art-gs-tit-width
				top: -$art-gs-header-height

			.art-g-txt
				border-left: none
				border-top: 3px solid map-get($color, art-border)
				width: 100%

				h4
					display: block

		.art-m-txt
			border-left: none
			border-top: 2px solid
			width: 100%

		.art-s
			height: $art-ss-con-height
			width: $art-large-width

		.art-xs
			width: $art-middle-width

@media screen and (max-width: 470px)
	#con-perfil,
	#conteudo
		.art-m-txt
			h4
				font-size: 0.9rem
				line-height: 1.2rem

			p
				display: none