////
// CSS da Página de Perfil do Usuário
////
#con-perfil
	.per-infos
		h2
			float: none

		form
			display: inline
			width: 100%

		p
			width: 100%

	.per-divs
		display: inline-block
		width: 100%
		vertical-align: top

		p
			font: 200 1rem/2rem "Open Sans", sans-serif, verdana
			margin: 2px 0
			padding: 0 20px
			width: 100%

			&:hover .perf-edit
				display: inline-block

		input
			color: #333
			border: none
			border-bottom: 1px solid #000
			font: 200 1rem/2rem "Open Sans", sans-serif, verdana

			&[disabled]
				border: none
				color: #000
				background-color: transparent

	.perf-edit
		display: none
		cursor: pointer
		font: 400 0.8rem/1rem "Open Sans", sans-serif, verdana
		position: relative
		top: -5px

	.perf-salvar
		border: none
		display: inline-block
		cursor: pointer
		color: #FFF
		font: 200 1rem/2rem "Open Sans", sans-serif, verdana
		padding: 0 10px
		position: relative

	.bt-theme
		@include transicao(0.8s)
		display: inline-block
		height: 20px
		width: 20px

		&:hover,
		&.active
			height: 25px
			width: 25px

	.div-buttons
		padding: 0 20px

	.user-buttons
		display: block
		padding: 25px 0
		width: 100%
		.bt-config
			@include transicao(0.8s)
			display: inline-block
			border: 1px solid #ddd
			margin: 5px
			height: 130px
			width: $art-xsmall-width

			&:hover
				background-color: #CCC

		.fa-icons
			font-size: 3rem
			text-align: center
			margin: auto
			padding: 15px 0
			width: 100%

		.text
			text-align: center
			margin: auto
			padding: 10px 0
			width: 100%

@media screen and (max-width: 960px)
	#con-perfil
		.user-buttons
			.bt-config
				width: $art-middle-width

@media screen and (max-width: 520px)
	#con-perfil
		.user-buttons
			.bt-config
				width: $art-large-width