////
// CSS da Página de Pesquisa
////

#con-pesquisa
	h3
		color: #fff

	h2
		color: #fff

	input
		background-color: rgba(52, 55, 58, 0.8)
		width: 95%
		padding: 11px
		border: none
		font-size: 14px
		color: #fff
		margin-bottom: 10px

	button
		cursor: pointer

	.button-search
		font-size: 25px
		color: white

	#lista-resultados
		margin: 15px 20px
		width: calc(100% - 40px)

		h3
			font: 400 1.2rem/2rem "Open Sans", sans-serif, arial, verdana

	#pessoas
		li

			height: 120px

		.user-img

			display: inline-block
			height: 100%
			overflow: hidden
			position: relative
			width: 100px

			img
				display: block
				margin: auto
				max-height: 110px
				max-width: 100%
				position: relative
				top: 50%
				vertical-align: middle
				-webkit-transform: translateY(-50%)
				-moz-transform: translateY(-50%)
				-ms-transform: translateY(-50%)
				-o-transform: translateY(-50%)
				transform: translateY(-50%)
				border-radius: 50px
				height: 75px
				width: 75px

		.user-info
			display: inline-block
			font: 400 1rem/1.5rem "Open Sans", sans-serif, arial, verdana
			padding: 10px 15px
			vertical-align: top
			color: white


			.bt
				border: none
				color: #FFF
				font: 400 1rem/1.2rem "Open Sans", sans-serif, arial, verdana
				margin: 5px 0
				padding: 5px 15px
				display: block


			.nome
				white-space: nowrap
				text-overflow: ellipsis
				overflow: hidden
			.email	
				white-space: nowrap
				text-overflow: ellipsis
				overflow: hidden

@media screen and (max-width: 480px)

	#con-pesquisa
		.button-search
			margin-left: 42.5%
			margin-top: 2%

		#pessoas
			li
				margin-bottom: 22%
			
			.user-img
				width: 100%	
				margin-left: -10%
			
					