#projeto-fechado
	.logo
		width: 225px
	.icon-doc
		float: right
		cursor: pointer
	.fa-doc
		font-size: 2rem
		padding: 10px 0px 0px 11px

	.doc-circle
		border-bottom: 3px solid
		border-top: 3px solid
		border-left: 3px solid
		border-right: 3px solid
		border-radius: 100%
		width: 55px
		height: 55px
		margin: 12px

