////
// CSS alteração de senha e recuperação de senha
////
#con-senha 
	color: white
	
	h2
		color: white
	form
		left: 50%
		transform: translate(-50%, 10%)
		width: 30%
		
	p
		color: white
		margin: 0 0 35px
		line-height: 1.6
		display: block
		-webkit-margin-before: 1em
		-webkit-margin-after: 1em
		-webkit-margin-start: 0px
		-webkit-margin-end: 0px
		text-align: center
			
	.bg 
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0

	.form-control
		color: white
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 0
		border-left: 0
		border-right: 0

	.input-group
		display: inline-block  
		margin: 0 2%
		width: 50%

		label
			font: 300 0.9rem/1rem "Open Sans", sans-serif, verdana
			width: 100%

		input
			background-color: transparent
			border-color: #000
			border-width: 0 0 1px
			font: 400 1rem/1.5rem "Open Sans", sans-serif, verdana
			margin-bottom: 15px
			width: $cad-input-width
			left: 30%

	h3
		text-align: center
		font: 200 1.5rem/5rem "Open Sans", sans-serif, verdana

	.buttons
		display: block
		margin: 10px 0 25px

		button
			@include transicao(0.8s)
			background-color: map-get($color, cad-bt-save-bg)
			border: none
			color: map-get($color, cad-bt)
			cursor: pointer
			display: inline-block
			font: 400 1rem/2.5rem "Open Sans", sans-serif, verdana
			margin: 0 2%
			width: 45%
	.right
		float: right	
	.center
		text-align: center			

@media screen and (max-width: 768px)
	#con-senha
		form
			width: 100%

@media screen and (max-width: 480px)
	#con-senha
		.input-group
			width: 100%