////
// CSS da Página de Treinamento
////
#con-treinamento
	height: 100%

	.msg-erro
		display: none
		text-align: center
		margin-top: 40px

	#container-treinamento
		height: 100%

		.col-md-12
			padding: 0 !important

	#trei-video
		height: 833px
		margin: auto

		h3
			font: 600 1.5rem/4rem "Open Sans", sans-serif, verdana
			text-indent: 15px
		h2
			color: white
			border-bottom: 2px solid #AAA
			background-color: transparent
			padding-top: 2rem
			width: 100%
			border: none

		iframe
			border: 1px solid #999
			border-bottom: 0
			box-shadow: 2px -2px 9px #999, -2px -1px 15px #999
			display: block
			height: 100%
			margin: auto
			width: 100%


	h3
		font: 600 1.5rem/2rem 'Open Sans', sans-serif, verdana
		margin: 5px auto 10px

	.bg
		min-height: 100%
		min-width: 1024px
		width: 100%
		height: auto
		position: fixed
		top: 0
		left: 0

	.icon-back
		color: white
		font-size: 2em
		margin-left: 2%
	.voltar
		fill: white
		float: left
		margin: 7%
		cursor: pointer
		width: 64px
		height: 64px
		background: transparent
		border-bottom: 1px solid #CCC
		border-top: 1px solid #CCC
		border-left: 1px solid #CCC
		border-right: 1px solid #CCC
		border-radius: 10px
		color: white


	#video-info
		background-color: #FFF
		border: 1px solid #CCC
		margin: 1rem auto
		padding: 5px 15px
		width: 80%

		img
			border: 1px solid #CCC
			// border-radius: 50%
			display: inline-block
			width: 50px
			height: 50px

		.autor-info
			display: inline-block
			height: 3.125rem
			vertical-align: top

		.video-categoria
			font: 400 0.9rem/1.125rem "Open Sans", sans-serif, verdana

		.video-views
			float: right
			font: 400 1.3rem/3.125rem "Open Sans", sans-serif, verdana
			margin-top: 1rem
			position: relative

		.video-share
			border-top: 1px solid #CCC
			font: 400 1.7rem/2rem "Open Sans", sans-serif, verdana
			margin-top: 7px
			padding-top: 5px

		.fa-facebook-official
			@include transicao(0.8s)
			color: #46629E

			&:hover
				color: #555

		.fa-google-plus-square
			@include transicao(0.8s)
			color: #DD4B39

			&:hover
				color: #555

		.video-stars
			float: right
			font: 400 1.3rem/2rem "Open Sans", sans-serif, verdana
			margin-top: -1.8rem
			position: relative

			.fa
				float: left
				margin: 3px 2px

	#video-desc
		background-color: #FFF
		border: 1px solid #CCC
		margin: 1rem auto
		padding: 5px 15px
		width: 90%
		margin-top: 6%

		p
			text-align: justify

	#video-comments
		background-color: #FFF
		border: 1px solid #CCC
		margin: 1rem auto
		padding: 5px 15px
		width: 80%

////
// Breakpoints da Home
////
@media screen and (min-width: 320px) and (max-height: 1023px)
	#trei-video
		width: 320px !important
		height: 480px !important
		padding: 0 !important


@media screen and (min-width: 320px) and (max-height: 480px)
	.hideMenu
		position: absolute !important
		z-index: 9999
		top: -70px

//@media screen and (min-width: 480px) , screen and (min-height: 320px), (orientation: landscape)
	#teste
		height: 100px
		width: 200px

@media screen and (min-width: 1024px)
	#con-treinamento
		#trei-video
			height: 668px !important
			width: 1024px !important

			iframe
				width: 100%

@media screen and (min-width: 1024px) and (max-height: 790px)
	#con-treinamento
		#trei-video
			height: 668px !important

@media screen and (max-width: 780px) and (orientation: landscape)
	#container-treinamento
		display: none

	.msg-erro
		display: block !important
		color: #fff
