#trei-video
	border-bottom: 2px solid #AAA
	background-color: #FFF
	margin-top: 2rem
	position: relative

#videoTrein
	border: 1px solid #999
	border-bottom: 0
	box-shadow: 2px -2px 9px #999, -2px -1px 15px #999
	display: block
	margin: 0 25%
	max-width: 100%
	max-height: 100%
	position: relative
	width: 50%
	z-index: 19

#videoQuest
	@include transicao(0.8s)
	background-color: rgba(0,0,0,0.75)
	bottom: 10%
	height: 100%
	margin: 0 25%
	opacity: 0
	position: absolute
	top: 0
	width: 50%
	z-index: 10

	#tre-info
		background-color: #FFF
		border: 1px solid #000
		border-radius: 10px
		display: none
		padding: 15px 10px
		position: absolute
		right: 45px
		top: 10px
		width: 80%

		&:before
			border-left: 14px solid #FFF
			border-bottom: 7px solid transparent
			border-top: 3px solid transparent
			content: ""
			display: block
			height: 0
			position: absolute
			right: -9px
			top: 2px
			width: 0

		&.active
			display: block

	#tre-show-info
		color: #FFF
		font-size: 1.5rem
		position: absolute
		right: 10px
		top: 10px

	article
		height: 100%
		display: none

		&.active
			display: block

	h3
		color: #FFF
		font: 600 1.8rem/2rem "Open Sans"
		padding: 10px 15px
		text-align: center
		height: 6rem

	.confirme
		display: block
		height: calc(100% - 6rem)
		position: absolute
		width: 100%

		.buttons
			bottom: 3rem
			height: 100%
			position: absolute
			width: 100%

		button
			border-radius: 10px
			border: none
			box-shadow: 1px 1px 1px #555, inset -1px -1px 4px #222
			color: #FFF
			font: 600 2rem/2rem "Open Sans"
			padding: 15px 50px
			text-decoration: none

			&.cancel
				background-color: #e74c3c
				float: left
				margin: 0 0 0 10%

			&.success
				background-color: #2ecc71
				float: right
				margin: 0 10% 0 0

	.multipla
		display: block
		height: calc(100% - 6rem)
		position: absolute
		width: 100%

		button
			@include transicao(0.8s)
			background-color: #FFF
			border: 1px solid #CCC
			color: #000
			float: left
			font: 400 1rem/1.4rem "Open Sans" 
			height: 50%
			padding: 10px 5px
			text-shadow: 1px 1px 2px #CCC
			width: 50%

			.label
				display: block

			.why
				display: none

			&.error
				@include rodarX(360deg)
				color: #F00
				border-color: #F00
				outline-color: #F00

				.label
					display: none

				.why
					display: block

	.ligue
		display: block
		height: calc(100% - 6rem)
		position: absolute
		width: 100%

		#ligueRespostas
			button
				margin-left: 10%
				background-color: #FFF

		#ligueLabels,
		#ligueRespostas
			display: inline-block
			height: 100%
			width: 50%

			button
				border: 1px solid #CCC
				font: 400 0.8rem "Open Sans"
				height: 25%
				width: 90%

				&.active,
				&.label:focus
					outline: gold auto 1px
					box-shadow: inset 1px 1px 3px gold, inset -1px -1px 3px gold

				&.color-1
					background-color: #FAE3E9

				&.color-2
					background-color: #F8E8C7

				&.color-3
					background-color: #BCE0F8

				&.color-4
					background-color: #C7F8D6
			
	&.active
		opacity: 1
		z-index: 30

@media screen and (max-width: 1200px)
	#videoQuest
		margin: 0 20%
		width: 60%

	#videoTrein
		margin: 0 20%
		width: 60%

@media screen and (max-width: 1024px)
	#videoQuest
		margin: 0 10%
		width: 80%

	#videoTrein
		margin: 0 10%
		width: 80%

@media screen and (max-width: 768px)
	#videoQuest
		margin: 0 5%
		width: 90%

		h3
			height: 8rem
			padding: 1rem

		#tre-show-info
			font-size: 2rem
			right: 0
			top: 0


		.multipla
			margin: 0
			height: calc(100% - 8rem)
			width: 100%

			label
				font: 600 1rem/1.5rem "Open Sans"
		
		.ligue
			@include transicao(0.8s)
			height: calc(100% - 8rem)

			#ligueLabels,
			#ligueRespostas
				width: 100%

				button
					margin: 0 5%

			#ligueRespostas
				display: none
			
			&.resposta
				@include rodarX(360deg)

				#ligueRespostas
					display: block
				
				#ligueLabels,
					display: none
		
		&.active
			margin: 0
			position: fixed
			top: 0
			z-index: 130
			width: 100%

	#videoTrein
		margin: 0 5%
		width: 90%

@media screen and (max-width: 480px)
	#videoQuest
		h3
			font: 600 1.3rem/1.5rem "Open Sans"

		.confirme
			button
				font: 600 1rem/1.5rem "Open Sans"
				padding: 10px 40px
