////
// CSS da Página de Treinamentos
////
#con-perfil,
#con-treinamentos
	color: white
	background: transparent
	height: 100%

	input
		background-color: rgba(52, 55, 58, 0.8)
		width: 100%
		padding: 11px
		border: none
		font-size: 14px
		color: #fff
		margin-bottom: 10px

	.filtro-treina
		padding: 20px

	h3
		font: 600 1.5rem/4rem "Open Sans", sans-serif, verdana
		text-indent: 15px
	h2
		color: white


	.row
		margin: 0
		padding: 0
		height: 100%
	#emp-header
		height: 100%
		display: block
		width: 100%

		label
			display: block
			cursor: pointer
			float: left
			height: 210px
			margin-top: 30px
			max-height: 210px
			overflow: hidden
			width: 100%

			input
				width: 10px
				visibility: hidden
			&.imagem
				width: initial
				height: initial



			img
				display: block
				margin: auto
				max-height: 210px
				max-width: 100%
				position: relative
				top: -25px
				z-index: 50



		p
			display: inline-block
			font: 400 1rem/2rem "Open Sans", sans-serif, verdana
			margin: 2px 0
			vertical-align: top
			width: 100%
			color: black
			word-spacing: -1px
			text-align: justify
			line-height: 1.5
			text-justify: auto

		h2
			color: white

		h3
			display: inline-block
			margin: 10px 0
			font: 400 2rem/2rem "Open Sans", sans-serif, verdana
			color: black
			text-align: center

		.menu-empresa
			background-color: white
			height: 100%
			box-shadow: 5px 5px 50px #000

		.image
			width: 40%
			margin-left: 30%
			margin-bottom: 20%

		.geral
			width: 100%
			margin-top: -15%


		.icon-buil
			color: black
			margin-left: 30%
			margin-top: 50%
			border-bottom: 3px solid
			border-top: 3px solid
			border-left: 3px solid
			border-right: 3px solid
			border-radius: 60px
			width: 125px
			height: 125px

		.icon-book
			font-size: 5.5rem
			text-align: center
			margin: auto
			color: black
			border: 10px solid
			padding: 20px
			border-radius: 100%
			margin-top: 50%
			margin-left: 30%



	h4
		color: black
		margin-left: 30%
		margin-top: 10%
		font-size: 25px
		cursor: pointer
		font-weight: bolder


		.position
			margin-left: -4px
			margin-top: 8px

		.position-cer
			margin-left: 12px
			margin-top: 18px
		p
			margin-left: 25%
			margin-top: 10%
			text-align: start
			font-weight: bolder
	#trei-anda
		float: left
		margin-bottom: 2rem
		width: 100%

	.art-trei
		@include transicao(0.8s)
		background: #EEE
		box-shadow: 3px 3px 7px map-get($color, art-box-shadow)
		float: left
		margin: 0 10px
		margin-bottom: 20px
		width: $art-trei-width

		&:hover
			background-color: #CCC

		img
			max-height: 100%
			max-width: 100%

		.trei-cate
			color: #FFF
			display: block
			font: 400 1rem/1rem "Open Sans", sans-serif, verdana
			margin-top: -2.2rem
			position: absolute
			text-indent: 10px
			text-shadow: 1px 1px 3px #000, 0px 0px 3px #000, 1px 1px 3px #000, 0px 0px 3px #000

		.trei-desc
			position: relative

		h4
			font: 400 1.2rem/1.7rem "Open Sans", sans-serif, verdana
			text-indent: 10px
			height: 3.5rem

		.trei-autor
			position: absolute
			bottom: -3rem
			text-indent: 10px

		.trei-val
			color: #EE1111
			font: 600 0.8rem/1rem "Open Sans", sans-serif, verdana
			text-align: right

		.trei-info
			float: right
			width: 100px
			margin-bottom: 10px
			margin-right: 10px

			progress
				width: 100%

		.fa
			float: left
			margin: 3px 2px

	#emp-buttons
		.bt-config
			@include transicao(0.8s)
			margin: 10px
			background: transparent
			&:hover
				background-color: transparent

		.row
			margin-top: 15%
			text-align: center

		.position-pagination
			margin-top: 10%	

		#name-emp
			display: none


	#trei-news
		border-top: 1px solid #000
		float: left
		margin: 0 10px
		padding-top: 1rem
		width: calc(100% - 260px)

		.art-trei
			width: $art-small-width

	#trei-nav
		background: #FFF
		border: 1px solid #CCC
		font: 400 1.2rem/2rem "Open Sans", sans-serif, verdana
		float: left
		margin-left: 10px
		padding-bottom: 10px
		text-indent: 15px
		width: 230px

		.tre-and
			display: none
////
// Breakpoints
////
@media screen and (max-width: 1440px)
	#con-treinamentos
		.capa
			width: 200px

@media screen and (max-width: 1400px)
	#con-perfil,
	#con-treinamentos
		.art-trei
			width: 263px

		#trei-news .art-trei
			width: $art-pro-width

@media screen and (min-width: 1280px)
	#con-treinamentos
		.capa
			width: 200px

@media screen and (max-width: 1200px)
	#con-treinamentos
		.art-trei
			width: $art-pro-width
		.capa
			width: 180px	
		#trei-news .art-trei
			width: $art-middle-width

	#con-perfil .art-trei
		width: $art-middle-width

@media screen and (max-width: 1050px)
	#con-treinamentos
		.capa
			width: 170px	
@media screen and (max-width: 768px)
	#con-treinamentos
		.capa
			width: 170px
		#trei-anda
			.art-trei
				width: $art-large-width

	#con-perfil
		.art-trei
			width: $art-large-width

		#trei-news
			border: none
			width: $art-large-width

@media screen and (max-width: 470px)
	#con-treinamentos
		.capa
			width: 190px
		#trei-anda
			.art-trei
				width: $art-large-width

	#con-perfil
		.art-trei
			width: $art-large-width
