﻿<!DOCTYPE html>
<html lang="pt-br" ng-app="portalApp">
<head id="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta property="og:url" content="http://www.portaldainovacao.com.br/" />
    <meta property="fb:app_id" content="885120678232858" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portal da Inovação - Treinamentos" />
    <meta property="og:description" content="Nosso espaço para treinamentos fui preparado com o objetivo de fornecer informação referente à inovação. Juntamente com a Turma do Portal da Inovação você terá acesso a conteúdos que irão ajudá-lo a esclarescer dúvidas sobre conceitos e ações inovadoras, bem como oferecer capacitação para você identificar atitudes inovadoras existentes ou que poderão ser adotadas em sua empresa." />
    <meta property="og:image" content="http://www.portaldainovacao.com.br/public/img/logo-1.png" />
    <title>Portal da inovação</title>

    <!-- Angular Loader -->
    <link rel="stylesheet" href="source/css/loading-bar.css">
    <!--AngularChart-->
    <link rel="stylesheet" href="source/css/angular-chart.min.css">
    <link rel="stylesheet" href="source/css/angular-chart.css">
    <!-- Angular Material icons -->
    <link rel="stylesheet" href="source/css/angular-material-icons.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="source/css/font-awesome.min.css">
    <!-- Helvetica Neue -->
    <link rel="stylesheet" href="source/css/HelveticaNeue.ttf" type='text/css'>
    <!-- Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <!--  Google Material Design
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <!-- Projeto CSS -->
    <link rel="stylesheet" href="public/css/style.css">
    <!-- AngularText -->
    <link rel="stylesheet" href="source/css/text.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="source/css/toastr.min.css">
    <!-- Multi Select -->
    <link rel="stylesheet" href="source/css/isteven-multi-select.css">
    <!-- ngDialog -->
    <link rel="stylesheet" href="source/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="source/css/ngDialog.min.css">
    <!-- Angular Social Share -->
    <link rel="stylesheet" href="source/css/angular-socialshare.css">
</head>
<body ng-controller="AppController" class="theme-{{user.theme}}" ng-class="{'menu-active': menuActive || notificationsActive}">
    <header class="main-header" ng-init="menuAtivo = false; menuGestao = false">
        <div id="topo-2">
            <ul id="topo-menu-left">
                <a ng-if="!loggedIn" href="{{link}}/" ng-click="closeMenuMobile()">
                    <img class="topo-logo" src="public/img/logo-1.png" alt="Portal da inocação - logo">
                </a>
                <a ng-if="loggedIn" href="{{link}}/usuario/painel" ng-click="closeMenuMobile()">
                    <img class="topo-logo" src="public/img/logo-1.png" alt="Portal da inocação - logo">
                </a>
                <i ng-if="loggedIn" class="fa fa-search" id="search-resp"></i>
                <form id="search-form-topo" ng-submit="searchSubmit(busca)" ng-if="loggedIn">
                    <input type="text" ng-model="busca" placeholder="Pesquisa...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <form id="search-form-topo-resp" ng-submit="searchSubmit(busca)" ng-if="loggedIn">
                    <a href="../pesquisa"><button type="submit"><i class="fa fa-search"></i></button></a>
                </form>
                <div id="topo-menu-btn">
                    <button ng-show="menuAberto == false" ng-click="showHideMenu()"> <i class="fa fa-bars"></i> </button>
                    <button ng-show="menuAberto == true" ng-click="showHideMenu()"> <i class="fa fa-times"></i> </button>
                    <div ng-if="menuAberto == true" class="menu-bar-ativo">
                        <ul>
                            <li ng-click="showHideMenu()"><a href="{{link}}/noticias">Notícias</a></li>
                            <li ng-click="showHideMenu()"><a href="{{link}}/treinamentos">Treinamentos</a></li>
                            <li ng-click="showHideMenu()" ng-if="!loggedIn"><a href="{{link}}/sobre">Conheça-nos</a></li>
                            <li ng-click="showHideMenu()" ng-if="!loggedIn"><a href="{{link}}/contato">Contato</a></li>
                            <li ng-if="loggedIn" ng-click="menuGestao = !menuGestao">
                                <a>Gestão da Inovação <i ng-hide="menuGestao == true" class="fa fa-caret-down"></i><i ng-show="menuGestao == true" class="fa fa-caret-up"></i></a>
                                <ul ng-if="menuGestao == true" class="ul-float">
                                    <li ng-click="showHideMenu()" ng-repeat="empresa in listaEmpresas"><a class="submenu" href="{{link}}/empresa/{{empresa.idEmpresa}}">{{empresa.razaoSocial}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
            <ul id="topo-menu" ng-if="loggedIn">
                <li><a href="{{link}}/noticias">Notícias</a></li>
                <li><a href="{{link}}/treinamentos">Treinamentos</a></li>
                <li ng-if="!loggedIn"><a href="{{link}}/sobre">Conheça-nos</a></li>
                <li ng-if="!loggedIn"><a href="{{link}}/contato">Contato</a></li>
                <li ng-if="loggedIn">
                    <a>Gestão da Inovação</a>
                    <ul>
                        <li ng-repeat="empresa in listaEmpresas"><a href="{{link}}/empresa/{{empresa.idEmpresa}}">{{empresa.razaoSocial}}</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="topo-menu" ng-if="!loggedIn">
                <li><a href="../#noticias">Notícias</a></li>
                <li><a href="../#treinamentos">Treinamentos</a></li>
                <li ng-if="!loggedIn"><a href="../#sobre">Conheça-nos</a></li>
                <li ng-if="!loggedIn"><a href="../#contato">Contato</a></li>
                <li ng-if="loggedIn">
                    <a>Gestão da Inovação</a>
                    <ul>
                        <li ng-repeat="empresa in listaEmpresas"><a href="{{link}}/empresa/{{empresa.idEmpresa}}">{{empresa.razaoSocial}}</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="topo-menu-right">
                <li class="he-perfil" ng-if="loggedIn">
                    <a href="javascript:;" ng-click="showHidePerfilMenu()">
                        <img src="public/img/no-img.jpg" ng-if="noImg == true" />
                        <img src="{{user.image}}" ng-if="imgSocial == true" />
                        <img src="{{linkImage}}{{infoUser.perfilSmall}}" ng-if="imgUsr == true" />
                    </a>
                </li>
                <li ng-if="!loggedIn" class="login-topo"><a href="#login">Login</a></li>
                <li id="nome-perfil" ng-if="loggedIn" ng-click="showHidePerfilMenu()"><p class="bottom-space">{{(user.nome) ? user.nome : "Perfil"}}</p></li>
                <li class="he-notif bottom-space" ng-if="loggedIn" ng-click="showHideNotifications()">
                    <a href="javascript:;" id="icon-notification">
                        <i class="fa fa-bell" ng-mouseover="notification = !notification" ng-mouseleave="notification = !notification"></i>
                        <span class="qt-notif" ng-if="qtNotificacao > 0">{{(qtNotificacao > 99) ? '+99' : qtNotificacao}}</span>
                        <span class="tooltip" ng-show="notification">Notificações</span>
                    </a>

                </li>
                <span class="description-notifications" id="notification">Notificações</span>
                <li class="bottom-space" ng-if="loggedIn">
                    <a ng-click="hideAmigosMenu()" href="javascript:;" class="user">
                        <i class="fa fa-users" id="icon-friends" ng-mouseover="friends = !friends" ng-mouseleave="friends = !friends"></i>
                    </a>
                    <span class="description-notifications" id="friends">Amigos</span>
                    <span class="tooltip" ng-show="friends">Amigos</span>
                </li>
            </ul>
            <div id="menu-perfil" ng-class="{'menu-active': menuActivePerfil}">
                <div id="he-notifications" ng-class="{'active-notification': notificationsActive}" ng-if="loggedIn">
                    <ul>
                        <li ng-if="solicitacaoEmpresa.length > 0">
                            <h4>
                                Solicitações das Empresas</h3>
                                <ul>
                                    <li ng-repeat="empresa in solicitacaoEmpresa">
                                        <div class="user-info">
                                            <p class="nome">{{empresa.idEmpresa}} - {{empresa.razaoSocial}}</p>
                                        </div><div class="bt-resposta">
                                            <a ng-click="responderSolicitaoEmpresa(1, empresa.idEmpresa, $index)" href="javascript:;">
                                                <i class="fa fa-check"></i>
                                            </a>
                                            <a ng-click="responderSolicitaoEmpresa(0, empresa.idEmpresa, $index)" href="javascript:;">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                        </li>
                        <li ng-if="solicitacaoAmizades.length > 0">
                            <h3>Solicitações de Amizade</h3>
                            <ul>
                                <li ng-repeat="usuario in solicitacaoAmizades">
                                    <div class="user-img">
                                        <img ng-if="usuario.img" ng-src="usuario.img" alt="Imagem de perfil de {{usuario.nome}}">
                                        <img ng-if="!usuario.img" src="../public/img/no-img.jpg" alt="Sem imagem cadastrada.">
                                    </div><div class="user-info">
                                        <p class="nome">{{usuario.nome}}</p>
                                        <p class="email">{{usuario.email}}</p>
                                    </div><div class="bt-resposta">
                                        <a ng-click="responderSolicitaoAmizade(1, usuario.id)" href="javascript:;">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        <a ng-click="responderSolicitaoAmizade(0, usuario.id)" href="javascript:;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li ng-if="lstNotificacao.length > 0">
                            <h3>Notificações Gerais</h3>
                            <ul>
                                <li ng-repeat="notificacao in lstNotificacao">
                                    <div>
                                        <p><a ng-click="LerNotificacao()">{{notificacao.mensagem}}</a></p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li ng-if="qtNotificacao < 1">
                            <p class="no-not">Nenhuma notificação</p>
                        </li>
                    </ul>
                </div>
                <div id="menu-amigos" ng-class="{'active': menuActiveAmigos}">
                    <div ng-if="loggedIn">
                        <ul>
                            <li ng-if="solicitacaoPendentes.length > 0">
                                <h5>Amigos Pendentes</h5>
                                <ul>
                                    <li ng-repeat="pendente in solicitacaoPendentes">
                                        <div class="user-img">
                                            <img ng-if="pendente.img" ng-src="pendente.img" alt="Imagem de perfil de {{pendente.nome}}">
                                            <img ng-if="!pendente.img" src="../public/img/no-img.jpg" alt="Sem imagem cadastrada.">
                                        </div><div class="user-info">
                                            <p class="nome">{{pendente.nome}}</p>
                                            <p class="email">{{pendente.email}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5>Amigos</h5>
                                <ul>
                                    <li ng-repeat="amigo in amigos">
                                        <div class="user-img">
                                            <img ng-if="amigo.img" ng-src="amigo.img" alt="Imagem de perfil de {{amigo.nome}}">
                                            <img ng-if="!amigo.img" src="../public/img/no-img.jpg" alt="Sem imagem cadastrada.">
                                        </div><div class="user-info">
                                            <p class="nome">{{amigo.nome}}</p>
                                            <p class="email">{{amigo.email}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="he-perfis" ng-class="{'active-perfis': personNotifActive}" ng-if="loggedIn" ng-mouseleave="showHidePerfilMenu()">
                    <ul>
                        <li><a ng-click="hidePerfilMenu()" href="{{link}}/usuario/painel">Painel do Usuário</a></li>
                        <li><a ng-click="hidePerfilMenu()" href="{{link}}/galeria">Galeria</a></li>
                        <li ng-click="hidePerfilMenu()" ng-if="loggedIn"><a class="ranking" href="{{link}}/ranking">Ranking</a></li>
                        <li ng-click="hidePerfilMenu()"><a href="javascript:;" ng-click="logout()">Sair</a></li>
                    </ul>
                </div>
            </div>
    </header>
    <div ng-click="closeMenuMobile()" ng-view id="conteudo" ng-class="{'menu-active': menuActive, 'menu-perfil-active': menuActivePerfil}" ng-swipe-right="openMenu()" ng-swipe-left="closeMenu()" autoscroll="true"></div>
    <div id="loader" ng-class="{'active': loaderActive}"></div>

    <!-- Jquery -->
    <script type="text/javascript" src="source/js/jquery.min.js"></script>
    <!-- bootstap
    <script type="text/javascript" src="source/js/bootstrap.min.js"></script>-->
    <!-- Toastr -->
    <script type="text/javascript" src="source/js/toastr.min.js"></script>
    <!-- Angular 1.4 -->
    <script type="text/javascript" src="source/js/angular.min.js"></script>
    <script type="text/javascript" src="source/js/angular-route.min.js"></script>
    <script type="text/javascript" src="source/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="source/js/angular-cookies.min.js"></script>
    <!-- Angular Loader -->
    <script type="text/javascript" src="source/js/loading-bar.js"></script>
    <!-- Angular material icons -->
    <script type="text/javascript" src="source/js/angular-material-icons.min.js"></script>
    <!-- Charts -->
    <script type="text/javascript" src="source/js/Chart.js"></script>
    <script type="text/javascript" src="source/js/angular-chart.min.js"></script>
    <script type="text/javascript" src="source/js/angular-chart.js"></script>
    <!-- Draggable -->
    <script type="text/javascript" src="source/js/ngDraggable.js"></script>
    <!-- Paginação -->
    <script type="text/javascript" src="source/js/dirPagination.js"></script>
    <!-- Multi Select -->
    <script type="text/javascript" src="source/js/isteven-multi-select.js"></script>
    <!-- cordova -->
    <script type="text/javascript" src="source/js/cordova.js"></script>
    <!-- AngularText -->
    <script type="text/javascript" src="source/js/text.js"></script>
    <script type="text/javascript" src="source/js/angular-wysiwyg.js"></script>
    <script type="text/javascript" src="source/js/bootstrap-colorpicker-module.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- Mascara de campo -->
    <script type="text/javascript" src="source/js/mask.min.js"></script>
    <!-- Collapse (Bootstrap) -->
    <script type="text/javascript" src="source/js/collapse.js"></script>
    <!-- Google Material Design
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>-->
    <!-- Projeto JS -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <!-- APP Js -->
    <script type="text/javascript" src="public/js/app.js"></script>
    <!-- Controllers - Projeto Js -->
    <script type="text/javascript" src="public/js/controllers.js"></script>
    <script type="text/javascript" src="public/js/cadastroController.js"></script>
    <script type="text/javascript" src="public/js/empresaController.js"></script>
    <script type="text/javascript" src="public/js/empresaController.js"></script>
    <script type="text/javascript" src="public/js/historiasController.js"></script>
    <script type="text/javascript" src="public/js/inicialController.js"></script>
    <script type="text/javascript" src="public/js/noticiaController.js"></script>
    <script type="text/javascript" src="public/js/rankingController.js"></script>
    <script type="text/javascript" src="public/js/treinamentoController.js"></script>
    <!-- Services -->
    <script type="text/javascript" src="public/js/services.js"></script>
    <!--Kernel
    <script type="text/javascript" src="public/js/kernel.js"></script>-->
    <script src="https://apis.google.com/js/api:client.js"></script>
    <!-- ngDialog -->
    <script type="text/javascript" src="source/js/ngDialog.js"></script>
    <!-- Angular Social Share -->
    <script type="text/javascript" src="source/js/angular-socialshare.js"></script>

    <script type="text/javascript" src="source/js/angular-touch.js"></script>

</body>
</html>
