<main ng-if="loggedIn" id="con-adm-porta-usuarios">
	<section ng-if="user.perfis.indexOf('AP') >= 0">
		<section id="per-noticias">
			<h2>Usuários Cadastrados</h2>
			<ul id="list-users">
				<li id="list-header" dir-paginate="usuario in usuarios | itemsPerPage: itemsPerPage">
					<p><b>#: {{usuario.id}}</b> - {{usuario.nome}} </p><p><b>Email:</b> {{usuario.email}}</p>
					<p><b>Data de Cadastro:</b> {{usuario.dataCadastro}}</p><p><b>Perfis:</b>
					<button ng-repeat="perfil in usuario.perfis | orderBy: '-sigla'" ng-class="{'checked': perfil.ticked}" ng-disabled="perfil.disabled" title="{{perfil.nome}}" ng-click="mudarPermissao(usuario, perfil.id)" class="bt">
						{{perfil.sigla}}
					</button>
					</p>
				</li>
			</ul>
			<dir-pagination-controls></dir-pagination-controls>
		</section>
	</section>
</main>