<main ng-if="loggedIn" ng-init="openMenu=false" id="con-benchmarks">

	<img src="../public/img/bg.jpg" class="bg">
	<div class="menu_company" ng-class="{menuVisible: openMenu}">
		<div class="col-md-12">
			<hgroup>
			<h3>{{empresaInfo.razaoSocial}}</h3><br>
			</hgroup>
		</div>
		<div class="col-md-12 margin-top" id="company">
			<figure class="emp-img">
				<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
					<img src="../public/img/logo-none.png" alt="Sem Logo" />
				</div>
				<img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
			</figure>
		</div>
	</div>
	<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
		<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
		<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
	</button>
	<div class="grid-buttons" ng-class="{gridRight: openMenu}">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="{{link}}/usuario/painel">Home</a></li>
			<li><a href="{{link}}/empresa/listar">Empresas</a></li>
			<li><a href="{{link}}/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
			<li  class="active"><a href="#">Análise Geral</a></li>
		</ol>
		<h2> Análise Geral </h2>
		<section id="his-buttons">
			<div class="row">
				<div class="input-group">
					<div class="col-md-4 ">
						<a  href="{{link}}/empresa/{{empresa.id}}/analise-perfil">
							<h2><p class="fa fa-area-chart fa-icon"></p></h2>
							<h3><p class="text">Perfil</p></h3>
						</a>
					</div>
					<div class="col-md-4 ">
						<a href="{{link}}/empresa/{{empresa.id}}/analise-historia">
							<h2><p class="fa-icon fa fa-line-chart"></p></h2>
							<h3><p class="text">Historia</p></h3>
						</a>
					</div>
					<div class="col-md-4 ">
						<a href="{{link}}/empresa/{{empresa.id}}/analise-brainstorm">
							<h2><p class="fa-icon  fa fa-bar-chart"></p></h2>
							<h3><p class="text">Brainstorm</p></h3>
						</a>
					</div>
				</div>
			</div>
		</section>				
	</div>	
</main>		

