<main ng-if="loggedIn" id="con-benchmarks" ng-init="">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="{{link}}/usuario/painel">Home</a></li>
			<li><a href="{{link}}/empresa/listar">Empresas</a></li>
			<li><a href="{{link}}/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
			<li><a href="{{link}}/empresa/{{empresa.id}}/analise-dashbord">Análise</a></li>
			<li  class="active"><a href="#"></a>História</li>
		</ol>
		<h2 class="text-to-center"> Análise da História da Empresa</h2>
	</div>
	<div class="col-md-12 col-xs-12 position-his result-container-grupo">
		<div class="col-lg-12 col-md-12 col-xs-12 historiasSelect">
			<div class="col-md-4 col-xs-12 nome-mark-his center" ng-click= "loadGraficoHistoriaAberta(historia)" ng-class="{'nome-dismark': changeColorAberta}">
				<h3><i class="fa fa-play-circle" aria-hidden="true"/> Aberta</h3>
			</div>
			<div class="col-md-4 col-xs-12 nome-mark-his center"  ng-click= "loadGraficoHistoriaVencida(historia)" ng-class="{'nome-dismark': changeColorVencida}">
				<h3><i class="fa fa-clock-o" aria-hidden="true"/> Vencida</h3>
			</div>
			<div class="col-md-4 col-xs-12 nome-mark-his center" ng-click= "loadGraficoHistoriaFechada(historia)" ng-class="{'nome-dismark': changeColorFechada}">
				<h3><i class="fa fa-flag-checkered" aria-hidden="true" /> Fechada</h3>
			</div>

		</div>
	</div>
	<!--<div class="col-md-12" >
		<div class="col-md-12 div-helena-geral">
			<div class="col-md-3">
				<img class="historias-helena" src="/public/img/marcelo.png" alt="Personagem"/>
			</div>
			<div class="col-md-9 div-helena-texto">
				<h1> Para analisar o perfil da equipe da empresa, selecione as História no menu ao lado esquerdo! </h1>
			</div>
		</div>
	</div>-->
		<div class="transparent">
			<canvas id="line" class="chart chart-line" chart-data="dataUser" chart-labels="label" chart-colours="colours" chart-series="serie" chart-options="options"></canvas>
		</div>
</main>
