<main id="con-cadastro">

	<img src="../public/img/bg.jpg" class="bg">
	<h2>Recuperar Senha</h2>
	<form>
			<div class="row">
				<div class="input-group">
					<div class="col-md-12">
						<label>E-mail
							<input required type="email" ng-model="usuario.email">
						</label>
					</div>

					<div class="col-md-12">
						<label>Nova Senha
							<input required type="password" ng-model="usuario.novaSenha">
						</label>
					</div>

					<div class="col-md-12 ">
						<label>Confirme sua nova senha
							<input required type="password" ng-model="usuario.repSenha">
						</label>
					</div>
				</div>
			</div>

			<div>
				<div>
					<button class="button right" ng-click="enviaNovaSenha(usuario)">
						<ng-md-icon icon="save" size= "64"></ng-md-icon>
					</button>
					<button class="button">
						<ng-md-icon icon="arrow_back" onClick="history.go(-1)" size="64"></ng-md-icon>
					</button>
				</div>
			</div>
	</form>
</main>
