<main ng-if="loggedIn" id="con-5w2h" ng-init="users = acoes.usuarios; active = false; btnAddAcao == true; openMenu = false"> <!--form = false; -->
<img src="../public/img/bg.jpg" class="bg">
<div class="menu_company" ng-class="{menuVisible: openMenu}">
	<div class="col-md-12" id="company">
		<figure class="emp-img">
			<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
				<img src="../public/img/logo-none.png" alt="Sem Logo" />
			</div>
			<img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
		</figure>
		<figcaption class="emp-img-hover" ng-if="perfilUser == 'ADMINISTRADOR'">
			<div class="upload">
				<input type="file" name="imagem" empresa-file accept="image/jpeg"/>
			</div>
		</figcaption>
	</div>
	<div class="col-md-12">
		<hgroup>
			<h3>{{empresaInfo.razaoSocial}}</h3><br>
		</hgroup>
	</div>
	<div class="col-md-12 col-xs-12 info-historia">
		<h4 class="text-center">{{historia.titulo}}</h4>
		<p class="text-center" ng-bind-html="historia.descricao | to_trusted"></p>
		<h5 class="text-center">Período: {{historia.dataCriacao | date: 'dd/MM/yyyy'}} -- {{historia.dataLimite | date: 'dd/MM/yyyy'}}</h5>
	</div>
	<div class="col-md-12 col-xs-12 descricao-plano">
		<h3 class="text-center">Descrição do Plano</h3>
		<div class="col-md-12 col-xs-12">
			<h4>Assunto: <span>{{tituloPlano}}</span></h4>
			<h4>Ataque: <span>{{ataquePlano}}</span></h4>
			<h4>Descrição: <span>{{descPlano}}</span></h4>
		</div>
	</div>
</div><!--Menu Company-->
<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
	<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
	<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
</button>
<div class="grid-buttons" ng-class="{gridRight: openMenu}">
	<div class="col-md-12 col-xs-12">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
		  <li><a href="{{link}}/usuario/painel">Home</a></li>
			<li><a href="{{link}}/empresa/listar">Empresas</a></li>
			<li><a href="{{link}}/empresa/{{idEmpresa}}">{{empresaInfo.razaoSocial | limitTo : 20}}</a></li>
			<li><a href="{{link}}/historias/empresa/{{idEmpresa}}">Histórias</a></li>
			<li><a  href="{{link}}/historias/{{empresaInfo.idEmpresa}}/{{historia.id}}/dashboard">{{historia.titulo	| limitTo : 20}}...</a></li>
			<li><a href="{{link}}/planoacao/{{empresaInfo.idEmpresa}}/{{historia.id}}">Plano de Ação</a></li>
			<li><a href="{{link}}/planoacao/{{empresaInfo.idEmpresa}}/{{historia.id}}/{{idPlano}}/editar">{{tituloPlano}}</a></li>
			<li class="active"><a href="#">Atividades</a></li>
		</ol>
	</div>

	<div class="col-md-12 col-xs-12" style="padding: 0">
		<div class="col-md-12 col-xs-12" style="padding: 0">
			<h2>Atividades do Plano de Ação</h2>
			<div class="col-md-12 col-xs-12">
				<div class="click-add " ng-click="NovaAcao(); showForm()">
					<button class="btn-add-action">
						<i class="fa fa-child"></i>
					</button>
					<h3>+ Atividade</h3>
				</div>
			</div>
	        <!-- Listar Ações -->
	    <div id="actions">
				<div class="col-md-12 col-xs-12 title-in-company">
	        <input type="text" ng-model="pesquisaAcao" placeholder="Filtrar Ação" ng-hide="btnAddAcao == false">
	      </div>

	        <div class="col-md-12 col-xs-12 actions-container">
            <div class="col-md-6 col-xs-12" dir-paginate="tarefa in lstTarefa | filter: pesquisaAcao | itemsPerPage: 10" pagination-id="acaoIdPagination">
							<div class="col-md-12 col-xs-12 list-actions">
								<div class="col-md-11 col-xs-9">
									<h5><i class="fa fa-child"></i> {{tarefa.acao}}</h5>
								</div>
								<div class="col-md-1 col-xs-3">
									<button class="btn-delete">
										<i class="fa fa-trash" ng-click="openModalAcao(tarefa.idprojeto5w2h, tarefa.idprojeto5w2hitem, $index)"></i>
									</button>
									<button class="btn-add" ng-click="showForm()">
										<i class="fa fa-pencil" ng-click="CarregaTarefa($index)"></i>
									</button>
								</div>
							</div>
            </div>
	        </div>
	        <div class="div-paginacao">
	            <dir-pagination-controls pagination-id="acaoIdPagination"></dir-pagination-controls>
	        </div>
	        </div>
	        <!-- Cadastrar Nova Ação -->
			<div class="col-md-12 forms" id="form">
				<form ng-submit="TarefaAcaoSalvar(item)">
	                <div class="col-md-12">
	                    <label> O que: </label>
	                    <input class="inputBusca" type="text" ng-model="item.acao" placeholder="Descrição da Ação">
	                </div>
	                <div class="col-md-6 col-sm-6">
	                    <label> Por Que: </label>
	                    <textarea class="inputBusca" ng-model="item.motivo" placeholder="Motivo"></textarea>
	                </div>
	                <div class="col-md-6 col-sm-6">
	                    <label> Como: </label>
	                    <textarea class="inputBusca" ng-model="item.detalhamento" placeholder="Detalhamento"></textarea>
	                </div>
					<div class="col-md-6 col-sm-6">
						<div class="col-md-6 col-sm-6">
	                        <label> Data Inicial: </label>
					        <input class="inputBusca form-control" type="date" ng-model="item.dtInicio" format-date required>
	                    </div>
	                    <div class="col-md-6 col-sm-6">
	                        <label> Data Final: </label>
	                        <input class="inputBusca" type="date"  ng-model="item.dtTermino" format-date>
	                    </div>
	                </div>
	                <div class="col-md-6 col-sm-6">
	                    <div class="col-md-6 col-sm-6" >
	                        <label> Onde: </label>
	                        <input class="inputBusca" type="text" ng-model="item.local" placeholder="Local">
	                    </div>
	                    <div class="col-md-6 col-sm-6">
	                        <label> Quanto Custa: </label>
	                        <input class="inputBusca" type="number" ng-model="item.valor" placeholder="R$0,00">
	                    </div>
	                </div>
	                <div class="col-md-12 group-users">
	                    <div class="col-md-6">
	                        <label> Usuários Disponíveis: </label>
													<div class="col-md-12 col-xs-12">
														<div dir-paginate="item in usuariosDisponiveis | itemsPerPage: itensPagina" current-page="newPageNumberAdd" pagination-id="userDisponivel">
															<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista.html'"></div>
														</div>
														<div class="div-paginacao">
															<dir-pagination-controls pagination-id="userDisponivel"></dir-pagination-controls>
														</div>
													</div>
	                    </div>
	                    <div class="col-md-6 col-sm-6">
	                        <label> Usuários Na Ação: </label>
													<div class="col-md-12 col-xs-12">
														<div dir-paginate="item in usuariosSelecionados | itemsPerPage: itensPagina" current-page="newPageNumberDelete" pagination-id="userTarefa">
															<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista.html'" ng-init="botaoExcluir = true; botaoAdicionar = false"></div>
														</div>
														<div class="div-paginacao">
															<dir-pagination-controls pagination-id="userTarefa"></dir-pagination-controls>
														</div>
													</div>
	                    	</div>
	                    </div>
	                <div class="col-md-12 block">
	                    <button class="btn-save" type="submit"> <ng-md-icon icon="save" size= "64"></ng-md-icon> </button>
	                    <button class="btn-back" type="button" ng-click="showForm()"><ng-md-icon icon="arrow_back" size="64"></ng-md-icon> </button>
	                </div>
	            </form>	<!--Form Adicionar-->
	        </div>
	    </div>
		</div>
	</div>
		<script type="text/ng-template" id="ConfirmTemplateId">
			<div id="con-empresa">
				<p>Você realmente deseja excluir o usuário da tarefa? </p>
				<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirUsuarioCrtl(newIndiceUsuario)"></i>
				<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToCloseFunction()"></i>
			</div>
		</script>
		<script type="text/ng-template" id="excluirAcaoDialog">
			<div id="con-empresa">
			<p>"Você realmente deseja excluir esta ação?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirAcao(idbrGlobal, idacaoGlobal, indexAcao)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
			</div>
		</script>
		<script type="text/ng-template" id="modalUsuarioDescricao">
			<div id="modal-info">
				<div class="col-md-12 text-center">
					<img src="../public/img/no-img.jpg" alt="" />
				</div>
				<div class="col-md-12">
					<strong>Nome: </strong>{{usuario.nome}}</br>
					<strong>Email: </strong>{{usuario.email}}</br>
				</div>
			</div>
		</script>
</main>
