<main id="con-ideia-add" ng-if="loggedIn">
	<img src="../public/img/bg.jpg" class="bg">
	<h2><ng-md-icon class="icon-back left" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>Adicionar Histórias</h2>
	<form>
		<div class="row" id="select">
			<div class="input-group">
				<div ng-class="{'col-md-12' : varDisable == true, 'col-md-9' : varDisable == false}">
					<label class="control-label">Título: </label>
					<input class="forme-control" type="text"  ng-model="ideia.titulo" name="titulo" required>
				</div>
				<div class="col-md-3 col-xs-3" ng-hide="varDisable == true">
					<label class="control-label">Empresa: </label>
					<select ng-model="ideia.idEmpresa" class="select-prior forme-control" ng-options="empresa.idEmpresa as empresa.razaoSocial for empresa in listaEmpresas" ng-change="selectEmpresaId(ideia.idEmpresa)"></select>
				</div>
			</div>
		</div>
		<div id="select" class="row">
			<div class="input-group">
				<div class="col-md-5 col-xs-12">
					<label class="control-label"> Data Inicial:	</label>
					<input type="date" class="forme-control" ng-model="ideia.dataCriacao" format-date required>
				</div>
				<div class="col-md-5 col-xs-12">
					<label class="control-label"> Data Limite:</label>
					<input type="date" class="forme-control" ng-model="ideia.dataLimite" format-date required>
				</div>
				<div class="col-md-2 col-xs-12">
					<label class="control-label"> Prioridade: </label>
					<div class="col-md-12 col-xs-12 prioridade">
						<i ng-model="ideia.prioridade" data-ng-repeat="x in [1,2,3,4,5]" class="fa" ng-class="{'fa-star': x <= ideia.prioridade, 'fa-star-o': x > ideia.prioridade}" ng-click="definePrioridade(x)"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-group">
				<div class="col-md-12 col-xs-12">
					<label class="control-label">Descrição:</label>
					<wysiwyg  id="question" textarea-class="form-control" textarea-height="200px" textarea-name="textareaQuestion" textarea-name="textareaQuestion" textarea-backround="white" textarea-required textarea-menu="menu" ng-model="ideia.descricao" enable-bootstrap-title="false"></wysiwyg>
				</div>
			</div>
		</div>
	</form>
		<div class="row">
			<div class="input-group">
				<div class="col-md-6 col-xs-12">
					<form>
						<label>
						Carregar Imagem: <br/>
							<p class="info-msg">*Aceito somente arquivos em formato JPEG</p>
							<input type="file" name="imagem" file-model="ideiaImagem" accept="image/jpeg" /><span id="res-msg"></span>
							<span id="res-msg"></span>
							<span id="res-msgss"></span>
						</label>
						<i class="fa fa-cloud-upload fa-2x" ng-click="salvarHistoriasImagem(ideiaImagem)"></i>
					</form>
					<section>
						<ul id="lista-imagens">
						<li ng-repeat='imagem in imagensOk'>
							<a class="excluir-icon" ng-click="excluirHistoriasImagem(imagem, $index)"><i class="fa fa-times"></i></a>
							<img class="img-historia" ng-src="{{imagemUrl}}/imagens/temp/{{empresaImg}}/{{idUsuario}}/{{imagem}}">
						</li>
						</ul>
					</section>
				</div>

				<form>
					<div class="col-md-5 col-xs-10">
						<label>
							Adicionar Link: <br/>
							<input class="forme-control" type="text" required ng-model="ideia.link">
						</label>
					</div>
					<div class="col-md-1 col-xs-2">
						<label>
							<button class="btn-add-link" type="submit" ng-click="salvarHistoriasLink(ideia.link)"><i class="fa fa-plus"></i></button>
						</label>
					</div>
				</form>
				<div class="col-md-6 col-xs-12">
					<p ng-repeat="links in linksLista">{{links}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-group">
				<div class="col-md-12 col-xs-12">
					<label>Defina as funções que serão utilizadas nessa história:</label>
				</div>
				<div class="col-md-12 col-xs-12 options-historia">
					<label><input type="checkbox" ng-model="ideia.boBrainstorming" ng-checked="true" ng-true-value="'S'" ng-false-value="'N'"> <i class="fa fa-file-text"></i> Brainstorming</label>
					<label><input type="checkbox" ng-model="ideia.boCanvas" ng-checked="true" ng-true-value="'S'" ng-false-value="'N'"> <i class="fa fa-th"></i> Canvas</label>
					<label><input type="checkbox" ng-model="ideia.boPlanoAcao" ng-checked="true" ng-true-value="'S'" ng-false-value="'N'"> <i class="fa fa-empire"></i> Plano de Ação</label>
				</div>
			</div>
		</div>
		<div>
			<div class="salvar">
				<ng-md-icon icon="save" ng-click="salvarHistoria(ideia)" size= "64"></ng-md-icon>
			</div>
		</div>

	<script type="text/ng-template" id="templateId">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir esse link?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirHistoriasLink()"></i>
			<i class="fa fa-close fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>
		<script type="text/ng-template" id="imgTemplateId">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir esta imagem?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirHistoriasImagem(imagem, $index)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>
</main>
