<main id="con-cadastro">
	<img src="../public/img/bg.jpg" class="bg">
	<h2> Recuperar Senha </h2>
		<form>
			<div class="row">
				<div class="input-group">
					<div class="col-md-12 ">
						<label class="control-label">E-mail:
							<input class="form-control" required type="email" name="email" ng-model="email">
						</label>
					</div>
				</div>
			</div>

			<div>
				<div>
					<button class="button right" ng-click="emailSenha(email)">
						<ng-md-icon icon="save" size= "64"></ng-md-icon>
					</button>
					<button class="button">
						<ng-md-icon icon="arrow_back" onClick="history.go(-1)" size="64"></ng-md-icon>
					</button>

				</div>
			</div>
		</form>
</main>
