<main ng-if="loggedIn" id="empresa-swot-add" ng-init="openMenu=false">
	<section>
		<img src="../public/img/bg.jpg" class="bg">
		<div class="menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12" id="company">
				<figure class="emp-img">
					<div class="emp-img-out" ng-if="empresa.imagem == false">
						<img src="../public/img/logo-none.png" alt="Sem Logo" />
					</div>
					<img ng-src="{{imagemUrl}}imagens/empresa/{{empresa.id}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
				</figure>
			</div>
			<div class="col-md-12">
				<hgroup>
					<h3>{{empresaInfo.razaoSocial}}</h3><br>
				</hgroup>
			</div>
			<div class="col-md-12 col-xs-12">
				<form class="" ng-submit="adicionarSwot(swot)">
					<div class="col-md-12 col-xs-12 input-text">
						<div class="col-md-12 col-xs-12">
							<label for="">Título:</label>
							<input type="text" name="name" value="" class="form-control" ng-model="swot.titulo">
              <a href="#" ng-click="teste()">Teste</a>
						</div>
						<div class="col-md-12 col-xs-12">
							<label for="">Descrição:</label>
							<input type="text" name="name" value="" class="form-control" ng-model="swot.descricao" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-6 col-xs-12">
							<label for="">Data Inicial:</label>
							<input type="date" name="name" value="" class="form-control" ng-model="swot.dtInicio" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-6 col-xs-12">
							<label for="">Data Final:</label>
							<input type="date" name="name" value="" class="form-control" ng-model="swot.dtFinal" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-4 col-xs-12">
							<label for="">Pont. Max:</label>
							<input type="number" name="name" value="" class="form-control" ng-model="swot.ptMax" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-4 col-xs-12">
							<label for="">Pont. Min:</label>
							<input type="number" name="name" value="" class="form-control" ng-model="swot.ptMin" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-4 col-xs-12">
							<label for="">Nota Corte:</label>
							<input type="number" name="name" value="" class="form-control" ng-model="swot.nota" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-12 col-xs-12">
							<button type="submit" name="button" class="btn-add" ng-disabled="inputDisable == 'true'"><ng-md-icon icon="save" size= "32"></ng-md-icon> </button>
						</div>
					</div>
				</form>
				<form class="" ng-submit="adicionarItemSwot(item, opcao)">
					<div class="col-md-12 col-xs-12">
						<label for="">Característica:</label>
						<input type="text" name="name" value="" class="form-control" ng-model="item.text">
					</div>
					<div class="col-md-12 col-xs-12 radio-opcoes">
						<div class="col-md-3 col-xs-12">
							<button type="submit" name="button" ng-click="opcao = 'S'">Força</button>
						</div>
						<div class="col-md-3 col-xs-12">
							<button type="submit" name="button" ng-click="opcao = 'O'">Oportunidade</button>
						</div>
						<div class="col-md-3 col-xs-12">
							<button type="submit" name="button" ng-click="opcao = 'W'">Fraqueza</button>
						</div>
						<div class="col-md-3 col-xs-12">
							<button type="submit" name="button" ng-click="opcao = 'T'">Ameaça</button>
						</div>
					</div>
				</form>
			</div>
		</div><!--Menu Company-->
		<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
		<div class="grid-buttons" ng-class="{gridRight: openMenu}">
			<h2 class="title">SWOT <a href="{{link}}/empresa/24/swot/33/analise"><i class="fa fa-gavel icon-add" aria-hidden="true"></i></a></h2>
			<div class="col-md-12 col-xs-12 quadro-swot">
				<div class="col-md-6 col-xs-12">
					<h3 class="text-center"><i class="fa fa-link" aria-hidden="true"></i>  Força</h3>
					<div class="col-md-12 col-xs-12 itens" ng-repeat="item in lstForca">
						<div class="col-md-10 col-xs-8">
							<span>{{item.descricao}}</span>
						</div>
						<div class="col-md-2 col-xs-4">
							<button class="btn-info" type="button" name="button"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
							<button class="btn-excluir" type="button" name="button" ng-click="excluirItemSwot(id, 'S', $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<h3 class="text-center"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Oportunidade</h3>
					<div class="col-md-12 col-xs-12 itens" ng-repeat="item in lstOportunidade">
						<div class="col-md-10 col-xs-8">
							<span>{{item.descricao}}</span>
						</div>
						<div class="col-md-2 col-xs-4">
							<button class="btn-info" type="button" name="button"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
							<button class="btn-excluir" type="button" name="button" ng-click="excluirItemSwot(id, 'O', $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<h3 class="text-center"><i class="fa fa-chain-broken" aria-hidden="true"></i> Fraqueza</h3>
					<div class="col-md-12 col-xs-12 itens" ng-repeat="item in lstFraqueza">
						<div class="col-md-10 col-xs-8">
							<span>{{item.descricao}}</span>
						</div>
						<div class="col-md-2 col-xs-4">
							<button class="btn-info" type="button" name="button"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
							<button class="btn-excluir" type="button" name="button" ng-click="excluirItemSwot(id, 'W', $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<h3 class="text-center"><i class="fa fa-bomb" aria-hidden="true"></i> Ameaça</h3>
					<div class="col-md-12 col-xs-12 itens" ng-repeat="item in lstAmeaca">
						<div class="col-md-10 col-xs-8">
							<span>{{item.descricao}}</span>
						</div>
						<div class="col-md-2 col-xs-4">
							<button class="btn-info" type="button" name="button"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
							<button class="btn-excluir" type="button" name="button" ng-click="excluirItemSwot(id, 'T', $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
