<main ng-if="loggedIn" id="con-benchmarks" ng-init="changeColor = false">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12" ng-hide= "varDisable == false">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="{{link}}/usuario/painel">Home</a></li>
			<li><a href="{{link}}/empresa/listar">Empresas</a></li>
			<li><a href="{{link}}/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
			<li><a href="{{link}}/empresa/{{empresa.id}}/analise-dashbord">Análise</a></li>
			<li  class="active"><a href="#">Perfil da Equipe</a></li>
		</ol>
	</div>
	<div class="col-md-12" ng-hide= "varDisable == true">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="{{link}}/usuario/painel">Home</a></li>
			<li  class="active"><a href="#">Perfil</a></li>
		</ol>
	</div>
	<section>
		<h2 ng-hide= "varDisable == false"> Análise de Perfil da Equipe </h2>
		<h2 ng-hide= "varDisable == true"> Análise de Perfil </h2>

		<div class="col-lg-12 col-md-12 col-xs-12 position-user title-in-company" ng-hide= "varDisable == false">
			<input type="text" ng-model="busca" placeholder="Filtrar equipe da empresa">
		</div>
		<div class="col-lg-12 col-xs-12 position-user title-in-company">
			<div class="col-lg-3 col-sm-6 col-xs-12 result-container-grupo" dir-paginate="usuario in usuariosNaEmpresa | itemsPerPage:8 | orderBy: filtro | filter: busca" pagination-id="usuariografico">
				<div class="col-lg-12 col-xs-12 nome-mark center" ng-class="{'nome-dismark': changeColor == true}" ng-click="loadInfoUsuario(usuario); changeColor = !changeColor && series.length <= 3">
					<div class="col-md-2 col-xs-2">
						<img src="../public/img/no-img.jpg" alt="">
					</div>
					<div class="col-md-10 col-xs-10">
						<a class="linkGrupos"><h3>{{usuario.nome}}</h3></a>
					</div>
				</div>
			</div>
			<div class="div-paginacao">
				<dir-pagination-controls pagination-id="usuariografico"></dir-pagination-controls>
			</div>
		</div>
		</div>
		<div class="col-md-12 col-xs-12" ng-if="series.length <= 0" ng-hide= "varDisable == false">
			<div class="col-md-12 col-xs-12 div-helena-geral">
				<div class="col-md-3 col-xs-12">
					<img class="historias-helena" src="/public/img/marcelo.png" alt="Personagem"/>
				</div>
				<div class="col-md-9 div-helena-texto">
					<h1> Para analisar o perfil da equipe da empresa, selecione as pessoas no menu ao lado esquerdo! </h1>
					<h1> Lembrando que podem ser analisads apenas quatro pessoas ao mesmo tempo! </h1>
				</div>
			</div>
		</div>

		<div class="transparent" ng-if="series.length > 0">
			<canvas id="radar" class="chart chart-radar" chart-data="dataUsers" chart-labels="labels" chart-colours="colours" chart-option="options" chart-series= "series" chart-legend="true"></canvas>
		</div>
	</section>
</main>
