<main ng-if="loggedIn" id="con-benchmarks" ng-init="changeColor = false">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="{{link}}/usuario/painel">Home</a></li>
			<li><a href="{{link}}/empresa/listar">Empresas</a></li>
			<li><a href="{{link}}/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
			<li><a href="{{link}}/empresa/{{empresa.id}}/analise-dashbord">Análise</a></li>	
			<li  class="active"><a href="#"></a>Brainstorming</li>
		</ol>
		<h2 class="text-to-center"> Análise da Brainstorming da Empresa</h2>
	</div>	
	<!--<div class="col-md-12 col-xs-12 position-brain result-container-grupo">
		<div class="col-lg-12 col-md-12 col-xs-12">	
			<a class="linkGrupos nome-mark-his col-md-4 col-xs-12 center" ng-class="{'nome-dismark': changeColor == true}"><h3><i class="fa fa-lightbulb-o" aria-hidden="true"/> Agrupado por histórias</h3></a>
			<a class="linkGrupos nome-mark-his col-md-4 col-xs-12 center" ng-class="{'nome-dismark': changeColor == true}"><h3><i class="fa fa-lightbulb-o" aria-hidden="true"/> Agrupado por usuario</h3></a>
			<a class="linkGrupos nome-mark-his col-md-4 col-xs-12 center" ng-class="{'nome-dismark': changeColor == true}"><h3><i class="fa fa-lightbulb-o" aria-hidden="true"/>Brainstormings aproveitados</h3></a>
		</div>		
	</div>
	<div class="col-md-12" >
		<div class="col-md-12 div-helena-geral">
			<div class="col-md-3">
				<img class="historias-helena" src="/public/img/marcelo.png" alt="Personagem"/>
			</div>
			<div class="col-md-9 div-helena-texto">
				<h1> Para analisar o perfil da equipe da empresa, selecione as Brainstorming no menu ao lado esquerdo! </h1>
			</div>
		</div>
	</div>-->
	<div class="transparent">
		<canvas id="bar" class="chart chart-bar" chart-data="dataUserBrain" chart-labels="labelBrain" chart-colours="colourBrain" chart-series= "serieBrain" ></canvas>		
	</div>

</main>
