<main id="con-brainstorm" ng-if="loggedIn" ng-init="editaBrainstorm = false; openMenu = false">
<img src="../public/img/bg.jpg" class="bg">
<div class="menu_company" ng-class="{menuVisible: openMenu}">
	<div class="col-md-12" id="company">
		<figure class="emp-img">
			<div class="emp-img-out" ng-if="empresa.imagem == false">
				<img src="../public/img/logo-none.png" alt="Sem Logo" />
			</div>
			<img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
		</figure>
	</div>
	<div class="col-md-12">
		<hgroup>
			<h3>{{empresa.razaoSocial}}</h3><br>
		</hgroup>
	</div>
	<div>
		<div class="group-icons text-center">
			<i ng-click="modalAddIdeia()" class="fa fa-lightbulb-o fa-3x icone-brainstorm" aria-hidden="true"></i>
			<h3>Adicionar Brainstorm</h3>
		</div>
	</div>
	<div ng-click="modalAddGrupo()">
		<div class="group-icons text-center">
			<img src="../public/img/adicionarGrupo.png"/>
			<h3>Adicionar Grupo</h3>
		</div>
	</div>
</div><!--Menu Company-->
<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
	<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
	<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
</button>
<div class="grid-buttons" ng-class="{gridRight: openMenu}">
		<div class="col-md-12 col-xs-12">
			<ol class="breadcrumb">
				<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
				<li><a href="{{link}}/usuario/painel">Home</a></li>
				<li><a href="{{link}}/empresa/listar">Empresas</a></li>
				<li><a href="{{link}}/empresa/{{idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
				<li><a href="{{link}}/historias/empresa/{{idEmpresa}}">Histórias</a></li>
				<li><a  href="{{link}}/historias/{{empresaInfo.idEmpresa}}/{{historia.id}}/dashboard">{{historia.titulo	 | limitTo : 20}}...</a></li>
				<li  class="active"><a href="#">Brainstorming</a></li>
				<i class="fa fa-question-circle help" aria-hidden="true" ng-click="showHelp = 'true'"></i>
			</ol>
		</div>
		<section id="con-brainstorm">
			<div class="title">
				 <h2>{{historia.titulo}}</h2>
			</div>
			<div class="col-md-12">
				<div class="groups" ng-drop="true" ng-drop-success="removeBrainstormGrupo($data)">
					<h3 class="text-instrucao">Solte Aqui</h3>
					<div class="groups-content">
						<i class="fa fa-th fa-3x" ng-click="defineFiltro('', 0)"></i>
						<h3>Todos</h3>
					</div>
				</div>
				<div class="groups" ng-class="{grupoSelected: grupo.id == idGrupoSelected}" ng-repeat="grupo in lstGrupo" ng-drop="true" ng-drop-success="addBrainstormGrupo($data, grupo.id)">
					<h3 class="text-instrucao">Solte Aqui</h3>
					<div class="groups-content" altura>
						<img src="../public/img/grupoIdeiasBranco.png" ng-click="defineFiltro(grupo.descricao, grupo.id)"/>
						<h3>{{grupo.descricao}}</h3>
					</div>
					<div class="btn-excluir">
						<i class="fa fa-times" ng-click="excluirGrupo(grupo.id, $index)" title="Excluir Grupo"></i>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 groups-mobile">
					<button type="button" ng-click="modalListarGrupos()"><img src="../public/img/grupoIdeiasBranco.png" alt="" /></button>
					<h3>{{titleGrupo}}</h3>
				</div>
			</div>
		  <div class="col-md-12 col-xs-12 brainstorms">
				<div class="col-md-12 col-xs-12" ng-if="brainstorms.length <= 0">
					<div class="col-md-12 col-xs-12 div-helena-geral">
						<div class="col-md-3">
							<img class="historias-helena" src="/public/img/Juliana duvida pronto.png" alt=""/>
						</div>
						<div class="col-md-9 div-helena-texto">
							<h1>Ops, não existe nenhuma ideia disponível no momento! </h1>
							<h1>Você pode adicionar sua ideia e ajudar o seu time a inovar!</h1>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12 brainstorms-container touch" dir-paginate=" brainstorm in brainstorms | filter: filtroIdeia: idGrupoBrainstorming|  itemsPerPage: itensPagina" current-page="newPageNumber" ng-drag="true" ng-drag-data="brainstorm" on-long-press="modalSelecionarGrupos(brainstorm)">
					<div class="col-md-12 col-sm-12 col-xs-12 postit">
						<div class="col-md-12 col-xs-12 actionsBrainstorm">
							<span class="triangulo" title="Selecionado para um Grupo" ng-show="brainstorm.idGrupoBrainstorming > 0"><i class="fa fa-check-circle-o"></i></span>
							<p class="data" title="Data de Criação">{{brainstorm.dataCriacao | date: 'dd/MM/yyyy'}}</p>
							<ul class="edicaoBrainstorm">
								<li><strong class="qtCurtir" title="Quantidade de Curtidas">{{brainstorm.qtCurtir}}</strong></li>
								<li><i class="fa fa-thumbs-up" title="Curtir" ng-class="{'liked': brainstorm.boCurtir == 'S', 'like': brainstorm.boCurtir == 'N' }" ng-click="curtirBrainstorming(brainstorm.id, newPageNumber, $index)"></i></li>
								<li><i class="fa fa-lg fa-pencil-square-o icones-postit-pencil" title="Editar"  ng-click="editaBrainstorm = true" ng-hide="editaBrainstorm"></i></li>
								<li><i ng-hide="editaBrainstorm == true" class="fa fa-lg fa-trash" title="Excluir" ng-click="clickToOpen(brainstorm.id, newPageNumber, $index)"></i></li>
								<li><i class="fa fa-lg fa-undo back" title="Voltar" ng-show="editaBrainstorm == true" ng-click="editaBrainstorm = false"></i></li>
								<li><i class="fa fa-lg fa-floppy-o" title="Salvar" ng-click="alteraBrainstorm(brainstorm.id, brainstorm.descricao, $index); editaBrainstorm = false" ng-show="editaBrainstorm"></i><br></li>
							</ul>
						</div>
						<textarea rows="6" class="text-area-in" ng-model="brainstorm.descricao" ng-disabled="editaBrainstorm == false"></textarea>
						<div class="col-md-12 col-sm-12 col-xs-12 footer-brainstorm">
							<div class="col-md-6 col-xs-6">
								<span class="comentarios" ng-click="openComentarios(brainstorm.id, newPageNumber, $index)">{{brainstorm.qtComentario}} <i class="fa fa-comments-o fa-lg"></i></span>
							</div>
							<div class="col-md-6 col-xs-6">
						  	<span class="documentacao"><a href="{{link}}/brainstorm/{{idEmpresa}}/{{historia.id}}/{{brainstorm.id}}/dcDetalheBrainstorming"><i class="fa fa-file-text-o fa-lg"></i></a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="div-paginacao">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</section>
	</div>
	<script type="text/ng-template" id="templateId">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir esta ideia?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirBrainstorming(brainstorm.id, newPageNumber, $index)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>

	<script type="text/ng-template" id="idAddGrupo">
		<div id="modal-adicionar">
			<h2>Grupos</h2>
			<input placeholder="Descrição do grupo..." ng-model="grp.titulo"></input>
			<button ng-click="addGrupoBrainstorming(grp.titulo)"><i class="fa fa-paper-plane-o btn-envia"></i> Confirmar</button>
		</div>
	</script>

	<script type="text/ng-template" id="idComentarios">
		<div id="idComentarios">
			<h2>Comentários</h2>
			<br>
			<textarea rows="5" placeholder="Escreva aqui o seu comentário..." ng-model="com.comentarioText"></textarea>
			<i class="fa fa-paper-plane-o btn-envia" ng-click="salvarComentario(com, newPageNumber)"></i>

			<h4> Comentários </h4>

			<div class="comentario" ng-repeat="comment in comentariosBrainstorm">
				<i class="fa fa-trash deleta-coment" ng-click="excluirBrainstormingComentario(comment.id, $index)"></i>
				<em class="comentario-texto"> <i class="fa fa-quote-left quotes"></i> {{comment.comentario}} <i class="fa fa-quote-right quotes"></i> </em>
				<p class="data"> Comentário inserido em: <span>{{comment.dtComentario | date: 'dd/MM/yyyy'}}</span></p>
				<hr>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="idAddIdeia">
			<div id="modal-adicionar">
				<h2>Adicionar Ideias</h2>
				<textarea required maxlength="1900" rows="5" placeholder="Descreva sua ideia..." ng-model="brainstorm.addDescricao"></textarea>
				<button type="button" ng-click="addBrainstorm(brainstorm)"><i class="fa fa-paper-plane-o btn-envia"></i> Confirmar</button>
			</div>
		</script>

	<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Você está agora no espaço do brainstorming, onde será possível incluir as ideias relacionadas às histórias das quais você faz parte.<br/><br/>
						Aqui você também conseguirá visualizar as ideias dos outros participantes da história e, ainda, incluir comentários, curtir e complementar estas ideias.
						Comece já a enviar suas sugestões e contribuir para que o processo de inovação aconteça na sua empresa.
					</p>
					<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="modalSelecionaGrupos">
		<h2 class="title-modal">Escolha o Grupo?</h2>
		<div id="gruposIdeias">
			<h3 ng-repeat="grupo in lstGrupo" ng-click="addBrainstormGrupo('', grupo.id)"><img src="../public/img/grupoIdeiasBranco.png" /> <span>{{grupo.descricao}}</span></h3>
		</div>
	</script>

	<script type="text/ng-template" id="modalListarGrupos">
		<h2 class="title-modal">Selecione o Grupo</h2>
		<div id="gruposIdeias">
			<h3  ng-click="defineFiltro('Todos', 0)"><img src="../public/img/grupoIdeiasBranco.png" /><span> Todos</span></h3>
			<h3 ng-repeat="grupo in lstGrupo" ng-click="defineFiltro(grupo.descricao, grupo.id)"><img src="../public/img/grupoIdeiasBranco.png" /> <span>{{grupo.descricao}}</span><i class="fa fa-times float-right" ng-click="excluirGrupo(grupo.id, $index)"></i></h3>
		</div>
	</script>


</main>
