<main ng-if="loggedIn" id="con-empresa-equipe">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="{{link}}/usuario/painel">Home</a></li>
			<li><a href="{{link}}/empresa/listar">Empresas</a></li>
			<li><a href="{{link}}/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
			<li  class="active"><a href="#">Equipe</a></li>
		</ol>
	</div><!--Breadcrumb-END-->
	<section>
		<div class="title-friends">
			<h2>Equipe da Empresa </h2>
			<a href="{{link}}/empresa/{{empresa.id}}/equipe-add"><h3><i class="fa fa-user-plus"></i></h3></a>
		</div><!--TITLE-->
		<input  type="text" ng-model="busca" placeholder="Filtrar usuários da empresa ... ">
		<div class="col-md-12 col-xs-12">

			<div class="col-md-6 col-xs-12 padding-defaut" dir-paginate="item in usuariosNaEmpresa | itemsPerPage: itemPagina | orderBy: usuario.nome" current-page="newPageNumber" ng-class="{'userPendente': usuario.boConfirmado == 'S'}">

				<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista.html'"></div>
			</div>
			<div class="div-paginacao">
				<dir-pagination-controls on-page-change="pageNumber(newPageNumber)"></dir-pagination-controls>
			</div>
		</div>
	</section>
	<script type="text/ng-template" id="ConfirmTemplateId">
		<div id="modal-confirm">
			<p>Você realmente deseja excluir o usuário da Empresa? </p>
			<div class="btn-modal-group">
				<button class="btn-modal btn-cancel" ng-click="clickToCloseFunction()"><i class="fa fa-ban fa-2x icon-diag-close"></i> Cancelar</button>
				<button class="btn-modal btn-confirm" ng-click="excluirUsuarioCrtl(newIndiceUsuario)"><i class="fa fa-trash fa-2x icon-dialog"></i> Confirmar</button>
			</div>
		</div>
	</script>


	<script type="text/ng-template" id="templateId">
		<div id="dialog-modal-perfil">
			<div>
				<h1>Alterar Perfil</h1>
				<h3>{{nomeUsuario}}</h3>
				<div class="buttons">
					<button	class="bt" ng-class="{'bt-success': perfilUsuario === 'Usuário', 'bt-default': perfilUsuario != 'Usuário'}" ng-click="mudarPerfilUsuario(usuario, 1, newIndiceUsuario)">Usuário</button>
					<button	class="bt" ng-class="{'bt-success': perfilUsuario === 'Líder', 'bt-default': perfilUsuario != 'Líder'}" ng-click="mudarPerfilUsuario(usuario, 2, newIndiceUsuario)">Líder</button>
					<button	class="bt" ng-class="{'bt-success': perfilUsuario === 'Administrador', 'bt-default': perfilUsuario != 'Administrador'}" ng-click="mudarPerfilUsuario(usuario, 3, newIndiceUsuario)">Administrador</button>
				</div>

			</div>
		</div>
	</script>

	<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Neste espaço aparecem todas as pessoas que você convidou para participarem da sua empresa, seus contatos e demais informações de cada um deles.
					</p>
					<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
</main>
