<main id="con-empresa-form"  ng-if="loggedIn" ng-init="openMenu=false">
	<section id="con-empresa-list" data-ng-init="activeMenu()">
		<img src="../public/img/bg.jpg" class="bg">
		<div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12">
				<div class="col-md-12 figure">
					<a href="{{link}}/cadastro/empresa">
						<h2><i class="fa fa-building fa-icons fa-2x icon-circle"></i></h2>
						<h4 class="text-h4"> + Empresa </h4>
					</a>
				</div>
			</div>
		</div>
		<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
		<div class="grid-buttons" ng-class="{gridRight: openMenu}">
			<div id="emp-buttons">
				<ol class="breadcrumb">
				  <li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
				  <li><a href="{{link}}/usuario/painel">Home</a></li>
				  <li  class="active"><a href="#">Empresas</a></li>
				</ol>
				<div class="col-md-12">
					<h2 class="title">Empresas</h2>
					<div class="col-md-12" ng-if="listaEmpresas.length <= 0">
						<div class="col-md-12 div-helena-geral">
							<div class="col-md-3">
								<img class="historias-helena" src="/public/img/Fabio 3.png" alt=""/>
							</div>
							<div class="col-md-9 div-helena-texto">
								<h1>Ops, não existe nenhuma Empresa disponível no momento! </h1>
								<h1>Você pode clicar no menu ao lado '+ Empresa' e iniciar sua trajetória na inovação!</h1>
							</div>
						</div>
					</div>
					<div ng-repeat="list in listaEmpresas | orderBy: 'razaoSocial'">
						<div class="col-md-4 col-ms-6 col-xs-12 user-buttons">
								<h2 ng-if="!list.imagem"><a href="{{link}}/empresa/{{list.idEmpresa}}"><i class="fa fa-bank size"></i></a></h2>
								<a href="{{link}}/empresa/{{list.idEmpresa}}"><img ng-src="{{imagemUrl}}imagens/empresa/{{list.idEmpresa}}/logo.jpg" ng-if="list.imagem" alt=""></a>
								<h3 class="text"><a href="{{link}}/empresa/{{list.idEmpresa}}">{{list.razaoSocial}}</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
