<main id="con-cad-empresa">
	<img src="../public/img/bg.jpg" class="bg">
	<h2><ng-md-icon class="icon-back left" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>Cadastro da Empresa </h2>
	<form autocomplete="off" method="post">
		<div class="form-group">
			<div class="row">
				<div class="col-md-3 col-xs-12">
					<label class="control-label"> CNPJ </label>
					<input  class="form-control" type="text" autofocus ng-model="empresa.cnpj" name="cnpj" ui-mask="99.999.999/9999-99" required >
				</div>
				<div class="col-md-9 col-xs-12">
					<label  class="control-label">Razão Social</label>
					<input class="form-control" type="text" ng-model="empresa.razaoSocial" name="razaoSocial" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-xs-12">
					<label class="control-label">CEP</label>
					<input class="form-control" type="text" ng-model="empresa.cep" name="cep" ui-mask="99999-999" ng-blur="pesquisaCEP(empresa.cep)" required>
				</div>
				<div class="col-md-8 col-xs-12">
					<label class="control-label">Endereço</label>
					<input class="form-control" type="text" ng-model="empresa.logradouro" name="logradouro" required>
				</div>
				<div class=" col-md-2 col-xs-12"></label>
					<label class="control-label">Número</label>
					<input class="form-control" type="text" ng-model="empresa.numero" name="numero" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<label class="control-label">Complemento</label>
					<input class="form-control" type="text" ng-model="empresa.complemento" name="complemento">
				</div>
				<div class="col-md-3 col-xs-6">
					<label class="control-label">Bairro</label>
					<input class="form-control" type="text" ng-model="empresa.bairro" name="bairro" required>
				</div>
				<div class="col-md-5 col-xs-9">
					<label class="control-label">Município</label>
					<input class="form-control" type="text" ng-model="empresa.municipio" name="municipio" required>
				</div>
				<div class="col-md-1 col-xs-3">
					<label class="control-label">UF</label>
					<input class="form-control"  type="text" ng-model="empresa.uf" name="uf" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<label class="control-label"> CNAE Primário</label>
					<input class="form-control" type="text" ng-model="filtroCnae" name="idCnae" autocomplete="off">
					<ul class="ul-cnaes" ng-show="filtroCnae.length > 2" id="sugestoes">
						<li ng-repeat="cnae in cnaes | filter:filtroCnae" value="{{cnae.codigo}}" ng-click="adicionaCnae(cnae)">
							<b>{{cnae.codigo}}</b> - {{cnae.nome}}
						</li>
					</ul>
					<input class="form-control" type="hidden" ng-model="empresa.idCnae" value="" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<label class="control-label"> Faturamento Anual</label>
					<select class="form-control" ng-model="empresa.idFaixaFaturamento" name="idFaixaFaturamento">
						<option class="options" ng-repeat="faixaFat in faixaFaturamento" ng-selected="empresa.idFaixaFaturamento === faixaFat.id" value="{{faixaFat.id}}">{{faixaFat.valorInicial}} - {{faixaFat.valorFinal}}</option>
					</select>
				</div>
				<div class="col-md-6 col-xs-12">
					<label class="control-label"> Número de Funcionários</label>
					<select class="form-control" ng-model="empresa.idFaixaFuncionario" name="idFaixaFuncionario">
					<option class="options" ng-repeat="faixaFunc in faixaFuncionario" ng-selected="empresa.idFaixaFuncionario === faixaFunc.id" value="{{faixaFunc.id}}">{{faixaFunc.quantidadeInicial}} - {{faixaFunc.quantidadeFinal}}</option>
					</select>
				</div>
			</div>
		</div>
		<div>
			<div class="salvar">
				<ng-md-icon icon="save" ng-click="cadEmpresa(empresa)" size= "64"></ng-md-icon>
			</div>
			<div class="voltar">
				<ng-md-icon icon="arrow_back" onClick="history.go(-1)" size="64"></ng-md-icon>
			</div>
		</div>
	</form>
</main>
