<main id="con-news">
	<ol class="breadcrumb">
		<ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
		<li><a href="{{link}}/">Home</a></li>
		<li><a href="{{link}}/noticias">Notícias</a></li>
	</ol>

	<h2>{{noticia.titulo}}</h2>

	<section id="con-texto">
		<p id="texto">
			<img ng-if="noticia.imagem" ng-src="{{imagemUrl}}/imagens/noticia/{{noticia.imagem}}">
		</p>
	</section>
	<section id="con-autor">
		<p>
			<b>Autor: </b>{{noticia.autor}}
		</p>
		<p ng-if="noticia.link">
			<b>link: </b><a target="_blank" href="{{noticia.link}}">{{noticia.link}}</a>
		</p>
		<p>
			<b>Data da publicação: </b>{{noticia.data | date: 'dd/MM/yyyy '}}
		</p>
	</section>
</main>
