<main id="con-atividades" ng-if="loggedIn">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12 col-xs-12">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="{{link}}/usuario/painel">Home</a></li>
			<li  class="active"><a href="#">Atividades</a></li>
		</ol>
	</div>	
	<h2>Minhas Atividades</h2>
		<div class="col-md-12">
			<div class="col-md-9 col-xs-12">
					<div class="title-in-company">
						<input class="form-control filtre" type="text" ng-model="minhaAtividades" placeholder="Filtre aqui as suas minhas atividades"></input>
					</div>
			</div>
			<div class="col-md-3 col-xs-12">
				<div class= "title-in-company">
					<select class="order filtre form-control" id="selectOrdem" ng-model="atividadesOrdena" ng-change="orderFiltro(atividadesOrdena)">
						<option class="options" value="" disabled selected> Order </option>
						<option value="+acao" class="options" > Assunto </option>
						<option value="+dtInicio" class="options" > Data Inicial </option>
						<option value="+dtTermino" class="options" > Data Final </option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-if="atividades.length <= 0">
			<div class="col-md-12 div-helena-geral">
				<div class="col-md-3">
					<img class="historias-helena" src="/public/img/Beto 3.png" alt=""/>
				</div>
				<div class="col-md-9 div-helena-texto">
					<h1>Ops, não existe nenhuma Atividade disponível no momento! </h1>
					<h1>Você pode adicionar uma atividade em um plano de ação  e iniciar sua trajetória na inovação!</h1>
				</div>
			</div>
		</div>
		<ul dir-paginate="atv in atividades | filter: minhaAtividades |  orderBy: filter | itemsPerPage: 6 " pagination-id="atividadesId">
			<li class="col-md-12 merge">
					<div class="col-md-7 col-sm-6 col-xs-12">
						<label class="control-label" >Assunto:</label>
						<input class="form-control" type="text" ng-model="atv.acao" disabled>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-12">
						<label class="control-label">Data Inicial:</label>
						<input class="form-control" type="text" value="{{atv.dtInicio | date:'dd/MM/yyyy'}}" placeholder="dd/mm/aaaa" disabled>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12">
						<label class="control-label" >Data Final:</label>
						<input class="form-control" type="text" value="{{atv.dtTermino | date:'dd/MM/yyyy'}}" placeholder="dd/mm/aaaa" disabled>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<div class="col-xs-6">
							<i class="fa fa-info icon-circle fa-icon" ng-click="clickToOpen(atv)"></i>
						</div>
					</div>

			</li>
		</ul>
			<div class="div-paginacao">
				<dir-pagination-controls pagination-id="atividadesId"></dir-pagination-controls>
			</div>
	<script type="text/ng-template" id="templateId">
		<div id="con-5w2h-dialog">
			<form ng-submit="salvarFeedbackProjeto(atv.feedback, atv.id)">
				<div class="row">
					<div class="form-group">

							<div class="col-md-12">
								<label class="control-label"> Por Que</label>
								<textarea class="form-control" type="text" ng-model="atv.acao" placeholder="Motivo" disabled></textarea>
							</div>
							<div class="col-md-12">
								<label class="control-label onde-lab"> Onde</label>
								<textarea class="form-control" type="text" ng-model="atv.local" placeholder="Local" disabled></textarea>
							</div>

							<div class="col-md-12">
								<label class="control-label"> Como</label>
								<textarea class="form-control" type="text" ng-model="atv.detalhamento" placeholder="Detalhamento" disabled></textarea>
							</div>
							<div class="col-md-12">
								<div class="col-md-6">
									<label class="control-label">Data Inicial</label>
									<input class="form-control" type="text" value="{{atv.dtInicio | date:'dd/MM/yyyy'}}" placeholder="dd/mm/aaaa" disabled>
								</div>
								<div class="col-md-6">
									<label class="control-label"> Data Final</label>
									<input class="form-control" type="text" value="{{atv.dtTermino | date:'dd/MM/yyyy'}}" placeholder="dd/mm/aaaa" disabled>
								</div>
							</div>
								<div class="col-md-12">
									<label class="control-label"> Quanto Custa</label>
									<input class="form-control" type="number" ng-model="atv.valor" placeholder="R$0,00" disabled>
								</div>
						 	<div class="col-md-12">
							 	<label class="control-label"> Feedback</label>
								<textarea class="form-control" type="text" ng-model="atv.feedback" placeholder="Feedback" ></textarea>
							</div>
							<div class="col-xs-12">
								<i class="fa fa-floppy-o fa-2x icon-circle save-bt" ng-click="salvarFeedbackProjeto(atv.feedback, atv.id)"></i>
							</div>

					</div>
				</div>
			</form>
		</div>
	</script>
	<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Nesta tela você tem acesso às tarefas que foram destinadas à você no campo Plano de Ação, das histórias às quais você está vinculado(a).<br/><br/>
						Fique atento(a), pois há prazo para cumprimento destas atividades.
					</p>
					<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
</main>
