<main ng-if="loggedIn"  id="projeto-fechado">
	<article id="printArea">
		<div class="col-md-3">
			<img class="logo" ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg"  alt="">
		</div>
		<div class="col-md-12 col-xs-12">
			<h2 class="text-center">{{infoHistoria.titulo}}</h2>
		</div>
		<div class="col-md-12 col-xs-12 info-historia">
			<h4 class="text-center">{{infoHistoria.titulo}}</h4>
			<p class="text-center" ng-bind-html="infoHistoria.descricao | to_trusted"></p>
			<h5 class="text-center">Período: {{infoHistoria.dataCriacao | date: 'dd/MM/yyyy'}} -- {{infoHistoria.dataLimite | date: 'dd/MM/yyyy'}}</h5>
			<div class="col-md-12 col-xs-12 text-center">
				<strong>Equipe: </strong><span ng-repeat="usuario in infoHistoria.lstUsuario">{{usuario.nome}}; </span>
			</div>
		</div>
		<hr>
		<div class="col-md-12 col-xs-12 separador">
			<h3 class="text-center"><i class="fa fa-lightbulb-o"></i> Brainstorming</h3>
			<div  ng-repeat="coluna in newLstBrainstorming">
				<div class="col-md-12 col-xs-12 brainstorms" ng-repeat="brainstorming in coluna">
					<div class="col-md-12 col-xs-12">
						<h4><i class="fa fa-lightbulb-o"></i> Sugestão</h4>
						<p>{{brainstorming.descricao}}<p> <h5>{{brainstorming.nomeUsuario}}</h5>
					</div>
					<div class="col-md-12 col-xs-12 comentarios">
						<h4><i class="fa fa-comments-o"></i> Comentários</h4>
						<div ng-repeat="comentario in brainstorming.lstComentario">
							<p>{{comentario.comentario}}</p>
							<h5>{{comentario.nomeUsuario}}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="col-md-12 col-xs-12  separador acao">
			<h3 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i> Plano de Ação</h3>
			<div class="col-md-12 col-xs-12" ng-repeat="projeto5w2h in infoHistoria.lst5w2h">
				<div class="col-md-6 col-xs-12">
						<h4>Ação: </h4>
						<p>O que: {{projeto5w2h.acao}}</p>
						<p>Como: {{projeto5w2h.detalhamento}}</p>
				</div>
				<div class="col-md-6 col-xs-12">
					<h4>Reponsáveis:</h4>
						<div class="col-xs-12" ng-repeat="usuarios in projeto5w2h.lstUsuarioAcao">
							<p>{{usuarios.nome}}</p>
						</div>
				</div>
				</div>
			</div>
			<hr>
			<div class="col-md-12 col-xs-12 canvas">
	      <h3 class="text-center"><i class="ideia-parts fa fa-th"></i> Canvas</h3>
	      <div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>1 - Principais Parcerias</h4>
	        <div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li  ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 1">{{canvas.descricao}}</li>
						</ul>
	        </div>
				</div>
				<div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>2 - Principais Atividades</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li  ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 2">{{canvas.descricao}}</li>
						</ul>
					</div>
					<h4>3 - Principais Recursos</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 3">{{canvas.descricao}}</li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>4 - Proposta de Valor</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 4">{{canvas.descricao}}</li>
						</ul>
	        </div>
		</div>
				<div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>5 - Relacionamento com Clientes</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 5">{{canvas.descricao}}</li>
						</ul>
					</div>
					<h4>6 - Canais</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 6">{{canvas.descricao}}</li>
						</ul>
	       			 </div>
				</div>
				<div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>7 - Estrutura de Custos</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 7">{{canvas.descricao}}</li>
						</ul>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 separador" ng-if="infoHistoria.lstCanvas.length > 0">
					<div class="col-md-6 col-xs-12">
						<h4>8 - Estrutura de Custos</h4>
						<div class="col-xs-12 itens-canvas" >
							<ul>
								<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 8">{{canvas.descricao}}: {{canvas.valor}}</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<h4>9 - Receitas</h4>
						<div class="col-md-12 col-xs-12 itens-canvas">
							<ul>
								<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 9">{{canvas.descricao}}: {{canvas.valor}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</article>	
	<div class="icon-doc">
		<i class="fa fa-print fa-doc doc-circle" ng-click="printIt()"></i>
	</div>
</main>