<main ng-if="loggedIn" id="empresa-swot-add" ng-init="openMenu=false">
	<section>
		<img src="../public/img/bg.jpg" class="bg">
		<div class="menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12">
				<hgroup>
					<h3>{{empresaInfo.razaoSocial}}</h3><br>
				</hgroup>
			</div>
			<div class="col-md-12 col-xs-12">
				<form class="" ng-submit="adicionarSwot(swot)">
					<div class="col-md-12 col-xs-12 input-text">
						<div class="col-md-12 col-xs-12">
							<label for="">Título:</label>
							<input type="text" name="name" value="" class="form-control" ng-model="swot.titulo" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-12 col-xs-12">
							<label for="">Descrição:</label>
							<input type="text" name="name" value="" class="form-control" ng-model="swot.descricao" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-12 col-xs-12">
							<label for="">Data Inicial:</label>
							<input type="date" name="name" value="" class="form-control" ng-model="swot.dtInicio" ng-disabled="inputDisable == 'true'" format-date>
						</div>
						<div class="col-md-12 col-xs-12">
							<label for="">Data Final:</label>
							<input type="date" name="name" value="" class="form-control" ng-model="swot.dtPrevisto" ng-disabled="inputDisable == 'true'" format-date>
						</div>
						<div class="col-md-6 col-xs-12">
							<label for="">Pont. Min:</label>
							<input type="number" name="name" value="" class="form-control" ng-model="swot.ptMinimo" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-6 col-xs-12">
							<label for="">Pont. Max:</label>
							<input type="number" name="name" value="" class="form-control" ng-model="swot.ptMaximo" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-12 col-xs-12">
							<label for="">Nota Corte:</label>
							<input type="number" name="name" value="" class="form-control" ng-model="swot.corte" ng-disabled="inputDisable == 'true'">
						</div>
						<div class="col-md-12 col-xs-12">
							<button type="submit" name="button" class="btn-add" ng-disabled="inputDisable == 'true'"><ng-md-icon icon="save" size= "32"></ng-md-icon> </button>
						</div>
					</div>
				</form>
				<form class="form-add-item" ng-submit="adicionarItemSwot(item, opcao)" ng-f="addSwot == 'true'">
					<div class="col-md-12 col-xs-12">
						<label for="">Característica:</label>
						<input type="text" name="name" value="" class="form-control" ng-model="item.text">
					</div>
					<div class="col-md-12 col-xs-12 radio-opcoes">
						<div class="col-md-6 col-xs-12">
							<button type="submit" name="button" ng-click="opcao = 'S'">Força</button>
						</div>
						<div class="col-md-6 col-xs-12">
							<button type="submit" name="button" ng-click="opcao = 'O'">Oportunidade</button>
						</div>
						<div class="col-md-6 col-xs-12">
							<button type="submit" name="button" ng-click="opcao = 'W'">Fraqueza</button>
						</div>
						<div class="col-md-6 col-xs-12">
							<button type="submit" name="button" ng-click="opcao = 'T'">Ameaça</button>
						</div>
					</div>
				</form>
			</div>
		</div><!--Menu Company-->
		<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
		<div class="grid-buttons" ng-class="{gridRight: openMenu}">
			<ol class="breadcrumb">
				<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
				<li><a href="{{link}}/usuario/painel">Home</a></li>
				<li><a href="{{link}}/empresa/listar">Empresas</a></li>
				<li><a href="empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
				<li><a href="empresa/{{empresaInfo.idEmpresa}}/swot">Swot</a></li>
				<li class="active">Adicionar</li>
				<i class="fa fa-question-circle help" aria-hidden="true" ng-click="showHelp = 'true'"></i>
			</ol>
			<h2 class="title">SWOT <a href="{{link}}/empresa/{{empresa.id}}/swot/{{idSwot}}/analise"><i class="fa fa-bar-chart icon-add" aria-hidden="true" ng-mouseover="legend = !legend" ng-mouseleave="legend = !legend"></i></a></h2>
			<span class="tooltip" ng-show="legend == true">Análise</span>
			<div class="col-md-12 col-xs-12 quadro-swot">
				<div class="col-md-6 col-xs-12">
					<h3 class="text-center"><i class="fa fa-link" aria-hidden="true"></i>  Força <i class="fa fa-plus add-mobile" ng-click="openModal('S')"></i></h3>
					<div class="col-md-12 col-xs-12 itens" ng-repeat="item in lstSwotItens" ng-if="item.tpSwot == 'S'">
						<div class="col-md-10 col-xs-10">
							<span>{{item.descricao}}</span>
						</div>
						<div class="col-md-2 col-xs-2 icons-edit">
							<button class="btn-excluir" type="button" name="button" ng-click="modalExcluirItem(item.id, $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
							<button class="btn-info" type="button" name="button"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<h3 class="text-center"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Oportunidade <i class="fa fa-plus add-mobile" ng-click="openModal('O')"></i></h3>
					<div class="col-md-12 col-xs-12 itens" ng-repeat="item in lstSwotItens" ng-if="item.tpSwot == 'O'">
						<div class="col-md-10 col-xs-10">
							<span>{{item.descricao}}</span>
						</div>
						<div class="col-md-2 col-xs-2 icons-edit">
							<button class="btn-excluir" type="button" name="button" ng-click="modalExcluirItem(item.id, $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
							<button class="btn-info" type="button" name="button"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<h3 class="text-center"><i class="fa fa-chain-broken" aria-hidden="true"></i> Fraqueza <i class="fa fa-plus add-mobile" ng-click="openModal('W')"></i></h3>
					<div class="col-md-12 col-xs-12 itens" ng-repeat="item in lstSwotItens" ng-if="item.tpSwot == 'W'">
						<div class="col-md-10 col-xs-10">
							<span>{{item.descricao}}</span>
						</div>
						<div class="col-md-2 col-xs-2 icons-edit">
							<button class="btn-excluir" type="button" name="button" ng-click="modalExcluirItem(item.id, $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
							<button class="btn-info" type="button" name="button"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<h3 class="text-center"><i class="fa fa-bomb" aria-hidden="true"></i> Ameaça <i class="fa fa-plus add-mobile" ng-click="openModal('T')"></i></h3>
					<div class="col-md-12 col-xs-12 itens" ng-repeat="item in lstSwotItens" ng-if="item.tpSwot == 'T'">
						<div class="col-md-10 col-xs-10">
							<span>{{item.descricao}}</span>
						</div>
						<div class="col-md-2 col-xs-2 icons-edit">
							<button class="btn-excluir" type="button" name="button" ng-click="modalExcluirItem(item.id, $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
							<button class="btn-info" type="button" name="button"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/ng-template" id="addItemMobile">
	<div id="empresa-swot-add">
		<form class="form-modal" ng-submit="adicionarItemSwot(item, opcao)">
			<div class="col-md-12 col-xs-12">
				<label for="">Característica:</label>
				<input type="text" name="name" value="" class="form-control" ng-model="item.text">
			</div>
			<div class="col-md-12 col-xs-12 radio-opcoes">
				<div class="col-md-12 col-xs-12">
					<button type="submit" name="button" ng-click="opcao = 'S'" ng-show="itemAdd == 'S'">Força</button>
				</div>
				<div class="col-md-12 col-xs-12">
					<button type="submit" name="button" ng-click="opcao = 'O'" ng-show="itemAdd == 'O'">Oportunidade</button>
				</div>
				<div class="col-md-12 col-xs-12">
					<button type="submit" name="button" ng-click="opcao = 'W'" ng-show="itemAdd == 'W'">Fraqueza</button>
				</div>
				<div class="col-md-12 col-xs-12">
					<button type="submit" name="button" ng-click="opcao = 'T'" ng-show="itemAdd == 'T'">Ameaça</button>
				</div>
			</div>
		</form>
	</div>
	</script>
	<script type="text/ng-template" id="excluirItem">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir este item?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirItemSwot($index)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>
</main>
