<main ng-if="loggedIn" id="con-empresa-equipe-add">
	<img src="../public/img/bg.jpg" class="bg">
	<section>
		<div class="col-md-12 col-xs-12">
			<ol class="breadcrumb">
				<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
				<li><a href="{{link}}/usuario/painel">Home</a></li>
				<li><a href="{{link}}/empresa/listar">Empresas</a></li>
				<li><a href="{{link}}/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
				<li><a href="empresa/{{empresa.id}}/equipe">Equipe</a></li>
				<li  class="active"><a href="#">Adicionar</a></li>
			</ol>
		</div>
		<div class="container-equipe">
			<div class="col-md-6 col-sm-12 col-xs-12 title-equipe">
			<h2><i class="fa fa-users"></i> Convidar Meus Amigos </h2>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<input ng-model="search" type="text" class="inputBusca" placeholder="Filtre aqui seus amigos">
			</div>
				<div class="col-md-12 col-ms-12 col-xs-12" ng-if="userAmigos.length <= 0">
					<div class="col-md-12 div-helena-geral">
						<div class="col-md-9 div-helena-texto">
							<h1>No momento você não tem amigos para adicionar na empresa!</h1>
							<h1>Busque e convide amigos, juntos podemos inovar!</h1>
						</div>
						<div class="col-md-3">
							<img class="historias-helena" src="/public/img/Bia celular.png" alt=""/>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 users-out" dir-paginate="usuario in userAmigos | filter:search | itemsPerPage: itemPagina" pagination-id="amigosEmpresa" current-page="newPageNumber">
						<div class="col-md-10 col-xs-10 user-out-company">
							<h3><i class="fa fa-user"></i> {{usuario.nome}}</h2>
							<h4>{{usuario.email}}</h3>
						</div>
						<div class="col-md-2 col-md-2 col-xs-2 user-out-add">
							<button class="btn-add-large" ng-show="perfilUser == 'ADMINISTRADOR'"  ng-click="adicionaAmigoEquipe(usuario, newPageNumber, $index)"><i class="fa fa-plus"></i></button>
							<button class="btn-add-small" ng-show="perfilUser == 'ADMINISTRADOR'"  ng-click="adicionaAmigoEquipe(usuario, newPageNumber, $index)"><i class="fa fa-plus"></i></button>
						</div>
					</div>
					<div class="div-paginacao col-md-12 col-sm-12 col-xs-12 text-center">
						<dir-pagination-controls pagination-id="amigosEmpresa"></dir-pagination-controls>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1">
					<h2><i class="fa fa-envelope-o"></i> Convidar por Email</h2>
					<form class="user-email-add" ng-submit="adicionarPorEmail(email)">
						<input requeried type="email" ng-model="email" placeholder="Adicione amigos pelo e-mail">
						<button class="send-large"><i class="fa fa-paper-plane"></i> Enviar</button>
						<button class="send-small"><i class="fa fa-paper-plane"></i></button>
					</form>

					<div class="requests-pending" ng-if="solicitacoesPendentes.length > 0">
						<h3> <i class="fa fa-clock-o"></i> Aguardando Confirmação</h3>
						<div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="usuario in solicitacoesPendentes">
							<div class=" col-md-9 col-sm-9 col-xs-9 list-no-confirmed">
								<h5>{{usuario.email}}</h5>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3">
								<button class="retweet-large" ng-click="enviarEmail(usuario.email)"><i class="fa fa-retweet"></i> Reenviar</button>
								<button class="retweet-small" ng-click="enviarEmail(usuario.email)"><i class="fa fa-retweet"></i></button>
							</div>
						</div>
					</div>
					<button class="btn-send-all" ng-click="enviarEmail()"> <i class="fa fa-asterisk"></i> Reenviar email para todos</button>
				</div>
			</div>
		</div>
	</section>
</main>
