<main id="con-empresa-grupo-lista" ng-init="openMenu=false" ng-if="loggedIn">
<img src="../public/img/bg.jpg" class="bg">
	<section id="emp-header">
		<div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12">
				<figure class="emp-img">
					<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
						<i class="fa fa-picture-o fa-3x" ></i>
					</div>
					<img ng-src="{{imagemUrl}}imagens/empresa/{{grupoUserLista.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
				</figure>
			</div>
			<div class="col-md-12">
				<div class="title-group">
					<i class="fa fa-users fa-3x"></i>
				</div>
				<div class="edit-group">
						<input ng-disabled="!campoTextoSalvar" ng-class="{inputFocus: campoTextoSalvar}" type="text" ng-model="grupoUserLista.grupo">
						<button ng-click="clickToOpen(grupoUserLista.idGrupo, $index)" class="linkExcluiGrupo">
							<i class="fa fa-trash"/> Excluir
						</button>
						<button ng-click="campoTextoSalvar = true" ng-hide="campoTextoSalvar" class="linkEditaGrupo">
							<i class="fa fa-pencil"/> Editar
						</button>
						<button ng-click="alterarGrupo(grupoUserLista.idGrupo, grupoUserLista.grupo); campoTextoSalvar = false" ng-hide="!campoTextoSalvar">
							<i class="fa fa-floppy-o"/> Salvar
						</button>
				</div>
			</div>
		</div>
		<button ng-hide="menuAberto == true" id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
		<div class="grid-buttons users" ng-class="{gridRight: openMenu}">
			<ol class="breadcrumb">
				<ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
				<li><a href="{{link}}/usuario/painel">Home</a></li>
				<li><a href="{{link}}/empresa/listar">Empresas</a></li>
				<li><a href="{{link}}/empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
				<li><a  href="{{link}}/empresa/{{empresaInfo.idEmpresa}}/grupo">Grupos</a></li>
				<li class="active"><a href="#">{{grupoUserLista.grupo}}</a></li>
			</ol>
			<div class="col-md-6 col-xs-12  title-in-company">
				<h2>Equipe da Empresa</h2>
				<input type="text" ng-model="pesquisaEquipe" placeholder="Filtrar Equipe da Empresa">
				<div class="col-md-12 col-xs-12">
					<div dir-paginate="item in usuariosDisponiveis | filter: pesquisaEquipe | itemsPerPage: itensPagina" pagination-id="EquipeEm" current-page="newPageNumberAdd">
						<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista.html'"></div>
					</div>
					<div class="div-paginacao">
						<dir-pagination-controls pagination-id="EquipeEm"></dir-pagination-controls>
					</div>
				</div>
				<!--
				<div class="col-md-1 col-xs-2">
					<button class="bt-success" ng-click="addUsuarioGrupoEmpresa(userEmpresa.id, grupoUserLista.idGrupo, userEmpresa.nome, userEmpresa.email, newPageNumber, $index)"><i class="fa fa-user-plus"></i></button>
				</div> -->
			</div>

			<div class="col-md-6 col-xs-12 title-in-company">
			<h2>Integrantes do Grupo</h2>
			<input type="text" ng-model="pesquisaIntegrante" placeholder="Filtrar Integrantes do grupo">
				<div class="col-md-12 col-xs-12">
					<div dir-paginate="item in usuariosSelecionados | filter: pesquisaIntegrante | itemsPerPage: itensPagina" pagination-id="integranteGrupo" current-page="newPageNumberDelete">
						<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista.html'" ng-init="botaoExcluir = true; botaoAdicionar = false"></div>
					</div>
					<div class="div-paginacao">
						<dir-pagination-controls pagination-id="integranteGrupo"></dir-pagination-controls>
					</div>
				</div>
			</div>
		</div>
		</section>
		<script type="text/ng-template" id="ConfirmTemplateId">
			<div id="modal-confirm">
				<p>Você realmente deseja excluir o usuário do Grupo? </p>
				<div class="btn-modal-group">
					<button class="btn-modal btn-cancel" ng-click="clickToCloseFunction()"><i class="fa fa-ban fa-2x icon-diag-close"></i> Cancelar</button>
					<button class="btn-modal btn-confirm" ng-click="excluirUsuarioCrtl(newIndiceUsuario)"><i class="fa fa-trash fa-2x icon-dialog"></i> Confirmar</button>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="templateId">
			<div id="modal-confirm">
				<p>Você realmente deseja excluir esse Grupo? </p>
				<div class="btn-modal-group">
					<button class="btn-modal btn-cancel" ng-click="excluirGrupo(grupoUserLista.idGrupo, $index)"><i class="fa fa-trash fa-2x icon-dialog"></i> Cancelar</button>
					<button class="btn-modal btn-confirm" ng-click="clickToClose()"><i class="fa fa-ban fa-2x icon-diag-close"></i> Confirmar</button>
				</div>
			</div>			
		</script>
		<script type="text/ng-template" id="modalUsuarioDescricao">
			<div id="modal-info">
				<div class="col-md-12 text-center">
					<img src="../public/img/no-img.jpg" alt="" />
				</div>
				<div class="col-md-12">
					<strong>Nome: </strong>{{usuario.nome}}</br>
					<strong>Email: </strong>{{usuario.email}}</br>
				</div>
			</div>
		</script>
</main>
