<main ng-if="loggedIn" ng-if="loggedIn">
	<section id="con-empresa-edit" data-ng-init="activeMenu()">
	<img src="../public/img/bg.jpg" class="bg">
	<ol class="breadcrumb">
		<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
		<li><a href="{{link}}/usuario/painel">Home</a></li>
		<li><a href="{{link}}/empresa/listar">Empresas</a></li>
		<li><a href="{{link}}/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
		<li  class="active"><a href="#">Visão</a></li>
	</ol>
		<section id="emp-plan">
			<h2>Visão da Empresa</h2>
			<form method="post">
				<div class="row">
					<div class="input-group">
						<div class="col-xs-12">
							<div class="col-md-12 resumo-encerra" ng-if="perfilUser == 'USUARIO'">
								<br>
								<p> Você é usuário nesta empresa.</p>
								<p> Qualquer edição realizada nesta tela não poderá ser gravada. </p>
								<br>
							</div>
						</div>
						<div class="col-xs-12 incluir-texto">
							<label class="control-label"> Descrição: </label>
							<wysiwyg id="question" textarea-class="form-control"  textarea-height="300px" textarea-name="textareaQuestion" textarea-name="textareaQuestion" textarea-required textarea-menu="menu" ng-model="documento.documento" enable-bootstrap-title="false"></wysiwyg>
						</div>
					</div>
				</div>
				<div>
					<div class="salvar" ng-click="addDocumentos('dcVisaoGeral', documento.documento)" ng-show="perfilUser != 'USUARIO'">
						<ng-md-icon icon="save" size="64"></ng-md-icon>
					</div>
				</div>
			</form>
		</section>
	</section>
</main>
