<main id="badges">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12 col-xs-12 insignias-container">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="#" onClick="history.go(-1)">Home</a></li>
			<li  class="active"><a href="#">Galeria</a></li>
		</ol>
	</div>
	<h2> Galeria </h2>
	<div class="col-md-12 colxs-12">
		<h3> Badges Especiais </h3>
	</div>
	<div class="col-md-12 col-xs-12 insignias-container">
		<div class="col-md-12 col-xs-12 insignias">
			<div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="insignia in insignias" ng-if="insignia.ativo == 1">
				<img ng-src="{{insignia.url}}" alt="" ng-click="clickToOpen(insignia)"/>
				<h3>{{insignia.name}}</h3>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-xs-12 badges-container">
		<h3> Badges Tradicionais </h3>
		<div class="col-md-6 col-xs-12">
			<h3><i class="fa fa-child"></i> Ações no Portal</h3>
			<div class="col-md-12 col-xs-12 badges">
				<div class="col-md-2 col-xs-3" ng-repeat="badge in badges" ng-if="badge.tipo == 'acoes'">
					<img ng-src="{{badge.url}}" alt="" ng-click="clickToOpen(badge)" ng-class="{'badge': badge.ativo == 0}"/>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12 badges-container">
			<h3><i class="fa fa-calendar"></i> Datas Comemorativas</h3>
			<div class="col-md-12 col-xs-12 badges">
				<div class="col-md-2 col-xs-3" ng-repeat="badge in badges" ng-if="badge.tipo == 'datas'">
					<img ng-src="{{badge.url}}" alt="" ng-click="clickToOpen(badge)" ng-class="{'badge': badge.ativo == 0}"/>
				</div>
			</div>
		</div>
	</div>
	<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Em todas as atividades desenvolvidas no Portal você terá a chance de acumular pontos que o ajudarão a receber os badges, conforme consta nesta Galeria. Dependendo da sua pontuação você acumula esses badges e recebe prêmios que, conforme sua Jornada for se desenvolvendo, contribuirão para que você evolua em seu ranking.<br/><br/>
						Comece já sua Jornada e garanta, assim, a possibilidade de se tornar um Mestre da Inovação.
					</p>
					<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
</main>

	<script type="text/ng-template" id="templateId">
		<div id="badges-modal">
			<div class="badges-modal-title">
				<h2> {{ trofeu.name }} </h2>
				<img ng-src="{{trofeu.url}}" width="200px" height="200px"/>
			</div>
			<div class="badges-modal-body">
				<h3>Descrição</h3>
				<p>{{trofeu.descricao}}</p>
			</div>
			<div class="badges-modal-middle">
				<h3>Requisito</h3>
				<p>{{trofeu.requisito}}</p>
				<p>{{trofeu.requisito1}}</p>
				<p>{{trofeu.requisito2}}</p>
				<p>{{trofeu.requisito3}}</p>
				<p>{{trofeu.requisito4}}</p>
			</div>
			<div class="badges-modal-footer">
				<h3>Progresso <span>{{trofeu.progresso}}</span></h3>
			</div>
		</div>
	</script>
