<main ng-if="loggedIn" id="con-historia">
	<section data-ng-init="activeMenu()">
		<img src="../public/img/bg.jpg" class="bg">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
				<li><a href="{{link}}/usuario/painel">Home</a></li>
				<li><a href="{{link}}/empresa/listar">Empresas</a></li>
				<li><a href="{{link}}/empresa/{{empresaId}}">{{empresaInfo.razaoSocial}}</a></li>
				<li><a href="{{link}}/historias/empresa/{{empresaId}}">Histórias</a></li>
				<li><a  href="{{link}}/historias/{{empresaId}}/{{historia.id}}/dashboard">{{historia.titulo	 | limitTo : 20}}...</a></li>
				<li  class="active"><a href="#">Documentos	</a></li>
			</ol>
		</div>
		<h2>Documentos da História</ng-md-icon>	</h2>
		<section id="his-buttons">
			<div class="form-group">
				<div class="row">
					<div class="col-md-4">
							<h2><a class="text" href="{{link}}/validacoes/{{empresaId}}/{{historia.id}}/dcValidacao"><i class="fa-icon fa fa-check-circle"></i></a></h2>
							<h3><a href="{{link}}/validacoes/{{empresaId}}/{{historia.id}}/dcValidacao">Validações</a></h3>
						</a>
					</div>
					<div class="col-md-4">
							<h2><a class="text" href="{{link}}/prototipos/{{empresaId}}/{{historia.id}}/dcPrototipo"><i class="fa-icon fa fa-puzzle-piece"></i></a></h2>
							<h3><a href="{{link}}/prototipos/{{empresaId}}/{{historia.id}}/dcPrototipo"></a>Protótipos</h3>
						</a>
					</div>
					<div class="col-md-4">
							<h2><a class="text" href="{{link}}/testes/{{empresaId}}/{{historia.id}}/dcTeste"><i class="fa-icon fa fa-bug"></i></a></h2>
							<h3><a  href="{{link}}/testes/{{empresaId}}/{{historia.id}}/dcTeste">Testes</a></h3>
						</a>
					</div>
				</div>
			</div>
		</section>
	</section>
</main>
