<main id="con-ranking" ng-init="tab = 1; openMenu = false" ng-if="loggedIn">
	<img src="../public/img/bg.jpg" class="bg">
		<div class="menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12">
				<figure class="emp-img">
					<div class="emp-img-out" ng-if="empresaImagem == false">
						<img src="../public/img/logo-none.png" alt="Sem Logo" />
					</div>
					<img ng-src="{{imagemUrl}}imagens/empresa/{{empresa.id}}/logo.jpg" ng-if="empresaImagem" alt="">
				</figure>
			</div>
			<div class="col-md-12">
				<hgroup>
					<h3 class="title-emp">{{razaoSocial}}</h3><br>
				</hgroup>
			</div>
		</div><!--Menu Company-->
		<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
		<div class="grid-buttons" ng-show="tab == 1" ng-class="{gridRight: openMenu}">
			<ol class="breadcrumb">
				<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
				<li><a href="{{link}}/usuario/painel">Home</a></li>
				<li><a href="{{link}}/empresa/listar">Empresas</a></li>
				<li><a href="{{link}}/empresa/{{empresa.id}}">{{razaoSocial}}</a></li>
				<li  class="active"><a href="#">Ranking</a></li>
			</ol>
			<h2>Ranking da Empresa</h2>
			<div class="col-md-12 col-xs-12">
				<div class="col-md-6 col-xs-6">
					<h3><i class="fa fa-users fa-3x"></i></h3>
				</div>
				<div class="col-md-6 col-xs-6">
					<h3><i class="fa fa-gamepad fa-3x"></i></h3>
				</div>
			</div>
			<div class="col-md-12 col-xs-12 margin" dir-paginate="pontuacao in rankingEmpresa| itemsPerPage: 15" pagination-id="rankingEmpresaId">
				<div class="col-md-6 col-xs-6">
					<h4>{{pontuacao.nome}}</h4>
				</div>
				<div class="col-md-6 col-xs-6">
					<h4 class="pontuacao">{{pontuacao.valor}}</h4>
				</div>
			</div>
			<div class="div-paginacao">
				<dir-pagination-controls pagination-id="rankingEmpresaId"></dir-pagination-controls>
			</div>
		</div>
</main>
