<main id="con-ranking" ng-init="tab = 1" ng-if="loggedIn">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12 col-xs-12">
 		<ol class="breadcrumb">
		    <li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
		    <li><a href="{{link}}/usuario/painel">Home</a></li>
  			<li  class="active"><a href="#">Ranking</a></li>
  		</ol>
	</div>

	<h2>Ranking do Portal da Inovação</h2>
	<div class="col-md-12 col-xs-12">
		<div class="col-md-12 col-xs-12 pontuacoes">
			<div class="col-md-12">
				<h2>Meus Amigos</h2>
				<div class="col-md-6 col-xs-6">
					<h3><i class="fa fa-users fa-3x"></i></h3>
				</div>
				<div class="col-md-6 col-xs-6">
					<h3 class="icon-right"><i class="fa fa-gamepad fa-3x"></i></h3>
				</div>
			</div>
			<div class="col-md-12 col-xs-12 margin" dir-paginate="pontuacaoUser in rankingUserPortal | itemsPerPage: 15" pagination-id="rankingId">
				<div class="col-md-6 col-xs-6">
					<h4>{{pontuacaoUser.nome}}</h4>
				</div>
				<div class="col-md-6 col-xs-6">
					<h4 class="pontuacao">{{pontuacaoUser.valor}}</h4>
				</div>
			</div>
			<div class="div-paginacao">
				<dir-pagination-controls pagination-id="rankingId"></dir-pagination-controls>
			</div>
		</div><!--Ranking Usuarios-->
	</div>
</main>
