<main id="con-senha">
	<h2> Esqueceu a senha</h2>
		<form >
			
			<div class="input-group">
				<label>Nome Completo:
					<input required type="text" >
				</label>
			</div>
			<div class="input-group">
				<label>Email:
					<input required type="email" name="email">
				</label>
			</div>

			<div class="buttons">
				<button class="bt-warning">Cancelar</button>
				<button class="bt-success">Enviar</button>
			</div>
		</form>
		



</main>	