<main ng-if="loggedIn" id="empresa-swot-analise" ng-init="openMenu=false; index = 0;">
  <section>
    <img src="../public/img/bg.jpg" class="bg">
    <div class="menu_company" ng-class="{menuVisible: openMenu}">
      <div class="col-md-12" id="company">
        <figure class="emp-img">
          <div class="emp-img-out" ng-if="empresa.imagem == false">
            <img src="../public/img/logo-none.png" alt="Sem Logo" />
          </div>
          <img ng-src="{{imagemUrl}}imagens/empresa/{{empresa.id}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
        </figure>
      </div>
      <div class="col-md-12">
        <hgroup>
          <h3>{{empresaInfo.razaoSocial}}</h3><br>
        </hgroup>
      </div>
      <div class="col-md-12">
        <h3 class="text-center">{{lstSwotInfo.titulo}}</h3>
        <h4 class="text-center">{{lstSwotInfo.descricao}}</h4>
        <h5 class="text-center">Período: {{lstSwotInfo.dtInicio | date:'dd/MM/yyyy'}} -- {{lstSwotInfo.dtPrevisto | date: 'dd/MM/yyyy'}}</h5>
      </div>
    </div><!--Menu Company-->
    <button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>

    <div class="grid-buttons" ng-class="{gridRight: openMenu}">
      <ol class="breadcrumb">
        <li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
        <li><a href="{{link}}/usuario/painel">Home</a></li>
        <li><a href="{{link}}/empresa/listar">Empresas</a></li>
        <li><a href="empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
        <li><a href="empresa/{{empresaInfo.idEmpresa}}/swot">Swot</a></li>
        <li class="active">Análise</li>
        <i class="fa fa-question-circle help" aria-hidden="true" ng-click="showHelp = 'true'"></i>
      </ol>
      <div class="col-md-12 col-xs-12">
        <h2 class="title">Análise SWOT</h2>
      </div>
      <div class="col-md-12 col-xs-12 icons-select">
        <ul>
          <li><i class="fa fa-fighter-jet" aria-hidden="true" ng-click="ataque = true; defesa = false; AtualizarNotasAtaque(ForcaIndex, 0)"></i><span>Ataque</span></li>
          <li><i class="fa fa-shield icon-circle" aria-hidden="true" ng-click="defesa = true; ataque = false; AtualizarNotasDefesa(FraquezaIndex, 0)"></i><span>Defesa</span></li>
        </ul>
      </div>
      <div class="col-md-12 col-xs-12 container" ng-if="ataque == true">
        <h3 class="text-center"><i class="fa fa-fighter-jet" aria-hidden="true"></i> Ataque</h3>
          <div class="col-md-12 col-xs-12 forca">
            <button type="button" ng-click="trocarForca('P');  AtualizarNotasAtaque($index, 0)" ng-disabled="ForcaIndex == 0"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>
            <span class="text-center" ng-repeat="forca in lstForca" ng-model="ForcaIndex" ng-if="$index == ForcaIndex">{{forca.descricao}}</span>
            <button type="button" ng-click="trocarForca('N'); AtualizarNotasAtaque($index, 0)" ng-disabled="ForcaIndex == lstForca.length - 1"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
          </div>

          <div class="col-md-6 col-xs-12" ng-repeat="item in lstOportunidade">
            <div class="col-md-11 col-xs-10 item-list">
              <div class="col-md-7 col-xs-12">
                <span>{{item.descricao}}</span>
              </div>
              <div class="col-md-5 col-xs-12 input-range">
                <div class="col-md-1 col-xs-1">
                  {{notaMin}}
                </div>
                <div class="col-md-10 col-xs-10">
                  <input type="range" name="points" min="{{notaMin}}" max="{{notaMax}}" ng-model="item.valor" ng-change="CalculaTotalNotaAtaque()">
                </div>
                <div class="col-md-1 col-xs-1">
                  {{notaMax}}
                </div>
              </div>
            </div>
            <div class="col-md-1 col-xs-2 nota"  ng-class="{notaCorte: nota < notaCorte}">
              <span>{{item.valor}}</span>
            </div>
          </div>

          <div class="col-md-12 col-xs-12">
            <h2 class="totalNotas">Total: <span>{{totalNotasAtaque}}</span></h2>
          </div>

          <div class="col-md-12 col-xs-12 personagens" ng-if="lstOportunidade.length == 0 || lstForca.length == 0">
            <div class="col-md-3 col-xs-4">
              <img src="../public/img/Lucas 3.png" alt="" />
            </div>
            <div class="col-md-9 personagens-texto">
    					<h1>Ops, para avaliar a relação das forças com as oportunidades é necessário criar pelo menos uma oportunidade e uma força! </h1>
    					<h1>Você pode adicionar uma oportunidade ou uma força voltando para a tela de Swot, em seguida escolha o Swot desejado e clique na opção de editar!</h1>
    				</div>
          </div>
          <button type="button" name="button" class="btn-save" ng-click="salvarNotas()"><ng-md-icon icon="save" size= "32"></ng-md-icon></button>
      </div>
      <div class="col-md-12 col-xs-12 container" ng-if="defesa == true">
        <h3 class="text-center"><i class="fa fa-shield" aria-hidden="true"></i> Defesa</h3>
        <div class="col-md-12 col-xs-12 forca">
          <button type="button" ng-click="trocarFraqueza('P'); AtualizarNotasDefesa($index, 0)" ng-disabled="FraquezaIndex == 0"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>
          <span class="text-center" ng-repeat="fraqueza in lstFraqueza" ng-model="FraquezaIndex" ng-if="$index == FraquezaIndex">{{fraqueza.descricao}}</span>
          <button type="button" ng-click="trocarFraqueza('N'); AtualizarNotasDefesa($index, 0)" ng-disabled="FraquezaIndex == lstFraqueza.length - 1"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-6 col-xs-12" ng-repeat="itemDefesa in lstAmeaca">
          <div class="col-md-11 col-xs-10 item-list">
            <div class="col-md-7 col-xs-12">
              <span>{{itemDefesa.descricao}}</span>
            </div>
            <div class="col-md-5 col-xs-12 input-range">
              <div class="col-md-1 col-xs-1">
                {{notaMin}}
              </div>
              <div class="col-md-10 col-xs-10">
                <input type="range" name="points" min="{{notaMin}}" max="{{notaMax}}" ng-model="itemDefesa.valor" ng-change="CalculaTotalNotaDefesa()">
              </div>
              <div class="col-md-1 col-xs-1">
                {{notaMax}}
              </div>
            </div>
          </div>
          <div class="col-md-1 col-xs-2 nota"  ng-class="{notaCorte: nota < notaCorte}">
            <span>{{itemDefesa.valor}}</span>
          </div>
        </div>

        <div class="col-md-12 col-xs-12">
          <h2 class="totalNotas">Total: <span>{{totalNotasDefesa}}</span></h2>
        </div>

        <div class="col-md-12 col-xs-12 personagens" ng-if="lstAmeaca.length == 0 || lstFraqueza .lenght == 0">
          <div class="col-md-3 col-xs-4">
            <img src="../public/img/Lucas 3.png" alt="" />
          </div>
          <div class="col-md-9 personagens-texto">
            <h1> Ops, para avaliar a relação das fraquezas com as ameaças é necessário criar pelo menos uma ameaça ou uma fraqueza! </h1>
            <h1> Você pode adicionar uma ameaça ou uma fraqueza voltando para a tela de Swot, em seguida escolha o Swot desejado e clique na opção de editar! </h1>
          </div>
        </div>
        <button type="button" name="button" class="btn-save" ng-click="salvarNotasDefesa()"><ng-md-icon icon="save" size= "32"></ng-md-icon></button>
      </div>
    </div>
  </section>
</main>
