<main id="con-treinamentos" ng-init="openMenu=false; hideMenu = false">
	<img src="../public/img/bg.jpg" class="bg">

	<div class="row">
		<section id="emp-header">
			<div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
				<div class="col-md-12">
					<img src="../public/img/logo-1.png" class="image">
				</div>
				<div class="col-md-12" >
					<img src="../public/img/geral-trenamento.jpg" class="geral">
				</div>
			</div>
			<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
				<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
				<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
			</button>
			<div id="emp-buttons">
				<div class="grid-buttons" ng-class="{gridRight: openMenu}">
					<ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
					<h2>Treinamentos</h2>
					<div class="row">
						<div class="col-md-12 filtro-treina">
							<input type="text" ng-model="filtroTreina" placeholder="Filtre aqui os treinamentos">
						</div>
						<div class="col-md-12">
							<div dir-paginate="treino in treiAnda | itemsPerPage: 4 | filter: filtroTreina" pagination-id="treinamentoPagination">
								<div class="col-md-3 col-xs-12 col-sm-12">
									<a href="{{link}}/treinamento/{{treino.treinamentoId}}">
										<img src="{{treino.img}}" alt="" class="capa">
									</a>
								</div>
							</div>
							<div class="div-paginacao col-md-12 position-pagination">
			            <dir-pagination-controls pagination-id="treinamentoPagination"></dir-pagination-controls>
			        </div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
