<div class="lista-imagem">
  <img src="../public/img/no-img.jpg" alt="" />
</div>
<div class="lista-info">
  <h3>{{item.nome}} </h3>
  <h4>{{item.email}}</h4>
</div><!--USER-->
<div class="lista-botoes">
  <button type="button" title="Alterar Perfil" class="btn btn-lista-info" ng-click="trocarPerfil(item.idUsuario, item.perfil, item.nome, newPageNumber, $index)" ng-show="botaoPerfil === true">{{item.perfil}}</button>
  <button type="button" title="Informação" class="btn btn-lista-info" ng-click="infoUsuario(item)" ng-show="botaoInfo === true"><i class="fa fa-info-circle"></i></button>

  <button type="button" title="Excluir da Lista" class="btn btn-lista-delete" ng-click="excluirUsuario(item, newPageNumberDelete, $index)" ng-show="botaoExcluir === true"><i class="fa fa-user-times"></i></button>
  <button type="button" title="Adicionar na Lista" class="btn btn-lista-sucesso" ng-show="botaoAdicionar === true" ng-click="adicionarUsuario(item.id, newPageNumberAdd, $index)" ng-show="empresaInfo.perfilUsuario != 'USUARIO' || loggeduser == criadorHistoria"><i class="fa fa-user-plus"></i></button>
</div>



<!--
<div class="lista-botoes" ng-if="item.id != loggeduser; listaHistoria == true">
  <button type="button" title="Informação" class="btn btn-lista-info"><i class="fa fa-info-circle"></i></button>
  <button type="button" title="Adicionar ao Projeto" class="btn btn-lista-sucesso" ng-click="adicionaAmigoProjeto(item.id, newPageNumber, $index)" ng-show="empresaInfo.perfilUsuario != 'USUARIO' || loggeduser == criadorHistoria"><i class="fa fa-user-plus"></i></button>
</div>

<div class="lista-usuario-perfil"  ng-if="item.idUsuario != loggeduser" ng-show="perfilUser == 'ADMINISTRADOR'">
  <button type="button" class="btn btn-lista-sucesso" ng-click="clickToOpen(item.idUsuario, item.perfil, item.nome, newPageNumber, $index)">{{item.perfil}}</button>
</div><!-- End Users-perfil --><!-- condition for not Admin-->
<!--
<div class="col-md-3 col-xs-4" ng-show="perfilUser != 'ADMINISTRADOR'">
  <button type="button" class="btn btn-lista-sucesso">{{item.perfil}}</button>
</div><!-- end condition for not Admin-->
<!--
<div class="lista-usuario-editar" ng-if="item.idUsuario != loggeduser" ng-show="perfilUser == 'ADMINISTRADOR'">
  <button type="button" class="btn btn-lista-delete" id="botaoPerfil" ng-click="clickToOpenFunction(usuario, newPageNumber, $index)"><i class="fa fa-user-times"></i></button>
</div>
