<main ng-if="loggedIn" id="con-5w2h" ng-init="users = acoes.usuarios; active = false; form = false">
<img src="../public/img/bg.jpg" class="bg">
<ol class="breadcrumb">
	<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
  <li><a href="/usuario/painel">Home</a></li>
	<li><a href="/empresa/listar">Empresas</a></li>
	<li><a href="/empresa/{{idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
	<li><a href="/historias/empresa/{{idEmpresa}}">Histórias</a></li>
	<li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{idIdeia}}/dashboard">{{historia.titulo	 | limitTo : 20}}...</a></li>
	<li class="active"><a href="#">Brainstorm</a></li>
</ol>

<div class="col-md-12">
	<div class="col-md-6 title-in-company">
		<h2>Planos de Ação</h2>
		<input type="text" ng-model="pesquisaBrainstorm" placeholder="Filtrar Brainstorm">
        <ul>
            <li  class="forms" dir-paginate="brainstorm in lstBrainstorming | filter: pesquisaBrainstorm | orderBy:'descricao' | itemsPerPage: 9" pagination-id="BrainstormIdPagination">
                <div class="col-md-12 brainstorms" ng-class="{active:  brainstorm.id == brainstormsIdGlobal}">
                    <div class="col-md-11 col-xs-10">
                        <h3 ng-model="acao.idbrainstorming">
                        <i class="fa fa-lightbulb-o"></i> {{brainstorm.descricao}}</h3>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <button class="btn-view-actions" ng-click="loadProjetoAcao(brainstorm.id, $index); adicionar = true"><i class="fa fa-arrow-circle-o-right"></i></button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="div-paginacao">
            <dir-pagination-controls pagination-id="BrainstormIdPagination"></dir-pagination-controls>
        </div>
    </div>

	<div class="col-md-6">
		<h2>Atividades</h2>
		<div class="col-md-12" ng-show="btnAddAcao == true">
			<div class="click-add " ng-click="NovaAcao(); showForm()">
				<button class="btn-add-action">
					<i class="fa fa-child"></i>
				</button>
				<h3>+ Atividade</h3>
			</div>
		</div>
        <!-- Listar Ações -->
        <div id="actions">
		<div class="title-in-company">
            <input type="text" ng-model="pesquisaAcao" placeholder="Filtrar Ação" ng-hide="btnAddAcao == false">
        </div>

        <div class="forms" dir-paginate="tarefa in lstTarefa | filter: pesquisaAcao | itemsPerPage: 8" pagination-id="acaoIdPagination">
            <div class="col-md-12">
                <ul class="list-actions">
                    <li>
                        <div class="col-md-10 col-xs-10">
                            <h5><i class="fa fa-child"></i> {{tarefa.acao}}</h5>
                        </div>
                        <div class="col-md-1 col-xs-1 left-bottom">
                            <button ng-click="showForm()">
                                <i class="fa fa-plus" ng-click="CarregaTarefa($index)"></i>
                            </button>
                        </div>
                        <div class="col-md-1 col-xs-1 right-bottom">
						    						<button>
                                <i class="fa fa-trash" ng-click="openModalAcao(tarefa.idbrainstorming, tarefa.idprojeto5w2hitem, $index)"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="div-paginacao">
            <dir-pagination-controls pagination-id="acaoIdPagination"></dir-pagination-controls>
        </div>
        </div>
        <!-- Cadastrar Nova Ação -->
		<div class="col-md-12 forms" id="form">
			<form ng-submit="TarefaProjetoSalvar(item)">
                <div class="col-md-12">
                    <label> O que: </label>
                    <input class="inputBusca" type="text" ng-model="item.acao" placeholder="Descrição da Ação">
                </div>
                <div class="col-md-6 col-sm-6">
                    <label> Por Que: </label>
                    <textarea class="inputBusca" ng-model="item.motivo" placeholder="Motivo"></textarea>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label> Como: </label>
                    <textarea class="inputBusca" ng-model="item.detalhamento" placeholder="Detalhamento"></textarea>
                </div>
				<div class="col-md-6 col-sm-6">
					<label> Data Inicial: </label>
					<input class="inputBusca form-control" type="date" ng-model="item.dtInicio" format-date required>
				</div>
                <div class="col-md-6 col-sm-6">
                    <label> Data Final: </label>
                    <input class="inputBusca" type="date"  ng-model="item.dtTermino" format-date>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label> Onde: </label>
                    <input class="inputBusca" type="text" ng-model="item.local" placeholder="Local">
                </div>
                <div class="col-md-6 col-sm-6">
                    <label> Quanto Custa: </label>
                    <input class="inputBusca" type="number" ng-model="item.valor" placeholder="R$0,00">
                </div>
                <br/>
                <div class="col-md-12 group-users">
                    <div class="col-md-6">
                        <h3> Usuários Disponíveis </h3>
                        <div dir-paginate="usuario in lstUsuarioDisponivel | itemsPerPage: 5" pagination-id="userDisponivel" class="usuarios-acao">
                            <div class="col-md-12 col-xs-12 users">
                                <div class="col-md-11 col-xs-10">
                                    <h4 class="infoUsusario"><i class="fa fa-user"></i> {{usuario.nome}}</h4>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <button type="button" ng-click="SelecionaUsuario($index)"><i class="fa fa-user-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    <dir-pagination-controls pagination-id="userDisponivel"></dir-pagination-controls>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h3> Usuários Na Ação </h3>
                        <div dir-paginate="usuario in lstUsuarioTarefa | itemsPerPage: 5" pagination-id="userTarefa" class="usuarios-acao">
                            <div class="col-md-12 col-xs-12 users">
                                <div class="col-md-11 col-xs-10">
                                    <h4 class="infoUsusario"><i class="fa fa-user"></i> {{usuario.nome}}</h4>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <button type="button" class="btn-delete"  ng-click="RemoveUsuario($index)"><i class="fa fa-user-times"></i></button>
                                </div>
                            </div>
                        </div>
					       <dir-pagination-controls pagination-id="userTarefa"></dir-pagination-controls>
                    </div>
                </div>
                <div class="col-md-12 block">
                    <button class="btn-save" type="submit"> <ng-md-icon icon="save" size= "64"></ng-md-icon> </button>
                    <button class="btn-back" type="button" ng-click="showForm()"><ng-md-icon icon="arrow_back" size="64"></ng-md-icon> </button>
                </div>
            </form>	<!--Form Adicionar-->
        </div>
    </div>
		<script type="text/ng-template" id="excluirAcaoDialog">
			<div id="con-empresa">
			<p>"Você realmente deseja excluir esta ação?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirAcaoProjeto(idbrGlobal, idacaoGlobal, indexAcao)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
			</div>
		</script>
</main>
