<main id="con-adm-portal" ng-if="loggedIn">
	<section ng-if="user.perfis.indexOf('AP') >= 0">
		<h2>Administrador</h2>
		<section class="adm-buttons">
			<a class="bt-config" href="/admin/portal/usuarios">
				<p class="fa fa-user"></p>
				<p class="text">Gerenciar Usuários</p>
			</a>
		</section>
	</section>
</main>