<main id="con-cadastro" ng-if="loggedIn">
	<img src="../public/img/bg.jpg" class="bg">
	<h2>Alterar Senha</h2>
	<form ng-submit="alteraSenha(usuario)">
			<div class="row">
				<div class="input-group">
					<div class="col-md-12 ">
						<label class="control-label">Ultima Senha:
							<input class="form-control" required type="password" ng-model="usuario.senha">
						</label>
					</div>
					<div class="col-md-12">
						<label class="control-label">Nova Senha:
							<input class="form-control" required type="password" ng-model="usuario.novaSenha">
						</label>
					</div>
					<div class="col-md-12">
						<label  class="control-label">Confirme sua nova senha:
							<input class="form-control" required type="password" ng-model="usuario.senhaRep">
						</label>
					</div>
				</div>
			</div>

			<div>
				<div>
					<button class="button right">
						<ng-md-icon icon="save" ng-click="alteraSenha(usuario)" size= "64"></ng-md-icon>
					</button>
					<button class="button">
						<ng-md-icon icon="arrow_back" onClick="history.go(-1)" size="64"></ng-md-icon>
					</button>

				</div>
			</div>
	</form>

</main>



















































<!--

	<h2> Alterar senha</h2>
		<form ng-submit="alteraSenha(usuario)">
			<div class="input-group">
				<label>Ultima Senha:
					<input required type="password" ng-model="usuario.senha">
				</label>
			</div>
			<div class="input-group">
				<label>Nova Senha:
					<input required type="password" ng-model="usuario.novaSenha">
				</label>
			</div>
			<div class="input-group">
				<label>Confirme sua nova senha:
					<input required type="password" ng-model="usuario.senhaRep">
				</label>
			</div>
			<div class="buttons">
				<button class="bt-warning">Cancelar</button>
				<button class="bt-success" type="submit">Enviar</button>
			</div>
		</form>
-->
