<main id="add-grupo-brainstorm" ng-init="openMenu = false">
	<img src="../public/img/bg.jpg" class="bg">
	<section>
	<div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
		<div class="col-md-12">
			<figure class="emp-img">
				<div class="emp-img-out" ng-if="empresa.imagem == false">
					<i class="fa fa-picture-o fa-3x" ></i>
				</div>
				<img ng-src="{{imagemUrl}}imagens/empresa/{{empresa.id}}/logo.jpg" ng-if="empresa.imagem" alt="">
			</figure>
			<figcaption class="emp-img-hover" ng-if="perfilUser == 'ADMINISTRADOR'">
				<div class="upload">
					<input type="file" name="imagem" empresa-file accept="image/jpeg"/>
				</div>
			</figcaption>
		</div>
		<div class="col-md-12">
			<hgroup>
				<h3>{{empresa.razaoSocial}}</h3><br>
			</hgroup>
		</div>
		<div class="col-md-12 form-new-group" ng-if="empresaInfo.perfilUsuario != 'USUARIO' || historia.usuario == loggeduser">
			<h3>Criar um novo Tema</h3>
				<form ng-submit="adicionaBrainstormingGrupo(titulo)">
					<input class="inputBusca" ng-model="titulo.grupo" type="text" required placeholder="Nome do Grupo">
					<button type="submit"><i class="fa fa-plus"></i> Criar Tema</button>
				</form>
		</div>
	</div>
	<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
		<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
		<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
	</button>
	<div class="grid-buttons" ng-class="{gridRight: openMenu}">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="/usuario/painel">Home</a></li>
			<li><a href="/empresa/listar">Empresas</a></li>
			<li><a href="/empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
			<li><a href="/historias/empresa/{{empresaInfo.idEmpresa}}">Histórias</a></li>
			<li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{historia.id}}/dashboard">{{historia.titulo | limitTo : 20}}...</a></li>
			<li><a href="/brainstorm/{{empresaInfo.idEmpresa}}/{{historia.id}}">Brainstorm</a></li>
			<li class="active"><a href="#">Temas</a></li>
		</ol>
		<h2>Temas no Brainstorm</ng-md-icon></h2>
		<div class="col-md-12" ng-if="lstGrupo.length <= 0">
			<div class="col-md-12 div-helena-geral">
				<div class="col-md-3">
					<img class="historias-helena" src="/public/img/Miguel 1.png" alt=""/>
				</div>
				<div class="col-md-9 div-helena-texto">
					<h1>Ops, não foram criados planos de ação para esta história</h1>
					<h1>Você pode criá-los no botão superior direito e mãos à obra!</h1>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4 groups" ng-repeat="grupo in lstGrupo">
				<div class="group-icons">
					<a href="/brainstorming/{{idEmpresa}}/{{historia.id}}/{{grupo.id}}/brainstorm-add-grupo"><i class="fa fa-users fa-3x"></i></a>
				</div>
				<h3>{{grupo.descricao}}</h3>
			</div>
		</div>
	</div>
</section>
</main>
