<main id="brainstorm-add-grupo" ng-init="openMenu = false">
<img src="../public/img/bg.jpg" class="bg">
  <section>
    <div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12 titleHistoria">
          <span>História: </span><strong>{{descricaoHistoria}}</strong>
			</div>
			<div class="col-md-12">
				<div class="title-group">
					<i class="fa fa-users fa-3x"></i>
				</div>
				<div class="edit-group">
						<input ng-disabled="!campoTextoSalvar" ng-class="{inputFocus: campoTextoSalvar}" type="text" ng-model="grupoDescricao">
						<button ng-click="clickToOpen($index)" class="linkExcluiGrupo">
							<i class="fa fa-trash"/> Excluir
						</button>
						<button ng-click="campoTextoSalvar = true" ng-hide="campoTextoSalvar" class="linkEditaGrupo">
							<i class="fa fa-pencil"/> Editar
						</button>
						<button ng-click="alteraBrainstormingGrupo(idGrupo, grupoDescricao); campoTextoSalvar = false" ng-hide="!campoTextoSalvar">
							<i class="fa fa-floppy-o"/> Salvar
						</button>
				</div>
			</div>
		</div>
    <button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
      <i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
      <i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
    </button>
  	<div class="grid-buttons" ng-class="{gridRight: openMenu}">
	    <ol class="breadcrumb">
        <li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
        <li><a href="/usuario/painel">Home</a></li>
        <li><a href="/empresa/listar">Empresas</a></li>
        <li><a href="/empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
        <li><a href="/historias/empresa/{{empresaInfo.idEmpresa}}">Histórias</a></li>
        <li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{historia.id}}/dashboard">{{historia.titulo | limitTo : 20}}...</a></li>
        <li><a href="/brainstorm/{{empresaInfo.idEmpresa}}/{{historia.id}}">Brainstorm</a></li>
        <li><a href="/brainstorm/{{empresaInfo.idEmpresa}}/{{historia.id}}/brainstorm-list-grupo">{{grupoDescricao}}</a></li>
        <li class="active"><a href="#">Sugestões</a></li>

      </ol>
      <div class="col-md-12 col-xs-12">
  			<div class="col-md-6 col-sm-6">
  				<h2>Sugestões Disponíveis</h2>
          <div class="col-md-12 col-xs-12">
            <div class="col-md-12 col-xs-12">
              <div dir-paginate="item in lstBrainstormingDisponivel | itemsPerPage: itensPagina" current-page="newPageNumber" pagination-id="sugestoes">
                <div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista-brainstorms.html'"></div>
              </div>
              <div class="div-paginacao">
                <dir-pagination-controls pagination-id="sugestoes"></dir-pagination-controls>
              </div>
            </div>
          </div>
  			</div>
  			<div class="col-md-6 col-sm-6">
          <h2>Sugestões no Tema</h2>
          <div class="col-md-12 col-xs-12">
              <div dir-paginate="item in lstBrainstormingGrupo | itemsPerPage: itensPagina" current-page="newPageNumberTemas" pagination-id="temas">
                <div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista-brainstorms.html'" ng-init="botaoAdicionar = false; botaoExcluir = true"></div>
              </div>
              <div class="div-paginacao">
                <dir-pagination-controls pagination-id="temas"></dir-pagination-controls>
              </div>
            </div>
          </div>
  			</div>
  		</div>
  	</div>
</section>

  <script type="text/ng-template" id="templateId">
    <div id="con-empresa">
      <p>Você realmente deseja excluir este grupo? </p>
      <i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirGrupo($index)"></i>
      <i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
    </div>
  </script>

  <script type="text/ng-template" id="modalDescricao">
    <div id="con-empresa">
      <p>{{descricaoGlobal}}</p>
    </div>
  </script>
</main>
