<main ng-if="loggedIn">
	<ol class="breadcrumb">
		<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
		<li><a href="/usuario/painel">Home</a></li>
		<li><a href="/empresa/listar">Empresas</a></li>
		<li><a href="/empresa/{{idEmpresa}}">{{empresaInfo.razaoSocial | limitTo : 20}}</a></li>
		<li><a href="/historias/empresa/{{idEmpresa}}">Histórias</a></li>
		<li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{historia.id}}/dashboard">{{historia.titulo	| limitTo : 20}}...</a></li>
		<li  class="active"><a href="#">Brainstorming</a></li>
	</ol>
	<section id="con-empresa-edit" data-ng-init="activeMenu()">
		<img src="../public/img/bg.jpg" class="bg">
		<section id="emp-plan">
			<h2>Detalhamento da Sugestão</h2>
			<form method="post">
				<div class="row">
					<div class="input-group">
						<div class="col-xs-12">
							<label class="control-label"> Descrição:	</label>
							<wysiwyg  id="question" textarea-class="form-control"  textarea-height="300px" textarea-name="textareaQuestion" textarea-name="textareaQuestion" textarea-backround="white" textarea-required textarea-menu="menu" ng-model="documento.documento" enable-bootstrap-title="false"></wysiwyg>
						</div>
					</div>
				</div>
			</form>
		</section>
		<div>
			<div class="salvar">
				<ng-md-icon icon="save" ng-click="addDocumentos('dcDetalheBrainstorming', documento.documento)" size= "64"></ng-md-icon>
			</div>
		</div>
	</section>
</main>
