<main id="con-brainstorm" ng-if="loggedIn" ng-init="editaBrainstorm = false">
<img src="../public/img/bg.jpg" class="bg">
<div class="col-md-12 col-xs-12">
	<ol class="breadcrumb">
		<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
		<li><a href="/usuario/painel">Home</a></li>
		<li><a href="/empresa/listar">Empresas</a></li>
		<li><a href="/empresa/{{idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
		<li><a href="/historias/empresa/{{idEmpresa}}">Histórias</a></li>
		<li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{historia.id}}/dashboard">{{historia.titulo	 | limitTo : 20}}...</a></li>
		<li  class="active"><a href="#">Brainstorming</a></li>
		<i class="fa fa-question-circle help" aria-hidden="true" ng-click="showHelp = 'true'"></i>
	</ol>
</div>
<section id="con-brainstorm">
	<div class="title">
		 <h2>{{historia.titulo}}</h2>
	</div>
	<div class="title">
		 <a ng-click="modalAddIdeia()" class="link-grupos"><i ng-mouseover="legend = !legend" ng-mouseleave="legend = !legend" aria-hidden="true" class="fa fa-plus btn-add-group"></i></a>
		 <strong class="tooltip" ng-show="legend ==  true">Adicionar Ideia</strong>
	</div>
	<div class="col-lg-12">
    <div class="col-md-12 brainstorms">
		<div class="col-md-12" ng-if="brainstorms.length <= 0">
			<div class="col-md-12 div-helena-geral">
				<div class="col-md-3">
					<img class="historias-helena" src="/public/img/Juliana duvida pronto.png" alt=""/>
				</div>
				<div class="col-md-9 div-helena-texto">
					<h1>Ops, não existe nenhuma ideia disponível no momento! </h1>
					<h1>Você pode adicionar sua ideia e ajudar o seu time a inovar!</h1>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="groups" ng-click="modalAddGrupo()">
				<div class="group-icons">
					<a><i class="fa fa-plus fa-3x"></i></a>
				</div>
				<h3>Add</h3>
			</div>
			<div class="groups" ng-drop="true" ng-drop-success="removeBrainstormGrupo($data)">
				<h3 class="text-instrucao">Solte Aqui</h3>
				<i class="fa fa-th fa-3x" ng-click="defineFiltro(0)"></i>
				<h3>Todos</h3>
			</div>
			<div class="groups" ng-repeat="grupo in lstGrupo" ng-drop="true" ng-drop-success="addBrainstormGrupo($data, grupo.id)">
				<h3 class="text-instrucao">Solte Aqui</h3>
				<i class="fa fa-users fa-3x" ng-click="defineFiltro(grupo.id)"></i>
				<h3>{{grupo.descricao}}</h3>
				<div class="btn-excluir">
					<i class="fa fa-times" ng-click="excluirGrupo(grupo.id, $index)"></i>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-12 col-xs-12 brainstorms-container" dir-paginate=" brainstorm in brainstorms | filter:filtroIdeia:idGrupoBrainstorming | itemsPerPage: itensPagina" current-page="newPageNumber" ng-drag="true" ng-drag-data="brainstorm">
			<div class="col-md-12 col-sm-12 col-xs-12 postit">
				<div class="col-md-12 col-xs-12 actionsBrainstorm">
					<p class="data">{{brainstorm.dataCriacao | date: 'dd/MM/yyyy'}}</p>
					<i class="fa fa-check-circle-o" ng-show="brainstorm.idGrupoBrainstorming > 0"></i>
					<ul class="edicaoBrainstorm">
						<li><strong class="qtCurtir">{{brainstorm.qtCurtir}}</strong></li>
						<li><i class="fa fa-thumbs-up" ng-class="{'liked': brainstorm.boCurtir == 'S', 'like': brainstorm.boCurtir == 'N' }" ng-click="curtirBrainstorming(brainstorm.id, newPageNumber, $index)"></i></li>
						<li><i class="fa fa-lg fa-pencil-square-o icones-postit-pencil" ng-click="editaBrainstorm = true" ng-hide="editaBrainstorm"></i></li>
						<li><i ng-hide="editaBrainstorm == true" class="fa fa-lg fa-trash" ng-click="clickToOpen(brainstorm.id, newPageNumber, $index)"></i></li>
						<li><i class="fa fa-lg fa-undo back" ng-show="editaBrainstorm == true" ng-click="editaBrainstorm = false"></i></li>
						<li><i class="fa fa-lg fa-floppy-o" ng-click="alteraBrainstorm(brainstorm.id, brainstorm.descricao, $index); editaBrainstorm = false" ng-show="editaBrainstorm"></i><br></li>
					</ul>
				</div>
				<textarea rows="6" class="text-area-in" ng-model="brainstorm.descricao" ng-disabled="editaBrainstorm == false"></textarea>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-6 col-xs-6">
						<span class="comentarios" ng-click="openComentarios(brainstorm.id, newPageNumber, $index)">{{brainstorm.qtComentario}} <i class="fa fa-comments-o fa-lg"></i></span>
					</div>
					<div class="col-md-6 col-xs-6">
				  	<span class="documentacao"><a href="/brainstorm/{{idEmpresa}}/{{historia.id}}/{{brainstorm.id}}/dcDetalheBrainstorming"><i class="fa fa-file-text-o fa-lg"></i></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="div-paginacao">
			<dir-pagination-controls></dir-pagination-controls>
		</div>

	</div>
</section>
	<script type="text/ng-template" id="templateId">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir esta ideia?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirBrainstorming(brainstorm.id, newPageNumber, $index)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>

	<script type="text/ng-template" id="idAddGrupo">
		<div id="idAddGrupo">
			<h2>Grupos</h2>
			<br>
			<input placeholder="Descrição do grupo..." ng-model="grp.titulo"></input>
			<i class="fa fa-paper-plane-o btn-envia" ng-click="addGrupoBrainstorming(grp.titulo)"></i>
		</div>
	</script>

	<script type="text/ng-template" id="idComentarios">
		<div id="idComentarios">
			<h2>Comentários</h2>
			<br>
			<textarea rows="5" placeholder="Escreva aqui o seu comentário..." ng-model="com.comentarioText"></textarea>
			<i class="fa fa-paper-plane-o btn-envia" ng-click="salvarComentario(com, newPageNumber)"></i>

			<h4> Comentários </h4>

			<div class="comentario" ng-repeat="comment in comentariosBrainstorm">
				<i class="fa fa-trash deleta-coment" ng-click="excluirBrainstormingComentario(comment.id, $index)"></i>
				<em class="comentario-texto"> <i class="fa fa-quote-left quotes"></i> {{comment.comentario}} <i class="fa fa-quote-right quotes"></i> </em>
				<p class="data"> Comentário inserido em: <span>{{comment.dtComentario | date: 'dd/MM/yyyy'}}</span></p>
				<hr>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="idAddIdeia">
			<div id="idComentarios">
				<h2>Adicionar Ideias</h2>
				<br>
				<textarea required maxlength="1900" rows="5" placeholder="Escreva aqui o seu comentário..." ng-model="brainstorm.addDescricao"></textarea>
				<i class="fa fa-paper-plane-o btn-envia" ng-click="addBrainstorm(brainstorm)"></i>
			</div>
		</script>

	<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Você está agora no espaço do brainstorming, onde será possível incluir as ideias relacionadas às histórias das quais você faz parte.<br/><br/>
						Aqui você também conseguirá visualizar as ideias dos outros participantes da história e, ainda, incluir comentários, curtir e complementar estas ideias.
						Comece já a enviar suas sugestões e contribuir para que o processo de inovação aconteça na sua empresa.
					</p>
					<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
</main>
