<main id="con-cadastro">
	<img src="../public/img/bg.jpg" class="bg">
	<h2>Cadastre-se</h2>
	<form ng-submit="cadastrar()">
			<div class="row">
				<div class="input-group">
					<div class="col-md-12 ">
						<label class="control-label">Nome Completo:
							<input class="form-control" required type="text" ng-model="usuario.nome">
						</label>
					</div>
					<div class="col-md-12">
						<label class="control-label">Email:
							<input class="form-control" required type="email" name="email" ng-model="usuario.email">
						</label>
					</div>
					<div class="col-md-12">
						<label class="control-label">Senha:
							<input class="form-control" required type="password" ng-model="usuario.senha">
						</label>
					</div>
					<div class="col-md-12">
						<label class="control-label">Cofirme sua senha:
							<input class="form-control" required type="password" ng-model="confirmaSenha">
						</label>
					</div>
				</div>
			</div>

			<div>
				<div>
					<button class="button right">
						<ng-md-icon icon="save" ng-click="cadastrar()" size= "64"></ng-md-icon>
					</button>
					<button class="button">
						<ng-md-icon icon="arrow_back" onClick="history.go(-1)" size="64"></ng-md-icon>
					</button>

				</div>
			</div>

			<div class="center">
				<p>Ou você pode fazer o login pelas redes sociais: </p>
				<a href="javascript:;" ng-click="loginFace()"><i class="fa fa-facebook-square"></i></a>
				<a href="javascript:;" id="customBtn" ng-init="startApp()"><i class="fa fa-google-plus-square"></i></a>
			</div>
	</form>
</main>
