<main id="con-canvas" ng-if="loggedIn">
	<section id="pro-canvas">
		<ol class="breadcrumb">
			<ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
			<li><a href="/usuario/painel">Home</a></li>
			<li><a href="/empresa/listar">Empresas</a></li>
			<li><a href="/empresa/{{empresaInfo.empresaId}}">{{empresaInfo.razaoSocial}}</a></li>
			<li><a href="/historias/empresa/{{idEmpresa}}">Histórias</a></li>
			<li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{ideiaId}}/dashboard">{{titleHistoria	 | limitTo : 20}}...</a></li>
			<li  class="active"><a href="#">Canvas</a></li>
		</ol>
	<img src="../public/img/bg.jpg" class="bg">
		<h2>Canvas</h2>

		<div class="can-quem can-middle">
			<div class="can-content">
				<h3 ng-click="showCanvasMobile($event)"><span>1 - </span>Principais Parcerias</h3>
				<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
				<section class="art-form">
					<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
					<form action="javascript:;" ng-submit="addCanvas(canvas.parceiros, {descricao: parceiroNome, nr_item: 1, valor : 0}, $event)">
						<textarea ng-focus="textScroll($event)" required ng-model="parceiroNome"></textarea>
						<button type="submit">Salvar</button>
					</form>
				</section>
				<ul>
					<li ng-repeat="parceiro in canvas.parceiros">
						{{parceiro.descricao}}
						<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.parceiros, parceiro.id, $index)"></i>
					</li>
				</ul>
			</div>
		</div><!-- fim das Principais Parcerias -->

		<div class="can-quem can-small">
			<div class="can-content">
				<h3 ng-click="showCanvasMobile($event)"><span>2 - </span>Principais Atividades</h3>
				<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
				<section class="art-form">
					<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
					<form action="javascript:;" ng-submit="addCanvas(canvas.atividades, {descricao: atividadeDesc, nr_item: 2, valor : 0}, $event)">
						<textarea ng-focus="textScroll($event)" required ng-model="atividadeDesc"></textarea>
						<button type="submit">Salvar</button>
					</form>
				</section>
				<ul>
					<li ng-repeat="atividade in canvas.atividades">
						{{atividade.descricao}}
						<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.atividades, atividade.id, $index)"></i>
					</li>
				</ul>
			</div><!-- fim das Principais Atividades -->

			<div class="can-content">
				<h3 ng-click="showCanvasMobile($event)"><span>3 - </span>Principais Recursos</h3>
				<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
				<section class="art-form">
					<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
					<form action="javascript:;" ng-submit="addCanvas(canvas.recursos, {descricao: recursoDesc, nr_item: 3, valor : 0 }, $event)">
						<textarea ng-focus="textScroll($event)" required ng-model="recursoDesc"></textarea>
						<button type="submit">Salvar</button>
					</form>
				</section>
				<ul>
					<li ng-repeat="recurso in canvas.recursos">
						{{recurso.descricao}}
						<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.recursos, recurso.id, $index)"></i>
					</li>
				</ul>
			</div>
		</div><!-- fim dos Principais recursos -->

		<div class="can-oque can-middle">
			<div class="can-content">
				<h3 ng-click="showCanvasMobile($event)"><span>4 - </span>Proposta de Valor</h3>
				<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
				<section class="art-form">
					<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
					<form action="javascript:;" ng-submit="addCanvas(canvas.propostas, {descricao: propostaDesc, nr_item: 4, valor : 0}, $event)">
						<textarea ng-focus="textScroll($event)" required ng-model="propostaDesc"></textarea>
						<button type="submit">Salvar</button>
					</form>
				</section>
				<ul>
					<li ng-repeat="proposta in canvas.propostas">
						{{proposta.descricao}}
						<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.propostas, proposta.id, $index)"></i>
					</li>
				</ul>
			</div>
		</div> <!-- Fim da proposta de valor -->

		<div class="can-como can-small">
			<div class="can-content">
				<h3 ng-click="showCanvasMobile($event)"><span>5 - </span>Relacionamento com Clientes</h3>
				<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
				<section class="art-form">
					<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
					<form action="javascript:;" ng-submit="addCanvas(canvas.relacionamento, {descricao: relacionamentoDesc, nr_item: 5, valor : 0}, $event)">
						<textarea ng-focus="textScroll($event)" required ng-model="relacionamentoDesc"></textarea>
						<button type="submit">Salvar</button>
					</form>
				</section>
				<ul>
					<li ng-repeat="cliente in canvas.relacionamento">
						{{cliente.descricao}}
						<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.relacionamento, cliente.id, $index)"></i>
					</li>
				</ul>
			</div>

			<div class="can-content">
				<h3 ng-click="showCanvasMobile($event)"><span>6 - </span>Canais</h3>
				<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
				<section class="art-form">
					<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
					<form action="javascript:;" ng-submit="addCanvas(canvas.canais, {descricao: canalDesc, nr_item: 6, valor : 0}, $event)">
						<textarea ng-focus="textScroll($event)" required ng-model="canalDesc"></textarea>
						<button type="submit">Salvar</button>
					</form>
				</section>
				<ul>
					<li ng-repeat="canal in canvas.canais">{{canal.descricao}}
						<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.canais, canal.id, $index)"></i>
					</li>
				</ul>
			</div>
		</div>

		<div class="can-como can-middle">
			<div class="can-content">
				<h3 ng-click="showCanvasMobile($event)"><span>7 - </span>Segmento de Clientes</h3>
				<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
				<section class="art-form">
					<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
					<form action="javascript:;" ng-submit="addCanvas(canvas.segmentos, {descricao: segmentoDesc, nr_item: 7, valor : 0}, $event)">
						<textarea ng-focus="textScroll($event)" required ng-model="segmentoDesc"></textarea>
						<button type="submit">Salvar</button>
					</form>
				</section>
				<ul>
					<li ng-repeat="segmento in canvas.segmentos">{{segmento.descricao}}
						<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.segmentos, segmento.id, $index)"></i>
					</li>
				</ul>
			</div>
		</div> <!-- Fim do segmento de clientes -->

		<div class="quanto-content">
			<div class="can-quanto can-large">
				<div class="can-content">
					<h3 ng-click="showCanvasMobile($event)"><span>8 - </span>Estrutura de Custos</h3>
					<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
					<section class="art-form">
						<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
						<form action="javascript:;" ng-submit="addCanvas(canvas.custos, {descricao: custosNome, nr_item: 8, valor: custosVal}, $event)">
							<textarea ng-focus="textScroll($event)" required ng-model="custosNome"></textarea>
							<input type="text" required ng-model="custosVal" class="half" placeholder="Valor">
							<button type="submit">Salvar</button>
						</form>
					</section>
					<ul>
						<li ng-repeat="custo in canvas.custos">{{custo.descricao}} - R$: {{custo.valor}}
							<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.custos, custo.id, $index)"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="can-quanto can-large">
				<div class="can-content">
					<h3 ng-click="showCanvasMobile($event)"><span>9 - </span>Receitas</h3>
					<a href="javascript:;" ng-click="addNote($event)" class="add-note"><i class="fa fa-lg fa-plus"></i></a>
					<section class="art-form">
						<a href="javascript:;" ng-click="closeAddNote()" class="close-note"><i class="fa fa-lg fa-times"></i></a>
						<form action="javascript:;" ng-submit="addCanvas(canvas.receitas, {descricao: receitasNome, nr_item: 9,  valor: receitasVal}, $event)">
							<textarea ng-focus="textScroll($event)" required ng-model="receitasNome"></textarea>
							<input type="text" required ng-model="receitasVal" class="half" placeholder="Valor">
							<button type="submit">Salvar</button>
						</form>
					</section>
					<ul>
						<li ng-repeat="receita in canvas.receitas">{{receita.descricao}} - R$: {{receita.valor}}
							<i class="fa fa-lg fa-trash delete" ng-click="delCanvas(canvas.receitas, receita.id, $index)"></i>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- fim do Canvas -->
	</section>
	<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Aqui o administrador da empresa encontra a ferramenta CANVAS, que contribui para realizar o planejamento estratégico que permite esboçar o modelo de negócio relacionado à sua empresa.
					</p>
					<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
</main>
