<main ng-if="loggedIn" id="main" ng-init="openMenu=false" ng-if="loggedIn">
	<section id="con-empresa" data-ng-init="activeMenu()">
			<img src="../public/img/bg.jpg" class="bg">
			<div class="menu_company" ng-class="{menuVisible: openMenu}">
		 		<div class="col-md-12" id="company">
					<figure class="emp-img">
						<div class="emp-img-out" ng-if="empresa.imagem == false">
							<img src="../public/img/logo-none.png" alt="Sem Logo" />
						</div>
						<img ng-src="{{imagemUrl}}imagens/empresa/{{empresa.idEmpresa}}/logo.jpg" ng-if="empresa.imagem" alt="">
					</figure>
					<figcaption class="emp-img-hover" ng-if="perfilUser == 'ADMINISTRADOR'">
						<div class="upload">
							<input type="file" name="imagem" empresa-file accept="image/jpeg"/>
						</div>
					</figcaption>
				</div>
				<div class="col-md-12">
					<hgroup>
						<h3>{{empresa.razaoSocial}}</h3><br>
					</hgroup>
				</div>
				<div class="col-md-12 col-xs-12 buttons-adm">
					<div class="col-md-12 col-xs-6" ng-show="perfilUser == 'ADMINISTRADOR'">
						<h2><a ng-show="perfilUser == 'ADMINISTRADOR'" href="/empresa/editar/{{empresa.idEmpresa}}"><i class="fa fa-pencil-square-o fa-3x fa-icon"></i></a></h2>
						<a ng-show="perfilUser == 'ADMINISTRADOR'" href="/empresa/editar/{{empresa.idEmpresa}}"><h3 class="text">Editar Cadastro</h3></a>
					</div>

					<div class="col-md-12 col-xs-6" ng-show="perfilUser != 'ADMINISTRADOR'" ng-click="openSairEmpresa(empresa.idEmpresa)">
						<h2><a ng-show="perfilUser != 'ADMINISTRADOR'"><i class="fa fa-sign-out fa-3x fa-icon"></i></a></h2>
						<a ng-show="perfilUser != 'ADMINISTRADOR'">	<h3 class="text">Sair da Empresa</h3></a>
					</div>

					<div class="col-md-12 col-xs-6" ng-click="openExcluirEmpresa(empresa.idEmpresa, $index)">
							<h2 ng-show="perfilUser == 'ADMINISTRADOR'"><i class="fa fa-times fa-3x icon-circle fa-icon"></i></h2>
							<h3 class="text" ng-show="perfilUser == 'ADMINISTRADOR'">Excluir Empresa</h3>
					</div>
				</div>
			</div><!--Menu Company-->
			<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
				<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
				<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
			</button>
			<div class="grid-buttons" ng-class="{gridRight: openMenu}">
				<ol class="breadcrumb">
					<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
					<li><a href="/usuario/painel">Home</a></li>
					<li><a href="/empresa/listar">Empresas</a></li>
					<li  class="active"><a href="#">{{empresa.razaoSocial}}</a></li>
					<i class="fa fa-question-circle help" aria-hidden="true" ng-click="showHelp = 'true'"></i>
				</ol>
				<h2 id="name-emp">{{empresa.razaoSocial}}</h2>
					<div class="col-md-4 col-xs-6">
							<h2><a class="bt-config" href="/historias/empresa/{{empresa.idEmpresa}}"><i class="fa fa-book fa-3x fa-icon"></i></a></h2>
							<a class="bt-config" href="/historias/empresa/{{empresa.idEmpresa}}"><h3 class="text">Histórias</h3></a>
						</a>
					</div>

					<div class="col-md-4 col-xs-6">
						<h2><a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/equipe"><i class="fa fa-user fa-3x icon-circle fa-icon"></i></a></h2>
						<a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/equipe"><h3 class="text">Equipe</h3></a>
					</div>

					<div class="col-md-4 col-xs-6">
						<h2><a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/grupo"><i class="fa fa-users fa-3x fa-icon"></i></a></h2>
						<a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/grupo"><h3 class="text">Grupos</h3></a>
					</div>

					<div class="col-md-4 col-xs-6">
						<h2><a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/visao/dcVisaoGeral"><i class="fa fa-eye fa-3x fa-icon"></i></a></h2>
						<a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/visao/dcVisaoGeral"><h3 class="text">Visão</h3></a>
					</div>

					<div class="col-md-4 col-xs-6">
						<h2><a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/missao/dcMissaoGeral"><i class="fa fa-compass fa-3x icon-circle fa-icon"></i></a></h2>
						<a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/missao/dcMissaoGeral"><h3 class="text">Missão</h3></a>
					</div>

					<div class="col-md-4 col-xs-6">
						<h2><a class="bt-config" href="/empresa/equipe/pdi/{{empresa.idEmpresa}}"><i class="fa fa-send-o fa-3x fa-icon"></i></a></h2>
						<a class="bt-config" href="/empresa/equipe/pdi/{{empresa.idEmpresa}}"><h3 class="text">PDI</h3></a>
					</div>

					<div class="col-md-4 col-xs-6">
						<h2><a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/ranking"><i class="fa fa-trophy fa-3x fa-icon"></i></a></h2>
						<a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/ranking"><h3 class="text">Ranking</h3></a>
					</div>

					<div class="col-md-4 col-xs-6">
						<h2><a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/swot"><i class="fa fa-th-large fa-icon" aria-hidden="true"></i></a></h2>
						<a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/swot"><h3 class="text">SWOT</h3></a>
					</div>
					<div class="col-md-4 col-xs-6">
						<h2><a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/analise-dashbord"><i class="fa fa-area-chart fa-icon" aria-hidden="true"></i></i></a></h2>
						<a class="bt-config" href="/empresa/{{empresa.idEmpresa}}/analise-dashbord"><h3 class="text">Análise Gerencial</h3></a>
					</div>
		</div>
		</section>
	</div>
		</section>
	</section>
	<script type="text/ng-template" id="openExcluirEmpresa">
		<div id="con-empresa">
			<p>"Você realmete deseja excluir a empresa?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="inativarEmpresa(empresa.idEmpresa)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>

	<script type="text/ng-template" id="openSairEmpresa">
		<div id="con-empresa">
			<p>"Você realmete deseja saír da empresa?" </p>
			<i class="fa fa-sign-out fa-2x icon-dialog" ng-click="excluirUsuarioEmpresa()"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>

	<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Você está no painel administrativo da sua empresa, onde serão inseridas as histórias, cadastradas as equipes e definidos os papeis de cada membro, os grupos, missão, visão e o processo de inovação que será adotado.<br/><br/>
						Assim, fica fácil gerenciar as informações relacionadas à sua empresa e distribuir as tarefas conforme as histórias forem criadas.
					</p>
					<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
</main>
