<main ng-if="loggedIn" ng-init="openMenu=false" id="con-benchmarks">

	<img src="../public/img/bg.jpg" class="bg">
	<div class="menu_company" ng-class="{menuVisible: openMenu}">
		<div class="col-md-12">
			<hgroup>
			<h3>{{empresaInfo.razaoSocial}}</h3><br>
			</hgroup>
		</div>
		<div class="col-md-12 margin-top" id="company">
			<figure class="emp-img">
				<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
					<img src="../public/img/logo-none.png" alt="Sem Logo" />
				</div>
				<img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
			</figure>
		</div>
		<h4 class="title-user">Lista de Usuários da Empresa :</h4>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="ordena-historia"><input type="text" class="form-control" ng-model="busca" placeholder="Filtre aqui as pessoas da empresa... "></div>
		</div>
		<div class="col-md-12 col-xs-12 list-user ">
			<div class="col-md-12 margin" ng-repeat="usuario in usuariosNaEmpresa | orderBy: filtro | filter: busca">
				<div class="row ">
					<div class="col-md-12 col-xs-12 user-image" >
						<h5><i class="fa fa-user" aria-hidden="true"/> {{usuario.nome}} <input type="checkbox" class="radio" ng-change="sync(item.checked, item)" ng-model="item.checked"></input></h6>
					</div>
				</div><!-- End ROW -->
			</div>	<!-- End Div col-md-6 -->
		</div>
	</div>
	<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
		<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
		<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
	</button>
	<div class="grid-buttons" ng-class="{gridRight: openMenu}">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="/usuario/painel">Home</a></li>
			<li><a href="/empresa/listar">Empresas</a></li>
			<li><a href="/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
			<li  class="active"><a href="#">Banchmarks</a></li>
		</ol>
		<h2>Benchmarking</h2>	
		<div class="transparent">
			<canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels" chart-colours="colours" chart-option="options" chart-click="onClick" chart-series= "series" chart-legend= "true" ></canvas>
		</div>
    </div>
	</div>

</main>
