<main id="con-empresa-grupo" ng-init="cadastrar = false; openMenu=false" ng-if="loggedIn">
<img src="../public/img/bg.jpg" class="bg">
<section>
	<div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
		<div class="col-md-12">
			<figure class="emp-img">
				<div class="emp-img-out" ng-if="empresa.imagem == false">
					<i class="fa fa-picture-o fa-3x" ></i>
				</div>
				<img ng-src="{{imagemUrl}}imagens/empresa/{{empresa.id}}/logo.jpg" ng-if="empresa.imagem" alt="">
			</figure>
			<figcaption class="emp-img-hover" ng-if="perfilUser == 'ADMINISTRADOR'">
				<div class="upload">
					<input type="file" name="imagem" empresa-file accept="image/jpeg"/>
				</div>
			</figcaption>
		</div>
		<div class="col-md-12">
			<hgroup>
				<h3>{{empresa.razaoSocial}}</h3><br>
			</hgroup>
		</div>
		<div class="col-md-12 form-new-group">
			<h3>Criar um novo Grupo</h3>
				<form id="formGrupo" ng-submit="adicionaGrupoEmpresa(titulo)">
					<input class="inputBusca" ng-model="titulo.grupo" type="text" required placeholder="Nome do Grupo">
					<button type="submit"><i class="fa fa-plus"></i> Criar Grupo</button>
				</form>
		</div>
	</div>
	<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
		<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
		<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
	</button>
	<div class="grid-buttons" ng-class="{gridRight: openMenu}">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="/usuario/painel">Home</a></li>
			<li><a href="/empresa/listar">Empresas</a></li>
			<li><a href="/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
			<li  class="active"><a href="#">Grupos</a></li>
		</ol>
		<h2>Grupos da Empresa<a href="/empresa/{{empresa.id}}"></a></h2>
		<div class="col-md-12" ng-if="gruposLista.length <= 0">
			<div class="col-md-12 div-helena-geral">
				<div class="col-md-3">
					<img class="historias-helena" src="/public/img/marcelo.png" alt=""/>
				</div>
				<div class="col-md-9 div-helena-texto">
					<h1>Ops, não foram criados planos de ação para esta história</h1>
					<h1>Você pode cria-los no botão superior direito e mãos á obra!</h1>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4 col-xs-6 repeat" ng-repeat="grupos in gruposLista | filter:search | orderBy: 'nome'">
				<div ng-click="showCanvasMobile($event)">
					<a href="/empresa/{{empresa.id}}/grupo/{{grupos.id}}">
					<div class="group-icons"><i class="fa fa-users fa-3x"></i></div>
					<h3>{{grupos.nome}}</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
	<div class="col-md-12 col-xs-12 container">
		<div class="col-md-12 col-xs-12">
			<div class="col-md-3 col-xs-4">
				<img class="helena" src="/public/img/helena.png" alt="Helena"/>
			</div>
			<div class="col-md-9 col-xs-8">
				<p class="descricao">
					Aqui você cria grupos e adiciona os participantes conforme a área em que cada um atuará, assim você consegue dividir as tarefas conforme as competências dos componentes da sua empresa.
				</p>
				<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
			</div>
		</div>
	</div>
</div>
</main>
