<main ng-if="loggedIn" id="empresa-swot" ng-init="openMenu=false">
	<section>
		<img src="../public/img/bg.jpg" class="bg">
		<div class="menu_company" ng-class="{menuVisible: openMenu}">
      <div class="col-md-12" id="company">
        <figure class="emp-img">
          <div class="emp-img-out" ng-if="empresa.imagem == false">
            <img src="../public/img/logo-none.png" alt="Sem Logo" />
          </div>
          <img ng-src="{{imagemUrl}}imagens/empresa/{{empresa.id}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
        </figure>
      </div>
      <div class="col-md-12">
        <hgroup>
          <h3>{{empresaInfo.razaoSocial}}</h3><br>
        </hgroup>
      </div>
    </div><!--Menu Company-->
    <button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
		<div class="grid-buttons" ng-class="{gridRight: openMenu}">
			<ol class="breadcrumb">
				<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
				<li><a href="/usuario/painel">Home</a></li>
				<li><a href="/empresa/listar">Empresas</a></li>
				<li><a href="empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
				<li class="active">Swot</li>
				<i class="fa fa-question-circle help" aria-hidden="true" ng-click="showHelp = 'true'"></i>
			</ol>
			<h2 class="title">SWOT <a href="/empresa/{{empresa.id}}/swot/adicionar"><i class="fa fa-plus" aria-hidden="true"></i></a></h2>
			<div class="col-md-12 col-xs-12">
				<div class="col-md-4 col-xs-12 list" ng-repeat="item in lstSwot">
					<div class="col-md-12 col-xs-12 item-list">
						<div class="col-md-12 col-xs-12 item-title">
							<h4 class="text-center">{{item.titulo}}
								<div class="icons-edit">
									<a href="/empresa/{{empresa.id}}/{{item.id}}/{{$index}}/swot/editar">
										<i class="fa fa-pencil-square-o edit" aria-hidden="true"></i>
									</a>
									<i class="fa fa-trash" aria-hidden="true" ng-click="modalExcluirSwot(item.id)"></i>
								</div>
							</h4>
						</div>
						<div class="col-md-12 col-xs-12 item-data">
							<h4 class="text-center">{{item.dtInicio | date:'dd/MM/yyyy'}} a {{item.dtPrevisto | date:'dd/MM/yyyy'}}</h4>
						</div>
						<div class="col-md-4 col-xs-12">
							<strong>Pontuação Min:</strong> <span>{{item.ptMaximo}}</span>
						</div>
						<div class="col-md-4 col-xs-12">
							<strong>Pontuação Max:</strong> <span>{{item.ptMinimo}}</span>
						</div>
						<div class="col-md-4 col-xs-12">
							<strong>Nota Corte:</strong> <span>{{item.corte}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/ng-template" id="excluirSwot">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir este item?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirSwot($index)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>
</main>
