<main ng-if="loggedIn" ng-if="loggedIn">
	<section id="con-empresa-edit" data-ng-init="activeMenu()">
	<img src="../public/img/bg.jpg" class="bg">
	<ol class="breadcrumb">
		<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
		<li><a href="/usuario/painel">Home</a></li>
		<li><a href="/empresa/listar">Empresas</a></li>
		<li><a href="/empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
		<li  class="active"><a href="#">PD&I</a></li>
	</ol>
		<section id="emp-plan">

		<h2>Dashboard do PD&I</h2>

			<section id="his-buttons">
				<div class="row">
					<div class="input-group">

						<div class="col-md-4 ">
							<a  href="/empresa/{{empresa.idEmpresa}}/missaoPdi/dcMissaoPDI">
								<h2><p class="fa fa-compass fa-icon"></p></h2>
								<h3><p class="text">Missão</p></h3>
							</a>
						</div>
						<div class="col-md-4 ">
							<a href="/empresa/{{empresa.idEmpresa}}/visaoPdi/dcVisaoPDI">
								<h2><p class="fa-icon fa fa-eye"></p></h2>
								<h3><p class="text">Visão</p></h3>
							</a>
						</div>
						<div class="col-md-4 ">
							<a href="/empresa/{{empresa.idEmpresa}}/compPdi/dcCompromissoPDI">
								<h2><p class="fa-icon  fa fa-key"></p></h2>
								<h3><p class="text">Compromisso</p></h3>
							</a>
						</div>
						<div class="col-md-4">
							<a  href="/empresa/{{empresa.idEmpresa}}/needPdi/dcNecessidadePDI">
								<h2><p class="fa-icon  fa fa-asterisk"></p></h2>
								<h3><p class="text">Necessidades</p></h3>
							</a>
						</div>
						<div class="col-md-4">
							<a href="/empresa/{{empresa.idEmpresa}}/planPdi/dcPlanejamentoPDI">
								<h2><p class="fa-icon  fa fa-location-arrow"></p></h2>
								<h3><p class="text">Planejamento</p></h3>
							</a>
						</div>
						<div class="col-md-4">
							<a href="/empresa/{{empresa.idEmpresa}}/polPdi/dcPoliticaPDI">
								<h2><p class="fa-icon fa fa-gavel"></p></h2>
								<h3><p class="text">Política</p></h3>
							</a>
						</div>

					</div>
				</div>
			</section>
		</section>
	</section>

</main>
