<main ng-if="loggedIn">
	<section id="con-empresa-edit" data-ng-init="activeMenu()">
		<img src="../public/img/bg.jpg" class="bg">
		<ol class="breadcrumb">
			<ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
			<li><a href="/usuario/painel">Home</a></li>
			<li><a href="/empresa/listar">Empresas</a></li>
			<li><a href="/empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
			<li><a href="/historias/empresa/{{empresaInfo.idEmpresa}}">Histórias</a></li>
			<li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{historia.id}}/dashboard">{{titleHistoria | limitTo : 20}}...</a></li>
			<li><a href="/documentos/{{empresaInfo.idEmpresa}}/{{historia.id}}"> Documentos</a></li>
			<li class="active"><a href="#">Validações</a></li>
		</ol>
		<section id="emp-plan">
			<h2>Validações</h2>
			<form method="post">
				<div class="row">
					<div class="input-group">
						<div class="col-xs-12 incluir-texto">
							<label class="control-label"> Descrição:	</label>
							<wysiwyg  id="question" textarea-class="form-control"  textarea-height="300px" textarea-name="textareaQuestion" textarea-name="textareaQuestion" textarea-backround="white" textarea-required textarea-menu="menu" ng-model="documento.documento" enable-bootstrap-title="false"></wysiwyg>
						</div>
					</div>
				</div>
			</form>
		</section>
		<div>
			<div class="salvar" ng-click="addDocumentos('dcValidacao', documento.documento)">
				<ng-md-icon icon="save" size= "64"></ng-md-icon>
			</div>
		</div>
	</section>
</main>
