<main id="plano-acao" ng-init="openMenu = false">
	<section>
		<img src="../public/img/bg.jpg" class="bg">
		<div class="menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12" id="company">
				<figure class="emp-img">
					<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
						<img src="../public/img/logo-none.png" alt="Sem Logo" />
					</div>
					<img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
				</figure>
				<figcaption class="emp-img-hover" ng-if="perfilUser == 'ADMINISTRADOR'">
					<div class="upload">
						<input type="file" name="imagem" empresa-file accept="image/jpeg"/>
					</div>
				</figcaption>
			</div>
			<div class="col-md-12">
				<hgroup>
					<h3>{{empresaInfo.razaoSocial}}</h3><br>
				</hgroup>
			</div>
			<div class="col-md-12 col-xs-12 info-historia">
				<h4 class="text-center">{{infoHistoria.titulo}}</h4>
				<p class="text-center" ng-bind-html="infoHistoria.descricao | to_trusted"></p>
				<h5 class="text-center">Período: {{infoHistoria.dataCriacao | date: 'dd/MM/yyyy'}} -- {{infoHistoria.dataLimite | date: 'dd/MM/yyyy'}}</h5>
			</div>
		</div><!--Menu Company-->
		<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
		<div class="grid-buttons" ng-class="{gridRight: openMenu}">
			<ol class="breadcrumb">
					<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
					<li><a href="/usuario/painel">Home</a></li>
					<li><a href="/empresa/listar">Empresas</a></li>
					<li><a href="/empresa/{{empresaId}}">{{empresaInfo.razaoSocial | limitTo: 20}}</a></li>
					<li><a href="/historias/{{empresaId}}/{{historia.id}}/dashboard">{{infoHistoria.titulo | limitTo: 20}}...</a></li>
					<li class="active"><a href="#">Plano de Ação</a></li>
				</ol>
			<div class="col-md-12 col-xs-12">
				<span class="float-right tool-tip" ng-show="toolTip == true">Adicionar</span>
				<h2 class="title">Planos de Ação<a ng-show="empresaInfo.perfilUsuario != 'USUARIO' || infoHistoria.usuario == loggeduser" class="plano-add" href="/planoacao/{{empresaId}}/{{historia.id}}/adicionar"><i class="ideia-parts fa fa-empire fa-2x" ng-mouseover="toolTip = true" ng-mouseleave="toolTip = false"></i></a></h2>
      </div>
			<div class="col-md-12 col-xs-12 container-plano">
				<div class="col-md-6 col-xs-12" dir-paginate="plano in lstPlanoAcao | itemsPerPage: 10">
					<div class="col-md-12 col-xs-12 plano">
						<div class="icons-edit float-right" ng-if="empresaInfo.perfilUsuario != 'USUARIO' || infoHistoria.usuario == loggeduser">
							<a href="/planoacao/{{empresaId}}/{{historia.id}}/{{plano.id}}/editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
							<i class="fa fa-trash" aria-hidden="true" ng-click="clickToOpen(plano.id, $index)"></i>
						</div>
						<div class="col-md-12 col-xs-12">
							<strong>Assunto:</strong><span> {{plano.assunto}}</span>
						</div>
						<div class="col-md-12 col-xs-12">
							<strong>Ataque:</strong><span> {{plano.ataque}}</span>
						</div>
						<div class="col-md-12 col-xs-12">
							<strong>Detalhamento:</strong><span> {{plano.detalhamento}}</span>
						</div>
					</div>
				</div>
				<div class="div-paginacao">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
				<div class="col-md-12" ng-hide="lstPlanoAcao.length != 0">
					<div class="col-md-12 div-helena-geral">
						<div class="col-md-3">
							<img class="historias-helena" src="/public/img/Lucas.png" alt=""/>
						</div>
						<div class="col-md-9 div-helena-texto">
							<h1>Ops, não foram criados planos de ação para esta história</h1>
							<h1>Você pode criá-los no botão superior direito! A ação vai começar!</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/ng-template" id="templateId">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir este Plano de Ação?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirPlanoAcao($index)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>
	<div id="modal" ng-if="showHelp == 'true'" ng-hide="viewHelp == false">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Nesta tela você tem acesso ao plano de ação determinado pelo líder da empresa para cada história. Caso você seja o líder ou administrador conseguirá editar ou excluir as tarefas, porém se for apenas participante da empresa só conseguirá visualizá-las.
					</p>
					<button type="button" name="button" ng-click="help(); viewHelp = false; showHelp = false">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
</main>
