<main ng-if="loggedIn" ng-init="openMenu = false; brainstorm = true">
	<section id="con-plano-acao">
		<img src="../public/img/bg.jpg" class="bg">
		<div class="menu_company" ng-class="{menuVisible: openMenu}">
      <div class="col-md-12" id="company">
        <figure class="emp-img">
          <div class="emp-img-out" ng-if="empresaInfo.imagem == false">
            <img src="../public/img/logo-none.png" alt="Sem Logo" />
          </div>
          <img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
        </figure>
        <figcaption class="emp-img-hover" ng-if="perfilUser == 'ADMINISTRADOR'">
          <div class="upload">
            <input type="file" name="imagem" empresa-file accept="image/jpeg"/>
          </div>
        </figcaption>
      </div>
      <div class="col-md-12">
        <hgroup>
          <h3>{{empresaInfo.razaoSocial}}</h3><br>
        </hgroup>
      </div>
      <div class="col-md-12 col-xs-12 info-historia">
        <h4 class="text-center">{{infoHistoria.titulo}}</h4>
        <p class="text-center" ng-bind-html="infoHistoria.descricao | to_trusted"></p>
        <h5 class="text-center">Período: {{infoHistoria.dataCriacao | date: 'dd/MM/yyyy'}} -- {{infoHistoria.dataLimite | date: 'dd/MM/yyyy'}}</h5>
      </div>
    </div><!--Menu Company-->
    <button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
      <i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
      <i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
    </button>
		<div class="grid-buttons" ng-class="{gridRight: openMenu}">
			<ol class="breadcrumb">
					<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
					<li><a href="/usuario/painel">Home</a></li>
					<li><a href="/empresa/listar">Empresas</a></li>
					<li><a href="/empresa/{{empresaId}}">{{empresaInfo.razaoSocial | limitTo: 20}}</a></li>
					<li><a href="/historias/{{empresaId}}/{{historia.id}}/dashboard">{{infoHistoria.titulo | limitTo: 20}}...</a></li>
					<li><a href="planoacao/{{empresaId}}/{{historia.id}}">Plano de Ação</a></li>
	        <li class="active"><a href="#">Editar</a></li>
				</ol>
				<div class="col-md-12">
					<h2 class="title">Plano de Ação<a class="bt-config" href="/planoacao/atividades/{{empresaId}}/{{historia.id}}/{{planoEdit.id}}"><i class="button-atv fa fa-pencil fa-2x"  ng-mouseover="toolTip = true" ng-mouseleave="toolTip = false"></i></a></h2>
					<span class="text-atividade" ng-show="toolTip == true">Atividades</span>
				</div>
	      <div class="col-md-12 col-xs-12">
					<div class="col-md-12 col-xs-12 separador">
						<h3 class="text-center">Informações do Plano de Ação</h3>
						<form ng-submit="editPlanoAcao(planoEdit)">
							<div class="col-md-6 col-xs-12">
								<div class="col-md-12 col-xs-12">
									<label> Assunto: </label>
									<input type="text" ng-model="planoEdit.assunto" required>
								</div>
								<div class="col-md-12 col-xs-12 separador">
									<label class="control-label"> Ataque: </label>
									<input type="text" ng-model="planoEdit.ataque" ng-focus="clearActive()">
								</div>
								<div class="col-xs-12 div-descricao separador">
									<h3 class="text-center"> Descrição do Plano de Ação:</h3>
									<textarea class="form-control" name="texto" required ng-model="planoEdit.detalhamento"></textarea>
								</div>
							</div>
							<div class="col-md-6 col-xs-12">
								<h3 class="text-center">Ideias do Brainstorming</h3>
								<div class="col-md-6 col-xs-6 text-center">
									<label for="Temas">Sugestões</label>
									<input type="radio" name="name" value="" ng-click="brainstorms = true; temas = false" ng-checked="brainstorming == true">
								</div>
								<div class="col-md-6 col-xs-6 text-center">
									<label for="Temas">Temas</label>
									<input type="radio" name="name" value="" ng-click="temas = true; brainstorms = false" ng-checked="temas == true">
								</div>
								<div class="col-md-12 col-xs-12" ng-if="brainstorms == true">
									<div dir-paginate="item in planoBrainstorm | itemsPerPage: 5">
										<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista-brainstorms.html'" ng-class="{activeList: item.id == idBrainstorming}" ng-init='botaoCheck = true'></div>
									</div>
									<div class="div-paginacao">
										<dir-pagination-controls></dir-pagination-controls>
									</div>
								</div>
								<div class="col-md-12 col-xs-12" ng-if="temas == true">
									<div class="col-md-12 col-xs-12">
										<div dir-paginate="item in planoTemas | itemsPerPage: 5">
											<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista-brainstorms.html'" ng-class="{activeList: item.id == idGrupoBrainstroming}" ng-init='botaoCheck = true'></div>
										</div>
										<div class="div-paginacao">
											<dir-pagination-controls></dir-pagination-controls>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-xs-12">
									<h4 class="text-center">OBS: *Você pode definir o ataque do seu plano de ação selecionando uma sugestão ou um tema nas opções abaixo, ou se preferir, você pode inserir manualmente o campo Ataque.</h4>
								</div>
							</div>
							<div class="col-md-12 col-xs-12">
								<button class="btn-save" type="submit">
									<ng-md-icon icon="save" size= "64"></ng-md-icon>
								</button>
							</div>
						</form>
					</div>
	      </div>


			<!--
      <form ng-submit="savePlanoAcao(plano)">
				<div class="col-md-12">
					<div class="input-group">
						<div class="col-md-6 col-xs-12">
							<label> Assunto: </label>
							<input type="text" ng-model="plano.assunto" required>
						</div>
						<div class="col-xs-12 div-ataque">
							<h3>Você pode definir o ataque do seu plano de ação selecionando uma ideia do brainstorming, um tema ou então inserir manualmente no campo abaixo.</h3>
							<div class="col-xs-12 text-ataque">
								<label class="control-label"> Ataque: </label>
								<input type="text" ng-model="plano.ataque">
							</div>
							<div class="col-xs-6 div-brainstorm">
								Ideias do Brainstorming
								<div class="col-xs-12 brainstorm" ng-repeat="ideias in planoBrainstorm">
									<div class="col-md-11 col-xs-10 brainstorms">
			               <h3><i class="fa fa-lightbulb-o"></i> {{ideias.descricao}} </h3>
			            </div>
									<div class="col-md-1 col-xs-2">
			              <button class="btn-add" type="button" name="button" ng-click="selectBrainstorm(ideias.id)"><i class="fa fa-plus"></i></button>
			            </div>
								</div>
							</div>
							<div class="col-xs-6 div-temas">
								Temas
								<div class="col-xs-12 brainstorm" ng-repeat="temas in planoTemas">
									<div class="col-md-11 col-xs-10 brainstorms">
			              <h3><i class="fa fa-users"></i> {{temas.descricao}} </h3>
			            </div>
									<div class="col-md-1 col-xs-2">
			            	<button class="btn-add" type="button" name="button" ng-click="selectTema(temas.id)"><i class="fa fa-plus"></i></button>
			            </div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 div-descricao">
							<label class="control-label"> Descrição:</label>
							<textarea class="form-control" name="texto" required ng-model="plano.descricao"></textarea>
						</div>
					</div>
				</div>
			<div class="salvar">
				<button type="submit">
					<ng-md-icon icon="save" size= "64"></ng-md-icon>
				</button>
			</div>
		</form>
	-->
		</div>
	</section>
<script type="text/ng-template" id="modalDescricao">
	<div id="con-empresa">
		<p>{{descricaoGlobal}}</p>
	</div>
</script>
</main>
