<main id="con-ideia-add" ng-if="loggedIn">
	<img src="../public/img/bg.jpg" class="bg">
	<ol class="breadcrumb">
		<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></li>
		<li><a href="/usuario/painel">Home</a></li>
		<li><a href="/empresa/listar">Empresas</a></li>
		<li><a href="/empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
		<li><a href="/historias/empresa/{{empresaInfo.idEmpresa}}">Histórias</a></li>
		<li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{ideia.id}}/dashboard">{{ideia.titulo | limitTo : 20}}...</a></li>
		<li class="active"><a href="#">Editar História</a></li>
	</ol>
	<h2>Editar Histórias</h2>
	<form>
		<div class="row">
			<div class="input-group">
				<div class="col-md-12 col-xs-12">
					<label class="control-label">Título: </label>
					<input class="forme-control" type="text" required ng-model="ideia.titulo" name="titulo">
				</div>
			</div>
		</div>
		<div id="select" class="row">
			<div class="input-group">
				<div class="col-md-5 col-xs-12">
					<label class="control-label"> Data Inicial:	</label>
					<input class="forme-control" ng-model="ideia.dataCriacao" type="date" disabled format-date>
				</div>
				<div class="col-md-5 col-xs-12">
					<label class="control-label"> Data Limite:</label>
					<input type="date" class="forme-control" ng-model="ideia.dataLimite" format-date required>
				</div>

				<div class="col-md-2 col-xs-5">
					<label class="control-label"> Prioridade: </label>
					<select  ng-model="ideia.prioridade" required class="select-prior">
						<option ng-repeat="prior in listPrioridade" class="select-prior" value="{{ideia.prioridade}}" ng-selected="prior == ideia.prioridade"> {{prior}}  <i ng-repeat="star in listPrioridade" class="fa fa-star star"></i> </option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-group">
				<div class="col-md-12 col-xs-12">
					<label class="control-label">Descrição:</label>
					<wysiwyg  id="question" textarea-class="form-control"  textarea-height="200px" textarea-name="textareaQuestion" textarea-name="textareaQuestion" textarea-backround="white" textarea-required textarea-menu="menu" ng-model="ideia.descricao" enable-bootstrap-title="false"></wysiwyg>
				</div>
			</div>
		</div>
	</form>
		<div class="row">
			<div class="input-group">
				<div class="col-md-6 col-xs-12">
					<form>
						<label>
						Carregar Imagem <br/>
							<p class="info-msg">*Aceito somente arquivos em formato JPEG</p>
							<input type="file" name="imagem" file-model="ideiaImagem" accept="image/jpeg" />
							<a href=""><i class="fa fa-floppy-o" ng-click="salvarHistoriasImagem(ideiaImagem)"></i></a>
							<span id="res-msg"></span>
						</label>
					</form>
					<section>
						<ul id="lista-imagens">
							<li ng-repeat="img in nomeImagem">
								<a class="excluir-icon" ng-click="excluirHistoriasImagem(img, $index)"><i class="fa fa-times"></i></a>
								<img class="img-edita-historia" ng-src="{{imagemUrl}}imagens/temp/{{idEmpresa}}/{{idUsuario}}/{{img}}">
							</li>
						</ul>
					</section>
				</div>

				<form ng-submit="salvarHistoriasLink(ideia.link)">
					<div class="col-md-5 col-xs-11">
						<label>
							Adicionar Link<br/>
							<input class="forme-control" type="text" required ng-model="ideia.link">
						</label>
					</div>
					<div class="col-md-1 col-xs-1">
						<label>
							<button class="btn-add-link" type="submit"><i class="fa fa-plus"></i></button>
						</label>
					</div>
				</form>

				<div class="col-md-6 col-xs-12">
					<p ng-repeat="links in linksLista">{{links}} <i class="fa fa-times" ng-click="clickToOpen()"></i> </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="input-group">
					<div class="col-md-12 col-ms-12 col-xs-12">
						<h3>Defina as funções que serão utilizadas nessa história:</h3>
					</div>
					<div class="col-md-12 col-ms-12 col-xs-12 options-historia">
						<label><input type="checkbox"> <i class="fa fa-file-text"></i> Brainstorming</label>
						<label><input type="checkbox"> <i class="fa fa-th"></i> Canvas</label>
						<label><input type="checkbox"> <i class="fa fa-empire"></i> Plano de Ação</label>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="salvar" ng-click="salvarHistoria(ideia)">
				<ng-md-icon icon="save" size= "64"></ng-md-icon>
			</div>
		</div>

	<script type="text/ng-template" id="templateId">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir esse link?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirHistoriasLink($index)"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>
		<script type="text/ng-template" id="imgTemplateId">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir esta imagem?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirHistoriasImagem()"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>
</main>
