<main ng-if="loggedIn" id="con-ideias" ng-init="openMenu=false ; aba = 1">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12">
		<section id="emp-header">
			<div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
				<div class="col-md-12">
					<figure class="emp-img">
						<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
							<img src="../public/img/logo-none.png" alt="Sem Logo" />
						</div>
						<img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
					</figure>
				</div>
				<div class="col-md-12">
					<h3>{{empresaInfo.razaoSocial}}</h3><br>
				</div>
				<div class="col-md-12 add-historia">
					<h2><a href="/historias/add/{{empresaId}}"><i class="fa fa-book icon-book fa-2x"></i></a></h2>
					<a href="/historias/add/{{empresaId}}"><h4> + História </h4></a>
				</div>
			</div>
			<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
				<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
				<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
			</button>
			<div id="emp-buttons">
				<div class="grid-buttons" ng-class="{gridRight: openMenu}">
					<ol class="breadcrumb">
						<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
						<li><a href="/usuario/painel">Home</a></li>
						<li><a href="/empresa/listar">Empresas</a></li>
						<li><a href="/empresa/{{empresaId}}">{{empresaInfo.razaoSocial}}</a></li>
						<li  class="active"><a href="#">Histórias</a></li>
					</ol>
					<h2>Histórias</h2>
					<div class="col-md-12">
						<div class="col-md-9 col-xs-12">
							<div class="ordena-historia">
								<input class="form-control filtre" type="text" ng-model="busca" placeholder="Filtre aqui as suas histórias"></input>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="ordena-historia">
								<select class="form-control" id="selectOrdem" ng-model="historia.ordena" ng-change="alteraFiltro(historia.ordena)">
									<option class="options" value="" disabled selected> Order </option>
									<option value="+nome" class="options" > Descrição </option>
									<option value="+dataLimite" class="options" > Data Limite </option>
									<option value="-prioridade" class="options" > Prioridade </option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<ul>
							<div class="col-md-4 col-xs-4 divAba" ng-click="aba = 1">
								<li class="abas aba-curso" ng-class="{'abaAtiva' : aba == 1}"><i class="fa fa-play-circle fa-2x" aria-hidden="true"></i> {{histAberta.length}}</li>
							</div>
							<div class="col-md-4 col-xs-4 divAba" ng-click="aba = 2">
								<li class="abas aba-vencidas" ng-class="{'abaAtiva' : aba == 2}"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> {{histVencidas.length}}</li>
							</div>
							<div class="col-md-4 col-xs-4 divAba" ng-click="aba = 3">
								<li class="abas aba-encerrada" ng-class="{'abaAtiva' : aba == 3}"><i class="fa fa-flag-checkered fa-2x" aria-hidden="true"></i> {{histFechadas.length}}</li>
							</div>
						</ul>
					</div>
					<div class="col-md-12"  ng-show="aba == 1">
					  <div class="col-md-12">
							<h3 class="title-historia">Histórias Abertas</h3>
					    <div class="art-ideia id-{{ideia.id}}" dir-paginate="ideia in histAberta | orderBy: filtro | filter: busca | itemsPerPage: itensNaPagina" pagination-id="emCursoId" current-page="newPageNumber">
					      <div class="col-md-4 col-xs-12 col-sm-6">
					        <div class="ideia-desc div-infos date">
					          <figure class="figure">
					            <a href="/historias/{{empresaId}}/{{ideia.id}}/dashboard">
					              <i class="fa fa-building-o fa-5x position-cer building"></i>
					            </a>
					            <figcaption class="txt">{{ideia.nome}}</figcaption>
					            <figcaption class="figure">{{ideia.dataLimite | date: 'dd/MM/yyyy'}}</figcaption>
					            <i data-ng-repeat="x in [1,2,3,4,5]" ng-if="ideia.prioridade >= x" class="fa fa-star star"></i>
					          </figure>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="div-paginacao">
					    <dir-pagination-controls pagination-id="emCursoId"></dir-pagination-controls>
					  </div>
					</div>
					<div class="col-md-12"  ng-show="aba == 2">
					  <div class="col-md-12">
							<h3 class="title-historia">Histórias Vencidas</h3>
					    <div class="art-ideia id-{{ideia.id}}" dir-paginate="ideia in histVencidas | orderBy: filtro | filter:busca | itemsPerPage: itensNaPagina" pagination-id="encerradasId" current-page="newPageNumber">
					      <div class="col-md-4 col-xs-12 col-sm-6">
					        <div class="ideia-desc div-infos date">
					          <figure class="figure">
					            <a href="/historias/{{empresaId}}/{{ideia.id}}/dashboard">
					              <i class="fa fa-building-o fa-5x position-cer building"></i>
					            </a>
					            <figcaption class="txt">{{ideia.nome}}</figcaption>
					            <figcaption class="figure">{{ideia.dataLimite | date: 'dd/MM/yyyy'}}</figcaption>
					            <i data-ng-repeat="x in [1,2,3,4,5]" ng-if="ideia.prioridade >= x" class="fa fa-star star"></i>
					          </figure>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="div-paginacao">
					    <dir-pagination-controls pagination-id="encerradasId"></dir-pagination-controls>
					  </div>
					</div>
					<div class="col-md-12"  ng-show="aba == 3">
						<div class="col-md-12">
							<h3 class="title-historia">Histórias Encerradas</h3>
							<div class="art-ideia id-{{ideia.id}}" dir-paginate="ideia in histFechadas | orderBy: filtro | filter:busca | itemsPerPage: itensNaPagina" pagination-id="vencidasId" current-page="newPageNumber">
								<div class="col-md-4 col-xs-12 col-sm-6">
									<div class="ideia-desc div-infos date">
										<figure class="figure">
											<a href="/historias/{{empresaId}}/{{ideia.id}}/dashboard">
												<i class="fa fa-building-o fa-5x position-cer building"></i>
											</a>
											<figcaption class="txt">{{ideia.nome}}</figcaption>
											<figcaption class="figure">{{ideia.dataLimite | date: 'dd/MM/yyyy'}}</figcaption>
											<i data-ng-repeat="x in [1,2,3,4,5]" ng-if="ideia.prioridade >= x" class="fa fa-star star"></i>
										</figure>
									</div>
								</div>
							</div>
						</div>
						<div class="div-paginacao">
							<dir-pagination-controls pagination-id="vencidasId"></dir-pagination-controls>
						</div>
					</div>
					<div class="col-md-12" ng-if="historias.length <= 0">
						<div class="col-md-12 div-helena-geral">
							<div class="col-md-3">
								<img class="historias-helena" src="/public/img/helena.png" alt="Helena"/>
							</div>
							<div class="col-md-9 div-helena-texto">
								<h1>Ops, não existe nenhuma história disponível no momento! </h1>
								<h1>Você pode clicar no menu ao lado '+ História' e iniciar sua trajetória na inovação!</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
