<main ng-if="loggedIn"  id="historias-projeto" data-ng-init="activeMenu(); openMenu = false">
	<section>
	<img src="../public/img/bg.jpg" class="bg">
		<div class="menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12" id="company">
				<figure class="emp-img">
					<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
						<img src="../public/img/logo-none.png" alt="Sem Logo" />
					</div>
					<img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
				</figure>
				<figcaption class="emp-img-hover" ng-if="perfilUser == 'ADMINISTRADOR'">
					<div class="upload">
						<input type="file" name="imagem" empresa-file accept="image/jpeg"/>
					</div>
				</figcaption>
			</div>
			<div class="col-md-12">
				<hgroup>
					<h3>{{empresaInfo.razaoSocial}}</h3><br>
				</hgroup>
			</div>
			<div class="col-md-12 col-xs-12 info-historia">
				<h4 class="text-center">{{infoHistoria.titulo}}</h4>
				<p class="text-center" ng-bind-html="infoHistoria.descricao | to_trusted"></p>
				<h5 class="text-center">Período: {{infoHistoria.dataCriacao | date: 'dd/MM/yyyy'}} -- {{infoHistoria.dataLimite | date: 'dd/MM/yyyy'}}</h5>
				<div class="doc">
					<a class="bt-config" href="/historias/fechamento/{{empresa.id}}/{{infoHistoria.id}}/documento-fechado">
						<h2><i class="fa fa-file-text-o doc-circle fa-doc"></i></h2>
						<h3 class="text">Gerar documentos da História fechada</h3>
					</a>	
				</div>
			</div>
		</div><!--Menu Company-->
		<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
		<div class="grid-buttons" ng-class="{gridRight: openMenu}">
			<ol class="breadcrumb">
				<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
		    <li><a href="/usuario/painel">Home</a></li>
				<li><a href="/empresa/listar">Empresas</a></li>
				<li><a href="/empresa/{{empresaInfo.empresaId}}">{{empresaInfo.razaoSocial}}</a></li>
				<li><a href="/historias/empresa/{{empresaInfo.idEmpresa}}">Histórias</a></li>
				<li><a href="/historias/{{empresaInfo.idEmpresa}}/{{infoHistoria.id}}/dashboard	">{{infoHistoria.titulo | limitTo : 20}}...</a></li>
				<li  class="active"><a href="#">Projeto</a></li>
			</ol>
			<!--Brainstorms-->
			<div class="col-md-12 col-xs-12 separador">
				<h3 class="text-center"><i class="fa fa-lightbulb-o"></i> Brainstorming</h3>
				<div class="{{class}}" ng-repeat="coluna in newLstBrainstorming">
					<div class="col-md-12 col-xs-12 brainstorms" ng-repeat="brainstorming in coluna">
						<div class="col-md-12 col-xs-12">
							<h4><i class="fa fa-lightbulb-o"></i> Sugestão</h4>
							<p>{{brainstorming.descricao}}<p> <h5>{{brainstorming.nomeUsuario}}</h5>
						</div>
						<div class="col-md-12 col-xs-12 comentarios">
							<h4><i class="fa fa-comments-o"></i> Comentários</h4>
							<div ng-repeat="comentario in brainstorming.lstComentario">
								<p>{{comentario.comentario}}</p>
								<h5>{{comentario.nomeUsuario}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>

		<div class="col-md-12 col-xs-12  separador acao">
			<h3 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i> Plano de Ação</h3>
			<div class="col-md-12 col-xs-12" ng-repeat="projeto5w2h in infoHistoria.lst5w2h">
				<div class="col-md-6 col-xs-12">
						<h4>Ação: </h4>
						<p>O que: {{projeto5w2h.acao}}</p>
						<p>Como: {{projeto5w2h.detalhamento}}</p>
				</div>
				<div class="col-md-6 col-xs-12">
					<h4>Reponsáveis:</h4>
						<div class="col-xs-12" ng-repeat="usuarios in projeto5w2h.lstUsuarioAcao">
							<p>{{usuarios.nome}}</p>
						</div>
				</div>
				</div>
			</div>
			<hr>
			<div class="col-md-12 col-xs-12 canvas">
	      <h3 class="text-center"><i class="ideia-parts fa fa-th"></i> Canvas</h3>
	      <div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>1 - Principais Parcerias</h4>
	        <div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li  ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 1">{{canvas.descricao}}</li>
						</ul>
	        </div>
				</div>
				<div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>2 - Principais Atividades</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li  ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 2">{{canvas.descricao}}</li>
						</ul>
					</div>
					<h4>3 - Principais Recursos</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 3">{{canvas.descricao}}</li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>4 - Proposta de Valor</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 4">{{canvas.descricao}}</li>
						</ul>
	        </div>
				</div>
				<div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>5 - Relacionamento com Clientes</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 5">{{canvas.descricao}}</li>
						</ul>
					</div>
					<h4>6 - Canais</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 6">{{canvas.descricao}}</li>
						</ul>
	       			 </div>
				</div>
				<div class="col-md-2 col-xs-12" ng-if="infoHistoria.lstCanvas.length > 0">
					<h4>7 - Estrutura de Custos</h4>
					<div class="col-md-12 col-xs-12 itens-canvas">
						<ul>
							<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 7">{{canvas.descricao}}</li>
						</ul>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 separador" ng-if="infoHistoria.lstCanvas.length > 0">
					<div class="col-md-6 col-xs-12">
						<h4>8 - Estrutura de Custos</h4>
						<div class="col-xs-12 itens-canvas" >
							<ul>
								<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 8">{{canvas.descricao}}: {{canvas.valor}}</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<h4>9 - Receitas</h4>
						<div class="col-md-12 col-xs-12 itens-canvas">
							<ul>
								<li ng-repeat="canvas in infoHistoria.lstCanvas" ng-if="canvas.nr_item == 9">{{canvas.descricao}}: {{canvas.valor}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
