<main id="con-ideia-equipe" ng-if="loggedIn; listaHistoria = true">
	<section>
		<img src="../public/img/bg.jpg" class="bg">
		<div class="menu_company" ng-class="{menuVisible: openMenu}">
			<div class="col-md-12" id="company">
				<figure class="emp-img">
					<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
						<img src="../public/img/logo-none.png" alt="Sem Logo" />
					</div>
					<img ng-src="{{imagemUrl}}imagens/empresa/{{empresa.id}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
				</figure>
			</div>
			<div class="col-md-12">
				<hgroup>
					<h3>{{empresa.razaoSocial}}</h3><br>
				</hgroup>
			</div>
			<div class="col-lg-12">
				<h2>Grupos na Empresa</h2>
				<div class="col-lg-6 result-container-grupo" ng-repeat="grupo in gruposLista">
					<div class="col-lg-12">
						<a class="linkGrupos" ng-click="callHistoriaEquipe(grupo.id)" ng-class="{'grupo-mark': grupo.id == idGrupoClass}"><h3><i class="fa fa-users"></i> {{grupo.nome}}</h3></a>
					</div>
				</div>
			</div>
		</div><!--Menu Company-->
		<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
			<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
			<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
		</button>
	<div class="grid-buttons" ng-class="{gridRight: openMenu}">
			<ol class="breadcrumb">
				<ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
				<li><a href="/usuario/painel">Home</a></li>
				<li><a href="/empresa/listar">Empresas</a></li>
				<li><a href="/empresa/{{empresa.id}}">{{empresaInfo.razaoSocial}}</a></li>
				<li><a href="/historias/empresa/{{empresa.id}}">Histórias</a></li>
				<li><a  href="/historias/{{empresa.id}}/{{ideia.id}}/dashboard">{{titleHistoria | limitTo : 20}}...</a></li>
				<li  class="active"><a href="#">Equipe</a></li>
			</ol>
		<div class="col-md-12 col-xs-12">
			<div class="col-lg-6 col-md-12 col-xs-12">
				<div class="col-md-12 title-in-company">
					<h2>Usuários da Empresa</h2>
					<input type="text" ng-model="pesquisaFora" placeholder="Filtrar usuários da história">
				</div>
				<div class="col-md-12 col-xs-12">
					<div dir-paginate="item in usuariosDisponiveis | filter: pesquisaFora | itemsPerPage: itensPagina" current-page="newPageNumberAdd" pagination-id="usuarioHistoria">
						<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista.html'"></div>
					</div>
					<div class="div-paginacao">
						<dir-pagination-controls pagination-id="usuarioHistoria"></dir-pagination-controls>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-xs-12">
					<div class="col-md-12 title-in-company">
						<h2>Equipe do Projeto</h2>
						<input type="text" ng-model="pesquisaEquipe" placeholder="Filtrar usuários do Projeto">
					</div>
					<div class="col-md-12 col-xs-12">
						<div class="" dir-paginate="item in usuariosSelecionados | filter: pesquisaEquipe | itemsPerPage: itensPagina" current-page="newPageNumberDelete" pagination-id="equipeProjeto">
							<div class="col-md-12 col-xs-12" id="conteudo-lista" ng-include="'../elements/lista.html'" ng-init="botaoExcluir = true; botaoAdicionar = false"></div>
						</div>
						<div class="div-paginacao">
							<dir-pagination-controls pagination-id="equipeProjeto"></dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/ng-template" id="ConfirmTemplateId">
			<div id="modal-confirm">
				<p>Você realmente deseja excluir o usuário do Projeto? </p>
				<div class="btn-modal-group">
					<button class="btn-modal btn-cancel" ng-click="clickToCloseFunction()"><i class="fa fa-ban fa-2x icon-diag-close"></i> Cancelar</button>
					<button class="btn-modal btn-confirm" ng-click="excluirUsuarioCrtl(newIndiceUsuario)"><i class="fa fa-trash fa-2x icon-dialog"></i> Confirmar</button>
				</div>
			</div>
		</script>
	</section>
</main>
<script type="text/ng-template" id="modalUsuarioDescricao">
	<div id="modal-info">
		<div class="col-md-12 text-center">
			<img src="../public/img/no-img.jpg" alt="" />
		</div>
		<div class="col-md-12">
			<strong>Nome: </strong>{{usuario.nome}}</br>
			<strong>Email: </strong>{{usuario.email}}</br>
		</div>
	</div>
</script>
