<main ng-if="loggedIn">
	<section id="con-empresa-edit" data-ng-init="activeMenu()">
		<img src="../public/img/bg.jpg" class="bg">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></li>
			<li><a href="/usuario/painel">Home</a></li>
			<li><a href="/empresa/listar">Empresas</a></li>
			<li><a href="/empresa/{{empresaInfo.idEmpresa}}">{{empresaInfo.razaoSocial}}</a></li>
			<li><a href="/historias/empresa/{{empresaInfo.idEmpresa}}">Histórias</a></li>
			<li><a  href="/historias/{{empresaInfo.idEmpresa}}/{{infoHistoria.id}}/dashboard">{{infoHistoria.titulo | limitTo : 20}}...</a></li>
			<li class="active"><a href="#">Encerrar História</a></li>
		</ol>
		<section id="emp-plan">
			<h2>Encerrar História</ng-md-icon></h2>
      <div class="row">
        <div class="col-xs-12">
          <h3>Você está prestes a encerrar a História:</h3>
          <br>
          <h3>{{infoHistoria.titulo}}</h3>
          <p ng-bind-html="infoHistoria.descricao | to_trusted"></p>
        </div>
      </div>
      <br>
			<form method="post">
				<div class="row">
					<div class="input-group">
							<div class="col-xs-12">
								<label class="control-label"> Qual foi o resultado dessa história:	</label>
							</div>
							<div class="col-xs-12">
								<select class="form-control result" ng-model="resultado">
									<option value="destaque" class="options"> Case Destaque</option>
									<option value="sucesso" class="options"> Sucesso</option>
									<option value="inconclusivo" class="options"> Inconclusivo</option>
									<option value="cancelado" class="options"> Cancelado</option>
								</select>
							</div>
							<div class="col-xs-12">
								<label class="control-label"> Resumo Geral:	</label>
								<wysiwyg id="question" textarea-class="form-control" textarea-height="250px" textarea-name="textareaQuestion" textarea-name="textareaQuestion" textarea-backround="white" textarea-required textarea-menu="menu" ng-model="resumo" enable-bootstrap-title="false"></wysiwyg>
							</div>
						</div>
				</div>
			</form>
		</section>

		<div>
			<div class="salvar" ng-click="openEncerraHistoria(resumo, resultado)">
				<ng-md-icon icon="save" size= "64"></ng-md-icon>
			</div>
		</div>

	</section>

  <script type="text/ng-template" id="openEncerraHistoria">
		<div id="con-empresa">
			<p>Você deseja encerrar esta história?</p>
      <p>Essa ação não pode mais ser desfeita!</p>
			<a data-toggle="tooltip" title="Encerrar História"><i class="fa fa-flag-checkered fa-2x icon-dialog" ng-click="saveFechamentoHistorias()"></i></a>
			<a data-toggle="tooltip" title="Cancelar"><i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i></a>
		</div>
	</script>
</main>
