<main id="con-historia" ng-if="loggedIn" ng-init="openMenu=false">
	<section id="emp-header" data-ng-init="activeMenu()">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
		<div class="col-md-12">
			<figure class="emp-img">
			<div class="emp-img-out" ng-if="empresaInfo.imagem == false">
				<img src="../public/img/logo-none.png" alt="Sem Logo" />
			</div>
				<img ng-src="{{imagemUrl}}imagens/empresa/{{empresaInfo.idEmpresa}}/logo.jpg" ng-if="empresaInfo.imagem" alt="">
			</figure>
		</div>
		<div class="col-md-12">
			<hgroup>
				<h3>{{empresaInfo.razaoSocial}}</h3><br>
			</hgroup>
		</div>
		<div class="col-md-12 col-xs-6" ng-if="historia.boFechado == 'N'">
			<a class="bt-config" ng-click="clickToOpenSair()">
				<h2>
					<i class="ideia-parts fa fa-sign-out fa-2x"></i>
				</h2>
				<h3>Sair da História</h3>
			</a>
		</div>
		<div class="col-md-12 col-xs-6" ng-if="historia.boFechado == 'N'">
			<a class="bt-config" ng-click="clickToOpen()">
				<h2>
					<i class="ideia-parts fa fa-trash fa-2x"></i>
				</h2>
				<h3>Excluir História</h3>
			</a>
		</div>
	</div>
	<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
		<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
		<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
	</button>
	<div class="grid-buttons" ng-class="{gridRight: openMenu}">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="/usuario/painel">Home</a></li>
			<li><a href="/empresa/listar">Empresas</a></li>
			<li><a href="/empresa/{{empresaId}}">{{empresaInfo.razaoSocial}}</a></li>
			<li><a href="/historias/empresa/{{empresaId}}">Histórias</a></li>
			<li class="active breadcrumb-historia"><a href="#" ng-bind-html="historia.titulo | to_trusted"></a></li>
		</ol>
		<div class="col-md-6 description-history">
			<div class="col-md-12">
				<div class="col-md-12 resumo-encerra" ng-if="historia.boFechado == 'S'">
					<p> Essa história já foi encerrada! </p>
					<p>	Agora o Projeto está disponível, e todos os registros da história podem ser visualizados!</p>
					<br>
					<p>Resumo do Encerramento: </p>
					<p ng-bind-html="historia.resumo | to_trusted"></p>
				</div>
				<h2 ng-bind-html="historia.titulo | to_trusted"></h2>
				<p ng-bind-html="historia.descricao | to_trusted"></p>
				<strong>Período:  <span>{{historia.dataCriacao | date: 'dd/MM/yyyy'}} -- {{historia.dataLimite | date: 'dd/MM/yyyy'}}</span> </strong>

				<p ng-repeat="links in linksHistoria">{{links}}</p>
				<img ng-repeat="img in nomeImagem" class="img-historia" src="{{imagemUrl}}imagens/ideia/{{historia.id}}/{{img}}" ng-click="clickToOpenImg(imagemUrl, historia.id, img)">
				<div class="col-md-12 encerra-hist">
					<a ng-if="historia.boFechado == 'S'" class="bt-config button-disabled"><button class="button-disabled"><i class="ideia-parts fa fa-pencil-square"></i> Editar História</button></a>
					<a ng-if="historia.boFechado == 'N'" class="bt-config" href="/historias/add/{{empresaId}}/{{historia.id}}"><button><i class="ideia-parts fa fa-pencil-square"></i> Editar História</button></a>
				</div>
				<div class="col-md-12 encerra-hist">
					<a ng-if="historia.boFechado == 'S'" class="bt-config" ><button class="button-disabled"><i class="ideia-parts fa fa-flag-checkered"></i> Encerrar História</button></a>
					<a ng-if="historia.boFechado == 'N'" class="bt-config" href="/historias/fechamento/{{empresaId}}/{{historia.id}}"><button><i class="ideia-parts fa fa-flag-checkered"></i> Encerrar História</button></a>
				</div>
			</div>
		</div>


		<div class="col-md-6 col-xs-12 buttons-history">
			<div class="col-md-6" ng-show="historia.boFechado == 'S'">
				<a class="bt-config" href="/historias/projeto/{{empresaId}}/{{historia.id}}">
					<h2><i class="ideia-parts fa fa-file-text fa-2x circle-correct-docs"></i></h2>
					<h3 class="text">Projeto da História</h3>
				</a>
			</div>

			<div class="col-md-6">
				<a class="bt-config" href="/brainstorm/{{empresaId}}/{{historia.id}}" ng-if="historia.boFechado == 'N' && historia.boBrainstorming == 'S'">
					<h2><i class="ideia-parts fa fa-lightbulb-o fa-2x circle-correct-brainstorm"></i></h2>
					<h3 class="text">Brainstorming</h3>
				</a>
				<a class="bt-config" ng-if="historia.boFechado == 'S' || historia.boBrainstorming == 'N'">
					<h2><i class="ideia-parts fa fa-lightbulb-o fa-2x circle-correct-brainstorm button-disabled"></i></h2>
					<h3 class="text button-disabled">Brainstorming</h3>
				</a>
			</div>

			<div class="col-md-6">
				<a class="bt-config" href="/planoacao/{{empresaId}}/{{historia.id}}" ng-if="historia.boFechado == 'N' && historia.boPlanoAcao == 'S'">
					<h2><i class="ideia-parts fa fa-empire fa-2x"></i></h2>
					<h3 class="text">Plano de Ação</h3>
				</a>
				<a class="bt-config" ng-if="historia.boFechado == 'S' || historia.boPlanoAcao =='N'">
					<h2><i class="ideia-parts fa fa-empire fa-2x button-disabled"></i></h2>
					<h3 class="text button-disabled">Plano de Ação</h3>
				</a>
			</div>
			<div class="col-md-6">
				<a class="bt-config" href="/canvas/{{empresaId}}/{{historia.id}}" ng-if="historia.boFechado == 'N' && historia.boCanvas == 'S'">
					<h2><i class="ideia-parts fa fa-th fa-2x"></i></h2>
					<h3 class="text">Canvas</h3>
				</a>
				<a class="bt-config" ng-if="historia.boFechado == 'S' || historia.boCanvas == 'N'">
					<h2><i class="ideia-parts fa fa-th fa-2x button-disabled"></i></h2>
					<h3 class="text button-disabled">Canvas</h3>
				</a>
			</div>
			<div class="col-md-6">
				<a class="bt-config" href="/documentos/{{empresaId}}/{{historia.id}}" ng-if="historia.boFechado == 'N'">
					<h2><i class="ideia-parts fa fa-paperclip fa-2x circle-correct-docs"></i></h2>
					<h3 class="text">Documentos</h3>
				</a>
				<a class="bt-config" ng-if="historia.boFechado == 'S'">
					<h2><i class="ideia-parts fa fa-paperclip fa-2x circle-correct-docs button-disabled"></i></h2>
					<h3 class="text button-disabled">Documentos</h3>
				</a>
			</div>
			<div class="col-md-6">
				<a class="bt-config" href="/ranking/{{empresaId}}/{{historia.id}}" ng-if="historia.boFechado == 'N'">
					<h2><i class="ideia-parts fa fa-trophy fa-2x"></i></h2>
					<h3 class="text">Ranking</h3>
				</a>
				<a class="bt-config" ng-if="historia.boFechado == 'S'">
					<h2><i class="ideia-parts fa fa-trophy fa-2x button-disabled"></i></h2>
					<h3 class="text button-disabled">Ranking</h3>
				</a>
			</div>
			<div class="col-md-6">
				<a class="bt-config" href="/historias/equipe/{{empresaId}}/{{historia.id}}" ng-if="historia.boFechado == 'N'">
					<h2><i class="ideia-parts fa fa-users fa-2x"></i></h2>
					<h3 class="text">Equipe da História</h3>
				</a>
				<a class="bt-config" ng-if="historia.boFechado == 'S'">
					<h2><i class="ideia-parts fa fa-users fa-2x button-disabled"></i></h2>
					<h3 class="text button-disabled">Equipe da História</h3>
				</a>
			</div>
		</div>
	</div>
	</section>

	<script type="text/ng-template" id="templateSair">
		<div id="con-empresa">
			<p>"Você realmente deseja saír desta Historia?" </p>
			<i class="fa fa-sign-out fa-2x icon-dialog" ng-click="sairHistoria()"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>

	<script type="text/ng-template" id="templateId">
		<div id="con-empresa">
			<p>"Você realmente deseja excluir esta Historia?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="excluirHistorias()"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>

	<script type="text/ng-template" id="showImgBig">
		<div id="img-modal">
		<img class="img-historia" src="{{dialogImgUrl}}imagens/ideia/{{dialogHistId}}/{{dialogImgName}}">
		</div>
	</script>
</main>
