<main id="con-ideia-equipe" ng-if="loggedIn">
	<div class="na-equipe">
		<h3>Amigos</h3>
		<ul>
			<li ng-repeat="amigo in amigos">
				<div class="user-img">
					<img ng-if="amigo.img" ng-src="amigo.img" alt="Imagem de perfil de {{amigo.nome}}">
					<img ng-if="!amigo.img" src="../public/img/no-img.jpg" alt="Sem imagem cadastrada.">
				</div><div class="user-info">
					<h4>{{amigo.nome}}</h4>
					<p>{{amigo.email}}</p>
					<button class="bt bt-success">Add</button>
				</div>
			</li>
		</ul>
	</div>
	<div class="fora-equipe">
		<h3>Amigos no projeto</h3>
		<ul>
			<li ng-repeat="amigo in amigos">
				<div class="user-img">
					<img ng-if="amigo.img" ng-src="amigo.img" alt="Imagem de perfil de {{amigo.nome}}">
					<img ng-if="!amigo.img" src="../public/img/no-img.jpg" alt="Sem imagem cadastrada.">
				</div><div class="user-info">
					<h4>{{amigo.nome}}</h4>
					<p>{{amigo.email}}</p>
					<button class="bt bt-error"><i class="fa fa-times"></i></button>
				</div>
			</li>
		</ul>
	</div>
</main>
