<main id="con-inicial" >

	<div class="header-img">
		<div class="logo-title">
			<img class="img-logo" src="../public/img/logo-1.png" border="0">
			<h1 class="titulo-inicial"> PORTAL DA INOVAÇÃO </h1>
			<h2 class="arg">Você tem boas ideias? Nós queremos ouvi-las</h2>
			<button class="btn-inicial" ng-if="!loggedIn"> <a href="/cadastro">CADASTRE-SE</a></button>
			<div ng-if="!loggedIn">
				<p class="color">Ou você pode fazer o login pelas redes sociais: </p>
				<a href="javascript:;" ng-click="loginFace()"><i class="fa fa-facebook-square"></i></a>
				<a href="" ref="javascript:;" id="customBtn" ng-init="startApp()"><i class="fa fa-google-plus-square"></i></a>
			</div>
			<a href="#sobre"><i class="fa fa-angle-down next fa-3x" id="btn-down-page-inicial"></i></a>
		</div>
		<div class="img-fundo"></div>
	</div>

	<div class="part-sobre" id="sobre">
		<div class="container">
			<div class="cab-sec">
				<h2> <strong> SOBRE O PORTAL </strong> </h2>
				<div class="col-xs-12">
						<hr>
				</div>
				<p>Saiba mais sobre o Portal da Inovação</p>
			</div>

			<div class="space"></div>
			<div class="col-md-12 about-portal">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<i class="fa fa-desktop"></i>
					<h4>O QUE É O PORTAL DA INOVAÇÃO?</h4>
					<P>O portal da inovação é a primeira plataforma do Brasil focada em inovação.</P>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<i class="fa fa-gears"></i>
					<h4>OBJETIVOS DO PORTAL</h4>
					<P>Nós queremos que você inove. Para isso, mostramos todo o caminho.</P>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<i class="fa fa-bullhorn"></i>
					<h4>QUEM PODE USAR O PORTAL DA INOVAÇÃO</h4>
					<P>O portal hoje é voltado para empresas, mas é totalmente intuitivo para pessoas físicas.</P>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<i class="fa fa-rocket"></i>
					<h4>OUTRAS INFORMAÇÕES</h4>
					<P>Venha inovar conosco! Crie seu cadastro agora mesmo.</P>
				</div>
			</div>
		</div>
	</div>
	<div class="part-trei" id="treinamentos">
		<div class="container">
			<div class="cab-sec">
				<a href="/treinamentos">
					<h2> <strong> TREINAMENTOS </strong> </h2>
				</a>
				<hr>
				<p>Assista os treinamentos interativos e aprenda mais sobre inovação.</p>
			</div>

			<div class="info-trei">
				<div class="col-md-4 col-sm-6 col-xs-12" dir-paginate="treino in treiAnda | itemsPerPage: 3" pagination-id="trenamentosId">
					<a href="/treinamento/{{treino.treinamentoId}}">
						<img src="{{treino.img}}" height="263px" width="263px" alt="{{treino.title}}">
					</a>
				</div>
			</div>
			<div class="div-paginacao">
				<dir-pagination-controls pagination-id="trenamentosId"></dir-pagination-controls>
			</div>
		</div>
	</div>

	<div class="part-noticias" id="noticias">
		<div class="container">
			<div class="cab-sec">
				<a href="/noticias">
					<h2> <strong> NOTÍCIAS </strong> </h2>
				</a>
				<hr>
				<p>Veja o que está acontecendo no mundo da inovação.</p>
			</div>

			<div class="space"></div>

			<div class="noticias">
				<div class="col-md-4 col-sm-6 col-xs-12" dir-paginate="noticia in noticias | itemsPerPage: 3" pagination-id="noticiasId">
					<a href="/noticia/{{noticia.id}}">
						<img ng-src="{{imagemUrl}}imagens/noticia/{{noticia.imagem}}" width="220px" height="140px">
						<h4> {{noticia.titulo}} </h4>
						<p> {{noticia.descricao | limitTo: 160}} </p>
					</a>
				</div>
			</div>
		</div>
		<div class="div-paginacaoNoticia">
			<dir-pagination-controls pagination-id="noticiasId"></dir-pagination-controls>
		</div>
	</div>

	<div class="part-login" id="login" ng-if="!loggedIn">
		<div class="container">
			<div class="cab-sec">
				<h2> <strong> LOGIN </strong> </h2>
				<hr>
				<p>Digite seus dados para fazer o login</p>
			</div>

			<div class="master-form">
				<form name="login-form" ng-submit="loginEmail(credentials)">
					<div class="row-form-login">
						<input type="email" placeholder="Email" ng-model="credentials.email" name="email" required>
						<input type="password" placeholder="Senha" ng-model="credentials.password" name="password" required>
					</div>
					<a href="/recupera-senha"> <p>Esqueceu sua senha? </p> </a>
					<button type="submit" class="btn-login">Entrar</button>
				</form>

			</div>
		</div>
	</div>

	<div class="part-contato" id="contato">
		<div class="container">
			<div class="cab-sec">
				<h2> <strong> CONTATO </strong> </h2>
				<hr>
				<p>Sua opinião é importante. Contate-nos</p>
			</div>

			<div class="space"></div>

			<div class="info-contato">
				<div class="icons-contato col-md-4 col-sm-4 col-xs-12">
					<i class="fa fa-map-marker fa-contato"></i>
					<p> Rua Mooca, 221 - Zona 07
						<br>
						CEP 87020-110 - Maringá, PR
					</p>
				</div>
				<div class="icons-contato col-md-4 col-sm-4 col-xs-12">
					<i class="fa fa-envelope-o fa-contato"></i>
					<p class="email"> contato@portaldainovacao.com.br </p>
				</div>
				<div class="icons-contato col-md-4 col-sm-4 col-xs-12">
					<i class="fa fa-phone fa-contato"></i>
					<p> 44 3225 8686 </p>
				</div>
			</div>

			<div class="form-contato-cont">
				<h3> ENVIE SUA MENSAGEM </h3>

				<form class="form-contato" ng-submit="enviarEmailContato(contato)">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Nome" required ng-model="contato.nome">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control fc-email" type="email" placeholder="Email" required ng-model="contato.email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control" rows="4" placeholder="Mensagem" required ng-model="contato.mensagem"></textarea>
							</div>
						</div>
					</div>
					<button type="submit" class="button-contato">Enviar Mensagem</button>
				</form>

			</div>
		</div>
	</div>
</main>
