<main id="con-login">
<img src="../public/img/bg.jpg" class="bg">
	<div class="col-md-12">
		<div class="col-md-6 col-xs-12">
			<h2>Realize seu login</h2>
			<h3>Realize seu login e continue sua experiência inovadora</h3>
			<form name="loginForm" ng-submit="logarEmail()">
				<div class="col-md-12 col-xs-12">
					<label>Email:</label>
					<input type="email" ng-model="credentials.email" name="email" required>
				</div>
				<div class="col-md-12 col-xs-12">
					<label>Senha:</label>
					<input type="password" ng-model="credentials.password" name="password" required>
				</div>
				<div class="col-md-12 col-xs-12 logar">
					<button type="submit">Entrar</button>
				</div>
			</form>
			<div class="col-md-12 col-xs-12">
				<h3>Ou você pode fazer o login pelas redes sociais:</h3>
				<h4>
					<a href="javascript:;" ng-click="loginFace()"><i class="fa fa-facebook-square"></i></a>
					<a href="javascript:;" id="customBtn" ng-init="startApp()"><i class="fa fa-google-plus-square"></i></a>
				</h4>				
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<h2>Ou cadastre-se com seu e-mail</h2>
			<h3>Com apenas alguns passos você pode criar sua conta, e experimentar algo totalmente inovador</h3>
			<div class="cadastrar">
				<a href="/cadastro" class="btn-cadastro">Cadastro</a>	
			</div>
		</div>
	</div>
</main>

