<main id="con-noticias">
	<img src="../public/img/bg.jpg" class="bg">
	<ng-md-icon class="icon-back left" style="color: white " onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
	<h2 style="color: white ">Notícias </h2>
	<article dir-paginate="noticia in noticias | filter: busca | orderBy: '-id' | itemsPerPage: itemsPerPage" class="art-m not-cat-{{noticia.categoria.id}}" >
			<a ng-if="noticia.imagem" href="/noticia/{{noticia.id}}" target="{{(noticia.privado) ? '_blank' : ''}}" class='art-header' ng-if="noticia.imagem">
				<img ng-if="noticia.imagem" ng-src="{{imagemUrl}}imagens/noticia/{{noticia.imagem}}">
				<div class="art-title">
					<span class="art-cat">{{noticia.categoria.nome}}</span>
					<h4>{decode_utf8(noticia.titulo)}</h4>
				</div>
			</a>
			<div class="art-content"></div>
			<div class="art-m-txt" ng-class="{'no-img': !noticia.imagem}">
				<a ng-if="!noticia.privado" href="/noticia/{{noticia.id}}" class='art-teste'>
					<h4>{{noticia.titulo}}<span class="art-cat" ng-if="!noticia.imagem">{{noticia.categoria.nome}}</span></h4>
					<p>{{noticia.descricao}}-{{noticia.data | date: 'dd/MM/yyyy'}}</p>
				</a>
				<a ng-if="noticia.privado" href="/noticia/{{noticia.link}}" target="_blank" class='art-teste'>
					<h4>{{noticia.titulo}}<span class="art-cat" ng-if="!noticia.imagem">{{noticia.categoria.nome}}</span></h4>
					<p>{{noticia.descricao}}-{{noticia.data | date: 'dd/MM/yyyy'}}</p>
				</a>
			</div>
	</article>

	<div>
		<dir-pagination-controls></dir-pagination-controls>
	</div>
</main>
