<main id="con-noticia-add" ng-if="loggedIn">
	<h2>Cadastro de Notícias</h2>
	<form ng-submit="salvarNoticia()">
		<label>Título
			<input type="text" required ng-model="noticia.titulo" name="titulo">
		</label>
		<div class="radio">
			A notícia pode ser reproduzida na íntegra?
			<br />
			<label>
				<input type="radio" required ng-model="noticia.privado" name="privado" value="0" ng-checked="!noticia.privado"> Sim
			</label>
			<label>
				<input type="radio" required ng-model="noticia.privado" name="privado" value="1" ng-checked="noticia.privado"> Não
			</label>
		</div>
		<label ng-if="!noticia.id">
			Imagem Ilustrativa 2 <br />
			<input type="file" name="imagem" file-model="noticia.imagem" accept="image/jpeg" /><span id="res-msg"></span>
			<p class="info-msg">*Aceito somente arquivos em formato JPEG</p>
		</label>
		<label>
			Descrição
			<textarea required ng-model="noticia.descricao" name="descricao" data-ls-module="charCounter" maxLength="160" placeholder="Máximo 160 caracteres"></textarea>
		</label>
		<label ng-if="noticia.privado < 1">
			Texto
			<textarea id="ck-editor" ckeditor="editorOptions" name="texto" required ng-model="noticia.texto" ng-change="save()"></textarea>
		</label>
		<div class="radio">
			Autor
			<br />
			<label>
				<input type="radio" required ng-model="autor" name="autor" value="1"> Terceiro
			</label>
			<label>
				<input ng-disabled="noticia.privado > 0" type="radio" required ng-model="autor" name="autor" value="0"> Próprio
			</label>
		</div>
		<label ng-if="autor > 0">
			Fonte
			<input type="text" required ng-model="noticia.autor">
		</label>
		<label ng-if="autor > 0">
			Link
			<input type="text" required ng-model="noticia.link" name="link">
		</label>
		<label ng-if="autor < 1">
			Nome
			<input type="text" required ng-model="noticia.autor">
		</label>
		<label>
			Setor
			<select required name="setor" ng-model="noticia.setor">
				<option ng-repeat="set in setores" value="{{set.id}}">{{set.nome}}</option>
			</select>
		</label>
		<label>
			Categoria
			<select required name="categoria" ng-model="noticia.categoria">
				<option ng-repeat="cat in categorias" value="{{cat.id}}">{{cat.nome}}</option>
			</select>
		</label>
		<div class="con-bt">
			<button ng-if="!noticia.id" type="submit">Salvar</button>
			<button ng-if="noticia.id" type="submit">Editar</button>
			<a class="bt-cancel" href="/noticias">Cancelar</a>
			<span id="msg-status"></span>
		</div>
	</form>
</main>
