<main ng-if="loggedIn">
	<section id="con-perfil" data-ng-init="activeMenu()">
		<h2>Cadastro do Usuário</h2>

		<section class="per-infos">
			<div class="per-divs">
				<form ng-submit="alterarUsuario('nome', $event)">
					<p><b>Nome:</b>
						<input type="text" value="" ng-model="user.nome" ng-disabled="!editandoNome">
						<span ng-click="toogleNome()">
							<a ng-if="!editandoNome" class="perf-edit">
								<i class="fa fa-pencil"></i> <span>Editar</span>
							</a>
						</span>
						<span ng-if="editandoNome">
							<button type="submit" class="perf-salvar bt-success">Salvar</button>
						</span>
					</p>
				</form>
				<p><b>E-mail:</b> {{user.email}}</p>
				
		</div>
		</section>
	
				</a>
				<a class="bt-config" ng-click="inativarConta()">
					<p class="fa fa-icons fa-user-times"></p>
					<p class="text">Exluir Conta</p>
				</a>
			</div>
		</section>
	</section>
</main>