<main ng-if="loggedIn">
<img src="../public/img/bg.jpg" class="bg">
	<section id="con-pesquisa" ng-if="loggedIn">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h2>Pesquisa</h2>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<form ng-submit="searchSubmit(busca)">
					<div class="col-md-11 col-sm-11 col-xs-11"><input type="text" ng-model="busca" placeholder="Filtre aqui as pessoas do portal... "></div>
					<div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-search button-search" ng-click= "searchSubmit(busca)"></i></div>
				</form>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<ul id="lista-resultados">
				<ul id="pessoas">
					<li ng-repeat="amigo in resultado" class="col-md-6">
						<div class=" col-md-6 col-sm-6 col-xs-12 user-img">
							<img ng-if="amigo.img" ng-src="amigo.img" alt="Imagem de perfil de {{amigo.nome}}">
							<img ng-if="!amigo.img" src="../public/img/no-img.jpg" alt="Sem imagem cadastrada.">
						</div>
						<div class=" col-md-6 col-sm-6 col-xs-12 user-info">
							<p class="nome"><b><i class="fa fa-user"></i>  </b>{{amigo.nome}}</p>
							<p class="email"><b><i class="fa fa-envelope"/>  </b></i>{{amigo.email}}</p>
							<button ng-click="adicionarAmigo(amigo.id)" class="bt bt-success">Adicionar</button>
						</div>
					</li>
				</ul>
			</ul>
		</div>
	</section>
</main>
