<main id="con-ranking" ng-init="tab = 1; openMenu=false" ng-if="loggedIn">
	<img src="../public/img/bg.jpg" class="bg">
	<div class="menu_company" ng-class="{menuVisible: openMenu}">
		<div class="col-md-12 figure historia-header">
			<h2><i class="fa fa-book fa-2x"></i></h2>
			<h3>{{titleHistoria}}</h3>
		</div>
	</div><!--Menu Company-->
	<button id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
		<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
		<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
	</button>
	<div class="grid-buttons" ng-show="tab == 1" ng-class="{gridRight: openMenu}">
		<ol class="breadcrumb">
			<li><ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon></li>
			<li><a href="/usuario/painel">Home</a></li>
			<li><a href="/empresa/listar">Empresas</a></li>
			<li><a href="/empresa/{{empresa.id}}">{{razaoSocial}}</a></li>
			<li><a href="/historias/empresa/{{empresa.id}}">Histórias</a></li>
			<li><a  href="/historias/{{empresa.id}}/{{historia.id}}/dashboard">{{titleHistoria | limitTo : 20}}...</a></li>
			<li  class="active"><a href="#">Ranking</a></li>
		</ol>
		<h2>Ranking Geral da História</h2>
		<div class="col-md-12 col-xs-12">
			<div class="col-md-6 col-xs-6">
				<h3><i class="fa fa-users fa-3x"></i></h3>
			</div>
			<div class="col-md-6 col-xs-6">
				<h3 class="icon-right"><i class="fa fa-gamepad fa-3x"></i></h3>
			</div>
		</div>
		<div class="col-md-12 col-xs-12 margin" dir-paginate="pontuacao in rankingHistoria | itemsPerPage: 10" pagination-id="rankingHistoriaId">
			<div class="col-md-6 col-xs-6">
				<h4>{{pontuacao.nome}}</h4>
			</div>
			<div class="col-md-6 col-xs-6">
				<h4 class="pontuacao">{{pontuacao.valor}}</h4>
			</div>
		</div>
		<div class="div-paginacao">
			<dir-pagination-controls pagination-id="rankingHistoriaId"></dir-pagination-controls>
		</div>
	</div>
</main>
