<main id="con-treinamento" ng-init="openMenu=false">
	<img src="../public/img/bg.jpg" class="bg">
		<h3 class="msg-erro"><i class="fa fa-exclamation-triangle fa-2x"></i></h3>
		<h3 class="msg-erro">Para visualizar o treinamento mantenha seu aparelho na posição Vertical</h3>
		<section id="container-treinamento">
			<div class="col-md-12">
				<ng-md-icon class="icon-back" onClick="history.go(-1)" icon="arrow_back" size= "32"></ng-md-icon>
				<div id="trei-video">
					<iframe ng-src="{{videoLink}}"></iframe>
					<img ng-src=""></img>
					<div class="col-md-12 socialBar">
						<a  facebook-feed-share
						class="facebookShare"
						data-url={{dataUrl}}
						data-shares='shares',
						data-caption='Portal da Inovação - Treinamentos',
						data-name={{video.title}}
						data-description={{video.descricao}}
						data-picture={{dataImg}}>{{ shares }}
					</a>
						<div class="fb-like fb_iframe_widget_like" data-href="{{dataUrl}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
					</div>
				</div>
			</div>
		</section>
</main>
