<main id="con-dash-user" ng-init="openMenu=false" ng-if="loggedIn">
	<img src="../public/img/bg.jpg" class="bg">
		<section id="emp-header">
				<div class="col-md-3 menu_company" ng-class="{menuVisible: openMenu}">
					<div class="col-md-12">
						<figure class="emp-img">
							<div class="emp-img" title="Adicionar imagem do usuário" ng-class="{'imagem': empresaInfo.imagem}">
								<img src="public/img/no-img.jpg" class='imgPerfilUser' ng-if="noImg == true"/>
								<img src="{{user.image}}" class='imgPerfilUser' ng-if="imgSocial == true"/>
								<img src="{{linkImage}}{{infoUser.perfilBig}}" class='imgPerfilUser' ng-if="imgUsr == true"/>
							</div>
						</figure>
						<figcaption class="emp-img-hover" ng-if="validaUser == true">
							<div class="col-md-12">
								<div class="upload">
									<input type="file" name="imagem" usuario-file accept="image/jpeg"/>
								</div>
						  </div>
						</figcaption>
					</div>
						<div class="col-md-12 edit-user">
							<h4>Nome:</h4>
							<form ng-submit="alterarUsuario('nome', $event)">
								<div class="col-md-7 col-xs-7 edit-perfil">
									<input type="text" value="" ng-model="user.nome" ng-disabled="!editandoNome" class="nome" >
								</div>
								<div class="col-md-5 col-xs-5" ng-if="validaLogin == true">
									<span ng-click="toogleNome()">
										<a ng-if="!editandoNome" class="perf-edit">
											<i class="fa fa-pencil"></i> <span>Editar</span>
										</a>
									</span>
									<div class="col-md-6 col-xs-6" ng-if="editandoNome">
										<ng-md-icon icon="arrow_back" class="icon-cancel" ng-click="toogleNome()"></ng-md-icon>
									</div>
									<div class="col-sm-6 col-xs-6" ng-if="editandoNome">
										<ng-md-icon icon="save" class="icon-save" ng-click="alterarUsuario('nome', $event)"></ng-md-icon>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-12 col-xs-12 perfil-email">
							<h4>E-mail:</h4>
							<h5>{{user.email}} <a href="perfil/alterarSenha.html" class="perf-edit" ng-if="validaLogin == true"><i class="fa fa-key"></i> <span>Alterar Senha</span></a></h5>
						</div>

					<div class="col-md-12 col-xs-12 row-insignias">
						<h4>Minha Jornada</h4>
						<div class="col-md-12 master">
							<img src="../imagens/insignias/master-0.png" ng-mouseover="descriptionCriativo = !descriptionCriativo" ng-mouseleave="descriptionCriativo = !descriptionCriativo">
							<div class="col-md-12 descriptions descriptions-footer" ng-show="descriptionCriativo">
								<h4>Inovação</h4>
								<p>
									Além de boas sugestões, devemos reconhecer oportunidades para poder aplicá-las e solucionar problemas. Ser inovador não é somente um talento nato, trata-se sim de uma competência que pode e deve ser desenvolvida.
								</p>
							</div>
						</div>

						<div class="col-md-12 insignias-middle">
							<div class="col-md-6 executor">
								<img src="../imagens/insignias/executor-0.png" ng-mouseover="descriptionExecutor = !descriptionExecutor" ng-mouseleave="descriptionExecutor = !descriptionExecutor">
								<div class="col-md-12 descriptions descriptions-footer" ng-show="descriptionExecutor">
									<h4>Execução</h4>
									<p>
										O executor é aquele que toma a frente das coisas e normalmente se envolve com causas. Ele é direto ao falar e mantém contato firme. Normalmente, é o que vibra com cada desafio e mergulha neles de corpo e alma até conseguir o melhor resultado. O executor não tem medo de assumir riscos e de enfrentar desafios.
									</p>
								</div>
							</div>
							<div class="col-md-6 criativo">
								<img src="../imagens/insignias/criativo-0.png" ng-mouseover="descriptionMaster = !descriptionMaster" ng-mouseleave="descriptionMaster = !descriptionMaster">
								<div class="col-md-12 descriptions descriptions-footer" ng-show="descriptionMaster">
									<h4>Criatividade</h4>
									<p>
										As pessoas criativas são mais flexíveis – elas contestam os padrões e vão além do óbvio, saindo da sua zona de conforto e buscando o diferencial por meio da experimentação. O profissional criativo gera várias ideias para um problema; ele busca ser um identificador de oportunidades. O criativo não olha apenas para o seu processo – ele possui visão sistêmica, está atento ao todo dentro da sua área ou empresa. Pense nesses pontos e faça a diferença!
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 insignias-footer">
							<div class="col-md-4 participativo">
								<img src="../imagens/insignias/participativo-0.png" ng-mouseover="descriptionParticipativo = !descriptionParticipativo" ng-mouseleave="descriptionParticipativo = !descriptionParticipativo">
								<div class="col-md-12 descriptions descriptions-footer" ng-show="descriptionParticipativo">
									<h4>Participação</h4>
									<p>
									Um participador está sempre presente na execução percisa das ideias, Tem presença, espírito de liderança e de equipe.
									</p>
								</div>
							</div>
							<div class="col-md-4 planejador">
								<img src="../imagens/insignias/planejador-0.png" ng-mouseover="descriptionPlanejador = !descriptionPlanejador" ng-mouseleave="descriptionPlanejador = !descriptionPlanejador">
								<div class="col-md-12 descriptions descriptions-footer" ng-show="descriptionPlanejador">
									<h4>Planejamento</h4>
									<p>
										Este planeja a melhor forma de executar uma tarefa antes de iniciá-la. Após o início, o planejador seguirá por conta própria até o fim. São grandes entendedores de estratégia e de pesquisa.
									</p>
								</div>
							</div>
							<div class="col-md-4 observador">
								<img src="../imagens/insignias/observador-0.png" ng-mouseover="descriptionObservador = !descriptionObservador" ng-mouseleave="descriptionObservador = !descriptionObservador">
								<div class="col-md-12 descriptions descriptions-footer" ng-show="descriptionObservador">
									<h4>Observação</h4>
									<p>
										Um perfil exigente, minucioso e focado. Os observadores valorizam a espontaneidade e as metas flexíveis, se adaptam facilmente a novas situações.
									</p>
								</div>
							</div>
						</div>
					</div>

					<!--Insiginias Modile Inicio-->
					<div class="col-md-12 col-xs-12 row-insignias-mobile">
						<h4>Minha Jornada</h4>
						<div class="col-md-12 col-xs-12 master-mobile">
							<img src="../imagens/insignias/master-0.png">
						</div>

						<div class="col-md-12 col-xs-12">
							<div class="col-md-6 col-xs-6 participativo-mobile">
								<img src="../imagens/insignias/participativo-0.png">
							</div>
							<div class="col-md-6 col-xs-6 planejador-mobile">
								<img src="../imagens/insignias/planejador-0.png">
							</div>
						</div>

						<div class="col-md-12 col-xs-12">
							<div class="col-md-4 col-xs-4">
								<img src="../imagens/insignias/executor-0.png">
							</div>
							<div class="col-md-4 col-xs-4">
								<img src="../imagens/insignias/criativo-0.png">
							</div>
							<div class="col-md-4 col-xs-4">
								<img src="../imagens/insignias/observador-0.png">
							</div>
						</div>

					</div>
					<!--Insignias Modile Fim-->
				</div>
				</div><!--End Menu-Company-->
				<button ng-hide="menuAberto == true" id="button-menu-side" ng-click="openMenu = !openMenu" ng-class="{menuLeft: openMenu}">
					<i class="fa fa-angle-double-right" ng-hide="openMenu == true"></i>
					<i class="fa fa-angle-double-left" ng-show="openMenu == true"></i>
				</button>

			<div id="emp-buttons">
				<div class="grid-buttons" ng-class="{gridRight: openMenu}">
					<h2>Painel do Usuário</h2>
					<section class="user-buttons">
						<div class="col-md-2 col-sm-6 col-xs-6">
								<h2><a class="bt-config" href="/empresa/listar"><i class="fa fa-icons fa-building-o cercle-icon"></i></a></h2>
								<h3 class="text"><a class="bt-config" href="/empresa/listar">Empresas </a><strong>({{empresaUser.length}})</strong></h3>
						</div>
						<div class="col-md-2 col-sm-6 col-xs-6">
								<h2><a class="bt-config" href="/historias/usuario"><i class="fa fa-icons fa-book cercle-icon"></i></a></h2>
								<h3 class="text"><a class="bt-config" href="/historias/usuario"> Minhas Histórias </a><strong>({{historias.length}})</strong></h3>
						</div>
						<div class="col-md-2 col-sm-6 col-xs-6">
								<h2><a class="bt-config" href="/atividades"><i class="fa fa-icons fa-list-alt cercle-icon"></i></a></h2>
								<h3 class="text"><a class="bt-config" href="/atividades"> Minhas Atividades</a></h3>
						</div>
						<div class="col-md-2">
							<h2><a class="bt-config" href="/analise-perfil/{{usuario.id}}"><i class="fa fa-icons fa-area-chart cercle-icon"></i></a></h2>
							<h3 class="text"><a class="bt-config" href="/analise-perfil/{{usuario.id}}">Análise do Perfil</a></h3>
						</div>
						<div class="col-md-2 col-sm-6 col-xs-6">
							<h2><a class="bt-config" ng-click="clickToOpen()"><i class="fa fa-icons fa-user-times cercle-icon"></i></a></h2>
							<h3 class="text"><a class="bt-config" ng-click="clickToOpen()">Excluir Conta</a></h3>
						</div>
					</section>
				</div>
			</div>
		</section>
	<script type="text/ng-template" id="templateId">
		<div id="con-empresa">
			<p>"Você realmete deseja excluir sua conta?" </p>
			<i class="fa fa-trash fa-2x icon-dialog" ng-click="inativarConta()"></i>
			<i class="fa fa-ban fa-2x icon-diag-close" ng-click="clickToClose()"></i>
		</div>
	</script>
	<div id="modal" ng-if="showHelp == 'true'">
		<div class="col-md-12 col-xs-12 container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4">
					<img class="helena" src="/public/img/helena.png" alt="Helena"/>
				</div>
				<div class="col-md-9 col-xs-8">
					<p class="descricao">
						Olá, seja bem-vindo(a) ao Portal da Inovação!<br/><br/>
						Eu sou a Helena e vou acompanhar você durante seu percurso pelo site, oferecendo dicas e direcionando o caminho que você deve seguir para encontrar as informações que busca.<br/><br/>
						Essa plataforma foi desenvolvida com o objetivo de contribuir para que a inovação aconteça de forma assertiva na sua empresa. Aqui você terá acesso a notícias, editais e treinamentos que oferecem informações a respeito da gestão da inovação.<br/><br/>
						Após o cadastro inicial você poderá criar empresas, convidar amigos e fazer brainstormings que contribuirão para o surgimento de ideias que poderão virar projetos inovadores na sua empresa.<br/><br/>
						Não perca tempo, crie agora mesmo sua empresa e convide amigos para fazerem parte de sua equipe e os estimule a contribuírem com ideias e sugestões. Vamos começar?
					</p>
					<button type="button" name="button" ng-click="help(); modal = true">Ok, Entendi</button>
				</div>
			</div>
		</div>
	</div>
</main>
