<div class="lista-imagem">
  <img src="../public/img/no-img.jpg" alt="" />
</div>
<div class="lista-info">
  <h3>{{item.nome}} </h3>
  <h4>{{item.email}}</h4>
</div><!--USER-->
<div class="lista-botoes" ng-if="usuarioEquipe.id != loggeduser">
  <button type="button" title="Informação" class="btn btn-lista-info"><i class="fa fa-info-circle"></i></button>
  <button type="button" title="Excluir do Projeto" class="btn btn-lista-delete" ng-click="removerAmigoProjeto(item.id, newPageNumberEquipe, $index)" ng-show="empresaInfo.perfilUsuario != 'USUARIO' || loggeduser == criadorHistoria"><i class="fa fa-user-times"></i></button>
</div>
