<div class="lista-icone icone-brainstorm">
  <i class="fa fa-lightbulb-o"></i>
</div>
<div class="lista-info-brainstorm">
   <h4>{{item.descricao}}</h4>
</div>
<div class="lista-botoes-brainstorm">
  <button class="btn-lista-info" type="button" ng-click="infoBrainstorming(item.descricao)"><i class="fa fa-info-circle"></i></button>
  <button class="btn-lista-sucesso" ng-if="empresaInfo.perfilUsuario != 'USUARIO' || historia.usuario == loggeduser; botaoAdicionar == true" type="button" name="button" ng-click="addBrainstormGrupo(item.id, newPageNumber, $index)"><i class="fa fa-plus-circle"></i></button>
  <button class="btn-lista-delete" type="button" ng-click="removeBrainstormGrupo(item.id, newPageNumberTemas, $index)" ng-if="empresaInfo.perfilUsuario != 'USUARIO' || historia.usuario == loggeduser; botaoExcluir == true"><i class="fa fa-trash"></i></button>
  <button class="btn-lista-sucesso" type="button" ng-if="botaoCheck == true; temas == false" ng-click="selectBrainstorm(item.id, item.descricao)"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
  <button class="btn-lista-sucesso" type="button" ng-if="temas == true"ng-click="selectTema(item.id, item.descricao)"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
</div>
