<!DOCTYPE html>
<html>
 
  <head>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="{{link}}//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link href="{{link}}//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="scripts/app.js"></script>
    <script src="scripts/bootstrap-colorpicker-module.js"></script>
    <script src="../src/angular-wysiwyg.js"></script>

    <style type="text/css">
      .test1{
        font-size:1.8em;
      }
    </style>
  </head>

  <body ng-app="app">
  <h2>Angular WYSIWYG directive</h2>
     <form>
    <div ng-controller="MyCtrl">
      <p>Your models data</p>
      <p style="height:80px; width:100%; border: 1px solid #ddd">
        {{data.text}}
      </p> 
        <wysiwyg textarea-id="question" 
          textarea-class="form-control"  
          textarea-height="180px" 
          textarea-name="textareaQuestion"
          textarea-required 
          ng-model="data.text" 
          enable-bootstrap-title="true"
          textarea-menu="menu"
          disabled="disabled">
        </wysiwyg>
      <button ng-click="setDisabled()">Disable</button>
    </div>
</form>
  </body>

</html>